<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/360025364771/youtube_header1.jpg" alt="youtube_header1.jpg"></p>
<p>Check it out: You can use the YouTube Channel Membership integration! You can have a dedicated Discord server for all of your closest members to chill in and spam Giphys.</p>
<p>We'll answer some basic questions you may have here, but if you're looking for a step-by-step process on setting up your member-only server, check out <a href="https://blog.discord.com/youtube-gaming-integration-c110c0fad308" target="_blank" rel="noopener">this article</a> for more details.</p>
<p><em>Important starting note: While you can participate in any YouTube Channel Membership-Integrated server on mobile, you will need to first sync your account on desktop. <br></em></p>
<h1><strong>For Streamers:</strong></h1>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/360064546072/Screenshot_9.png" alt="Screenshot_9.png" width="528" height="385"></p>
<p><strong><em>Q: Where do I start? How do I set up a members-only server?</em></strong></p>
<p>A: Couple of steps to take here. Let's dive in!</p>
<ul>
<li>Sync your Discord account with your partnered YouTube account. Easy stuff! Just go through <strong>User Settings &gt; Connections &gt; YouTube</strong>. We'll have support for other platforms soon!</li>
<li>Set up a server and sync it with your YouTube account by going into <strong>Server Settings &gt; Integrations</strong>. Pro tip: You can do this with multiple accounts! YouTube stream chat parties are baller.</li>
<li>Once you're in the<strong> Integrations tab</strong>, you can then select your Youtube account to manage that connection to the server!</li>
</ul>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/360064546112/Screenshot_6.png" alt="Screenshot_6.png" width="558" height="406"></p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/360064546132/Screenshot_7.png" alt="Screenshot_7.png" width="543" height="471"></p>
<ul>
<li>Once you've done this, you'll find a new permissions role has been auto-created specifically for YouTube members. You can re-name this role, as well as adjust their permissions under <strong style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;">Server Settings &gt; Roles</strong><span style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;">. Since this role is automatically managed by the YouTube integration, you can't manually assign or delete members from it.</span>
</li>
</ul>
<p>That's it! You can add mods and admins by assigning separate permissions to new roles (check out <a href="https://support.discord.com/hc/en-us/articles/206029707" target="_blank" rel="noopener">this article</a> for more info on that). You can even assign your members a special color, so all of their user names could appear in yellow to show everyone how cool they are. Cool.  </p>
<p><strong><em>Q: What do I do with YouTube users who haven't renewed their membership?</em></strong></p>
<p>A: We have two options for this. You can select <strong>Remove Role</strong>, and they'll lose their specific members-only permissions role, and whatever permissions you gave the members role. You can do things like only let members type messages and post links, or you can forego all special treatment. Totally up to you. Otherwise, you can select <strong>Kick</strong>, and they'll be kicked from the server altogether.</p>
<p><strong><em>Q:</em> <em>Whoa, Sometimes members get a little behind, y'know? I don't want anyone to be kicked because they forget to join</em><em> immediately!</em></strong></p>
<p>A: Well, that's not exactly a question. But! You can give your current members a<strong> Grace Period</strong>, by going into <strong>Server Settings &gt; Youtube</strong>. While it's set to 1 day by default, you can give your members a little bit of leeway and extend the grace period for them to renew their membership. No worries, dude.</p>
<p><strong><em>Q: </em><em>Why are my members now showing up?</em></strong></p>
<p>A: Right now, we've got the YouTube Integration feature set to re-sync your members status <strong>every hour</strong>. If there's someone super important you have to bring on board right away, then you can click the refresh button next to "Synced members" under <strong>Server Settings &gt; YouTube</strong>. Hey everyone! Get in here! </p>
<h1><span class="wysiwyg-font-size-large"><strong>For Viewers:</strong></span></h1>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/360064546312/youtube_connect.png" alt="youtube_connect.png"></p>
<p><strong><em>Q: How do I join a members-only channel? </em></strong></p>
<p>A: From the top! Here are the steps:</p>
<ol>
<li>Go ahead and sync your YouTube account with your Discord account, by going into <strong>User Settings &gt; Connections &gt; YouTube</strong>.</li>
<li>Discord will automatically sync with your YouTube account, and you'll find all the streamers you joined right in the Connections tab! You can hit the "Join Server" button and you'll get your special membership role, just like that.</li>
</ol>
<p><strong><em>Q: I joined / was already part of this streamer's channel, where's my members role?</em></strong></p>
<p>A: If you join a streamer's channel at any point before you hit the "join server" button in your YouTube connections, all you need to do is make sure to sync your YouTube account with your Discord account, and then wait <strong>up to 1 hour</strong> for Discord's member-sync to kick in. Or, you know, you could message the streamer politely to sync up quicker so you can hop into the fun!  </p>
<p> </p>