<p class="wysiwyg-text-align-left"><strong>UPDATE:</strong><br><strong>We kindly ask users that run into this issue and that are located in Germany to follow these steps to submit a bug report: <a href="https://developer.android.com/studio/debug/bug-report">https://developer.android.com/studio/debug/bug-report</a> </strong></p>
<p class="wysiwyg-text-align-left"><span class="wysiwyg-font-size-large"><strong>NOTE</strong>:  Please <em>also</em> <a href="https://dis.gd/contact" target="_self">submit a Discord Support Ticket</a> once you have submitted the bug report and share the following details so we can collaborate with Google on this:</span></p>
<p>- Primary account on the device</p>
<p>- Name, type of the device</p>
<p>- IMEI/MEID number of the device: (Press Settings &gt; About Phone &gt; Status to find your device's IMEI/MEID number)</p>
<p>- The bug report should create a .txt file which you can send to us</p>
<p> </p>
<p> </p>
<p>As of<strong> late September 2021</strong>, we became aware of a problem for users located in Germany who aren't able to download the Android app via the Google Play Store. </p>
<p>When trying to install the Discord app via Google Play users will be presented with the following message:</p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/4411200810903/mceclip0.png" alt="mceclip0.png"></p>
<p><strong>Status</strong>: We are in contact with Google Play and are working to get this issue resolved as soon as possible. However, there is no exact ETA for when a solution will be available.</p>