<p><span style="font-weight: 400;">Discord uses a private voice hosting system where we host voice calls for our users for free. Each voice channel in a server and calls that happen in private DMs use what we call a voice region.</span></p>
<p>This means you can have voice channels for multiple regions and give your server members an overall better voice quality experience!</p>
<p><span class="wysiwyg-font-size-large"><strong>What does this article cover? </strong></span></p>
<ul>
<li>
<strong><a href="#h_01F3RXJ4YCHYS652ETKWJ499Y3" target="_self" rel="undefined">Voice Region Settings</a></strong>
<ul>
<li><strong><a href="#h_01F3RXJ4YCHYS652ETKWJ499Y3" target="_self">Within a Server</a></strong></li>
<li><strong><a href="#h_01F3RXJKY3GDVJGW16TP0ZDHV6" target="_self">Within Direct Message Calls</a></strong></li>
</ul>
</li>
<li><strong><a href="#h_01F3RXJV6E2MDAR7RWP8SPNB83" target="_self">Troubleshooting FAQ</a></strong></li>
</ul>
<h1 id="h_01F3RXJ4YCHYS652ETKWJ499Y3">Voice Regions: Within a Server</h1>
<p><span class="wysiwyg-font-size-large"><strong><span class="wysiwyg-color-orange110">Default Setting</span><br></strong></span></p>
<p>By default, the voice region <strong>for any voice channel in a server</strong> will be set to "Automatic" (which is what we recommend using).</p>
<p><span style="font-weight: 400;">If "Automatic" mode is selected, we will determine the region of the Voice Channel based on the first person who connects to the empty voice channel.</span></p>
<h4 class="wysiwyg-text-align-center">
<img src="https://support.discord.com/hc/article_attachments/1500010880462/region_override_automatic.png" alt="region_override_automatic.png"><br><span class="wysiwyg-font-size-medium">Regions are set to Automatic by default.</span>
</h4>
<p><span class="wysiwyg-font-size-large wysiwyg-color-orange110"><strong>Changing to a Specific Region on Desktop/Browser</strong></span></p>
<p><span style="font-weight: 400;">If you prefer to set the voice region to somewhere specific, you can access the Voice Region settings through the voice channel settings. </span></p>
<p><span style="font-weight: 400;">On the desktop/browser app, head into the channel settings by right-clicking the voice channel and selecting Edit Channel from the drop down menu that appears, or hovering over the voice channel and clicking the </span><img src="https://support.discord.com/hc/article_attachments/360101883694/Vector_1.png" alt="Vector_1.png" width="16" height="16"> gear icon: </p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/360101886174/1_edit_channel.png" alt="1_edit_channel.png" width="476" height="326"></p>
<h3 class="wysiwyg-text-align-center">Note: You will need the Manage Channels permission in the server to access this setting.<img src="https://support.discord.com/hc/article_attachments/1500003010462/Manage_channels_1.png" alt="Manage_channels_1.png" width="682" height="253">
</h3>
<p>In the Voice Channel Settings, you can set a specific voice server region through the Region Override drop-down menu (shown below).</p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/360104052513/drop_down_menu_regions.png" alt="drop_down_menu_regions.png" width="593" height="480"></p>
<p class="wysiwyg-text-align-left"><span class="wysiwyg-font-size-large wysiwyg-color-orange110"><strong>Changing to a Specific Region on Mobile</strong></span></p>
<p class="wysiwyg-text-align-left">If you're on the mobile version of our app, you can manually change the region within the Voice Channel settings as well (as long as you have the Manage Channel permissions in the server)!</p>
<ol>
<li class="wysiwyg-text-align-left">Start by touch and holding (or long pressing) on the specific voice channel you'd like to modify.</li>
<li class="wysiwyg-text-align-left">Once you are in the Channel Settings, you can tap on the Region Override section, and then select the region you'd like to manually set. </li>
<li class="wysiwyg-text-align-left">Lastly, when you have finished selecting the region, make sure to press the save icon in the bottom right corner to save your changes!</li>
</ol>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/1500012369662/voice_region_override_on_mobile.png" alt="voice_region_override_on_mobile.png"></p>
<h3 class="wysiwyg-text-align-left">Note: This region override will stay the same for all future calls in the voice channel (unless the region is manually changed once more).</h3>
<h1 id="h_01F3RXJKY3GDVJGW16TP0ZDHV6">Voice Regions: Direct Message Calls</h1>
<p><span style="font-weight: 400;">This part’s much easier, since you already can see the call region in your voice call screen! </span></p>
<p><span style="font-weight: 400;">Similar to voice channels, the DM will automatically select the best region based on the person who initiates the call, but you’re still welcome to change it to another preferred region if you’d like! </span></p>
<h3>Note: This option isn't available on the mobile app at this time.</h3>
<p><strong>Step by Step Process on the Desktop/Browser App:</strong></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Hover over and click the name of the region you’re currently on. (It’s on the top-right!)</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Select your preferred voice server region, then click it.</span></li>
<li style="font-weight: 400;">
<span style="font-weight: 400;">There’s no Step 3. You’re already done! </span><span style="font-weight: 400;"><br></span>
</li>
</ul>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/1500013905841/callexample.gif" alt="callexample.gif"></p>
<p><strong>Pro Tip™</strong><span style="font-weight: 400;">: </span></p>
<p><span style="font-weight: 400;">Generally Discord will automatically select the best voice region for your call. However, if you and your friends are running into voice issues, you can also try selecting region that’s a mid-point between you and the other group members!</span></p>
<ul>
<li><span style="font-weight: 400;">For example, if you have some people on the west coast of the US, and some on the east coast, try using “US Central” for your voice region!</span></li>
</ul>
<h2 id="h_01F3RXJV6E2MDAR7RWP8SPNB83"><span style="font-weight: 400;">Troubleshooting FAQ</span></h2>
<p><strong><span class="wysiwyg-font-size-large">Q: If we're having voice trouble (like RTC connecting), do we need to change the region for the voice channel?</span></strong></p>
<p><strong>A:</strong> If the region is set to "Automatic", you can try disconnecting and reconnecting to the channel first.</p>
<p>Otherwise, check out our <a href="https://support.discord.com/hc/en-us/articles/115001310031" target="_blank" rel="noopener">Voice Connections Error</a> article for more specific help.</p>
<p><strong><span class="wysiwyg-font-size-large">Q: If the region is set to "Automatic", does the region automatically change when people leave or join a voice channel (ie. 4 people are in, then 5 more join from different locations)?</span></strong></p>
<p><strong>A:</strong> The region will stay the same until all people leave and the voice channel is empty.</p>
<p>When a new group of people enter the voice channel, <span style="font-weight: 400;">Discord will set the region based on the first person that joins the voice channel.</span></p>
<p><strong><span class="wysiwyg-font-size-large">Q: When a server is set to "Automatic", how does the system handle when a server has unlocked a higher audio quality option through Boosting?</span></strong></p>
<p><strong>A:</strong> There's no change to this, so if your server has unlocked a higher audio bitrate, you'll still be getting that regardless of region choice!</p>
<p><strong><span class="wysiwyg-font-size-large">Q: If I clone a voice channel or create a server template based off my server, will my region be cloned as well?</span></strong><br><strong>A:</strong> Yes, in both situations your voice regions would be cloned!</p>
<p><span class="wysiwyg-font-size-large"><strong>Q: Does this mean that we need to change each individual channel when there are voice issues?</strong></span></p>
<p><strong>A:</strong> No, you should only need to make any adjustments to the voice channel that's experiencing issues. If your voice channel region is set to "Automatic" and you're experiencing issues, our system will move you to a better location on its own.</p>
<p>You can also still either leave and reconnect to the channel, or change the voice region in channel settings, to see if that helps.</p>
<p><strong><span class="wysiwyg-font-size-large">Q: We have users from [country/region] in our server and prefer to set the region to stay the same- can we set a specific region for any voice channel what region the call is set to?</span></strong></p>
<p><strong>A:</strong> Yes, you can set a specific region under each Voice Channel Settings &gt; Overview &gt; Region Override.</p>
<p>This setting will remain until you change it to either another region or back to the default, "Automatic"!</p>