<h1><span style="font-weight: 400;">What Does This Article Cover? </span></h1>
<p><span style="font-weight: 400;">If this is your first time creating a Discord account on your Android or iOS device, this guide below will help walk you through the steps of creating your account and starting to connect with your friends on Discord! </span></p>
<ul>
<li><span style="font-weight: 400;"><a href="#h_01EDSS3NYBH7HV4CYXPY3M3EXG" target="_self">Creating an Account</a></span></li>
<li>
<span style="font-weight: 400;"><a href="#h_01EDSS3VHT65XS1977P0MSMEHA" target="_self">Setting up an Account</a></span>
<ul>
<li><span style="font-weight: 400;"><a href="#h_01EDSS41F10PP8WXP814T6P63V" target="_self">Changing Your Avatar</a></span></li>
<li><span style="font-weight: 400;"><a href="#h_01EDSS47B5JDR4KW8RFVD403P5" target="_self">Changing Your Account Details</a></span></li>
</ul>
</li>
<li>
<span style="font-weight: 400;"><a href="#h_01EDSS4CZDPFHD85DHQ1NW3X0D" target="_self">Adding Friends</a></span>
<ul>
<li><span style="font-weight: 400;"><a href="#h_01EDSS4MM1F9SC3PF0Q81X39EH" target="_self">Sending Friend Requests </a></span></li>
<li><span style="font-weight: 400;"><a href="#h_01EDSS4WQYB1MYFTH0C9PPWM5F" target="_self">Adding a Friend in a Server</a></span></li>
<li><span style="font-weight: 400;"><a href="#h_01EDSS53V1FAD0Y6N3DREYZ5QB" target="_self">Accepting Friend Requests</a></span></li>
</ul>
</li>
<li><span style="font-weight: 400;"><a href="#h_01EDSS5CERNPB8JNPK9W87NEYT" target="_self">Joining Servers</a></span></li>
<li><span style="font-weight: 400;"><a href="#h_01EDSS5JQCDRXA4GZP38SCZFQC" target="_self">Creating DMs and Group DMs</a></span></li>
<li>
<span style="font-weight: 400;"><a href="#h_01EDSS5RFSXRVJEKB0RY1GG6H9" target="_self">Expressing Yourself</a></span>
<ul>
<li><span style="font-weight: 400;"><a href="#h_01EDSS5YY985SR4CFVDN87GSG0" target="_self">Sending Photos and Files</a></span></li>
<li><a href="#h_01EEZSJS4B5AY8V93X6ADXG9N2" target="_self">Sending Gifs</a></li>
<li><span style="font-weight: 400;"><a href="#h_01EDSS63RN6P59YMD3WW48BXVF" target="_self">Adding Emojis</a></span></li>
<li><span style="font-weight: 400;"><a href="#h_01EDSS67SKP3HDKTSFV9FTRTHN" target="_self">Adding Reactions</a></span></li>
</ul>
</li>
</ul>
<h1 id="h_01EDSS3NYBH7HV4CYXPY3M3EXG"><span style="font-weight: 400;">Creating an Account</span></h1>
<p><span style="font-weight: 400;">To start using the app, download Discord from the </span><a href="https://play.google.com/store/apps/details?id=com.discord"><span style="font-weight: 400;">Play Store</span></a><span style="font-weight: 400;"> if you’re on an Android device or </span><a href="https://apps.apple.com/us/app/discord-chat-for-games/id985746746"><span style="font-weight: 400;">App Store</span></a><span style="font-weight: 400;"> if you’re using iOS! </span></p>
<p><span style="font-weight: 400;">Once the app is fully installed, tap on the app icon to launch the app! </span></p>
<p><span style="font-weight: 400;">If this is your first time using Discord, press <strong>Register</strong> to create your account! You’ll need to enter:</span></p>
<ol>
<li style="font-weight: 400;"><em><strong>A username</strong></em></li>
<li style="font-weight: 400;"><em><strong>Your email address or Phone Number</strong></em></li>
<li style="font-weight: 400;"><em><strong>A password</strong></em></li>
</ol>
<p><span style="font-weight: 400;">Once you’ve finished entering this account information, you can then press “<strong>Create an account</strong>” to start using Discord! </span></p>
<p><span style="font-weight: 400;">If you’ve already created an account previously on another platform or device, you can directly login to your account by pressing “Login” and entering your email address and password! </span></p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/360101513874/reg_an_account.png" alt="reg_an_account.png" width="171" height="370"><img src="https://support.discord.com/hc/article_attachments/1500002666981/phone_or_email.png" alt="phone_or_email.png" width="170" height="369"><img src="https://support.discord.com/hc/article_attachments/360103668813/username.png" alt="username.png" width="171" height="369"><img src="https://support.discord.com/hc/article_attachments/360103668833/login.png" alt="login.png" width="169" height="367">  </p>
<p class="wysiwyg-text-align-center"> </p>
<h3><span style="font-weight: 400;">Note: Make sure to head into your email to verify your email address! By verifying your email address, you’ll be able to recover your account if you ever forget your password! </span></h3>
<h1 id="h_01EDSS3VHT65XS1977P0MSMEHA"><span style="font-weight: 400;">Setting up an Account</span></h1>
<p><span style="font-weight: 400;">To set up your account, click on the circle icon in the bottom right hand corner, and then select <strong>My Account</strong>! </span></p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/360062613171/heading_into_user_settings.png" alt="heading_into_user_settings.png" width="174" height="301"> <img src="https://support.discord.com/hc/article_attachments/360062613191/user_settings_highlighting_my_account.png" alt="user_settings_highlighting_my_account.png" width="189" height="300"> <img src="https://support.discord.com/hc/article_attachments/360062613271/edit_account_button_in_my_account_tab.png" alt="edit_account_button_in_my_account_tab.png" width="187" height="300"></p>
<h2 id="h_01EDSS41F10PP8WXP814T6P63V"><span style="font-weight: 400;">Changing Your Avatar</span></h2>
<p><span style="font-weight: 400;">In the<strong> My Account</strong> settings page, you can press on the photo icon by the default Discord avatar to change your profile picture! </span></p>
<p><span style="font-weight: 400;">Once you’ve selected your desired photo, you can crop and adjust the placement as needed by pressing the <strong>Crop</strong> button! And when you’re satisfied with your adjustments, press the <strong>Upload</strong> button!  </span></p>
<p><span style="font-weight: 400;">Lastly, make sure to press the blue “<strong>Save</strong>” icon in the bottom right corner after making your changes! </span></p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/360062442772/changing_your_avatar_on_mobile.gif" alt="changing_your_avatar_on_mobile.gif" width="644" height="362"> </p>
<h2 id="h_01EDSS47B5JDR4KW8RFVD403P5"><span style="font-weight: 400;">Changing Your Account Details</span></h2>
<p><span style="font-weight: 400;">In the <strong>My Account</strong> settings page, you can also press “<strong>Edit Account</strong>” if you want to change your username or email address tied to your account!</span></p>
<p><span style="font-weight: 400;">Before making these changes official though, you’ll need to enter your password to confirm the changes! </span></p>
<p><span style="font-weight: 400;">Additionally, if you ever need to change your password, you’ll be able to press “<strong>Change Password</strong>” in the <strong>My Account</strong> settings! Just type in your Current Password and New Password, and then press the blue “<strong>Save</strong>” icon in the bottom right corner to confirm the change!</span> </p>
<h3><span style="font-weight: 400;">Note: You can only change your username and avatar two times in an hour! So if you’ve reached the limit for the hour, you’ll need to wait before changing your name again! </span></h3>
<h1 id="h_01EDSS4CZDPFHD85DHQ1NW3X0D"><span style="font-weight: 400;">Adding Friends</span></h1>
<p><span style="font-weight: 400;">Now that you’ve officially created an account, you can directly add friends or receive friend requests from people that you already know on Discord!</span></p>
<h2 id="h_01EDSS4MM1F9SC3PF0Q81X39EH"><span style="font-weight: 400;">Sending Friend Requests </span></h2>
<p><span style="font-weight: 400;">To send a friend request, you can directly press the <strong>Add Friend</strong> button if it’s your first time ever adding a friend! </span></p>
<p><span style="font-weight: 400;">If you’ve added a friend previously, you can also directly head into the <strong>Friends</strong> tab by pressing on the middle icon at the bottom of the screen, and then selecting the Add Friend icon in the upper right corner! </span></p>
<p><span style="font-weight: 400;">In this menu, you’ll need to type in both the 1) <strong>username</strong> and 2) <strong>4 digit tag</strong> of your friend! (<em>An example of a full Discord tag would be: Wumpus#0000</em>)</span></p>
<h3><span style="font-weight: 400;">Note: Make sure that you’re typing your friend’s username exactly as spelled and double check capitalization since usernames are case sensitive! Additionally, make sure to remove any extra spaces!</span></h3>
<p><span style="font-weight: 400;">Once you’ve typed in your friend’s Discord tag and press <strong>Send Friend Request</strong>, a request will be directly sent their way!</span></p>
<p class="wysiwyg-text-align-center"><span style="font-weight: 400;"><img src="https://support.discord.com/hc/article_attachments/360062613651/Adding_a_friend_direct_message_screen.png" alt="Adding_a_friend_direct_message_screen.png" width="190" height="306"> </span><img style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;" src="https://support.discord.com/hc/article_attachments/360062444272/adding_a_friend_-_friend_screen.png" alt="adding_a_friend_-_friend_screen.png" width="191" height="306"> <img src="https://support.discord.com/hc/article_attachments/360062444332/adding_a_friend_username_and_tag.png" alt="adding_a_friend_username_and_tag.png" width="192" height="306"> </p>
<p class="wysiwyg-text-align-left">If you're not able to send a request, it's possible that your friend needs to change their Privacy and Safety Settings for who can add them as a Friend! Check out the Friend Request section in our article on <a href="https://support.discord.com/hc/en-us/articles/217916488" target="_blank" rel="noopener">Privacy Settings</a> for more details! </p>
<h2 id="h_01EDSS4WQYB1MYFTH0C9PPWM5F"><span style="font-weight: 400;">Adding a Friend in a Server</span></h2>
<p><span style="font-weight: 400;">If you’re already in a server, and you’d like to add someone you’ve become friends with, you can also press on that person’s username in the server list or press on the user’s avatar in chat to open their User Profile! </span></p>
<p><span style="font-weight: 400;">Once you’ve opened their profile, you’ll be able to press the Add Friend option to send a Friend Request! </span></p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/360062614371/adding_a_friend_in_server_example.png" alt="adding_a_friend_in_server_example.png" width="482" height="410"><span style="font-weight: 400;">  </span></p>
<h2 id="h_01EDSS53V1FAD0Y6N3DREYZ5QB"><span style="font-weight: 400;">Accepting Friend Requests</span></h2>
<p><span style="font-weight: 400;">If you’ve received a Friend Request, you’ll see a red notification on your Friends tab! Press the icon to be redirected to the Friends tab and check on your Pending requests!</span></p>
<p class="wysiwyg-text-align-center"><img style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;" src="https://support.discord.com/hc/article_attachments/360062614511/friend_request_notification.png" alt="friend_request_notification.png" width="577" height="79"></p>
<p><span style="font-weight: 400;">From here, you can confirm adding this user as a Friend, or ignore the friend request! </span></p>
<h3><span style="font-weight: 400;">Note: Make sure you double check you know who you are adding as a friend before confirming! </span></h3>
<p class="wysiwyg-text-align-center"><span style="font-weight: 400;"><img src="https://support.discord.com/hc/article_attachments/360062614591/accepting_friend_request_example.png" alt="accepting_friend_request_example.png" width="601" height="284"></span> </p>
<h1 id="h_01EDSS5CERNPB8JNPK9W87NEYT"><span style="font-weight: 400;">Joining Servers</span></h1>
<p><span style="font-weight: 400;">You can either press directly on an invite link from your friend to automatically join the server, or you can manually enter an invite link through the Join Server menu!</span></p>
<table style="height: 549px;" width="699">
<tbody>
<tr>
<td class="wysiwyg-text-align-center" style="width: 335.016px;"><strong>Joining a Server Directly </strong></td>
<td class="wysiwyg-text-align-center" style="width: 339.516px;"><strong>Manually Entering a Server Invite Link</strong></td>
</tr>
<tr>
<td style="width: 335.016px;"><img src="https://support.discord.com/hc/article_attachments/360062614691/example_of_joining_server_invite_directly.png" alt="example_of_joining_server_invite_directly.png" width="285" height="506"></td>
<td style="width: 339.516px;"><img src="https://support.discord.com/hc/article_attachments/360062614891/joining_a_server_by_manually_entering_an_invite_link.gif" alt="joining_a_server_by_manually_entering_an_invite_link.gif" width="286" height="502"></td>
</tr>
</tbody>
</table>
<p><span style="font-weight: 400;">To manually enter an invite link that you’ve received, start by pressing the green plus sign button in the left side bar! </span></p>
<p><span style="font-weight: 400;">You’ll then see the option to create or join a server! Select “Join a server” and then manually enter the invite link that you’ve received! And once you filled out the appropriate invite link, press “Join Server” to confirm! </span></p>
<p><span style="font-weight: 400;">The app will then confirm with you that you’re joining the correct server before you officially join! </span></p>
<p class="wysiwyg-text-align-center"><span style="font-weight: 400;"><img src="https://support.discord.com/hc/article_attachments/360062615011/joining_a_server_first_button.png" alt="joining_a_server_first_button.png" width="191" height="307"> <img src="https://support.discord.com/hc/article_attachments/360062615091/selecting_join_server.png" alt="selecting_join_server.png" width="190" height="306"> <img src="https://support.discord.com/hc/article_attachments/360062615151/typing_the_server_invite.png" alt="typing_the_server_invite.png" width="192" height="306"> </span></p>
<h1 id="h_01EDSS5JQCDRXA4GZP38SCZFQC"><span style="font-weight: 400;">Creating DMs and Group DMs</span></h1>
<p><span style="font-weight: 400;">If you’d like to have a smaller group chat outside of the server you can directly start a new group chat by pressing the New Message icon in the upper right corner!</span></p>
<p><span style="font-weight: 400;">In the next screen, you’ll be able to select the friends you’d like to add into a direct message together! (In DMs, you can select up to 10 friends to join the group!) </span></p>
<p><span style="font-weight: 400;">Once you’ve confirmed the friends you’d like to add by pressing the blue Send Message icon in the bottom right hand corner, you’ll be automatically redirected to a new group message! </span></p>
<table style="width: 780px; height: 330px;">
<tbody>
<tr>
<td style="width: 409.43px;"><img style="font-family: -apple-system, system-ui, 'Segoe UI', Helvetica, Arial, sans-serif; font-size: 15px;" src="https://support.discord.com/hc/article_attachments/360062615191/adding_new_direct_message.png" alt="adding_new_direct_message.png" width="478" height="265"></td>
<td style="width: 334.57px;" rowspan="2">
<p><img src="https://support.discord.com/hc/article_attachments/360062445272/starting_group_dm_demo.gif" alt="starting_group_dm_demo.gif" width="365" height="644"></p>
</td>
</tr>
<tr>
<td style="width: 409.43px;"><img src="https://support.discord.com/hc/article_attachments/360062615231/typing_friends_names_for_group_dm.png" alt="typing_friends_names_for_group_dm.png" width="364" height="189"></td>
</tr>
</tbody>
</table>
<h1 id="h_01EDSS5RFSXRVJEKB0RY1GG6H9"><span style="font-weight: 400;">Expressing Yourself</span></h1>
<p><span style="font-weight: 400;">Now that you’re connected with your friends in servers and DMs, you can now start chatting away through text, emojis, photos and more! </span></p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/360062615511/message_bar_highlight.png" alt="message_bar_highlight.png" width="421" height="396"></p>
<h2 id="h_01EDSS5YY985SR4CFVDN87GSG0"><span style="font-weight: 400;">Sending Photos and Files</span></h2>
<p><span style="font-weight: 400;">Want to stay in chat and directly send a photo without opening your camera app? You can send a photo on the fly to your friends by pressing the Camera icon in the bottom left corner! </span></p>
<p> <span style="font-weight: 400;">You’ll then be able to open your Camera app to directly take a photo, and then send that photo with a message!  </span></p>
<p><span style="font-weight: 400;">If you’ve already taken a photo or downloaded a file you want to share, you can press on the File icon (right beside the Camera icon) to directly select and send a specific file to your friends! </span></p>
<table class=" wysiwyg-text-align-center" style="height: 198px; width: 696px;">
<tbody>
<tr>
<td style="width: 331.938px;"><strong>Sending a Photo</strong></td>
<td style="width: 333.062px;"><strong>Sending a File</strong></td>
</tr>
<tr>
<td style="width: 331.938px;"><img src="https://support.discord.com/hc/article_attachments/360062645771/taking_a_photo_in_mobile_demo.gif" alt="taking_a_photo_in_mobile_demo.gif" width="347" height="610"></td>
<td style="width: 333.062px;"><img src="https://support.discord.com/hc/article_attachments/360062615591/sending_file_in_mobile_demo.gif" alt="sending_file_in_mobile_demo.gif" width="348" height="611"></td>
</tr>
</tbody>
</table>
<h2 id="h_01EEZSJS4B5AY8V93X6ADXG9N2"><span style="font-weight: 400;">Sending Gifs</span></h2>
<p><span style="font-weight: 400;">You’ll also be able to <a href="https://support.discord.com/hc/en-us/articles/360021235192" target="_blank" rel="noopener">send gifs directly into chat</a> as well using the Gif Picker! </span></p>
<p><span style="font-weight: 400;">Once you tap the chat/text box, you’ll then see the emoji icon (that looks like a smiley face) pop up! Tap on that emoji icon and you’ll see the Emoji and Gif tab appear!</span></p>
<p><span style="font-weight: 400;">When you tap on the <strong>Gif</strong> tab, you’ll now be able to either search directly for the gif of your choice, or choose one from one of the categories available! </span></p>
<p class="wysiwyg-text-align-center"><span style="font-weight: 400;"><img src="https://support.discord.com/hc/article_attachments/360063837832/searching_for_a_gif_on_mobile.gif" alt="searching_for_a_gif_on_mobile.gif" width="250" height="440"><img src="https://support.discord.com/hc/article_attachments/360063993031/trending_gifs_on_mobile_tap.gif" alt="trending_gifs_on_mobile_tap.gif" width="250" height="440"></span></p>
<h2 id="h_01EDSS63RN6P59YMD3WW48BXVF"><span style="font-weight: 400;">Adding Emojis</span></h2>
<p><span style="font-weight: 400;">You can directly send emojis through chat by pressing on that Emoji icon in the message bar! </span></p>
<p><span style="font-weight: 400;">You’ll be able to see your most frequently used emojis, or directly search for the exact emoji you’re looking for in the emoji search bar! </span></p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/360062448052/emoji_button_highlight_in_message_bar.png" alt="emoji_button_highlight_in_message_bar.png" width="539" height="80"></p>
<h2 id="h_01EDSS67SKP3HDKTSFV9FTRTHN"><span style="font-weight: 400;">Adding Reactions</span></h2>
<p><span style="font-weight: 400;">To add a reaction on the mobile app, you can long press on the message that you want to react to, and a new menu will appear! </span></p>
<p><span style="font-weight: 400;">From this menu, you can choose your frequently used emojis as a reaction, or you can directly search for a specific emoji to use as a reaction by pressing on the Reactions button! </span></p>
<p><span style="font-weight: 400;">If another person has already reacted to the message, you’ll be able to directly press on the emoji icon to select the emoji you’d like to add!</span></p>
<table class=" wysiwyg-text-align-center" style="height: 45px; width: 687px;">
<tbody>
<tr>
<td class="wysiwyg-text-align-center" style="width: 344.922px;"><img src="https://support.discord.com/hc/article_attachments/360062624731/different_ways_to_add_reactions.png" alt="different_ways_to_add_reactions.png" width="344" height="548"></td>
<td class="wysiwyg-text-align-center" style="width: 313.078px;"><img src="https://support.discord.com/hc/article_attachments/360062452452/adding_reaction_after_long_press.gif" alt="adding_reaction_after_long_press.gif" width="314" height="552"></td>
</tr>
<tr>
<td class="wysiwyg-text-align-center" style="width: 658px;" colspan="2"><img src="https://support.discord.com/hc/article_attachments/360062447592/adding_reaction_to_a_message.png" alt="adding_reaction_to_a_message.png" width="413" height="132"></td>
</tr>
</tbody>
</table>
<h1>And you've made it! </h1>
<p>Hopefully this guide helped you to understand the basics of getting started on Discord on iOS and Android! For other useful guides to learn more about Discord, check out these articles below! </p>
<ul>
<li><a href="https://support.discord.com/hc/en-us/articles/360033931551" target="_self">Getting Started</a></li>
<li><a href="https://support.discord.com/hc/en-us/articles/360045138571" target="_self">Beginner's Guide to Discord</a></li>
<li><a href="https://support.discord.com/hc/en-us/articles/360045138471" target="_self">Discord Voice and Video Troubleshooting Guide</a></li>
</ul>
<p>Need help with anything else? We’ve got your back. </p>
<p><a href="https://support.discord.com/hc/requests/new" target="_blank" rel="noopener">Contact our support team here with a full description of what questions or issues you're running into!</a> We’re always around to answer questions.</p>