<h1 id="d278" class="hl hm eb bm bn hn ho hp hq hr hs ht hu hv hw hx hy hz ia ib ic id ie if ig ih ey" data-selectable-paragraph="">Poker Night Release 6.0 Notes</h1>
<h3>Released: June 22nd, 2021</h3>
<p><strong>What's New:</strong></p>
<ul>
<li>The all new Graggle Pack is available for purchase. Just $1.99 for unlimited access to the animated Graggle dealer, card back, and emote!</li>
<li>Change card backs for the whole table when you're the dealer! Select your nameplate to activate your favorite card skin.</li>
<li>Medals now show for veteran and high roller players! Bragging rights are fully enabled.</li>
<li>A limited-time Free Preview of the Renwill Pack! Includes Renwill animated dealer, card back, and emote!</li>
<li>Return of the Mega Tall Chip Stacks! Don't worry, they won't take forever to collect this time!</li>
</ul>
<p><strong>Bugs Squashed:</strong></p>
<ul>
<li>Table settings changes not always applying correctly based on voting results</li>
<li>Poker Pass permissions not registering correctly for some users</li>
<li>UI &amp; conveyance issues with turns and turn timer</li>
<li>Minor visual errors with card facing and player nameplates between rounds</li>
</ul>
<h2 id="d278" class="hl hm eb bm bn hn ho hp hq hr hs ht hu hv hw hx hy hz ia ib ic id ie if ig ih ey">Poker Night Release 5.1 Notes</h2>
<h3>Released: May 27th, 2021</h3>
<p><strong>What's New:</strong></p>
<ul>
<li>
<em>Poker Pass</em> features and content now have no time duration restrictions! Whatever you unlock after purchasing Poker Pass, you keep! You can access Poker Pass by clicking on your stats in the lower left of the screen.</li>
</ul>
<p><strong>Bugs Squashed:</strong></p>
<ul>
<li>Fixed a nasty soft lock that occurred when all players busted out and only bots remained</li>
<li>Players are now able to rejoin tables immediately after resetting wallets</li>
<li>The yellow highlights on card hand combinations now appear during all turns</li>
<li>Fixed multiple issues with cards not showing after winning, going all-in, etc.</li>
</ul>
<h1 id="d278" class="hl hm eb bm bn hn ho hp hq hr hs ht hu hv hw hx hy hz ia ib ic id ie if ig ih ey" data-selectable-paragraph="">Poker Night Release 5.0 Notes</h1>
<h3>Released: May 25th, 2021</h3>
<p><strong>What's New:</strong></p>
<ul>
<li>In response to server feedback, we’ve fast-tracked<strong> voting on Table Settings</strong>! Changing Table Settings in a game now prompts a "Yay or Nay" vote from the players affected. Democracy shall reign supreme...</li>
<li>Higher stakes! If players bust out, they can only buy back in when the table resets. You can let your friends back in after cleaning them out by resetting the table in the Table Settings Menu.</li>
<li>A limited-time preview of our <strong>fully animated "Graggle" dealer</strong>! Change your Dealer Skin to Graggle by selecting the Dealer's face at the top of the board.</li>
</ul>
<p><strong>Bugs Squashed:</strong></p>
<ul>
<li>A number of UI / UX consistency issues</li>
<li>Numbering issues with 20 million + values</li>
<li>Typos and misleading descriptions in Loading and Settings screens</li>
<li>Issues with taking actions right before the start of a player's turn</li>
</ul>