<p><span style="font-weight: 400;">We have another <a href="http://discordmerch.com" target="_blank" rel="noopener">Popup</a> for all you Merch Fans!</span></p>
<p><span style="font-weight: 400;">We are on track to launch our store permanently with the back to school season of 2021, but in the mean time, please check out another little popup we are doing.</span></p>
<p><span style="font-weight: 400;">We will be featuring some exclusive Discord Discovery MMXV merchandise designed specifically to align with PAX Online,. Its space themed, and all ready to blast off from the factory, to your home. Quantities and sizes are currently limited. We also have some old favorites on the form of a Legacy Collection. </span></p>
<p><span style="font-weight: 400;">These items are past releases at a discounted rate. If you missed out, nows your chance to scoop these items up before they are gone.These will be available from July 15th, 10AM PST thru July 31st.</span></p>
<p><span style="font-weight: 400;">Our partner <a href="https://metathreads.com" target="_blank" rel="noopener">MetaThreads</a> will be handling all customer experience inquiries. Below you will find a detailed list of their store policies along with a really easy way to contact them if you have concerns, problems, or simply wanna tell them you love the item.</span></p>
<h3><strong>Note: MetaThreads ships both to the US and internationally!<br></strong></h3>
<h1><span style="font-weight: 400;">What Does This Article Cover? </span></h1>
<ul>
<li>
<span style="font-weight: 400;"><a href="#h_01ERFMNE1S52KTJS91508T8XJH" target="_self">Returns/Exchanges Policy</a></span>
<ul>
<li><span style="font-weight: 400;"><a href="#h_01ERFMNQW7X3ZG9ENGYW9WXWKK" target="_self">Refunds </a></span></li>
<li><span style="font-weight: 400;"><a href="#h_01ERFMNYS3W3R57G3Y0KQK4JN7" target="_self">Late or Missing refunds </a></span></li>
<li><span style="font-weight: 400;"><a href="#h_01ERFMP4FY8BD2FW155A9DW24W" target="_self">Sale items </a></span></li>
<li><span style="font-weight: 400;"><a href="#h_01ERFMPA509YKMTDAHPMZQS0FZ" target="_self">Exchanges</a></span></li>
</ul>
</li>
<li><span style="font-weight: 400;"><a href="#h_01ERFMPFTHQS8GSM05KQA9HY4V" target="_self">Shipping</a></span></li>
<li><span style="font-weight: 400;"><a href="#h_01ERFMPP7PK1GW96NSM3R8TEZ8" target="_self">How to Contact </a></span></li>
</ul>
<h1 id="h_01ERFMNE1S52KTJS91508T8XJH"><span style="font-weight: 400;">Returns/Exchanges Policy</span></h1>
<p><span style="font-weight: 400;">The MetaThread’s return/exchange policy lasts for 30 days only. If 30 days have gone by since your purchase, unfortunately, they cannot offer a refund or exchange.</span></p>
<p><span style="font-weight: 400;">To be eligible for a return, your item must be unused and in the same condition that you received it. It must also be in the original packaging.</span></p>
<h3><strong>Note: Make sure to check the <a href="#h_01ERFMPP7PK1GW96NSM3R8TEZ8" target="_self">How to Contact</a> section below to learn how to submit a return/exchange request and check your eligibility!</strong></h3>
<p><span style="font-weight: 400;">Several types of goods are exempt from being returned. Custom goods, including all jerseys, team sweatshirts, dryfit, and all other sublimated items cannot be returned or exchanged. When making a custom purchase, please be mindful of the order details and size charts because all sales are final for those items.</span></p>
<p><span style="font-weight: 400;">There are certain situations where only partial refunds are granted (if applicable).</span></p>
<p><span style="font-weight: 400;">Any item not in its original condition, is damaged or missing parts for reasons not due to our error. Any item that is returned more than 30 days after delivery.</span></p>
<h2 id="h_01ERFMNQW7X3ZG9ENGYW9WXWKK"><span style="font-weight: 400;">Refunds (if applicable)</span></h2>
<p><span style="font-weight: 400;">Once your return is received and inspected, the MetaThreads team will send you an email to notify you that they have received your returned item. </span></p>
<p><span style="font-weight: 400;">The MetaThreads team will also notify you of the approval or rejection of your refund.</span></p>
<p><span style="font-weight: 400;">If you are approved, then your refund will be processed, and a credit will automatically be applied to your credit card or original method of payment, within a certain amount of days.</span></p>
<h2 id="h_01ERFMNYS3W3R57G3Y0KQK4JN7"><span style="font-weight: 400;">Late or Missing refunds (if applicable)</span></h2>
<p><span style="font-weight: 400;">If you haven’t received a refund yet within 5 to ten business days, make sure to double check with your bank or your credit card company as an initial step. </span></p>
<p><span style="font-weight: 400;">If you’ve done all of this and you still have not received your refund yet, please contact the MetaThreads team at contact@metathreads.com.</span></p>
<h2 id="h_01ERFMP4FY8BD2FW155A9DW24W"><span style="font-weight: 400;">Sale items (if applicable)</span></h2>
<p><span style="font-weight: 400;">Only regular priced items may be refunded, unfortunately sale items cannot be refunded.</span></p>
<h2 id="h_01ERFMPA509YKMTDAHPMZQS0FZ"><span style="font-weight: 400;">Exchanges (if applicable)</span></h2>
<p><span style="font-weight: 400;">The MetaThreads team can only replace items if they are defective or damaged. </span></p>
<p><span style="font-weight: 400;">If you need to exchange it for the same item, send the MetaThreads team an email at contact@metathreads.com and send your item to: </span></p>
<p><span style="font-weight: 400;">17208 S. Figueroa St., </span></p>
<p><span style="font-weight: 400;">Gardena, California, US 90248</span></p>
<h1 id="h_01ERFMPFTHQS8GSM05KQA9HY4V"><span style="font-weight: 400;">Shipping</span></h1>
<p><span style="font-weight: 400;">To return your product, you should mail your product to: </span></p>
<p><span style="font-weight: 400;">17208 S. Figueroa St., </span></p>
<p><span style="font-weight: 400;">Gardena, California, US 90248</span></p>
<p><span style="font-weight: 400;">You will be responsible for paying for your own shipping costs for returning your item. Shipping costs are non-refundable. If you receive a refund, the cost of return shipping will be deducted from your refund.</span></p>
<p><span style="font-weight: 400;">Depending on where you live, the time it may take for your exchanged product to reach you, may vary.</span></p>
<p><span style="font-weight: 400;">If you are shipping an item over $75, you should consider using a trackable shipping service or purchasing shipping insurance. The MetaThreads team does not guarantee that they will receive your returned item.</span></p>
<h1 id="h_01ERFMPP7PK1GW96NSM3R8TEZ8"><span style="font-weight: 400;">How to Contact </span></h1>
<p><span style="font-weight: 400;">To submit a return/exchange request or check your eligibility with the MetaThreads team, make sure to follow these steps below: </span></p>
<ol>
<li style="font-weight: 400;">
<span style="font-weight: 400;">Start by contacting MetaThreads customer service department via email: </span><a href="mailto:contact@metathreads.com"><span style="font-weight: 400;">contact@metathreads.com</span></a><span style="font-weight: 400;">. </span>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">In your email, please include a receipt or proof of purchase and your order number. </span></li>
</ol>
</li>
<li style="font-weight: 400;">
<span style="font-weight: 400;">Once all the information has been included, the MetaThreads team will be happy to assist and provide you details on whether an order is eligible for a return/exchange. </span>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">If so, they will provide instruction on how to return/exchange an item. </span></li>
</ol>
</li>
</ol>