<h3>
<strong>Note:</strong> This is currently part of a BETA experiment! Only a select group of communities will have access to the feature during this beta.</h3>
<p><strong>We're excited to announce Premium Memberships for communities on Discord!</strong></p>
<p><span style="font-weight: 400;">If you're here, you are most likely part of the very few servers that are trying out Premium Memberships. </span></p>
<p><span style="font-weight: 400;">Read on to learn about what you need to know as a server admin! If you’re not a server admin but have questions related to Premium Subscriptions you can </span><a href="https://support.discord.com/hc/en-us/articles/4415163187607" target="_blank" rel="noopener noreferrer">visit this help page for more information!</a><span style="font-weight: 400;"> </span></p>
<p><img src="https://support.discord.com/hc/article_attachments/5372220890391/Screen_Shot_2022-04-11_at_17.10.48.png" alt="Screen_Shot_2022-04-11_at_17.10.48.png"></p>
<h2><span style="font-weight: 400;">What this article covers:</span></h2>
<ul>
<li>
<strong><a href="#h_01G0CK8J8J00W4Y5EK3AMTHM12" target="_self">Introduction to Premium Partnerships</a></strong>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">What is a Premium Membership?</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">I applied for access to Premium Memberships when will I hear back? </span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">How many Premium Membership tiers do I need to create? </span></li>
<li style="font-weight: 400;" aria-level="1">
<span style="font-weight: 400;">Can I change the price of a tier after it has been published?</span><span style="font-weight: 400;"><br></span>
</li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Why can’t my server enable Premium Memberships?</span></li>
</ul>
</li>
<li>
<strong><a href="#h_01G0CK8TGYE074SXX3JRCC1Q7Y" target="_self" rel="undefined">How do Payments Work in Premium Partnerships?</a></strong>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">How much money will I get from each premium membership? </span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">I have some Premium Memberships, when will I be paid?  </span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">How can someone ask for a refund for a Premium Membership?</span></li>
</ul>
</li>
<li>
<strong><a href="#h_01G1PRS2SKJ6AA6C2JSSBQYJ0Z" target="_self">Other Frequently Asked Questions</a></strong>
<ul>
<li><a href="#h_01G1PRVRQQKCKK3JBJ81QK79DZ" target="_self"><span style="font-weight: 400;">Roles, Permissions, &amp; Admins</span></a></li>
<li><span style="font-weight: 400;"><a href="#h_01G1PRWE5SSKVN1DGH27XAHJ8Q" target="_self">Mobile Support</a><br></span></li>
</ul>
</li>
</ul>
<h1 id="h_01G0CK8J8J00W4Y5EK3AMTHM12"><span style="font-weight: 400;">Introduction to Premium Partnerships</span></h1>
<ul>
<li><span class="wysiwyg-color-orange110"><strong>WHAT IS A PREMIUM MEMBERSHIP?</strong></span></li>
</ul>
<p><span style="font-weight: 400;">Premium memberships gives creators and server owners/admins a new way to control your Discord server and content. Now you can create subscription tiers for paying server members, offering them premium experiences with unlock-able servers and channels. </span></p>
<p><img src="https://support.discord.com/hc/article_attachments/5372260710807/Screen_Shot_2022-04-11_at_17.12.24.png" alt="Screen_Shot_2022-04-11_at_17.12.24.png"></p>
<ul>
<li><span class="wysiwyg-color-orange110"><strong>I APPLIED FOR ACCESS TO PREMIUM MEMBERSHIPS WHEN WILL I HEAR BACK? </strong></span></li>
</ul>
<p><span style="font-weight: 400;">Thanks for applying and for your patience! We’re working hard to get back to everyone within <strong>1-2 weeks.</strong></span></p>
<ul>
<li><span class="wysiwyg-color-orange110"><strong>HOW MANY PREMIUM MEMBERSHIP TIERS DO I NEED TO CREATE?  </strong></span></li>
</ul>
<p><span style="font-weight: 400;">You can create a minimum of one tier, or up to a maximum of three tiers. Choose the number of tiers that best works for you and your Premium Membership offering!</span></p>
<ul>
<li><span class="wysiwyg-color-orange110"><strong>CAN I CHANGE THE PRICE OF A TIER AFTER IT HAS BEEN PUBLISHED? <br></strong></span></li>
</ul>
<p>No. You can't change the price of a published tier. You would have to create a new tier with the updated price point, discontinue the old tier (members would still have permissions and the old role until the end of their billing cycle), and ask your members to subscribe to the new tier that you have created.</p>
<p>In this scenario, the members who bought the old price membership this month would need to manually go in and purchase the new price next month to continue being a member.</p>
<ul>
<li><strong><span class="wysiwyg-color-orange110">WHY CAN’T MY SERVER ENABLE PREMIUM MEMBERSHIPS?</span> </strong></li>
</ul>
<p><span style="font-weight: 400;">Currently this is a <strong>closed experiment</strong> with a small group of communities. </span></p>
<p><span style="font-weight: 400;">We'll have more information if we roll this feature out to more communities!</span></p>
<h1 id="h_01G0CK8TGYE074SXX3JRCC1Q7Y"><span style="font-weight: 400;">How do Payments Work in Premium Partnerships?</span></h1>
<ul>
<li><span class="wysiwyg-color-orange110"><strong>HOW MUCH MONEY WILL I RECEIVE FROM EACH PREMIUM MEMBERSHIP?</strong></span></li>
</ul>
<p><span style="font-weight: 400;">We have a <strong>90 / 10 split</strong>, meaning you will receive 90% of the money from each membership and Discord will keep 10%. </span></p>
<p><span style="font-weight: 400;">Keep in mind, there are various fees that will impact your final payment amount.  </span></p>
<ul>
<li><span class="wysiwyg-color-orange110"><strong>I HAVE SOME PREMIUM MEMBERSHIPS, WHEN WILL I BE PAID?</strong></span></li>
</ul>
<p><span style="font-weight: 400;">You will not receive any money until you reach the <strong>minimum $25 threshold</strong> for a payout. </span></p>
<p><span style="font-weight: 400;">Once you meet the $25 minimum payouts will be made once a month, the following month. So for example, revenue earned in January gets paid out in February. </span></p>
<ul>
<li><span class="wysiwyg-color-orange110"><strong>HOW CAN SOMEONE ASK FOR A REFUND FROM A PREMIUM MEMBERSHIP?</strong></span></li>
</ul>
<p><span style="font-weight: 400;">If a server member would like to refund a Premium Membership purchase, they must reach out to our Support Team <strong>within 10 days</strong> of subscribing to the server. </span></p>
<p><strong>They can contact our team at the following link: <a href="http://dis.gd/billing" target="_blank" rel="noopener noreferrer">dis.gd/billing</a></strong><span style="font-weight: 400;"><strong>.</strong> </span></p>
<p><span style="font-weight: 400;">Make sure they pick <strong>Premium Membership</strong> from the <strong>Type of billing issue</strong> dropdown menu to navigate to the Refund Request form.</span></p>
<h1 id="h_01G1PRS2SKJ6AA6C2JSSBQYJ0Z"><span style="font-weight: 400;">Other Frequently Asked Questions</span></h1>
<h2 id="h_01G1PRVRQQKCKK3JBJ81QK79DZ">Roles, Permissions, &amp; Admins</h2>
<ul>
<li><span class="wysiwyg-color-orange110"><strong>IS IT POSSIBLE TO HIDE PREMIUM CHANNELS FROM REGULAR MEMBERS? FOR EXAMPLE, IF I DON'T WANT PREMIUM INACCESSIBLE CHANNELS "CLOGGING" UP THE OVERALL CHANNEL LIST VIEW FOR THOSE WHO ARE NOT PREMIUM SUBSCRIPTION MEMBERS? <br></strong></span></li>
</ul>
<p><span style="font-weight: 400;">No, you can’t hide inaccessible channels at this time. You can order your channels so that premium channels are lower than the free channels. Another option is to create a channel and just add the tier role via channel settings (can view, can chat etc.), NOT via Premium Membership settings. This is similar to how people have hidden channels on their server today.</span></p>
<ul>
<li><span class="wysiwyg-color-orange110"><strong>WHEN CREATING A PREMIUM MEMBERSHIPS GATED CHANNEL, IS THERE A WAY TO GIVE ACCESS TO CERTAIN ROLES (LIKE MODERATORS + ADMINS) THAT HAVEN'T PAID FOR THE PREMIUM CHANNELS?</strong></span></li>
</ul>
<p><span style="font-weight: 400;">Yes, you can just create a premium channel and add normal roles as you want. You can add the "admin" or “moderator” role to your premium channels through channel settings. This will allow your admin(s) and moderator(s) to access the premium channels for moderation etc, without needing to purchase a premium membership.</span></p>
<ul>
<li><span class="wysiwyg-color-orange110"><strong>WE HAVE LEGACY MEMBERS THAT WE WANT TO GRANT ACCESS TO PREMIUM MEMBERSHIPS, CAN I GIVE MY LEGACY VIPS ACCESS TO PREMIUM CHANNELS VIA PERMISSIONS, WITHOUT THEM HAVING TO PAY?<br></strong></span></li>
</ul>
<p><span style="font-weight: 400;">Yes -- you can grant access to Premium Memberships by adding each individual user into the channels via permissions on the backend.</span></p>
<ul>
<li><span class="wysiwyg-color-orange110"><strong>IF A PREMIUM MEMBER LEAVES THE SERVER (VOLUNTARILY OR KICK / BANNED) AND THEN COMES BACK, WOULD THEY AUTOMATICALLY BE GIVEN THEIR PREMIUM PERKS / ROLE BACK?<br></strong></span></li>
</ul>
<p><span style="font-weight: 400;">If a premium member leaves for any reason (voluntarily, kicked, banned), their premium membership is canceled, meaning they won't auto-renew the next month. If a membership holder leaves voluntarily, and then rejoins, they will retain the membership perks and  roles through the remainder of their paid month.</span></p>
<ul>
<li><span class="wysiwyg-color-orange110"><strong>CAN ADMINS MANAGE THE SUBSCRIPTIONS TIERS' AND SEE PAYMENT DETAILS OR IS THAT ONLY POSSIBLE BY THE SERVER OWNER?<br></strong></span></li>
</ul>
<p><span style="font-weight: 400;">Admins do have the ability to change subscription tier details but the server owner is the only person who can change and see payment information like payout account details and the payments tab.</span><span style="font-weight: 400;"> </span></p>
<ul>
<li><span class="wysiwyg-color-orange110"><strong>CAN INDIVIDUALS BE REMOVED FROM A PREMIUM CHANNEL TEMPORARILY WHILE STILL STAYING SUBSCRIBED? (i.e. DISCIPLINARY ACTION FOR BREAKING RULES ETC., WITHOUT PERFORMING A FULL KICK OR BAN.)<br></strong></span></li>
</ul>
<p><span style="font-weight: 400;">Yes, you (or your moderators) can time people out without fully removing their subscription benefits. (For instructions on time outs, see here:</span><a href="https://support.discord.com/hc/en-us/articles/4413305239191-Time-Out-FAQ" target="_blank" rel="noopener noreferrer"> https://support.discord.com/hc/en-us/articles/4413305239191-Time-Out-FAQ</a><span style="font-weight: 400;">) </span></p>
<p><span style="font-weight: 400;">You would need to give them a role with permissions that denies them the ability to chat, but this is a manual process for each channel, for a specific user, which you'd then have to manually remove later.</span></p>
<h2 id="h_01G1PRWE5SSKVN1DGH27XAHJ8Q">Mobile Support</h2>
<ul>
<li><span class="wysiwyg-color-orange110"><strong>WHEN WILL PREMIUM MEMBERSHIPS BE SUPPORTED ON THE DISCORD MOBILE APP?<br></strong></span></li>
</ul>
<p><span style="font-weight: 400;">We are actively working on Premium Membership for mobile but unfortunately do not have a date to share just yet. We’re exploring various paths with you, the creator, in mind and we’ll share updates as soon as possible! We know how important this is for you!</span></p>