<p>With this integration on our Android app, you pay for and manage Nitro, Nitro Classic and Server Boost subscriptions through the Google Play Store!</p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/360093681454/Google-Play-Twitter__1_.png" alt="Google-Play-Twitter__1_.png"></p>
<p><strong><span class="wysiwyg-font-size-large">What does this article cover?</span></strong></p>
<ul>
<li><a href="#h_01EJWPT5111CBS8ZXRKPSEMM7B" target="_self">How Do I Purchase A Subscription on Android?</a></li>
<li><a href="#h_01EJWPTBYVXCBJ3SD7EJVC2G9G" target="_self">How do I Change my Subscription?</a></li>
<li><a href="#h_01EJWPTHNQPP6NQF9VCMY2N7ZZ" target="_self">How do I Cancel my Subscription?</a></li>
<li><a href="#h_01EJWPTPC9XXZBZ31E23J2Z98A" target="_self">Frequently Asked Questions</a></li>
</ul>
<h1 id="h_01EJWPT5111CBS8ZXRKPSEMM7B">How Do I Purchase A Subscription on Android? </h1>
<p>Start by heading into your <strong>User Settings</strong> by pressing your avatar in the bottom right corner!</p>
<p>You'll then need to scroll down until you see the <strong>Nitro Settings</strong> section! From here, press on <strong>Subscribe Today</strong> to start the process! </p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/360090914554/heading_into_user_settings.png" alt="heading_into_user_settings.png" width="267" height="461"><img src="https://support.discord.com/hc/article_attachments/360090914274/Screenshot_20200922-170703.png" alt="Screenshot_20200922-170703.png" width="238" height="461"></p>
<p class="wysiwyg-text-align-left">You'll then see the option to purchase Nitro or Nitro Classic (if you scroll down the window a bit further)!</p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/360093040473/Screenshot_20200922-170712.png" alt="Screenshot_20200922-170712.png" width="248" height="478"><img style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;" src="https://support.discord.com/hc/article_attachments/360093040493/Screenshot_20200922-170718.png" alt="Screenshot_20200922-170718.png" width="246" height="477"></p>
<p class="wysiwyg-text-align-left">You'll then be asked to confirm what type of <strong>Plan</strong> you'd like to subscribe to!</p>
<ul>
<li class="wysiwyg-text-align-left">In this next menu, you can select a single subscription plan, or you can also choose to subscribe to both Nitro and Server Boosting at the same time!</li>
<li class="wysiwyg-text-align-left">If you change your mind on what you'd like to subscribe to, you can also change your subscription choice here! </li>
</ul>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/360093040513/Screenshot_20200922-170744.png" alt="Screenshot_20200922-170744.png" width="254" height="493"><img style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;" src="https://support.discord.com/hc/article_attachments/360090914294/Screenshot_20200922-170734.png" alt="Screenshot_20200922-170734.png" width="254" height="491"></p>
<p class="wysiwyg-text-align-left">You'll then see a <strong>Google Play menu</strong> pop up explaining your subscription purchase pricing and asking what payment method you want to use!</p>
<p class="wysiwyg-text-align-left">And once you've confirmed your subscription with the <strong>Subscribe</strong> button (and scanning your fingerprint or inputting your password (if applicable) to verify your purchase), you'll then see a confirmation that your Nitro has been activated! </p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/360090914314/Screenshot_20200922-170755.png" alt="Screenshot_20200922-170755.png" width="199" height="386"><img style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;" src="https://support.discord.com/hc/article_attachments/360090914334/Screenshot_20200922-170812.png" alt="Screenshot_20200922-170812.png" width="198" height="385"><img style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;" src="https://support.discord.com/hc/article_attachments/360090914354/Screenshot_20200922-170819.png" alt="Screenshot_20200922-170819.png" width="199" height="387"></p>
<h1 id="h_01EJWPTBYVXCBJ3SD7EJVC2G9G" class="wysiwyg-text-align-left">How do I Change my Subscription? </h1>
<p>If you ever change your mind on the type of subscription you have, you can always switch your subscription as well!</p>
<p>To start, head into your User Settings, scroll down until you see the <strong>Nitro Settings</strong> section once more, and then select the <strong>Manage Subscriptions </strong>tab!</p>
<p>In this tab, press the <strong>Switch Plans</strong> button (right beside the Manage Boosts button), and you'll be given the option to choose from all the other subscription types!</p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/360093047553/Screenshot_20200922-220023.png" alt="Screenshot_20200922-220023.png" width="206" height="402"><img style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;" src="https://support.discord.com/hc/article_attachments/360090921354/Screenshot_20200922-220043.png" alt="Screenshot_20200922-220043.png" width="206" height="402"><img style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;" src="https://support.discord.com/hc/article_attachments/360090921334/Screenshot_20200922-220030.png" alt="Screenshot_20200922-220030.png" width="208" height="402"></p>
<p>Once you have made a decision on what kind of subscription you'd like, you will see the <strong>Google Play menu</strong> pop up explaining your subscription change, and reviewing the new subscription pricing! </p>
<p>When you're ready to make the purchase, press <strong>Subscribe</strong>, and you'll see a confirmation that your subscription was activated! </p>
<p class="wysiwyg-text-align-center"><img style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;" src="https://support.discord.com/hc/article_attachments/360093047573/Screenshot_20200922-220051.png" alt="Screenshot_20200922-220051.png" width="208" height="403"><img src="https://support.discord.com/hc/article_attachments/360090921374/Screenshot_20200922-220101.png" alt="Screenshot_20200922-220101.png" width="208" height="404"><img style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;" src="https://support.discord.com/hc/article_attachments/360090921394/Screenshot_20200922-220116.png" alt="Screenshot_20200922-220116.png" width="207" height="400"></p>
<p>When you head back into your <strong>Manage Subscription</strong> tab, you'll then see a notification that your plan change is pending! And soon, your tab will update to show your new subscription! </p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/360093047593/Screenshot_20200922-220128.png" alt="Screenshot_20200922-220128.png" width="281" height="545"></p>
<h1 id="h_01EJWPTHNQPP6NQF9VCMY2N7ZZ" class="wysiwyg-text-align-left">How do I Cancel my Subscription? </h1>
<p class="wysiwyg-text-align-left">Head into your User Settings and scroll down once more to your Nitro Settings section to head into your <strong>Manage Subscriptions</strong> tab! Then press on the <strong>Cancel</strong> button (right beside Manage Boosts button).</p>
<p class="wysiwyg-text-align-left">You'll then be redirected to the <strong>Google Play Store</strong> app, where you'll need to confirm your decision by pressing <strong>Cancel Subscription</strong>. </p>
<p class="wysiwyg-text-align-left">Once the cancellation is confirmed, and you go back to your Discord mobile app, you'll see the canceled subscription in your <strong>Manage Subscription</strong> tab!</p>
<p class="wysiwyg-text-align-center"><img style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;" src="https://support.discord.com/hc/article_attachments/360090919854/Screenshot_20200922-170819_copy.png" alt="Screenshot_20200922-170819_copy.png" width="210" height="404"><img style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;" src="https://support.discord.com/hc/article_attachments/360090914414/Screenshot_20200922-170844.png" alt="Screenshot_20200922-170844.png" width="207" height="405"><img style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;" src="https://support.discord.com/hc/article_attachments/360090914434/Screenshot_20200922-170858.png" alt="Screenshot_20200922-170858.png" width="209" height="405"></p>
<h1 id="h_01EJWPTPC9XXZBZ31E23J2Z98A">Frequently Asked Questions</h1>
<p><span class="wysiwyg-font-size-large"><strong>Q: What does creating a subscription through Google Play get me?</strong></span><br>A: Creating a subscription through Google Play will allow you to use Google Pay as a payment option for your subscription or would like to manage your subscription in the Google Play store along other subscriptions. <br><br><span class="wysiwyg-font-size-large"><strong>Q: I don't see the type of plan that I want to purchase does that mean I can't purchase that?</strong></span><br>A: At launch, we've had to limit the number of plans available for purchase on Android. If you don't see the plan type that you want to purchase you can still go on the desktop or browser app and purchase that plan through that platform. You will still be able to use the benefits on your Android device if you purchase through desktop.<br><br><span class="wysiwyg-font-size-large"><strong>Q: I already bought a subscription that I use on Android. Does this change anything about that?</strong></span><br>A: If you're happy with your current subscription, you don't need to change anything! However, moving forward any changes you want to make to that subscription will need to be done through the desktop/browser app. <br><br><span class="wysiwyg-font-size-large"><strong>Q: I currently have a subscription on desktop, but want to move it to manage it through the Google Play store. How do I do that?</strong></span><br>A: You can cancel your subscription on desktop and then re-subscribe through the Android app. However, make sure that you wait until the end of your current billing period to sign back up on Android. </p>
<p>Please note if you cancel your subscription on Android you will either have to sign up for Google Play or sign back up on desktop, but manage your subscription through desktop only. If you cancel your desktop subscription and re-sign up on desktop later you will also lose your streak. The only way to maintain your streak is to continue with your desktop subscription or sign up to Google Play within 7 days of the original desktop subscription ending. <br><br><span class="wysiwyg-font-size-large"><strong>Q: Will I lose my streak if I switch my subscription over to Google Play?</strong></span><br>A: If you re-subscribe within 7 days after your desktop subscription ends to a subscription within Google Play your Nitro streak will transfer over and not be lost.<br><br><span class="wysiwyg-font-size-large"><strong>Q: Why can't I do certain gifting actions through Google Play?</strong></span><br>A: Currently, you can purchase and send gifts through Google Play. If you have a desktop subscription you will be able to redeem, apply, and send gifts through your Android app.</p>
<h3>Note: <br>- Currently, gifts purchased through Google Play cannot contribute towards subscriptions managed by the Google Play Store. <br>- Redeemed gifts can still contribute towards subscriptions purchased on our desktop or browser apps.</h3>
<p>If you're on the Android app, and you already have a Google Play subscription and you redeem a gift purchased through the Google Play store, your redeemed Nitro gift will not contribute towards that subscription and it will become Account Credit that can be used for a subscription on our desktop or browser app!</p>
<p>If you're on the Android app, and you have no active subscription when you redeem a gift purchased through the Google Play store, you will begin a subscription that can be managed on the desktop or browser app! </p>
<p><span class="wysiwyg-font-size-large"><strong>Q: Why can't I create a subscription through Google Play when I already created one on my Android device?</strong></span><br>A: You can only have one active platform subscription at a time. If you previously created a subscription on your Android device you currently have a desktop subscription that will need to be managed through your desktop or browser app.<br><br><span class="wysiwyg-font-size-large"><strong>Q: If I currently have a subscription through iOS can I manage that subscription on my Android phone?</strong></span><br>A: If you currently have a subscription through iOS you will not be able to purchase, cancel, or otherwise manage your subscription on an Android device. <br><br><span class="wysiwyg-font-size-large"><strong>Q: What happens when I upgrade or downgrade a subscription in Google Play?</strong></span><br>A: Similar to a desktop subscription your upgrade will be immediate and the price will be pro-rated. Downgrades will occur at the next billing cycle.<br><br><span class="wysiwyg-font-size-large"><strong>Q: I tried to upgrade my subscription and add onto my current subscription, but it got swapped to another subscription instead! Why did my subscription get swapped instead of upgraded? </strong></span><br>A: Please note that subscription plans on Google Play cannot be added to each other and you will only be able to switch between plans.</p>
<p>If you wish to upgrade your subscription, you will need to switch to the plan that includes all of the subscriptions you wish to purchase.</p>
<p>For example:</p>
<p>If you currently have a Nitro Classic subscription, and you would like to update your subscription to include 2 Server Boost subscriptions as well, you will then need to manually select the "Nitro Classic + 2 Server Boost" subscription plan.</p>
<p>If you currently have a Nitro Classic subscription, and you select to purchase the "2 Server Boost" subscription plan, your Nitro Classic subscription will be removed, and you will only have an active subscription for 2 Server Boosts.</p>
<p> </p>