<h4><span style="font-weight: 400;">Before you bust open your piggy bank to make the most unregrettable purchases ever, you might want to know what our billing system looks like, understand the payment methods we accept, and what they will look like on your end!</span></h4>
<h1>What does this article cover? </h1>
<ul>
<li><a href="#h_a62e2f17-4d88-4132-a728-a18dd44029e6" target="_self">Where do I manage all of my current Subscriptions? </a></li>
<li>
<a href="#h_01EH3K6AJPGGZ42TVXWCDJGV6T" target="_self">How does Billing for Subscriptions Work?</a>
<ul>
<li><a href="#h_3c15d6ce-b6d4-4c7f-8a7d-7c8da8b130ce" target="_self">I am buying my First Subscription! </a></li>
<li><a href="#h_4f75f63a-37a4-42c5-b023-53508d824e9e" target="_self">I have a subscription and now I'm buying a subscription with the same billing cycle! </a></li>
<li><a href="#h_e8f225fc-d69e-4f97-9c5b-88c23f47b130" target="_self">I have a subscription and now I'm buying a subscription with a different billing cycle!</a></li>
<li><a href="#h_931fbe1a-3838-4ccd-b086-d746171e0c95" target="_self">Why am I seeing these Adjustments/Prorations?</a></li>
</ul>
</li>
<li>
<a href="#h_01ECNPBAG3GATK74QZ9F60REJM" target="_self">What Payment Methods Work?</a>
<ul>
<li><a href="#h_01ECNPBMS820PN860G2VWB1919" target="_self">Switching Payment Methods</a></li>
<li><a href="#h_01ECNPBW22N0F5Q7E3FKPF4T6Q" target="_self">Failed Payments</a></li>
</ul>
</li>
<li><a href="#h_01ECNPC4E7VNXWAD1NRJBFH8VT" target="_self">What Discord Purchases will look like on your statement?</a></li>
</ul>
<h1 id="h_a62e2f17-4d88-4132-a728-a18dd44029e6"><span style="font-weight: 400;">Where do I manage all of my Current Subscriptions? </span></h1>
<p>To check on your current subscriptions, head into your <strong>User Settings </strong>(by clicking on the cog icon by your avatar on the bottom left corner of the browser and desktop client)!</p>
<p>Once you're in the <strong>User Settings</strong>, then click on the <span class="wysiwyg-color-blue80"><strong>Subscription</strong></span> tab to see all the nitty gritty details on your current subscriptions!</p>
<p>In this <span class="wysiwyg-color-blue80"><strong>Subscription</strong></span> tab, you'll be able to see: </p>
<ol>
<li>Your current Nitro/Nitro Classic subscription</li>
<li>Your current Server Boost subscriptions</li>
<li>Your billing information (including the renewal date and amount to be charged)</li>
<li>Your payment method for your subscriptions</li>
<li>Any Account/Subscription Credit that you have been gifted</li>
</ol>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/6801288503447/temp-payment-billing-page.png" alt="temp-payment-billing-page.png"></p>
<h1 id="h_01EH3K6AJPGGZ42TVXWCDJGV6T"><span style="font-weight: 400;">How does Billing for Subscriptions Work?</span></h1>
<p><span style="font-weight: 400;">At Discord, we have subscriptions for both Nitro and Server Boosting! With these two different subscriptions, it can be confusing to juggle multiple subscriptions at one time, and we want to make the billing process simpler for you.</span></p>
<p><strong>When you have multiple subscriptions,</strong> <strong>Discord will automatically unify all charges for all subscriptions (including Nitro and Server Boosting) into one charge/payment on one date</strong><span style="font-weight: 400;">. </span></p>
<p><strong>That means that instead of paying for two different subscriptions on two different dates, you pay for both subscriptions on only one day!</strong></p>
<p><span style="font-weight: 400;">... So what does unifying all charges look like in different scenarios? </span></p>
<h2 id="h_3c15d6ce-b6d4-4c7f-8a7d-7c8da8b130ce">I am buying my First Subscription! </h2>
<p><span style="font-weight: 400;">When you're buying your first subscription, you'll see the full breakdown of your invoice before fully confirming your purchase! In this view, you'll also be able to see when your subscription will be renewed as well!</span></p>
<h3><strong>Note: <br>Whatever day you purchased your subscription on, you will be automatically charged one month/year later (depending on your billing cycle)! </strong></h3>
<p><strong><span class="wysiwyg-color-blue70">In this example:</span> <br></strong></p>
<ul>
<li>
<span style="font-weight: 400;">I bought my first 2 </span><strong>Server Boosts Monthly</strong><span style="font-weight: 400;"> subscriptions on </span><strong>July 19, 2019</strong><span style="font-weight: 400;">! </span>
</li>
<li>
<span style="font-weight: 400;">Therefore, I will get automatically charged one month later on </span><strong>August 19, 2019</strong><span style="font-weight: 400;">! </span>
</li>
</ul>
<p><img src="https://support.discord.com/hc/article_attachments/360041898492/Dark.png" alt="Dark.png"></p>
<h2 id="h_4f75f63a-37a4-42c5-b023-53508d824e9e">I have a subscription and now I'm buying a subscription with the same billing cycle! </h2>
<p><span style="font-weight: 400;">Because the billing system will automatically unify the charges so that the renewal date is the same, </span><strong>Discord will prorate the charge based off the original subscription date and adjust the price to reflect that time difference</strong><span style="font-weight: 400;">! </span></p>
<p><span style="font-weight: 400;">Instead of paying for two different subscriptions on two different billing dates, you pay for both subscriptions on only one day!</span></p>
<p><span class="wysiwyg-color-blue70" style="font-weight: 400;"><strong>For this example below:</strong> </span><span style="font-weight: 400;"><br></span></p>
<ul>
<li>
<span style="font-weight: 400;">Let's say I purchased</span><strong> 5 x Server Boosts</strong> <strong>Monthly</strong><span style="font-weight: 400;"> on </span><strong>August 19, 2019</strong><span style="font-weight: 400;">! That means my plan will renew one month later on </span><strong>September 19, 2019</strong><span style="font-weight: 400;">! </span>
</li>
<li>
<span style="font-weight: 400;">On the next day (</span><strong>August 20, 2019</strong><span style="font-weight: 400;">), I then decide I want to also purchase </span><strong>Nitro Monthly</strong><span style="font-weight: 400;">!</span>
</li>
<li>
<span style="font-weight: 400;">Although you would normally pay </span><strong>$9.99</strong><span style="font-weight: 400;"> for Nitro monthly, there is a </span><strong>Nitro Adjustment</strong><span style="font-weight: 400;"> of </span><strong>$0.34</strong><span style="font-weight: 400;"> to account for the </span><em><span style="font-weight: 400;">proration of that one day difference</span></em><span style="font-weight: 400;">! </span>
</li>
<li>
<span style="font-weight: 400;">So for today's purchase of the </span><strong>Nitro Monthly Subscription</strong><span style="font-weight: 400;">, you would pay </span><strong>$9.65</strong><span style="font-weight: 400;"> per month due to the proration!</span>
</li>
<li>
<span style="font-weight: 400;">If you plan on continuing your subscription, you'll pay a total of </span><strong>$27.45</strong><span style="font-weight: 400;"> (5 x Server Boosts </span><strong>$17.46</strong><span style="font-weight: 400;"> + Nitro Monthly </span><strong>$9.99</strong><span style="font-weight: 400;">) on </span><strong>September 19, 2019</strong><span style="font-weight: 400;">! </span>
</li>
</ul>
<h3>
<strong>Note:</strong><strong><br></strong><span style="font-weight: 400;">Because p</span>urchases on iOS are managed via the Apple App Store: <br>- If you currently have a Nitro/Nitro Classic or Server Boost subscription <strong>via Apple</strong>, you will have to contact the Apple support team for a refund of your subscription purchase. <br>- You can also cancel your subscriptions bought via the Apple App Store on your Apple device.<br>- For more information, check out this link here: <a class="anchor-3Z-8Bb anchorUnderlineOnHover-2ESHQB" tabindex="0" title="https://support.apple.com/HT202039" href="https://support.apple.com/HT202039" target="_blank" rel="noreferrer noopener">https://support.apple.com/HT202039</a>
</h3>
<p><img src="https://support.discord.com/hc/article_attachments/360041898632/Boost_Monthly_-__Base_Plan_2.png" alt="Boost_Monthly_-__Base_Plan_2.png"></p>
<h2 id="h_e8f225fc-d69e-4f97-9c5b-88c23f47b130">I have a subscription, and now I'm buying a subscription with a different billing cycle!</h2>
<p><span style="font-weight: 400;">Now things are getting a bit complicated! In this case, when you are purchasing another subscription of a different billing cycle, you may be shocked to see a suddenly larger number in the subscription total than you expected. 😱😱😱😱😱 </span></p>
<p><span style="font-weight: 400;">The reason why the subscription total will seem larger than expected is because </span><strong>Discord unifies all payment charges into one total charge and will automatically change the previous subscription’s billing cycle to the new subscription’s billing cycle</strong><span style="font-weight: 400;">! </span></p>
<p><span class="wysiwyg-color-blue70"><strong>In this new example: </strong></span><span style="font-weight: 400;"><br></span></p>
<ul>
<li>
<span style="font-weight: 400;">Let's say that I have purchased</span><strong> 5 x Server Boosts</strong> <strong>Monthly</strong><span style="font-weight: 400;"> on </span><strong>August 19, 2019</strong><span style="font-weight: 400;">! However, I decide I want to also buy </span><strong>Nitro Yearly</strong><span style="font-weight: 400;">!</span>
</li>
<li>
<span style="font-weight: 400;">So instead of paying for </span><strong>5 x Server Boosts Monthly </strong><span style="font-weight: 400;">subscription each month and then a </span><strong>Nitro Yearly</strong><span style="font-weight: 400;"> subscription each year, I now have a </span><strong>5 x Server Boosts Yearly </strong><span style="font-weight: 400;">and a </span><strong>Nitro Yearly</strong><span style="font-weight: 400;"> charge for the entire year on </span><strong>October 22, 2020</strong><span style="font-weight: 400;">.</span>
</li>
</ul>
<p><span style="font-weight: 400;">The previously bought </span><strong>Server Boosts Monthly</strong><span style="font-weight: 400;"> would change into a </span><strong>Yearly</strong><span style="font-weight: 400;"> subscription in order to simplify all subscription charges to one payment date! </span></p>
<p><span style="font-weight: 400;"><img src="https://support.discord.com/hc/article_attachments/360041911991/image12.png" alt="image12.png"></span></p>
<h2 id="h_931fbe1a-3838-4ccd-b086-d746171e0c95">Why am I seeing these Adjustments?</h2>
<p>Occasionally, when you're making another additional purchase to your current base subscription, you may see <span class="wysiwyg-color-orange110"><strong>Adjustments</strong></span> within the payment review!</p>
<p><span class="wysiwyg-color-orange110"><strong>Adjustments</strong></span> can include:</p>
<ul>
<li>If you're <strong>changing your billing plan</strong> from monthly to yearly</li>
<li>If your payment is being <strong>prorated</strong> (depending on the date you buy your newest subscription)</li>
<li>If you are getting a <strong>discount</strong> for being a Nitro/Nitro Classic subscriber </li>
</ul>
<p><strong>Server Boost Adjustment: </strong></p>
<p><img src="https://support.discord.com/hc/article_attachments/360041906131/image9.png" alt="image9.png"></p>
<p><br><strong>Nitro Adjustment: </strong></p>
<p><strong><img src="https://support.discord.com/hc/article_attachments/360041906031/image18.png" alt="image18.png"></strong></p>
<h1 id="h_01ECNPBAG3GATK74QZ9F60REJM"><span style="font-weight: 400;">What Payment Methods Work</span></h1>
<p class="wysiwyg-text-align-left"><span style="font-weight: 400;">Hold on to your piggy bank for now, to make a purchase or subscribe to Discord Nitro/Server Boosting you’re going to need a <strong>valid Credit/Debit card or PayPal account</strong> linked to your account! </span></p>
<p class="wysiwyg-text-align-left"><span style="font-weight: 400;">To add a payment method to your account you just need to head into your <strong>User Settings &gt; Billing Tab &gt; Add Payment Method</strong>!</span></p>
<p class="wysiwyg-text-align-center"><span style="font-weight: 400;"><br></span><img src="https://support.discord.com/hc/article_attachments/360013208371/billingarticle.png" alt="billingarticle.png" width="671" height="515"></p>
<p><span style="font-weight: 400;">Once you get here, you can add your payment method of choice for purchases!</span></p>
<p class="wysiwyg-text-align-center"><span style="font-weight: 400;"><img src="https://support.discord.com/hc/article_attachments/360013208511/paymentmethod.png" alt="paymentmethod.png"></span></p>
<h3 class="wysiwyg-text-align-left"><span style="font-weight: 400;"><strong>Note: </strong>Paying from PayPal balance directly is <strong>only</strong> supported if a valid Credit/Debit or bank account is also linked to your PayPal account!</span></h3>
<h3>
<strong>Note:</strong> We are unable to provide any refunds for purchases made with Paysafecards.</h3>
<h2 id="h_01ECNPBMS820PN860G2VWB1919"><span style="font-weight: 400;">Switching Payment Methods</span></h2>
<ul>
<li><span style="font-weight: 400;"><span class="wysiwyg-color-blue70"><strong>For Subscription Purchases (Nitro/Nitro Classic and Server Boosting)</strong></span><br></span></li>
</ul>
<p><span style="font-weight: 400;">If you have some issues with your payment method and would like to change your default payment method for subscription purchases, you will need to navigate to your <strong>User Settings &gt; Subscription tab</strong> to add or edit your desired payment and select <strong>Make this my default payment method</strong>. This will lead to any purchases to be charged directly to this new payment method.</span></p>
<p><a name="nitrotab"></a></p>
<p class="wysiwyg-text-align-center"><span style="font-weight: 400;"><img src="https://support.discord.com/hc/article_attachments/360013199992/defaultpayment.png" alt="defaultpayment.png" width="535" height="496"></span></p>
<p> </p>
<h2 id="h_01ECNPBW22N0F5Q7E3FKPF4T6Q">
<span style="font-weight: 400;">Failed Payments</span><span style="font-weight: 400;"><br></span>
</h2>
<p><span style="font-weight: 400;">You were so close, you input your information and clicked buy but were stopped by some unforeseen power. If this is the case for you be sure to send our team a message at <a href="https://support.discordapp.com/hc/en-us/requests/new?ticket_form_id=360000118612"><strong>dis.gd/billing</strong></a> so we can look into this for you!</span></p>
<h1 id="h_01ECNPC4E7VNXWAD1NRJBFH8VT" class="wysiwyg-text-align-left"><span style="font-weight: 400;">What Discord Purchases will look like on your statement<br></span></h1>
<p><span style="font-weight: 400;">The deed has been done and you completed your purchase, now if you were at all curious how it’ll look like on your bank statements end, it should look like the below!<br><br>Here is what you will see if you made a purchase with a Credit/Debit card directly:</span></p>
<p class="wysiwyg-text-align-center"><span style="font-weight: 400;"><img src="https://support.discord.com/hc/article_attachments/360013200112/bankstatement.png" alt="bankstatement.png" width="568" height="102"></span></p>
<p class="wysiwyg-text-align-left"><span style="font-weight: 400;">Here is what you will see if you made a purchase via PayPal:</span></p>
<p class="wysiwyg-text-align-center"><span style="font-weight: 400;"><img src="https://support.discord.com/hc/article_attachments/360013200152/Screen_Shot_2018-10-03_at_12.05.47_PM.png" alt="Screen_Shot_2018-10-03_at_12.05.47_PM.png"><br></span></p>
<p> </p>
<h3>
<span style="font-weight: 400;"><strong>Note:</strong> All purchases made within Discord will be labeled DISCORD*ItemName within credit/debit card statements depending on how your bank renders this and PAYPAL* DISCORD if completed through PayPal. If you would like a refund for any purchases, check out our refund policy <a href="https://support.discord.com/hc/en-us/articles/360012668071-Refund-Policy" target="_self">here</a></span><span style="font-weight: 400;">.</span>
</h3>
<p class="wysiwyg-text-align-left"> </p>
<p class="wysiwyg-text-align-left"> </p>