<h3>Note: This is currently part of a closed experiment! Only a select group of communities are participating with this feature.</h3>
<p>We're excited to announce Premium Memberships for communities on Discord! If you're here, you are most likely part of the very few servers that are trying out Premium Membership. Read on learn about what you need to know as a user.</p>
<p><span class="wysiwyg-font-size-large"><strong>What this article covers:</strong></span></p>
<ul>
<li><a href="#h_01FPAYH0B9TKFZ1ET2VJ0JCY9N" target="_self">What is a Premium Membership?</a></li>
<li><a href="#h_01FPAYHCZCSB99YWEYDW0CBKRQ" target="_self">How can I subscribe to a Premium Membership in a server?</a></li>
<li><a href="#h_01FPAYHX5FDCAV0D99VA4MZJQ9" target="_self">How do I manage or cancel my Premium Membership with a server?</a></li>
<li><a href="#h_01FPAYJ8NDAQXGBZA9QGHQJFAZ" target="_self">Can I ask for a refund for my Premium Membership?</a></li>
<li><a href="#h_01FPAYJQG9RNVPYCQK5H3ZQDMN" target="_self">Why can’t my server enable Premium Memberships?</a></li>
</ul>
<h1 id="h_01FPAYH0B9TKFZ1ET2VJ0JCY9N">What is a Premium Membership?</h1>
<p>Premium Memberships are a monthly subscription to a server that help support the communities and creators that run them. At the discretion of the creator/admin of the server, membership can be divided up into tiers and each tier may have unique pricing and perks.</p>
<p>Creators/server admins provide the premium membership. They are responsible for creating the tiers and their descriptions, and they also provide the subscriptions themselves and any associated content or other perks. Please read the tier descriptions carefully to make sure you understand what exactly you are buying.</p>
<p>Because these are a recurring subscription, we’ll charge you monthly until you cancel the subscription (which you can do any time from the Premium section in User Settings).</p>
<p>If you are unhappy with your premium membership, try contacting the creator/server admin directly. If that doesn’t resolve your issue, you can request a refund as described below. If you experience technical issues that prevent you from accessing your premium membership, reach out to us at <a href="http://dis.gd/billing">dis.gd/billing</a></p>
<h3>Note: For now, you can only subscribe to a server's Premium Membership through the desktop or browser client. You cannot subscribe to Premium Membership through the mobile client.</h3>
<h1 id="h_01FPAYHCZCSB99YWEYDW0CBKRQ">How can I subscribe to a Premium Membership in a server?</h1>
<p>1. In the server you would like to have Premium Membership, you can press on "<strong>Premium Membership</strong>" at the to of the server's channel list. For now, you must do this in your desktop or browser client.</p>
<p>2. An in-app landing page will appear and you can see the different Premium Membership subscription tiers, their prices, and the perks included in each tier. Read the descriptions to make sure you know what you’re buying!</p>
<p>3. Choose a tier then follow the instructions to pick a payment method and complete purchase.</p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/4415260530711/Premium-Membership-subscription-tiers-in-server-flow.gif" alt="Premium-Membership-subscription-tiers-in-server-flow.gif" width="671" height="387"></p>
<p>4. And that's it! A welcome message will be presented, detailing the perks you have with the Premium Membership tier you purchased.</p>
<h1 id="h_01FPAYHX5FDCAV0D99VA4MZJQ9">How do I manage or cancel my Premium Membership with a server?</h1>
<p>1. Press on the cog wheel next to your username at the bottom right corner of the client to open up <strong>User Settings</strong>.</p>
<p>2. Select on <strong>Subscriptions</strong> in the left sidepanel.</p>
<p>3. On this page, you should see your subscriptions, including memberships. Press on the <strong>Manage Membership</strong> button.</p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/4415259938839/Premium-Membership-in-Subscription-tab.png" alt="Premium-Membership-in-Subscription-tab.png" width="654" height="430"></p>
<p>4. The Premium Membership page will show your memberships across all servers as well as each memberships' costs and billing/renewal dates. Press on <strong>Cancel Subscription </strong>next to the membership you want to cancel and confirm your decision!</p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/4415252521239/Premium-Membership-page-to-manage-cancel-memberships.png" alt="Premium-Membership-page-to-manage-cancel-memberships.png" width="656" height="427"></p>
<h1 id="h_01FPAYJ8NDAQXGBZA9QGHQJFAZ">Can I ask for a refund for my Premium Membership?</h1>
<p>If you would like to refund a Premium Membership purchase, you must reach out to our Support Team within <strong>10 days</strong> of subscribing to the server. You can contact our team at the following link: <a href="http://dis.gd/billing">dis.gd/billing</a></p>
<h1 id="h_01FPAYJQG9RNVPYCQK5H3ZQDMN">Why can’t my server enable Premium Memberships?</h1>
<p>Currently this is a closed experiment with a small group of communities. We will have more information if we roll this feature out to more communities!</p>