<p class="wysiwyg-text-align-left"><span style="font-weight: 400;">Want to share some extra special  </span><span style="font-weight: 400;">💖💖💖 perks</span><span style="font-weight: 400;"> with your favorite community? With <strong>Server Boosts</strong>, you and your community will now be able to work together to unlock some fresh new and improved collective perks for a server of your choice each month and share those epic perks to the rest of your server community! </span></p>
<p class="wysiwyg-text-align-left"> </p>
<p class="wysiwyg-text-align-center"><img src="https://cdn.discordapp.com/attachments/550839404025872405/580496920653463562/Server_Nitro_Status_-_Color.png" width="953" height="431"></p>
<h4 class="wysiwyg-text-align-left"><span style="font-weight: 400;">Start your engines and get ready to ✨B  O  O  S  T✨! </span></h4>
<h1 class="wysiwyg-text-align-left"><span style="font-weight: 400;">What does this article cover? </span></h1>
<ul class="wysiwyg-text-align-left">
<li>
<a href="#h_419c3bd5-addd-4989-b7cf-c7957ef92583" target="_self"><span style="font-weight: 400;">What are the levels and perks for Server Boosting? </span></a>
<ul>
<li><a href="#h_00d5eff1-72e1-471d-9223-0bcc42a1d931" target="_self"><span style="font-weight: 400;">Badge Perks</span></a></li>
<li><a href="#h_87712e86-507d-4b63-80a0-fd2c2a21f6c4" target="_self"><span style="font-weight: 400;">Nitro Subscription Perks </span></a></li>
</ul>
</li>
<li>
<a href="#h_9dfb44db-c394-4339-863b-e6d1e3fb0469" target="_self"><span style="font-weight: 400;">How do I Boost a Server?</span></a>
<ul>
<li><a href="#h_a2155a9f-ec82-4d8b-bf22-9df9ec8b3452" target="_self">Server Owner/Admin View of Server Boosts</a></li>
</ul>
</li>
<li><a href="#h_1dd7697d-23e5-4e30-a5f1-0924255d598f" target="_self"><span style="font-weight: 400;">How do I Transfer my Server Boost?</span></a></li>
<li>
<a href="#h_af9ea5f7-cc39-455d-9fb9-c035e4324b36" target="_self">How do I Cancel my Server Boost?</a>
<ul>
<li>
<a href="#h_a45da1ef-e159-48dd-bd91-68e38c51d117" target="_self">How do I Uncancel this?</a> </li>
</ul>
</li>
<li><a href="#h_6f516aba-9185-4ef1-9de4-fd3f683142c4" target="_self">What Happens if I Cancel my Server Boost? </a></li>
</ul>
<h1 id="h_419c3bd5-addd-4989-b7cf-c7957ef92583" class="wysiwyg-text-align-left"><span style="font-weight: 400;">What can be Unlocked in Each Level? </span></h1>
<p class="wysiwyg-text-align-left"><span style="font-weight: 400;">The more people that use their <strong>Server Boosts</strong> to bless your server, the more epic perks that can be unlocked! </span></p>
<p class="wysiwyg-text-align-left"><strong>Remember, teamwork makes the dream work! 💗💗💗💗💗</strong></p>
<p class="wysiwyg-text-align-left"><em><strong>✨Level 1✨ - 2 Server Boosts</strong></em></p>
<p class="wysiwyg-text-align-left"><em><strong>✨Level 2✨ - 7 Server Boosts</strong></em></p>
<p class="wysiwyg-text-align-left"><em><strong>✨Level 3✨ - 14 Server Boosts</strong></em></p>
<p class="wysiwyg-text-align-left"><img src="https://support.discord.com/hc/article_attachments/360029035292/mceclip5.png"></p>
<ul class="wysiwyg-text-align-left">
<li><span style="font-weight: 400;">+50 Emoji Slots (for a total of 100 emojis)</span></li>
<li><span style="font-weight: 400;">128 Kbps Audio Quality</span></li>
<li><span style="font-weight: 400;">Go Live streams boosted to 720P 60FPS</span></li>
<li><span style="font-weight: 400;">Custom Server Invite Background</span></li>
<li><span style="font-weight: 400;">Animated Server Icon</span></li>
<li><span style="font-weight: 400;">15 custom sticker slots</span></li>
<li>3 day archive option from last activity for threads</li>
</ul>
<p class="wysiwyg-text-align-left"><img src="https://support.discord.com/hc/article_attachments/360029035032/mceclip3.png" width="503" height="62"></p>
<ul class="wysiwyg-text-align-left">
<li><strong><em>Everything in Level 1 and…..</em></strong></li>
<li><span style="font-weight: 400;">+50 Emoji Slots (for a total of 150 emojis)</span></li>
<li><span style="font-weight: 400;">256 Kbps Audio Quality</span></li>
<li><span style="font-weight: 400;">Go Live streams boosted to 1080P 60FPS</span></li>
<li><span style="font-weight: 400;">Server Banner</span></li>
<li>50MB Upload Limit for all members (server only)</li>
<li>+15 custom sticker slots (for a total of 30)</li>
<li>1 week archive option from last activity for threads</li>
<li>Ability to create private threads</li>
<li>Custom Role Icons</li>
</ul>
<p class="wysiwyg-text-align-left"><img src="https://support.discord.com/hc/article_attachments/360029034411/mceclip4.png"></p>
<ul class="wysiwyg-text-align-left">
<li><strong><em>Everything in Level 1 AND Level 2 AND…..</em></strong></li>
<li><span style="font-weight: 400;">+100 Emoji Slots (for a total of 250 emojis)</span></li>
<li><span style="font-weight: 400;">384Kbps Audio Quality</span></li>
<li><span style="font-weight: 400;">100MB Upload Limit for all members (server only)</span></li>
<li><span style="font-weight: 400;">Custom Invite Link<br></span></li>
<li>+30 custom sticker slots (for a total of 60)</li>
</ul>
<h3 class="wysiwyg-text-align-left"><span style="font-weight: 400;"><strong>Note: </strong><br>- Make sure to read this article for more information on <strong>Custom Invite Links</strong> <a href="https://support.discord.com/hc/articles/115001542132-Server-Vanity-URLs" target="_blank" rel="noopener noreferrer">here</a>!</span></h3>
<h2 id="h_00d5eff1-72e1-471d-9223-0bcc42a1d931" class="wysiwyg-text-align-left"><span style="font-weight: 400;">Boosting Badge Perks</span></h2>
<ul class="wysiwyg-text-align-left">
<li>
<span style="font-weight: 400;"><strong>BONUS: </strong></span><span style="font-weight: 400;"><strong>NEW EVOLVING BADGE!</strong></span>
</li>
</ul>
<p class="wysiwyg-text-align-left"><span style="font-weight: 400;">When you boost a server, you’ll also see this new <strong>✨shiny✨ badge</strong> in your <strong>User Profile</strong> to display your love for that boosted server! </span></p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/360041831112/mallory-badge.png" alt="mallory-badge.png"></p>
<p class="wysiwyg-text-align-left"><span style="font-weight: 400;">This badge will evolve after it reaches a certain milestone of time </span><span style="font-weight: 400;">as you continue your streak for your Server Boost! </span></p>
<p class="wysiwyg-text-align-left"><span style="font-weight: 400;">As long as you keep boosting your favorite server, that badge will continue to evolve while you reach extra ✨✨✨ levels! </span></p>
<p class="wysiwyg-text-align-center"><span style="font-weight: 400;"><img src="https://cdn.discordapp.com/attachments/448243386684538901/638866725013684225/multiboosting.png"></span></p>
<div class="wysiwyg-text-align-left" aria-disabled="false">
<div class="contentCozy-3XX413 content-3dzVd8">
<div class="containerCozy-336-Cz container-206Blv">
<h3 class="markup-2BOw-j">
<strong>Note:</strong> <br>- If you have only one boosted server, and you moved your Server Boost, your badge will reset to the first level! <br>- However, if<span style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;"> you have multiple boosted servers, the badge will always be whichever is your longest Server Boost streak (or the longest milestone of time achieved for your Server Boost).</span>
</h3>
</div>
</div>
</div>
<div class="wysiwyg-text-align-left" aria-disabled="false">
<div class="contentCozy-3XX413 content-3dzVd8">
<div class="containerCozy-336-Cz container-206Blv">
<div class="markup-2BOw-j"> </div>
</div>
</div>
</div>
<h2 id="h_87712e86-507d-4b63-80a0-fd2c2a21f6c4" class="wysiwyg-text-align-left"><span style="font-weight: 400;">Nitro Subscription Perks</span></h2>
<ul class="wysiwyg-text-align-left">
<li><span style="font-weight: 400;"><strong>BONUS BONUS: 30% OFF FOR NITRO + NITRO CLASSIC SUBSCRIBERS</strong></span></li>
</ul>
<p class="wysiwyg-text-align-left">If you have an active <strong>Nitro</strong> or <strong>Nitro Classic</strong> subscription, you'll get 30% off all Server Boost purchases! To learn the differences between classic <strong>Nitro</strong> and <strong>Nitro Classic</strong> check out this article <a href="https://support.discord.com/hc/en-us/articles/115000435108" target="_blank" rel="noopener noreferrer">here</a>! </p>
<ul class="wysiwyg-text-align-left">
<li>
<span style="font-weight: 400;"><strong>AND ANOTHER BONUS: </strong></span><span style="font-weight: 400;"><strong>INCREAS</strong></span><span style="font-weight: 400;"><strong>ING BOOST POTENTIAL FOR $9.99 NITRO</strong></span>
</li>
</ul>
<p class="wysiwyg-text-align-left">To add even more epicness to our <strong>$9.99 per month Nitro</strong> subscription, all <strong>Nitro</strong> subscribers get <span class="wysiwyg-underline"><em><strong>2 Server Boosts</strong></em></span> with their active subscription! </p>
<h3 class="wysiwyg-text-align-left">
<span style="font-weight: 400;"><strong>Note: </strong></span><span class="wysiwyg-color-black">Sadly, if you are a <strong>Nitro Classic</strong> subscriber, you will need to upgrade your subscription to Nitro or purchase a Server Boost subscription separately</span>
</h3>
<h1 id="h_9dfb44db-c394-4339-863b-e6d1e3fb0469" class="wysiwyg-text-align-left">Ready to Unleash the Boost?</h1>
<p class="wysiwyg-text-align-left">Have you found your favorite cereal server? If so, you can now head into the next steps of the article!</p>
<p class="wysiwyg-text-align-left">If you're still on the fence of which server you want to boost, just remember that while you can move your boost from one server to another, there's a 7 day cool-down period to make that change! One quick note: we like to experiment here at Discord, and Boosting tiers may differ by server!</p>
<p class="wysiwyg-text-align-left">Choose your servers wisely and follow these steps below!</p>
<h2 class="wysiwyg-text-align-left"><span style="font-weight: 400;">Server Guide</span></h2>
<h3 class="wysiwyg-text-align-left">
<strong>Step by Step Guide Summary</strong><br><span style="font-weight: 400;">1. Select your server and head into the Server Boost in the Server Settings dropdown menu! <br></span><span style="font-weight: 400;">2. Confirm your selection and make sure you've selected the correct server to boost<br></span><span style="font-weight: 400;">3. Choose the number of Server Boosts you'd like to purchase!<br></span><span style="font-weight: 400;">4. Review and confirm your final payment for today's purchase! <br></span>5. YOUR BOOST IS NOW ACTIVATED!</h3>
<ul class="wysiwyg-text-align-left">
<li><span class="wysiwyg-color-black" style="font-weight: 400;"><strong>Step 1: SELECT YOUR SERVER!</strong></span></li>
</ul>
<p class="wysiwyg-text-align-left"><span style="font-weight: 400;">When you're ready to unleash your <strong><span class="wysiwyg-color-pink">Server Boost</span></strong>, head directly to the server itself! Just click on that <span class="wysiwyg-color-pink"><strong>Server Boost</strong></span> button within the <strong>Server Settings</strong> dropdown menu!</span></p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/360041828032/image7.png" alt="image7.png" width="524" height="458"></p>
<ul class="wysiwyg-text-align-left">
<li><span class="wysiwyg-color-black" style="font-weight: 400;"><strong>Step 2: CHECK ON CURRENT BOOSTS/PERKS AND CONFIRM</strong></span></li>
</ul>
<p class="wysiwyg-text-align-left"><span style="font-weight: 400;">A brand new screen will then appear to display the current perks of the server and you'll be able to see how many <span class="wysiwyg-color-pink"><strong>Server Boosts</strong></span> there already are for this specific server! </span></p>
<p class="wysiwyg-text-align-left"><span style="font-weight: 400;">If you're still down to boost this server, make sure to press the <span class="wysiwyg-color-blue70"><strong>Boost This Server</strong></span> button!</span></p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/360050686952/serverboost1.png" alt="serverboost1.png" width="485" height="502"></p>
<ul class="wysiwyg-text-align-left">
<li><span class="wysiwyg-color-black" style="font-weight: 400;"><strong>Step 3: CONFIRM ONE MORE TIME (<em>WE WANT TO MAKE SURE YOU ARE REALLY READY TO BOOST THIS SPECIFIC SERVER!</em>)</strong></span></li>
</ul>
<p class="wysiwyg-text-align-left">You'll then see this pop up message to confirm that you've selected the correct server to boost! Whenever you're all good to go, press that <span class="wysiwyg-color-blue70"><strong>Boost</strong></span> button! </p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/360041836651/Screen_Shot_2019-10-29_at_6.40.52_PM.png" alt="Screen_Shot_2019-10-29_at_6.40.52_PM.png" width="432" height="454"></p>
<ul class="wysiwyg-text-align-left">
<li><span class="wysiwyg-color-black" style="font-weight: 400;"><strong>Step 4: SELECT THE NUMBER OF BOOSTS</strong></span></li>
</ul>
<p class="wysiwyg-text-align-left">Once you've confirmed that you've selected the right server, now you can choose how many <span class="wysiwyg-color-pink"><strong>Server Boosts</strong></span> you'd like and see your subtotal for the current purchase!</p>
<p class="wysiwyg-text-align-left">You can modify the number of <span class="wysiwyg-color-pink"><strong>Server Boosts</strong></span> by pressing the minus (-) and plus (+) symbol! </p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/360041836751/Screen_Shot_2019-10-29_at_6.41.50_PM.png" alt="Screen_Shot_2019-10-29_at_6.41.50_PM.png" width="533" height="591"></p>
<h3 class="wysiwyg-text-align-left">Note: If you'd like to Boost your server directly to the next Level in one button click and save your brain from any extra math problems, check out this support article <a href="https://support.discord.com/hc/en-us/articles/360039337992" target="_blank" rel="noopener noreferrer">here</a>! </h3>
<ul class="wysiwyg-text-align-left">
<li><span class="wysiwyg-color-black" style="font-weight: 400;"><strong>Step 5: CHECK ON YOUR BILLING BREAKDOWN</strong></span></li>
</ul>
<p class="wysiwyg-text-align-left"><span style="font-weight: 400;">Now that you've selected the amount, we'll give you a full breakdown of what you're currently paying with this new Server Boost purchase! </span></p>
<p class="wysiwyg-text-align-left">You'll be able to click on the <span class="wysiwyg-color-green120"><strong>"Show subscription details"</strong></span>, if you want to see even more information on how your current purchase makes any updates to your ongoing subscriptions as well!</p>
<h3 class="wysiwyg-text-align-left"><span style="font-weight: 400;"><strong>NOTE:</strong> <br>For more information on our payment/billing system, check out this article <a href="https://support.discord.com/hc/en-us/articles/360017693772" target="_blank" rel="noopener noreferrer">here</a>!</span></h3>
<p class="wysiwyg-text-align-center"><img src="https://cdn.discordapp.com/attachments/550839404025872405/638884942956462080/Dark.png"></p>
<ul class="wysiwyg-text-align-left">
<li><span class="wysiwyg-color-black" style="font-weight: 400;"><strong>Step 6: BOOSTING COMPLETE!</strong></span></li>
</ul>
<p class="wysiwyg-text-align-left"><span class="wysiwyg-color-pink"><strong>AND CONGRATS, YOU NOW HAVE YOUR<em>✨</em>SERVER BOOSTS<em>✨</em>!!!!</strong></span></p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/360041830972/Screen_Shot_2019-10-29_at_6.43.11_PM.png" alt="Screen_Shot_2019-10-29_at_6.43.11_PM.png" width="483" height="437"></p>
<p class="wysiwyg-text-align-left"><span style="font-weight: 400;">After you’ve boosted your absolute favorite servers, your love and appreciation will be broadcasted to everyone within the channel, and you’ll see a new ✨shiny✨ purple diamond by your name in the server.</span></p>
<p class="wysiwyg-text-align-center"><span style="font-weight: 400;"><strong><img src="https://support.discord.com/hc/article_attachments/360041832151/unknown__20_.png" alt="unknown__20_.png" width="652" height="243"></strong><br></span></p>
<h3 class="wysiwyg-text-align-left"><span style="font-weight: 400;"><strong>NOTE</strong>: If you're the server owner or have Manage Server permissions, you'll be able to select which channel this message will appear in, or toggle this option on/off within the <strong><em>Overview</em></strong> section in your Server Settings! <br><img src="https://cdn.discordapp.com/attachments/550839404025872405/585188657590304795/unknown.png"></span></h3>
<h2 id="h_a2155a9f-ec82-4d8b-bf22-9df9ec8b3452" class="wysiwyg-text-align-left"><span style="font-weight: 400;">Server Owner/Admin View</span></h2>
<p class="wysiwyg-text-align-left"><span style="font-weight: 400;">If you’re the server owner or have <em>Manage Server</em> permissions within the server, you’ll be able to go behind the scenes and head into the “<strong>Server Boost Status</strong>” tab in your server settings and see: </span></p>
<ul class="wysiwyg-text-align-left">
<li style="font-weight: 400;"><span style="font-weight: 400;">Your server’s current level + perks </span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">How many people blessed the server with Boosts</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">And how many more Boosts you need before your server reaches the next level! </span></li>
</ul>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/360050679692/Server_Settings.png" alt="Server_Settings.png" width="653" height="750"></p>
<h4 class="wysiwyg-text-align-left"><em><span style="font-weight: 400;">I promise that 8 + 2 equals 15. </span></em></h4>
<h3 class="wysiwyg-text-align-left">
<span style="font-weight: 400;"><strong>Note: <br></strong><span class="wysiwyg-color-black">- If the server is running low on Server Boost fuel and loses a Level, the server will be able to keep the Level perks for a grace period of 3 days. <br>- However after the 3 days, perks </span></span><span class="wysiwyg-color-black">such as the server banner </span><span style="font-weight: 400;"><span class="wysiwyg-color-black">and extra emojis will not be fully removed from the server, but will become temporarily invalid until the Level is regained. <br>- On the other hand, the Custom Invite Link will be lost and become available to other servers after 3 days</span>.</span> </h3>
<h1 id="h_1dd7697d-23e5-4e30-a5f1-0924255d598f" class="wysiwyg-text-align-left"><span style="font-weight: 400;">How do I change the server for my current Server Boosts? </span></h1>
<p class="wysiwyg-text-align-left"><span style="font-weight: 400;">If you didn’t heed our warnings and you boosted your second favorite cereal server by accident or you have a new favorite cereal server, you’ll be able to transfer the Server Boost to send the boost to a new server following the <strong>User Settings </strong></span><span style="font-weight: 400;"><strong>Guide</strong> below! </span></p>
<h3 class="wysiwyg-text-align-left"><span style="font-weight: 400;"><strong>Note:</strong> You will need to wait <strong>7 days</strong> to boost another server after boosting your initial server!</span></h3>
<h2 class="wysiwyg-text-align-left"><span style="font-weight: 400;">User Settings Guide</span></h2>
<h3 class="wysiwyg-text-align-left">
<strong>Step by Step Guide Summary</strong><br><span style="font-weight: 400;">1. Head into the Server Boost tab in the User Settings! <br></span><span style="font-weight: 400;">2. Select the Boost you would like to transfer by pressing on the three dot icon and then selecting Transfer Boost! <br></span><span style="font-weight: 400;">3. Select the server you would like to transfer the boost to<br></span><span style="font-weight: 400;">4. Review and confirm your transfer! <br></span>5. YOUR TRANSFER IS NOW COMPLETE!  </h3>
<ul class="wysiwyg-text-align-left">
<li><span class="wysiwyg-color-black" style="font-weight: 400;"><strong>Step 1: Head into your Server Boost tab! </strong></span></li>
</ul>
<p class="wysiwyg-text-align-left">If you’re on the desktop or browser client, click on that cog icon on the bottom left of your window to head into the <span class="wysiwyg-color-pink" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;"><strong>Server Boost</strong></span><span style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;"> tab in the </span><strong style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;">User Settings</strong><span style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;">!</span></p>
<p class="wysiwyg-text-align-left">In this tab, you'll be able to see your current ongoing <span class="wysiwyg-color-pink">Server Boosts</span>! </p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/360041837011/image38.png" alt="image38.png" width="576" height="800"></p>
<ul class="wysiwyg-text-align-left">
<li><span class="wysiwyg-color-black" style="font-weight: 400;"><strong>Step 2: Select the boost that you would like to transfer </strong></span></li>
</ul>
<p class="wysiwyg-text-align-left"><font color="#000000"> When you've decided the boost you want to transfer, press on the three dot (⚬⚬⚬) icon beside that boost, and then select <span class="wysiwyg-color-red"><strong>Transfer Boost</strong></span> </font></p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/360041837051/image28.png" alt="image28.png"></p>
<ul class="wysiwyg-text-align-left">
<li><span class="wysiwyg-color-black" style="font-weight: 400;"><strong>Step 3: Select the server you want to boost</strong></span></li>
</ul>
<p class="wysiwyg-text-align-left"><span style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;">You'll now see new pop-up menu with a list of your current servers where you can start the process of bestowing your <span class="wysiwyg-color-pink">Server Boost</span> on the server of your choice!</span></p>
<h3 class="wysiwyg-text-align-left">
<strong>Note:</strong> <span class="wysiwyg-color-black"><strong>You must be a member of the server in order to </strong></span><span class="wysiwyg-color-pink"><strong>Server Boost</strong></span><span class="wysiwyg-color-black"><strong> it! Otherwise, the server won't show up in this list below!</strong></span>
</h3>
<p class="wysiwyg-text-align-center"><span style="font-weight: 400;"><img src="https://support.discord.com/hc/article_attachments/360041837071/image15.png" alt="image15.png" width="586" height="533"></span></p>
<ul class="wysiwyg-text-align-left">
<li><span class="wysiwyg-color-black"> <span style="font-weight: 400;"> <strong> Step 4: <font color="#000000">Confirm your boost transfers</font> </strong> </span> </span></li>
</ul>
<p class="wysiwyg-text-align-left"><span style="font-weight: 400;">Before you unlock the treasure to that new server though, make sure you double, triple, quadruple check that you’re transferring your Server Boost to the correct server!</span></p>
<p class="wysiwyg-text-align-left"><span style="font-weight: 400;">When you're ready, press that <span class="wysiwyg-color-blue70"><strong>Yes, Transfer Boost</strong></span> button!</span></p>
<p class="wysiwyg-text-align-center"><span style="font-weight: 400;"><strong><span class="wysiwyg-color-orange110"><font color="#000000"> <img src="https://support.discord.com/hc/article_attachments/360041831292/image4.png" alt="image4.png" width="467" height="576"></font> </span> </strong> </span></p>
<h3 class="wysiwyg-text-align-left">
<strong>Note: </strong><span class="wysiwyg-color-black">When you move your server boost, you also may lose the progress towards your Boosting Badge perk level as well! </span>
</h3>
<ul class="wysiwyg-text-align-left">
<li><span class="wysiwyg-color-black" style="font-weight: 400;"><strong>Step 5: TRANSFER COMPLETE!</strong></span></li>
</ul>
<p class="wysiwyg-text-align-left"><span style="font-weight: 400;">You'll then see a final confirmation that your boost was successfully transferred over to a new server! </span></p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/360041837111/image34.png" alt="image34.png" width="386" height="352"></p>
<h1 id="h_af9ea5f7-cc39-455d-9fb9-c035e4324b36" class="wysiwyg-text-align-left">How do I cancel my Server Boost?</h1>
<p class="wysiwyg-text-align-left">If you ever change your mind about your Server Boosts and decide you no longer are a cereal fan, you can cancel your Server Boosts at any time! </p>
<h3 class="wysiwyg-text-align-left">
<strong>Step by Step Guide Summary</strong><br><span style="font-weight: 400;">1. Head into the Server Boost tab in the User Settings! <br></span><span style="font-weight: 400;">2. Select the Boost you would like to cancel by pressing on the three dot icon and then selecting Cancel Boost Subscription! <br></span><span style="font-weight: 400;">3. </span><span style="font-weight: 400;">Review and confirm your cancellation! <br></span>4. YOUR CANCELLATION IS NOW COMPLETE! </h3>
<ul class="wysiwyg-text-align-left">
<li>
<span class="wysiwyg-color-black" style="font-weight: 400;"><strong>Step 1: </strong></span><span class="wysiwyg-color-black" style="font-weight: 400;"><strong>Head into your Server Boost tab in your User Settings and select the boost you would like to cancel! </strong></span>
</li>
</ul>
<p class="wysiwyg-text-align-left"><font color="#000000">When you've decided the boost you want to cancel, press on the three dot (⚬⚬⚬) icon beside that boost, and then select <span class="wysiwyg-color-red"><strong>Cancel Boost Subscription</strong></span></font></p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/360041837231/image11.png" alt="image11.png"></p>
<ul class="wysiwyg-text-align-left">
<li><span class="wysiwyg-color-black" style="font-weight: 400;"><strong>Step 2: <strong style="color: #000000; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;"><font color="#000000">Confirm your boost cancellation</font></strong></strong></span></li>
</ul>
<p class="wysiwyg-text-align-left">Before you cancel your server boost and smash that gem, make sure you double, triple, quadruple check that you’re ready to cancel the subscription! P<span style="font-weight: 400;">ress that </span><span style="font-weight: 400;"><font color="#9999ff"><strong>Next</strong></font> button to confirm your next steps! </span></p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/360041831392/image24.png" alt="image24.png" width="404" height="367"></p>
<ul class="wysiwyg-text-align-left">
<li><span class="wysiwyg-color-black" style="font-weight: 400;"><strong>Step 3: Review your updated billing breakdown</strong></span></li>
</ul>
<p class="wysiwyg-text-align-left"><span style="font-weight: 400;">Now that you're making changes to your Server Boosts, we'll give you a full breakdown of the changes to your subscription with the cancellation.</span></p>
<p class="wysiwyg-text-align-left"><span style="font-weight: 400;">When you're ready, press that <span class="wysiwyg-color-red"><strong>Yes, Cancel Now</strong></span> button!</span></p>
<h3 class="wysiwyg-text-align-left"><span style="font-weight: 400;"><strong>Note:</strong> As always, you can press that <span class="wysiwyg-color-green120"><strong>Show subscription details</strong></span> button to get all the details! </span></h3>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/360041837271/image49.png" alt="image49.png" width="630" height="504"></p>
<ul class="wysiwyg-text-align-left">
<li><span class="wysiwyg-color-black" style="font-weight: 400;"><strong>Step 4: CANCELLATION COMPLETE</strong></span></li>
</ul>
<p class="wysiwyg-text-align-left">Now when you head back into your <span class="wysiwyg-color-pink"><strong>Server Boost</strong></span> tab in the <strong>User Settings</strong>, you'll see an <span class="wysiwyg-color-orange110"><strong>Unused Boost</strong></span> that is pending cancellation! </p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/360041831432/image6.png" alt="image6.png"></p>
<p class="wysiwyg-text-align-left">When you click on it, you'll see that the scheduled date for when it will be removed from your account fully!</p>
<h3 class="wysiwyg-text-align-left">
<strong>Note:</strong> Until the cancellation date, you will be able to continue using this boost!</h3>
<p class="wysiwyg-text-align-center"><span class="wysiwyg-color-black" style="font-weight: 400;"><strong> <img src="https://support.discord.com/hc/article_attachments/360041831452/image48.png" alt="image48.png" width="395" height="352"></strong></span></p>
<h2 id="h_a45da1ef-e159-48dd-bd91-68e38c51d117" class="wysiwyg-text-align-left">Change your mind? Want to keep that Boost after Cancelling?  </h2>
<p class="wysiwyg-text-align-left">If you change your mind about cancelling the boosts, you can save that boost as long as it is before the <em><strong>pending cancellation</strong></em> date!</p>
<h3 class="wysiwyg-text-align-left">
<strong>Note:</strong> If the canceled Server Boost has passed the cancellation date and has been removed, it cannot be saved! </h3>
<p class="wysiwyg-text-align-left"><font color="#000000">To save the <span class="wysiwyg-color-pink">Server Boost</span>, press on the three dot (⚬⚬⚬) icon beside that boost, and then select <span class="wysiwyg-color-blue"><strong>Uncancel.</strong></span></font></p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/360041831472/image54.png" alt="image54.png"></p>
<p class="wysiwyg-text-align-left">Then you'll just need to confirm the un-cancellation by pressing <span class="wysiwyg-color-blue70"><strong>Yes, Uncancel Now</strong></span></p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/360041831492/image50.png" alt="image50.png" width="649" height="304"></p>
<p class="wysiwyg-text-align-left"><span style="font-weight: 400;">Once you've confirmed the un-cancellation, you'll see this confirmation of your resurrected <span class="wysiwyg-color-pink"><strong>Server Boost</strong></span>! </span></p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/360041837291/image17.png" alt="image17.png" width="610" height="480"></p>
<h1 id="h_6f516aba-9185-4ef1-9de4-fd3f683142c4" class="wysiwyg-text-align-left"><span style="font-weight: 400;">Running Low on Fuel?</span></h1>
<p class="wysiwyg-text-align-left"><span style="font-weight: 400;">If all of your Server Boosts subscriptions are canceled at any point, that extra shiny Server Boost badge will sadly be removed from your profile, </span><span style="font-weight: 400;">but not all is lost! Y</span><span style="font-weight: 400;">ou’ll have a grace period of 3 days to resubscribe to add more fuel to the tank and recharge your Server Boost to the server!</span></p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/360029033111/nitro_tank_gif.gif" alt="nitro_tank_gif.gif"></p>
<h1 class="wysiwyg-text-align-left">EVEN MORE BOOSTS SOON™?</h1>
<p class="wysiwyg-text-align-left"><span style="font-weight: 400;">Want to see different perks added to this in the future? We're definitely still experimenting, researching and science-ing the current Server Boosts system and looking into potential booster packs to add later! We'd love to hear all your feedback and suggestions over at <a href="http://dis.gd/feedback" target="_blank" rel="noopener noreferrer">http://dis.gd/feedback</a>! </span></p>