<p><span style="font-weight: 400;">Mientras usabas Discord, es posible que hayas encontrado un mensaje que dice que necesitas verificarte. Esto es parte de nuestros esfuerzos para reforzar la seguridad de la plataforma. Nos gustaría que los usuarios se sientan seguros en Discord, así como invertir en características que ayuden a protegerlos de estafas o abusos. Este requisito para verificar tu correo o teléfono simplemente ayuda a probar que no eres un bot, para mantener la plataforma a salvo de </span><em><span style="font-weight: 400;">spam</span></em><span style="font-weight: 400;">.</span></p>
<p><strong>Lo que cubre este artículo:</strong></p>
<ul>
<li style="font-weight: 400;" aria-level="1"><a href="#h_01G4XV9V9YBC9AB33KBDC8WSNS" target="_self"><span style="font-weight: 400;">¿Por qué tengo que verificar mi cuenta?</span></a></li>
<li style="font-weight: 400;" aria-level="1"><a href="#h_01G4XVA5RP9TAQANDJE8GAX7VV" target="_self"><span style="font-weight: 400;">Cómo verificar tu cuenta</span></a></li>
<li style="font-weight: 400;" aria-level="1"><a href="#h_01G4XVAQVW4CBRW6TM6Y758P7K" target="_self"><span style="font-weight: 400;">¿Para qué quiere Discord mi número de teléfono?</span></a></li>
<li style="font-weight: 400;" aria-level="1"><a href="#h_01G4XVB75185TCD01Z24QGNQV3" target="_self"><span style="font-weight: 400;">¿Necesitas más ayuda?</span></a></li>
</ul>
<h1 id="h_01G4XV9V9YBC9AB33KBDC8WSNS"><span style="font-weight: 400;">¿Por qué tengo que verificar mi cuenta?</span></h1>
<p><span style="font-weight: 400;">Este mensaje para realizar una verificación adicional forma parte de nuestro sistema para proteger tanto a las comunidades de Discord como a ti mismo, y quiere decir que quizá se haya detectado algún tipo de actividad que requiere más información. Esta verificación no solo sirve para ayudar a que Discord confirme que no eres </span><em><span style="font-weight: 400;">spam</span></em><span style="font-weight: 400;">, sino también para establecer barreras adicionales que pueden proteger tu cuenta frente a acciones maliciosas.</span></p>
<p class="wysiwyg-text-align-center"><span style="font-weight: 400;"><img src="https://support.discord.com/hc/article_attachments/6182098552727/new-start-verification-button-screen.png" alt="new-start-verification-button-screen.png" width="454" height="486"></span></p>
<p><span style="font-weight: 400;">Es posible que veas este mensaje porque has intentado unirte a un servidor que </span><a href="https://support.discord.com/hc/articles/216679607"><span style="font-weight: 400;">requiere que los miembros</span></a><span style="font-weight: 400;"> tengan cuentas verificadas, pero aquí hay otras posibles razones:</span></p>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Te has unido a muchos servidores nuevos en muy poco tiempo.</span></li>
<li style="font-weight: 400;" aria-level="1">
<span style="font-weight: 400;">Has enviado mensajes a muchos usuarios que </span><a href="https://support.discord.com/hc/articles/218344397-How-do-I-add-my-friend-to-my-friends-list-"><span style="font-weight: 400;">no son tus amigos</span></a><span style="font-weight: 400;">. </span>
</li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Has publicado contenido en ciertas comunidades más rápido de lo humanamente posible.</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Has usado clientes de terceros o modificaciones en Discord.</span></li>
</ul>
<p><span style="font-weight: 400;">Hemos visto previamente que este tipo de actividades suelen ser señal de comportamientos inadecuados que pueden causar daños en Discord o nuestras comunidades.</span></p>
<h1 id="h_01G4XVA5RP9TAQANDJE8GAX7VV"><span style="font-weight: 400;">Cómo verificar tu cuenta</span></h1>
<p><span style="font-weight: 400;">Si estás intentando verificar la dirección de correo electrónico asociada con tu cuenta de Discord pero no encuentras el mensaje que deberías haber recibido de nuestra parte, quizá te resulte de ayuda este </span><a href="https://support.discord.com/hc/articles/213219267"><strong>artículo</strong></a><span style="font-weight: 400;">.</span></p>
<p><span style="font-weight: 400;">Puede resultar necesario también que verifiques tu cuenta usando un número de teléfono válido. </span><strong>El número que uses no podrá estar asociado previamente con otra cuenta de Discord</strong><span style="font-weight: 400;">, y tampoco aceptamos cualquier número. Por favor, asegúrate de revisar este </span><a href="https://support.discord.com/hc/articles/360000961212"><span style="font-weight: 400;">artículo</span></a><span style="font-weight: 400;"> de antemano, para que evites introducir un número no válido.</span></p>
<p><span style="font-weight: 400;">El proceso completo suele ser algo así:</span></p>
<p><span style="font-weight: 400;">1. Pulsa en el botón para </span><strong>Empezar la verificación.</strong></p>
<p class="wysiwyg-text-align-center"><span style="font-weight: 400;"><img src="https://support.discord.com/hc/article_attachments/6182090349335/new-start-verification-button-mobile-screen.png" alt="new-start-verification-button-mobile-screen.png" width="223" height="445">  <img src="https://support.discord.com/hc/article_attachments/6182120140951/red-outline-start-verification-button-screen.png" alt="red-outline-start-verification-button-screen.png" width="416" height="446"></span></p>
<p class="wysiwyg-text-align-center"><span style="font-weight: 400;">Izquierda: Cliente móvil. Derecha: Cliente de escritorio/navegador</span></p>
<p class="wysiwyg-text-align-left"><span style="font-weight: 400;">2. En este punto tendrás que proporcionar un</span><strong> número de teléfono válido.</strong><span style="font-weight: 400;"> Recuerda que no puede estar vinculado a otra cuenta de Discord, y también debe cumplir</span><a href="https://support.discord.com/hc/articles/360000961212"> <span style="font-weight: 400;">estos requisitos</span></a><span style="font-weight: 400;">. Si recibes un mensaje de error que dice que el número no es válido, por favor, asegúrate de revisar </span><a href="https://support.discord.com/hc/articles/360000961212"><span style="font-weight: 400;">este artículo</span></a><span style="font-weight: 400;"> primero.</span></p>
<p class="wysiwyg-text-align-center"><span style="font-weight: 400;"><img src="https://support.discord.com/hc/article_attachments/6182168114455/enter-a-phone-number-screen-mobile-client.png" alt="enter-a-phone-number-screen-mobile-client.png" width="249" height="482"></span><span style="font-weight: 400;">  <img src="https://support.discord.com/hc/article_attachments/6182151565335/enter-a-phone-number-desktop-client-screen.png" alt="enter-a-phone-number-desktop-client-screen.png" width="399" height="482"><br></span></p>
<p class="wysiwyg-text-align-center"><span style="font-weight: 400;">Izquierda: Móvil. Derecha: Escritorio/navegador</span></p>
<ol start="3">
<li><span style="font-weight: 400;"> Espera a recibir el SMS en tu teléfono móvil, y sigue las instrucciones para introducir el código de verificación.</span></li>
</ol>
<h1 id="h_01G4XVAQVW4CBRW6TM6Y758P7K"><span style="font-weight: 400;">¿Para qué quiere Discord mi número de teléfono?</span></h1>
<p><span style="font-weight: 400;">Discord usa tu número solo con motivos de seguridad. Por otro lado, Discord también tiene algunas funciones opcionales como la de </span><a href="https://support.discord.com/hc/articles/360061878534"><span style="font-weight: 400;">Encontrar a tus amigos</span></a><span style="font-weight: 400;">, que te permite encontrar en Discord a gente que conoces usando los contactos almacenados en tu teléfono.</span></p>
<h4 class="wysiwyg-text-align-center">
<br><br>
</h4>
<h1 id="h_01G4XVB75185TCD01Z24QGNQV3"><span style="font-weight: 400;">¿Necesitas más ayuda?</span></h1>
<p class="wysiwyg-text-align-left"><span style="font-weight: 400;">Si tienes más preguntas sobre estos requisitos de verificación o has encontrado algún problema en el proceso, puedes enviar un mensaje a nuestro Equipo de soporte desde este formulario:</span><a href="https://dis.gd/contact"> <span style="font-weight: 400;">https://dis.gd/contact</span></a></p>