<p><span style="font-weight: 400;">While using Discord, you might have encountered a “Verification Required” message, which is one of our safety efforts for our platform. We want users to feel secure using Discord, and we invest in features that help protect you from scams or abuse. Requiring that you verify your email address or phone number helps prove you are not a robot and helps keep spammers out.</span></p>
<p><strong><span class="wysiwyg-font-size-large">What this article covers:</span></strong></p>
<ul>
<li style="font-weight: 400;" aria-level="1"><a href="#h_01G3CTDAACPA8E9BRFWCQNSBY4" target="_self"><span style="font-weight: 400;">Why do I need to verify my account?</span></a></li>
<li style="font-weight: 400;" aria-level="1"><a href="#h_01G3CTDK98QB8PPW9Q8V9ZK5AM" target="_self"><span style="font-weight: 400;">How to verify your account</span></a></li>
<li style="font-weight: 400;" aria-level="1"><a href="#h_01G3CTDT6TEA29WM2PKZK65FFR" target="_self"><span style="font-weight: 400;">How does Discord use my phone number?</span></a></li>
<li style="font-weight: 400;" aria-level="1"><a href="#h_01G3CTE565W6GM44KZANYTQN49" target="_self"><span style="font-weight: 400;">Still need help?</span></a></li>
</ul>
<h1 id="h_01G3CTDAACPA8E9BRFWCQNSBY4"><span style="font-weight: 400;">Why do I need to verify my account?</span></h1>
<p><span style="font-weight: 400;">The “Verification Required” message is part of our verification system to help protect both you and the communities on Discord. This means sometimes our systems detect activity that calls for extra information. This verification not only serves to help confirm to Discord that you are more likely to not be spam but also provides additional barriers of defense against malicious activity on your account.</span></p>
<p class="wysiwyg-text-align-center"><span style="font-weight: 400;"><img src="https://support.discord.com/hc/article_attachments/6182098552727/new-start-verification-button-screen.png" alt="new-start-verification-button-screen.png" width="454" height="486"></span></p>
<p><span style="font-weight: 400;">So you might see this message because you want to join a server that </span><a href="https://support.discord.com/hc/en-us/articles/216679607" target="_blank" rel="noopener noreferrer">requires its members</a><span style="font-weight: 400;"> to have verified accounts. Some other reasons might be that you:</span></p>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">joined multiple servers in a short period of time</span></li>
<li style="font-weight: 400;" aria-level="1">
<span style="font-weight: 400;">direct messaged multiple users who are </span><a href="https://support.discord.com/hc/en-us/articles/218344397-How-do-I-add-my-friend-to-my-friends-list-" target="_blank" rel="noopener noreferrer">not your friends</a><span style="font-weight: 400;"> </span>
</li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">sent messages or posted content to communities faster than a human can manage</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">used third party clients or modifications to Discord</span></li>
</ul>
<p><span style="font-weight: 400;">We have seen how these kinds of activities are a signal of harmful behavior that can harm Discord users or communities.</span></p>
<h1 id="h_01G3CTDK98QB8PPW9Q8V9ZK5AM"><span style="font-weight: 400;">How to verify your account</span></h1>
<h3>
<span style="font-weight: 400;">If you’re looking to verify the email address associated with your Discord account but can’t find the original verification email, you can check out this </span><a href="https://support.discord.com/hc/en-us/articles/213219267" target="_blank" rel="noopener noreferrer">article</a><span style="font-weight: 400;">.</span>
</h3>
<p><span style="font-weight: 400;">We may require you to verify your account using a valid phone number. <strong>The phone number you use cannot be associated with an existing Discord account</strong>. We also don’t accept every type of phone number, so please make sure to check this <a href="https://support.discord.com/hc/en-us/articles/360000961212" target="_blank" rel="noopener noreferrer">article</a> to avoid providing an invalid phone number.</span></p>
<p><span style="font-weight: 400;">The process will look a little something like this:</span></p>
<p><span style="font-weight: 400;">1. Press on the <strong>Start Verification </strong>button<strong>.</strong></span></p>
<p class="wysiwyg-text-align-center"><span style="font-weight: 400;"><img src="https://support.discord.com/hc/article_attachments/6182090349335/new-start-verification-button-mobile-screen.png" alt="new-start-verification-button-mobile-screen.png" width="223" height="445">  <img src="https://support.discord.com/hc/article_attachments/6182120140951/red-outline-start-verification-button-screen.png" alt="red-outline-start-verification-button-screen.png" width="416" height="446"></span></p>
<h4 class="wysiwyg-text-align-center"><span style="font-weight: 400;">Left: Mobile client, Right: Desktop/Browser client</span></h4>
<p class="wysiwyg-text-align-left"><span style="font-weight: 400;">2. Here is where you will need to  provide <strong>a valid mobile phone number.</strong> Remember that it cannot be attached to an existing Discord account and must meet our <a href="https://support.discord.com/hc/articles/360000961212" target="_blank" rel="noopener noreferrer">other requirements</a>. If you get an Invalid Phone Number error message, be sure to check <a href="https://support.discord.com/hc/articles/360000961212" target="_blank" rel="noopener noreferrer">this article</a> to avoid that error.</span></p>
<p class="wysiwyg-text-align-center"><span style="font-weight: 400;"><img src="https://support.discord.com/hc/article_attachments/6182168114455/enter-a-phone-number-screen-mobile-client.png" alt="enter-a-phone-number-screen-mobile-client.png" width="249" height="482"></span><span style="font-weight: 400;">  <img src="https://support.discord.com/hc/article_attachments/6182151565335/enter-a-phone-number-desktop-client-screen.png" alt="enter-a-phone-number-desktop-client-screen.png" width="399" height="482"><br></span></p>
<h4 class="wysiwyg-text-align-center"><span style="font-weight: 400;">Left: Mobile, Right: Desktop/Browser</span></h4>
<p class="wysiwyg-text-align-left"><span style="font-weight: 400;">3. Wait for the SMS to be sent to your mobile phone and follow the instructions to input the verification code.</span></p>
<h1 id="h_01G3CTDT6TEA29WM2PKZK65FFR"><span style="font-weight: 400;">How does Discord use my phone number?</span></h1>
<p><span style="font-weight: 400;">Discord uses your phone number for safety and security purposes. Discord also supports opt-in features like </span><a href="https://support.discord.com/hc/en-us/articles/360061878534" target="_blank" rel="noopener noreferrer">Find Your Friends</a><span style="font-weight: 400;">, which allows you to</span><span style="font-weight: 400;"> discover friends on Discord using your phone contacts!</span></p>
<h1 id="h_01G3CTE565W6GM44KZANYTQN49"><span style="font-weight: 400;">Still need help?</span></h1>
<p class="wysiwyg-text-align-left"><span style="font-weight: 400;">If you have additional questions about the “Verification Required” message or issues verifying your account, you can submit a ticket to our Support team here: <a href="https://dis.gd/contact" target="_blank" rel="noopener noreferrer">https://dis.gd/contact</a></span></p>