<p>Discord has now partnered with Samsung to bring <strong>Samsung Galaxy</strong> users some really <span class="wysiwyg-font-size-large">really</span> <span class="wysiwyg-font-size-x-large wysiwyg-color-red110">really</span> awesome features!</p>
<h3>
<strong><span class="wysiwyg-color-blue">Current Integration Requirements: </span><br><span class="wysiwyg-color-black">Device Type</span> - Galaxy 8 and above + <br></strong><strong><span class="wysiwyg-color-black">Android Version</span> - Android P and above +<br></strong><strong><span class="wysiwyg-color-black">Discord App Versions</span> - Discord Android 9.4.5 and above +</strong>
</h3>
<p>All Samsung Galaxy users that meet the integration requirements <em>(mentioned above)</em> now have access to 2 brand new features within Discord:</p>
<ul>
<li><span class="wysiwyg-color-blue70"><strong>Mobile Voice Overlay</strong></span></li>
<li><span class="wysiwyg-color-blue70"><strong>Mobile Game Status / Game Detection</strong></span></li>
</ul>
<p>If you use the <strong>Samsung Game Launcher</strong>, you also get a nifty <strong>Discord Friends Activity Feed</strong> natively integrated directly within the Game Launcher app! </p>
<h1>Mobile Game Status</h1>
<p>By linking your Discord account with your Samsung account, you can enable <strong>Mobile Game Detection</strong> and automatically have your status set to the game you're playing on mobile for the first time ever! This was a feature that was previously only available for PC and Xbox users on Discord.</p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/360036968092/1.png" alt="1.png"></p>
<h2>How to link:</h2>
<p>To link your account, update to the<span class="sentiment-comment-neutral"> latest Samsung OS</span>, and go to the <strong>Game Launcher</strong> app. The app icon looks like this:</p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/360036961611/2.png" alt="2.png"></p>
<p class="wysiwyg-text-align-left">Click on the Discord logo in the top right corner of the app and you should now see a "Sign in/sign up" page for the Discord Samsung integration.</p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/360036968752/3.jpg" alt="3.jpg"></p>
<p>If you already have a Discord account, simply click on "<em>Sign In</em>", and it will begin the account linking process.</p>
<p>You might encounter this screen below! If you do, make sure to click on "<em>Open with Discord" !</em></p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/360036961911/4.jpg" alt="4.jpg"></p>
<p class="wysiwyg-text-align-left"> </p>
<p class="wysiwyg-text-align-left">Once the linking is completed, you will now see your <strong>Activity Feed</strong>. Here you can see friends that are currently playing games or in voice channels and also see games that your friends have recently played.</p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/360036968892/5.png" alt="5.png"></p>
<h2 class="wysiwyg-text-align-left">But the best part is...</h2>
<p class="wysiwyg-text-align-left"><span class="wysiwyg-color-black"><strong>....now when you're playing a game on your Samsung phone, you'll see your Discord status update to "</strong></span><span class="wysiwyg-color-blue70"><strong>Playing ________ Game</strong></span><span class="wysiwyg-color-black"><strong>"</strong></span></p>
<p class="wysiwyg-text-align-center"><strong><img src="https://support.discord.com/hc/article_attachments/360036969072/6.png" alt="6.png"></strong></p>
<p class="wysiwyg-text-align-center"><strong><img src="https://support.discord.com/hc/article_attachments/360036962151/7.png" alt="7.png"></strong></p>
<p class="wysiwyg-text-align-left">If you don't want to show this anymore, you can turn this off any anytime within "<em>Settings &gt; Game Activity</em>"</p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/360036969192/8.png" alt="8.png"></p>
<h1 class="wysiwyg-text-align-left">How do I unlink my account?</h1>
<p>To unlink your account, simply go to "<em>Settings &gt; Authorized Apps</em>" and delete the<strong> Samsung Game Launcher</strong> app.</p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/360036962271/9.png" alt="9.png"></p>
<p class="wysiwyg-text-align-center"> </p>
<h1>Mobile Voice Overlay</h1>
<p>Samsung Galaxy users now get to use our brand new <strong><span class="wysiwyg-color-black">DISCORD MOBILE VOICE OVERLAY </span><em>(CHAT HEADS, BUBBLES, HOWEVER YOU CALL EM)</em></strong>. Once enabled, whenever you're in an active voice call or channel on Discord, an overlay bubble will show up on your phone.</p>
<p>Tapping that bubble will expand to show what you see below!</p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/360036962311/10.png" alt="10.png">Well, almost exactly what you see here if you have the same name and you have the same friends with the same avatars and you're playing the same game.</p>
<p><br>You will be able to see who's talking, who's in the call, and access shortcuts (speaker, mute, hang up) while using other apps—no need to switch back to Discord as this overlay will persist on your phone.</p>
<p><span class="wysiwyg-color-red"><em>Don't want to see the bubble?</em> </span>You can drag it out at any time! Just touch the bubble and you should see an "<span class="wysiwyg-color-red"><strong>X</strong></span>" at the bottom of your screen, then simply move the bubble to the "<span class="wysiwyg-color-red"><strong>X</strong></span>" and it'll go away.</p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/360036962331/11.jpg" alt="11.jpg"></p>
<h3>
<span class="wysiwyg-color-red"><strong>Note:</strong></span> Moving the bubble onto the "<span class="wysiwyg-color-red"><strong>X</strong></span>" <span class="wysiwyg-color-black"><em><strong>DOES NOT</strong></em></span> hang up the call. You will need to hang up explicitly by tapping on the hangup button within the expanded overlay or within Discord.</h3>
<h1>How to enable mobile voice overlay</h1>
<p>Make sure you are on Discord Android Version 9.4.5. You can enable the <strong>Mobile Voice Overlay</strong> by going into <em>Settings</em> -&gt; <em>Voice &amp; Video</em> -&gt; and you should see a "<em>Enable Mobile Voice Overlay</em>" toggle.</p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/360036962391/12.png" alt="12.png"></p>
<p>When you enable the toggle, you'll be taken to the Android System permissions to allow Discord to "draw on top". This permission is required to allow you to see the overlay while using other apps!</p>
<h4 class="wysiwyg-text-align-center">
<img src="https://support.discord.com/hc/article_attachments/360036969352/13.jpg" alt="13.jpg"><br><span class="wysiwyg-font-size-medium">Tadaa, now you can use the mobile voice overlay!<br></span>
</h4>
<section class="article-info">
<div class="article-content">
<div class="article-body">
<div class="messageCozy-2JPAPA message-1PNnaP">
<div class="contentCozy-3XX413 content-3dzVd8">
<div class="containerCozy-336-Cz container-206Blv">
<div class="buttonContainer-KtQ8wc">
<div class="buttonContainer-37UsAw">
<p> </p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>