<h3><span style="font-weight: 400;"><strong>Note:</strong> <br>- If you don't see this feature on your mobile device yet, make sure that your app has been fully updated in the App Store or Google Play Store!<br></span></h3>
<p><span style="font-weight: 400;">You can now screenshare from your mobile device! Anytime you’re in voice, whether in a DM, GDM, or server voice channel, you’ll now be able to share your screen directly from your phone!</span></p>
<p class="wysiwyg-text-align-center"><span style="font-weight: 400;"><img src="https://support.discord.com/hc/article_attachments/360099319594/image11.png" alt="image11.png" width="615" height="347"></span></p>
<p><span class="wysiwyg-font-size-large"><strong>What does this article cover? </strong></span></p>
<ul>
<li>
<a href="#h_01ESM3QERNVRFK0E6ESYFNW8R2" target="_self"><span style="font-weight: 400;">Mobile Screenshare Requirements</span></a>
<ul>
<li style="font-weight: 400;"><a href="#h_01ESM3QMBSBEMK7Q29Y3AKJEVN" target="_self"><span style="font-weight: 400;">Supported Mobile Devices</span></a></li>
<li style="font-weight: 400;"><a href="#h_01ESM3QRT2M26HZ0WTGVQ0X7GH" target="_self"><span style="font-weight: 400;">OS Limitations</span></a></li>
<li style="font-weight: 400;"><a href="#h_01ESM3QXS5RGV6N44Q2Q66DE41" target="_self"><span style="font-weight: 400;">Mobile App Limitations</span></a></li>
<li style="font-weight: 400;"><a href="#h_01ESM3R309FR6ZA2CYAKT55YVX" target="_self"><span style="font-weight: 400;">Server Permissions</span></a></li>
</ul>
</li>
<li style="font-weight: 400;"><a href="#h_01ESM3R8X4XHK37VHRC4F25DVT" target="_self"><span style="font-weight: 400;">How to Start Sharing your Screen</span></a></li>
<li style="font-weight: 400;"><a href="#h_01ESM3S0N0RP1DQM0QQF16HNWS" target="_self"><span style="font-weight: 400;">How to Stop Sharing your Screen</span></a></li>
<li style="font-weight: 400;"><a href="#h_01ESM3S8XDRFHC7WWJV159CZY8" target="_self"><span style="font-weight: 400;">How to Watch your Friend’s Screen</span></a></li>
<li style="font-weight: 400;"><a href="#h_01ESM3SEZ8M2N2RCTZ2CE9647V" target="_self"><span style="font-weight: 400;">Best Practices when Screensharing</span></a></li>
</ul>
<h1 id="h_01ESM3QERNVRFK0E6ESYFNW8R2"><span style="font-weight: 400;">Mobile Screenshare Requirements</span></h1>
<p><span style="font-weight: 400;">Before you start sharing your screen with your friends, you’ll need to double check that your device and OS meet these requirements mentioned below.</span></p>
<p><span style="font-weight: 400;">Additionally, this section will cover any limitations in the apps that you can share on your screen. </span></p>
<h2 id="h_01ESM3QMBSBEMK7Q29Y3AKJEVN"><span style="font-weight: 400;">Supported Devices</span></h2>
<p><span style="font-weight: 400;">At this time, you’ll be able to screenshare from both iOS and Android mobile devices. </span></p>
<h3><span style="font-weight: 400;">Note: Mobile Screenshare is currently unavailable on Xiaomi devices with the MIUI OS. </span></h3>
<h2 id="h_01ESM3QRT2M26HZ0WTGVQ0X7GH"><span style="font-weight: 400;">OS Limitations</span></h2>
<p><span style="font-weight: 400;">We currently support screensharing on Android 5 and up, and audiosharing on Android 10 and up. Due to Android OS limitations, older versions of the Android OS will be unable to use the audio share feature. </span></p>
<h2 id="h_01ESM3QXS5RGV6N44Q2Q66DE41"><span style="font-weight: 400;">App Limitations</span></h2>
<p><span style="font-weight: 400;">Though most apps are supported, a small number of apps may not support audiosharing on Android devices specifically. </span></p>
<p><span style="font-weight: 400;">Additionally, certain streaming apps do not support either screenshare or audioshare due to their app restrictions, including Netflix and Spotify. </span></p>
<h3><span style="font-weight: 400;"><strong>Note:</strong> We do not provide support for screensharing these streaming applications. </span></h3>
<h2 id="h_01ESM3R309FR6ZA2CYAKT55YVX"><span style="font-weight: 400;">Server Screenshare Permissions</span></h2>
<p><span style="font-weight: 400;">In order to share your screen with your server, make sure you have a role with the </span><strong>Video </strong><span style="font-weight: 400;">permission within the server. If you don’t have this permission, you won’t see an option to share your screen in a server! </span></p>
<p><span style="font-weight: 400;">If you don’t have this </span><strong>Video</strong><span style="font-weight: 400;"> permission for your role, you’ll need to ask the server owner or other administrators to enable the </span><strong>Video</strong><span style="font-weight: 400;"> permission (under the Voice Permissions category).</span></p>
<p class="wysiwyg-text-align-center"><span style="font-weight: 400;"><img src="https://support.discord.com/hc/article_attachments/1500000444782/image4.png" alt="image4.png" width="302" height="577"></span></p>
<h1 id="h_01ESM3R8X4XHK37VHRC4F25DVT"><span style="font-weight: 400;">How to Start Sharing your Screen</span></h1>
<p><span style="font-weight: 400;">Now that you’ve met all the requirements in the section above, you can now start the process of sharing your screen on the mobile app. </span></p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/360101543633/image6.gif" alt="image6.gif" width="471" height="1015"></p>
<p><span style="font-weight: 400;">To start screensharing, first make sure you’re connected to voice. (You can be in a DM, or a GDM or within a voice channel.)</span></p>
<ul>
<li style="font-weight: 400;">
<span style="font-weight: 400;">If you are in a voice-only call, </span>
<ul>
<li style="font-weight: 400;">
<span style="font-weight: 400;">You’ll find the option to start a screenshare by swiping up from the bottom of the screen and then pressing the </span><strong>Screenshare</strong><span style="font-weight: 400;"> button</span>
</li>
</ul>
</li>
<li style="font-weight: 400;">
<span style="font-weight: 400;">If you’re in a video call,</span>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">You’ll see the Screenshare icon from the bottom row of controls visible from the video call</span></li>
</ul>
</li>
</ul>
<h3>
<span style="font-weight: 400;">Note: If you don’t see the option there, swipe up from the bottom of the screen and a voice/video control panel will appear. You can then press the </span><strong>Screenshare</strong><span style="font-weight: 400;"> option from the menu. </span>
</h3>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/360099320014/image5.png" alt="image5.png" width="259" height="494"><img src="https://support.discord.com/hc/article_attachments/360101543653/image12.png" alt="image12.png" width="306" height="493"></p>
<p><span style="font-weight: 400;">Once you press the screenshare icon, a system dialogue message will appear and ask you if you’re ready to start sharing your screen. </span></p>
<p><span style="font-weight: 400;">When you press “Start now”, the app will countdown to 3 and then begin sharing your screen. You’ll then see an official confirmation that your screen is being shared.</span></p>
<p class="wysiwyg-text-align-center"><span style="font-weight: 400;"><img src="https://support.discord.com/hc/article_attachments/1500000453521/image13.png" alt="image13.png" width="295" height="563"><img src="https://support.discord.com/hc/article_attachments/360099320114/image10.png" alt="image10.png" width="291" height="562"></span></p>
<h3><span style="font-weight: 400;">Note: While sharing your screen, you’ll also be able to video chat at the same time! Just press the Video icon in the control panel to share your video!</span></h3>
<h1 id="h_01ESM3S0N0RP1DQM0QQF16HNWS"><span style="font-weight: 400;">How to Stop Sharing your Screen</span></h1>
<p><span style="font-weight: 400;">Once you’ve finished sharing your screen, you can easily stop sharing your screen through a couple of different methods. </span></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Directly pressing the “Stop Sharing” button directly in the chat window</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Pressing the Screenshare icon in the voice/video control panel at the bottom of the screen</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Or pressing the “Stop Streaming” button within your device’s Notification panel</span></li>
</ul>
<p class="wysiwyg-text-align-center"><span style="font-weight: 400;"><img src="https://support.discord.com/hc/article_attachments/360099320174/image2.png" alt="image2.png" width="303" height="587"><img style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;" src="https://support.discord.com/hc/article_attachments/360101543873/image9.png" alt="image9.png" width="302" height="586"></span></p>
<h1 id="h_01ESM3S8XDRFHC7WWJV159CZY8"><span style="font-weight: 400;">How to Watch your Friend’s Screen</span></h1>
<p><span style="font-weight: 400;">If you have a friend who starts streaming while you’re connected to voice, you’ll see an option pop up to watch their stream. </span></p>
<p><span style="font-weight: 400;">Once you press this “</span><strong>Join/Watch Stream</strong><span style="font-weight: 400;">” button, you’ll be able to directly watch your friend’s stream!</span></p>
<h3><span style="color: #68737d; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;">Note: Streams have a maximum of 50 concurrent viewers (50 viewers, plus the broadcaster!).</span></h3>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/360099320194/image1.png" alt="image1.png" width="315" height="610"><img src="https://support.discord.com/hc/article_attachments/1500000453741/image8.png" alt="image8.png" width="315" height="609"></p>
<p><span style="font-weight: 400;">If you have multiple friends that are sharing their screen at the same time, you’ll be able switch the stream that you are watching by pressing the </span><strong>Watch Stream</strong><span style="font-weight: 400;"> button on the other friend’s stream.</span></p>
<p><span style="font-weight: 400;">Once pressed, you’ll then be shown your other friend’s screen instead!</span></p>
<h2><span style="font-weight: 400;">Controlling the Stream Settings</span></h2>
<p><span style="font-weight: 400;">While watching your friend’s shared screen, you’ll be able to swipe up from the bottom of the screen to control the stream volume!</span></p>
<p class="wysiwyg-text-align-center"><span style="font-weight: 400;"><img src="https://support.discord.com/hc/article_attachments/1500000453761/image3.png" alt="image3.png" width="307" height="596"></span></p>
<h1 id="h_01ESM3SEZ8M2N2RCTZ2CE9647V"><span style="font-weight: 400;">Best Practices when Screensharing </span></h1>
<h3><strong>While screensharing, whatever is on your mobile screen will be visible, including notifications on your device. </strong></h3>
<p><strong>As a best practice, we recommend you do the following steps before starting to share your screen on your mobile device!</strong></p>
<ol>
<li><span style="font-weight: 400;">Close all other app windows in advance prior to sharing your screen</span></li>
<li><span style="font-weight: 400;">Turn off notifications or switching to Do Not Disturb mode on your mobile device if you don’t want your friends to see your notifications</span></li>
</ol>
<h3><span style="font-weight: 400;">Additionally, be extremely cautious with any sensitive and private information you may have on your mobile device. </span></h3>
<h3><span style="font-weight: 400;">If you are a Nitro or Nitro Classic subscriber, you can adjust the video quality of your screenshare streams only on desktop devices. You can learn more <a href="https://support.discord.com/hc/en-us/articles/115000435108" target="_blank" rel="noopener">here</a>.</span></h3>