<h3>This feature is only available for the desktop client at this time!</h3>
<p>Has this ever happened to you? You have a catch-up session with friends in a voice channel and right when you're about to turn on your camera, you realize that your room is still recovering from a laundry hamper implosion. It's absolutely okay for you to leave your camera turned off, but if you want to turn on your camera and not have to show your shirts and socks scattered behind you, we're excited to offer a new feature for video calls: <strong>video </strong><strong>backgrounds</strong>!</p>
<p>With video backgrounds, all Discord users can express themselves by choosing from a selection of Discord-provided backgrounds and Nitro users can upload custom backgrounds. This article will cover everything you need to know about backgrounds!</p>
<p><span class="wysiwyg-font-size-large"><strong>What does this article cover?</strong></span></p>
<ul>
<li><a href="#h_01FMV06MJZSR944PB3HBWHPE4Q" target="_self">What are video backgrounds?</a></li>
<li>
<a href="#h_01FMV06XDBY7XA5PH433PHJXXP" target="_self">Where can I choose and preview video backgrounds?</a>
<ul>
<li><a href="#h_01FMV073C4EZFEMPJ5RXRMCX3G" target="_self">Under User Settings</a></li>
<li><a href="#h_01FMV079BD4PEZ7BCFGTTZ5EM5" target="_self">In a Voice Channel</a></li>
</ul>
</li>
<li>
<a href="#h_01FMV07X62A7NVCZFKGS24N6BW" target="_self">How do I upload a custom background?</a>
<ul>
<li><a href="#h_01FMV083VWATKKE4SZ8MBZ1386" target="_self">Under User Settings</a></li>
<li><a href="#h_01FMV08AV9X8S973WVA19TXEFD" target="_self">In a Voice Channel</a></li>
</ul>
</li>
<li>
<a href="#h_01FMV08H1WH5CR6B52PDD22VFC" target="_self">Frequently Asked Questions</a>
<ul>
<li>What are the accepted file types?</li>
<li>What is the max image size file for background images?</li>
<li>Can I edit video backgrounds after I upload them?</li>
<li>How many custom backgrounds can I upload?</li>
<li>How can I remove video backgrounds</li>
<li>Will I get in trouble for using an inappropriate image as a video background?</li>
</ul>
</li>
</ul>
<h1 id="h_01FMV06MJZSR944PB3HBWHPE4Q">What are video backgrounds?</h1>
<p>Video backgrounds are virtual backgrounds that you can apply to your personal video stream when you turn on your camera for calls. Backgrounds can be applied for video calls both in servers and DMs.</p>
<p>For all users, there are a few video backgrounds readily available:</p>
<ul>
<li>
<strong>Background Blur</strong> - Add a blur to your surroundings and present a focused, clear picture of yourself.</li>
<li>
<strong>Discord Preset Backgrounds</strong> - Pick from 4 official Discord presets as your video background.</li>
</ul>
<h1 id="h_01FMV06XDBY7XA5PH433PHJXXP">Where can I choose and preview video backgrounds?</h1>
<p>There are two main ways you can choose and preview your video backgrounds, which is through your user settings or in a voice channel.</p>
<h3>Pro-tip: It's a good idea to enable the Preview Video option so that you can always see how your video and video background looks.</h3>
<h2 id="h_01FMV073C4EZFEMPJ5RXRMCX3G">Under User Settings</h2>
<p>1. Press on the cog wheel in the bottom left corner of your client to go to your User Settings, then choose Voice &amp; Video in the left hand panel.</p>
<p>2. Scroll down to the Video Settings section and you'll see the "Always preview video" option, your Camera drop-down menu, and the Video Background options you have.</p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/4413827838615/video_settings.png" alt="video_settings.png"></p>
<p>3. You can choose your desired background, but if you want to preview the background with your video, you'll need to press the Test Video button in the box at the top of this section.</p>
<p>4. Make sure to choose the camera you want to use for video calls when you are previewing a background!</p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/4413834975383/preview.png" alt="preview.png"></p>
<h2 id="h_01FMV079BD4PEZ7BCFGTTZ5EM5">In a Voice Channel</h2>
<p>1. Join a voice channel and then press on the Video button, either in the bottom left corner or at the bottom center of the client while focused in the voice channel.</p>
<p>2. If you have the Preview Video function enabled, you will be able to preview your video stream and choose a video background for your call. Once you've decided on your background, press on the Turn On Camera button.</p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/4413820300055/preview_setting.png" alt="preview_setting.png"></p>
<p>3. If you don't have the Preview Video function enabled, your camera will turn on in your call and the background you picked the last time you were in a video call will be used.</p>
<p>4. To choose a different video background, press on the downward arrow next to the Video button while in the voice channel and select Change Video Background from the menu.</p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/4413834991511/change_bg.png" alt="change_bg.png"></p>
<h1 id="h_01FMV07X62A7NVCZFKGS24N6BW">How do I  upload a custom background?</h1>
<p>For <a href="https://support.discord.com/hc/en-us/articles/115000435108" target="_blank" rel="noopener noreferrer"><strong>Nitro</strong></a> users, you can personalize your video call experience by uploading your own video backgrounds. The accepted file types are JPG, PNG, GIF, and MP4 files and the maximum image file size is 10 MB. Also, you can save up to 10 custom backgrounds for an account.</p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/4413820312855/custom_modal.png" alt="custom_modal.png" width="413" height="509"></p>
<p>Here's how to upload a custom background:</p>
<h2 id="h_01FMV083VWATKKE4SZ8MBZ1386">Under User Settings</h2>
<p>1. Press on the cog wheel in the bottom left corner of your client to go to your User Settings, then choose Voice &amp; Video in the left hand panel.</p>
<p>2. Scroll down to the Video Settings section and find your collection of Video Background options.</p>
<p>3. Press on the square that says Custom and then follow your OS's prompts to upload a file.</p>
<h2 id="h_01FMV08AV9X8S973WVA19TXEFD">In a Voice Channel</h2>
<p>1. Join a voice channel and then press on the Video button, either in the bottom left corner or at the bottom center of the client while focused in the voice channel.</p>
<p>2. If you have the Preview Video function enabled, the in-app window will pop up and you'll be able to see your collection of video backgrounds underneath your camera preview.</p>
<p>3. You can also press the downward arrow next to the Video button while in the voice channel and select Change Video Background or Preview Camera from the menu to open the same in-app window with your backgrounds and camera preview.</p>
<p>4. Press on the square that says Custom and then follow your OS's prompts to upload a file.</p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/4413827873303/select_image.png" alt="select_image.png"></p>
<h1 id="h_01FMV08H1WH5CR6B52PDD22VFC">Frequently Asked Questions</h1>
<p><span class="wysiwyg-font-size-large"><strong>Q: What are the accepted file types?</strong></span></p>
<p>A: The accepted file types are JPG, PNG, GIF, and MP4 files.</p>
<p><span class="wysiwyg-font-size-large"><strong>Q: What is the max image file size for background images?</strong></span></p>
<p>A: The maximum image file size is 10 MB.</p>
<p id="h_01FGCPRK0M00FRY1P2XENK2JM2"><span class="wysiwyg-font-size-large"><strong>Q: Can I edit video backgrounds after I upload them?</strong></span></p>
<p>A: You can crop and center JPG, PNG, GIF, and MP4 files.</p>
<p><span class="wysiwyg-font-size-large"><strong>Q: As a Nitro user, how many custom backgrounds can I upload?</strong></span></p>
<p>A: Nitro users can have up to 10 custom backgrounds.</p>
<p><span class="wysiwyg-font-size-large"><strong>Q: How can I remove video backgrounds</strong></span></p>
<p>A: Go to User Settings &gt;  Voice and Video &gt;  Video Section &gt; Right-click on the background and press Remove Background.</p>
<p>You can also join a voice channel &gt; Preview video if you have it enabled or pressing on the downward arrow next to the Video icon &gt; Right-click on the background and press Remove Background</p>
<p>Preset backgrounds cannot be removed and if you are currently previewing a background, you cannot remove that same background</p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/4413827896215/remove_bg.png" alt="remove_bg.png"></p>
<p id="h_01FGCPVDKTQHEY6ZJ8WCTMD3JE"><span class="wysiwyg-font-size-large"><strong>Q: Will I get in trouble for using an inappropriate image as a video background?</strong></span></p>
<p>A: You are responsible for ensuring that any content you use for video backgrounds complies with our <a href="https://discord.com/terms" target="_blank" rel="noopener noreferrer">Terms of Service</a> and <a href="https://discord.com/guidelines" target="_blank" rel="noopener noreferrer">Community Guidelines</a>.</p>
<p> </p>