<h3>🚧 Help center article under construction! 🚧</h3>
<p><strong>What does this FAQ cover?</strong></p>
<ul>
<li><a href="#h_01F2HSMRQH9NBMVFB0DNTSPVJ9" target="_self">Expectations/Etiquette as a Bug Squasher</a></li>
<li><a href="#h_01F2HSMXMNEK3E7N37YHJMTWSX" target="_self">Reviewing bugs</a></li>
<li><a href="#h_01F2HSN4FG45X0TBYDP6JPDAJC" target="_self">Bug priorities</a></li>
<li><a href="#h_01F2HSN9JQ3RZGP5YTNNRRB6RC" target="_self">Determining Bug Severity</a></li>
<li><a href="#h_01F2HSNPJYKGPCYRQPTC9J4FTQ" target="_self">Bug Severity Breakdown</a></li>
<li><a href="#h_01F2HSNW7GGV2D4K464Y9QGVH3" target="_self">Focus Tests</a></li>
<li><a href="#h_01F2HSP1AHKVB1NFJ4B21ZPEEY" target="_self">Interaction with queue</a></li>
<li><a href="#h_01F2HSP71QDC0BXPAJ2YH4TEC0" target="_self">Squasher+ Commands</a></li>
</ul>
<h2 id="h_01F2HSMRQH9NBMVFB0DNTSPVJ9"><span style="font-weight: 400;">Expectations/Etiquette as a Bug Squasher</span></h2>
<p><span style="font-weight: 400;">These are our behavior expectations of the behavior that we expect from every single Bug Squasher addition to the server rules and expectations of Bug Hunters: </span></p>
<ol>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Work from top to bottom/least recent to recent in the queue.</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Discuss with squashers and above whether a bug should be approved or denied.</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">When asking a Bug Hunter for more information or clarification it is done in a respectful and friendly manner.</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Check attachments before adding them. Ensure there are no invites, sensitive information, or offensive language.</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Do not under any circumstance interact with troll/spam reports/bug stealing. If you happen to find one of these in the queue, let a Jr. Mod, Moderator, or Bug Admin know.</span></li>
</ol>
<h2 id="h_01F2HSMXMNEK3E7N37YHJMTWSX"><span style="font-weight: 400;">Reviewing bugs</span></h2>
<p><span style="font-weight: 400;">Submitted bugs go through review by Bug Squasher and up. Interacting with the approval queue as a Bug Hunter is not possible.</span></p>
<p><span style="font-weight: 400;">Steps to reviewing bugs are:</span></p>
<ol>
<li style="font-weight: 400;" aria-level="1">
<span style="font-weight: 400;">Is the bug report valid? </span>
<ol>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Does the information check out?</span></li>
<li style="font-weight: 400;" aria-level="2"><span style="font-weight: 400;">Not on the unsupported list?</span></li>
<li style="font-weight: 400;" aria-level="2"><span style="font-weight: 400;">Is it too minor?</span></li>
</ol>
</li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Is the bug report a duplicate of an already reported bug or already in the queue?</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Test the bug with the information on the report.</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">If reproducible, add an approval, if not then add a denial.</span></li>
</ol>
<h2 id="h_01F2HSN4FG45X0TBYDP6JPDAJC"><span style="font-weight: 400;">Bug priorities</span></h2>
<p><span style="font-weight: 400;">As a Squasher you’ll have to decide with your fellow squashers and up about which bugs are bugs and which are too minor. The bugs which are too minor for Discord Testers get denied but can be redirected towards </span><a href="https://dis.gd/bugreport"><span style="font-weight: 400;">https://dis.gd/bugreport</span></a><span style="font-weight: 400;">.  </span></p>
<h2 id="h_01F2HSN9JQ3RZGP5YTNNRRB6RC"><span style="font-weight: 400;">Determining bug severity</span></h2>
<p><strong>Urgent Bugs (P0/P1)</strong></p>
<p><span style="font-weight: 400;">These are reports that impact the user experience negatively on a large scale and need an urgent fix. These reports should be flagged to a Bug Admin so they can get them fast-tracked to the appropriate staff member.</span><span style="font-weight: 400;"><br></span><span style="font-weight: 400;"><br></span><span style="font-weight: 400;">Examples:</span></p>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Discord crashes when you send a message.</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Uploading a file crashes discord</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Can’t create channels</span></li>
</ul>
<p><strong>Less Urgent Bugs (P2)</strong></p>
<p><span style="font-weight: 400;">These bugs still negatively impact the user experience, but they do not completely break the app. They will be fixed when a developer has time and do not require escalation to a Bug Admin.</span></p>
<p><span style="font-weight: 400;">Examples:</span></p>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Disabling slow mode doesn’t update running timers</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">The sticker picker does not close when previewing a sticker pack</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Typing an incorrect password when changing your username shows the error on other modals</span></li>
</ul>
<p><strong>Too Minor/Won't Fix (P3)</strong></p>
<p><span style="font-weight: 400;">There are a lot of little discrepancies and issues that have a very low impact on the user experience in the app. These issues are not a priority to get fixed and should not be pushed to the bug website.</span></p>
<p><span style="font-weight: 400;">Examples:</span></p>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Trying to block a deleted account says “Friend Request Failed”</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">When moving a server, the server shows up as if it’s in a folder</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Categories in muted servers cannot be marked as read</span></li>
</ul>
<p><strong>Not a Bug (NAB)</strong></p>
<p><span style="font-weight: 400;">These are reports that include intended behavior. If you are unsure if something is intended or not ask your fellow Squashers to see if they have come across this already or if there were previously denied bugs with that behavior.</span></p>
<h2 id="h_01F2HSNPJYKGPCYRQPTC9J4FTQ"><span style="font-weight: 400;">Bug severity breakdown</span></h2>
<p><span style="font-weight: 400;">It’s fine if you don’t immediately know what bug is a P2 or a P1. With time and with experience in the server it’ll be easier to recognize which priority a bug has. Until then you can look at the chart or ask others in chat.</span></p>
<table>
<tbody>
<tr>
<td> </td>
<td>
<p><span style="font-weight: 400;">Urgent</span></p>
</td>
<td>
<p><span style="font-weight: 400;">Less Urgent</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">Important</span></p>
</td>
<td>
<p><span style="font-weight: 400;">P0</span></p>
</td>
<td>
<p><span style="font-weight: 400;">P2</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">Less Important</span></p>
</td>
<td>
<p><span style="font-weight: 400;">P1</span></p>
</td>
<td>
<p><span style="font-weight: 400;">Too Minor/Won’t Fix</span></p>
</td>
</tr>
</tbody>
</table>
<p> </p>
<h2 id="h_01F2HSNW7GGV2D4K464Y9QGVH3"><span style="font-weight: 400;">Focus Tests</span></h2>
<p><span style="font-weight: 400;">Focus tests are small (or big!) tests our employees set up to test and receive feedback to new potential features or builds. It can range from new features to reworked code that needs to be tested to see if things don’t break when they get updated. Anything you see in them is still a </span><strong>Work in Progress</strong><span style="font-weight: 400;"> and can change or be discarded prior to a public release.</span></p>
<p><span style="font-weight: 400;">Once a focus test is about to launch there will be a form to react to so we have an idea of which devices/platforms we have people testing on. Once the test is ready to launch you’ll be invited into the server and receive information on what is being tested.</span></p>
<p><span style="font-weight: 400;">These tests are private. Don't share or leak information or access.</span></p>
<h2 id="h_01F2HSP1AHKVB1NFJ4B21ZPEEY"><span style="font-weight: 400;">Interaction with queue</span></h2>
<p><span style="font-weight: 400;">We rely on you guys to help us filter through the incoming reports and push the important bugs. You'll do this by going through the queue and approving and denying the reports. Sometimes you'll attach an image or video to a report, to aid others on what a bug looks like.</span></p>
<p><span style="font-weight: 400;">The way it works: you discuss with other squashers and up whether a bug should be approved, denied or if it is a duplicate. After you’ve discussed the bug, you approve/deny. While doing that, you should not blindly follow others.</span></p>
<h2 id="h_01F2HSP71QDC0BXPAJ2YH4TEC0"><span style="font-weight: 400;">Squasher+ Commands</span></h2>
<p><span style="font-weight: 400;">As a Squasher, you can use the same commands as Bug Hunters and additionally interact with the approval queue. The following commands are only used in the approval queue.</span></p>
<p><span style="font-weight: 400;"><strong>`!approve`</strong> - When a squasher can reproduce the bug report in the queue...</span></p>
<p><span style="font-weight: 400;"><strong>`!deny`</strong> - When a squasher can not reproduce the bug, it is invalid, unsupported or not a bug.</span></p>
<p><span style="font-weight: 400;"><strong>`!revoke`</strong> - Removes the approval or denial from the bug completely.</span></p>
<p><span style="font-weight: 400;"><strong>`!attach`</strong> - Adds an attachment to a bug report.</span></p>
<p><span style="font-weight: 400;"><strong>`!detach`</strong> - Removes an attachment to a bug report. </span></p>
<p><span style="font-weight: 400;">Information on how to use these commands is found in the <a href="https://support.discord.com/hc/en-us/articles/360045884472" target="_blank" rel="noopener">DBug Bot Commands FAQ</a></span></p>