<section class="article-info">
<div class="article-content">
<div class="article-body">
<p><strong>Welcome! We're excited that you'd like to learn more about the Discord Admin Community, a server for community builders and leaders. This community is in alpha and we'll be making a few changes, so stay tuned for more info</strong></p>
<p><img src="https://support.discord.com/hc/article_attachments/5309062925079/2022_HostServer_FNL_INVITE_1.png" alt="2022_HostServer_FNL_INVITE_1.png"></p>
<h1>WHAT IS THE DISCORD ADMIN COMMUNITY?</h1>
<p><span style="font-weight: 400;">This space allows Discord to chat with admins, moderators, and server owners who manage a server with Community Settings on. Here you can learn more about features, use best practices, and meet other members who want to improve their communities!</span></p>
<p><span class="wysiwyg-font-size-large wysiwyg-color-blue90"><strong>How can other admins, owners, or moderators join this space?</strong></span></p>
<p><span style="font-weight: 400;">This community is currently in closed alpha. We are working on a streamlined way to include new users, so stay tuned for more updates when we're closer to fully launching the community!</span></p>
<h2><span style="font-weight: 400;">How to Contact </span></h2>
<p><span style="font-weight: 400;">We'd love to hear from you! Please submit your questions and feedback on our</span><a href="https://dis.gd/cprog" target="_self" rel="undefined"> Community Program support form</a><span style="font-weight: 400;">, and remember to select Admin Server in the Community Program dropdown.</span></p>
</div>
</div>
</section>
<footer>
<div class="article-footer">
<div class="article-share"> </div>
</div>
</footer>