<section class="article-info">
<div class="article-content">
<div class="article-body">
<section class="article-info">
<div class="article-content">
<div class="article-body">
<p><strong>Welcome! We're excited that you'd like to learn more about the Discord Admin Community, a server for community builders and leaders.</strong></p>
<p><img src="https://support.discord.com/hc/article_attachments/6823958235799/Screen_Shot_2022-06-16_at_7.52.57_AM.png" alt="Screen_Shot_2022-06-16_at_7.52.57_AM.png"></p>
<h1>WHAT IS THE DISCORD ADMIN COMMUNITY?</h1>
<p><span style="font-weight: 400;">This space allows Discord to chat with admins, moderators, and server owners who manage a server with Community Settings on. Here you can learn more about features, use best practices, and meet other members who want to improve their communities!</span></p>
<p><span class="wysiwyg-font-size-large wysiwyg-color-blue90"><strong>What type of help can I find in the Admin Community?</strong></span></p>
<p><span style="font-weight: 400;">You can find help for a variety of things such as server insights, moderation and safety, coding and bots. Members will also receive product updates and tips from Discord on best practices!</span></p>
<p><span style="font-weight: 400;"><span class="wysiwyg-font-size-large wysiwyg-color-blue90"><strong>Where can I find the rules for the server?</strong></span></span></p>
<p><span style="font-weight: 400;">The rules can be found in the #community-rules channel. Be sure to follow them!</span></p>
<p><span style="font-weight: 400;"><span class="wysiwyg-font-size-large wysiwyg-color-blue90"><strong>I'm in the server, but I can't see any channels! What should I do?</strong></span></span></p>
<p><span style="font-weight: 400;">Not to worry. Check if you have agreed to the rules in</span> <span style="font-weight: 400;">#community-rules. Reach out to our support team using the </span><a href="https://dis.gd/cprog"><span style="font-weight: 400;">Community Program support form</span></a><span style="font-weight: 400;"> if you are still unable to see any channels.</span></p>
<h2><strong>JOIN THE DISCORD ADMIN COMMUNITY</strong></h2>
<p><strong>What are the requirements to join this space?</strong></p>
<p><span style="font-weight: 400;">Below are the server requirements you will have to reach:</span></p>
<ul>
<li aria-level="1">Have at least 500 members on your server</li>
<li aria-level="1">Your server must be at least 3 months old</li>
<li aria-level="1">Enable the <a href="https://support.discord.com/hc/en-us/articles/360047132851-Enabling-Your-Community-Server">Community feature</a> on your server</li>
<li aria-level="1">Have at least a 40%<strong> monthly member retention </strong>rate</li>
</ul>
<p><strong>How can other admins, server owners, or moderators join this space?</strong></p>
<p><span style="font-weight: 400;">To join the Admin Community Server:</span></p>
<ul>
<li aria-level="1">Go to your Server Settings</li>
<li aria-level="1">Click on “Overview” In the Community section</li>
<li aria-level="1">Click “Join Discord's Admin Server”</li>
</ul>
<p><span class="wysiwyg-font-size-medium">Note: The only way to join is on desktop. This is unavailable on mobile devices.</span><strong style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;"><img src="https://support.discord.com/hc/article_attachments/6823912655639/Screen_Shot_2022-06-15_at_6.19.37_PM.png" alt="Screen_Shot_2022-06-15_at_6.19.37_PM.png"></strong></p>
<p><strong style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;"><strong style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;">Can I join the Admin Community Server without being a Server Owner? </strong></strong></p>
<p><span style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;">Yes - you can join as long as you have the "Manage Server" permission natively in Discord.</span></p>
<p><strong style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;">The admins and moderators in our community would like to join, but the owner is inactive or doesn’t want to join. Can we join on their behalf?</strong></p>
<p><span style="font-weight: 400;">Of course</span><span style="font-weight: 400;">!</span></p>
</div>
</div>
</section>
<footer>
<div class="article-footer">
<div class="article-share">
<h2><span style="font-weight: 400;">SUSPICOUS THINGS TO LOOK OUT FOR</span></h2>
<p><strong>Someone invited me to an admin server. How do I know it’s the real deal?</strong></p>
<p><span style="font-weight: 400;">The Discord Admin Community Server is a Verified Server. Be cautious of any server posing to be this server. An indicator to look out for is the green verified check mark.</span></p>
<p><img src="https://support.discord.com/hc/article_attachments/6823987696791/Screen_Shot_2022-06-16_at_7.55.48_AM.png" alt="Screen_Shot_2022-06-16_at_7.55.48_AM.png" width="252" height="47"></p>
<p><strong>I received a DM related to the Admin Server. How do I know if it’s legitimate?</strong></p>
<p><span style="font-weight: 400;">If you receive a DM mentioning the Admin Server, an invite to the Admin Server, any type of “sign up” or similar message, please be extremely cautious not to click on any link within the message. </span></p>
<p><span style="font-weight: 400;">Unless the message is an automated system message with the verified “System” label and checkmark (see image below) the message is not from Discord, and should be reported to Trust and Safety as Spam.</span></p>
<p><img src="https://support.discord.com/hc/article_attachments/6824013898519/Screen_Shot_2022-06-16_at_7.55.59_AM.png" alt="Screen_Shot_2022-06-16_at_7.55.59_AM.png" width="260" height="49"></p>
<p><span style="font-weight: 400;">As a friendly reminder, Discord staff will </span><strong>never</strong><span style="font-weight: 400;"> ask for any of your account information or redirect you to outside third-party sites. Always practice caution when receiving any messages posing as official Discord communication that seem strange, and report them to Trust and Safety by clicking the “Report Spam” button or sending in a report manually here: <a href="dis.gd/report" target="_self">dis.gd/report</a>.</span></p>
<h2><span style="font-weight: 400;">How to Contact </span></h2>
<p><span style="font-weight: 400;">We'd love to hear from you! Please submit your questions and feedback on our </span><a href="https://dis.gd/cprog"><span style="font-weight: 400;">Community Program support form</span></a><span style="font-weight: 400;">, and remember to select Admin Server in the Community Program dropdown.</span></p>
</div>
</div>
</footer>
</div>
</div>
</section>