<p><span style="font-weight: 400;">Communities are an essential part of Discord, and we’re making it a core responsibility for us to serve communities and create first-class experiences for both administrators and members.</span></p>
<p><span style="font-weight: 400;">If you run a community, you can now designate your server as a “</span><strong>Community Server</strong><span style="font-weight: 400;">” inside Server Settings and get access to some powerful tools to help your run, moderate, and grow your server! </span></p>
<h1><span style="font-weight: 400;">What does this article cover? </span></h1>
<ul>
<li style="font-weight: 400;"><a href="#h_01EEJW06BWCBBNNSM2SNW17GBW" target="_self">Requirements for Enabling Community</a></li>
<li style="font-weight: 400;"><a href="#h_01EEK1ERA1EK6KPVEQ7VDW5GN7" target="_self">Tools for Community Servers</a></li>
<li style="font-weight: 400;"><a href="#h_01EEJW0GKM67ST7VZ0NG92YQJG" target="_self">How do you Enable Community?</a></li>
<li style="font-weight: 400;"><a href="#h_01EEJW0PMT75BCRPHM846ZDD21" target="_self">How to Customize Your Community Settings</a></li>
<li style="font-weight: 400;"><a href="#h_01EEJW0VY6Z0D489GFX2JHK7TZ" target="_self">How to Disable Your Community Server?</a></li>
</ul>
<h1 id="h_01EEJW06BWCBBNNSM2SNW17GBW"><span style="font-weight: 400;">Requirements for Enabling Community</span></h1>
<p><span style="font-weight: 400;">In order to enable <strong>Community</strong> for your Discord server, you are required to have the following settings enabled in order to ensure safety in the community:</span></p>
<ul>
<li>
<strong>Safety Checks </strong>
<ul>
<li>
<strong>Verification Level Setting</strong>
<ul>
<li><span style="font-weight: 400;">Members of the server must have a verified email on their Discord account before sending messages or DMing anyone in the server. (Note that this doesn’t apply to users that have assigned roles!)</span></li>
</ul>
</li>
<li>
<strong>Explicit Media Content Filter </strong> 
<ul>
<li>Scan media content from all members: this will scan all media sent in the server and delete any content that contains explicit content. However, you can mark certain channels age-restricted to avoid this happening. <a href="https://support.discord.com/hc/en-us/articles/115000084051" target="_blank" rel="noopener">Learn more about how to do this here</a>!</li>
</ul>
</li>
</ul>
</li>
<li>
<strong>Rules or Guidelines Channel </strong>
<ul>
<li><span style="font-weight: 400;">There must be a clearly posted server rules channel for members. This is useful so that new members understand what is cool and not cool in your community!</span></li>
</ul>
</li>
<li>
<strong>Community Updates/Moderators Channel </strong>
<ul>
<li><span style="font-weight: 400;">This is the channel where Discord will send announcements and updates relevant to Community server admins and moderators, like new moderation features.</span></li>
</ul>
</li>
<li>
<span style="font-weight: 400;">Lastly, you must agree that </span><strong>your server complies with our <a href="https://support.discord.com/hc/en-us/articles/360035969312" target="_blank" rel="noopener">Community Guidelines</a></strong><span style="font-weight: 400;"> and that </span><a href="https://discord.com/new/safety/360043712132-How-we-investigate" target="_blank" rel="noopener"><strong>Discord may check the contents of your server to make sure it’s safe</strong></a><span style="font-weight: 400;">! We want to make sure that users joining your server have a good experience and that there’s nothing that violates our Guidelines on your server.</span>
</li>
</ul>
<h2 id="h_01EEK1ERA1EK6KPVEQ7VDW5GN7">Tools for Community Servers</h2>
<ul>
<li style="font-weight: 400;">
<a href="https://support.discord.com/hc/en-us/articles/360043913591" target="_blank" rel="noopener"><strong>Welcome Screen:</strong><span style="font-weight: 400;"> </span></a>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Set up a personalized welcome screen for new visitors of your server so they know what your community is about and where to start. This way, they can immediately head to the welcome and rules channels instead of wandering around lost.</span></li>
</ul>
</li>
<li style="font-weight: 400;">
<a href="https://support.discord.com/hc/en-us/articles/360032008192" target="_blank" rel="noopener"><strong>Announcement Channels: </strong></a>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">These are special channels that enable you to broadcast messages beyond your server. Users can “Follow” your announcement channels and receive those updates directly to their own servers.</span></li>
</ul>
</li>
<li style="font-weight: 400;">
<strong>Direct Community Updates from Discord: </strong>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">New features and changes from Discord can significantly impact your server. To help keep up to date, you can now select a moderator-only channel for official Discord updates. We’ll give you that heads up so you and your moderation team will always be prepared.</span></li>
</ul>
</li>
<li style="font-weight: 400;">
<a href="https://support.discord.com/hc/en-us/articles/360032807371" target="_blank" rel="noopener"><strong>Server Insights: </strong></a>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Server Insights provides information about your server that can let you know how your community is doing. Is it healthy? Are people talking? What's your retention look like?</span></li>
</ul>
</li>
<li style="font-weight: 400;">
<a href="https://support.discord.com/hc/en-us/articles/360023968311" target="_blank" rel="noopener"><strong>Discovery:</strong></a>
<ul>
<li style="font-weight: 400;">
<span style="font-weight: 400;">You can display your community directly on Discord’s Server Discovery — no more having to advertise somewhere else to attract new users! </span>
<ul>
<li style="font-weight: 400;"><em><strong>Note: </strong>This is currently limited to servers with more than 1000 members and Partnered &amp; Verified servers. We will lower these limits over time.</em></li>
</ul>
</li>
</ul>
</li>
</ul>
<h1 id="h_01EEJW0GKM67ST7VZ0NG92YQJG"><span style="font-weight: 400;">How to Enable Your Community Server?</span></h1>
<p><span style="font-weight: 400;">If you’re ready to convert your server into a Community server, you’ll need to start by heading into your <strong>Server Settings</strong>! </span></p>
<p><span style="font-weight: 400;">Click on your server name in the upper left corner, and you’ll see a drop down menu appear! Then press <strong>Server Settings</strong> in the menu!</span></p>
<p><span style="font-weight: 400;">Once you’re in your <strong>Server Settings</strong>, scroll down and and then click on <strong>Enable Community</strong> in the left side bar! </span></p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/360063296192/image4.gif" alt="image4.gif" width="516" height="390"></p>
<p><span style="font-weight: 400;">Press the purple <strong>Get Started</strong> button to begin setting up your Community Server! </span></p>
<p><span style="font-weight: 400;">You’ll then go through a series of steps to make sure your community is set up for success in being able to protect and manage your community! </span></p>
<p><span style="font-weight: 400;">After confirming that you agree and understand that your server must comply with the <a href="https://support.discord.com/hc/en-us/articles/360035969312" target="_blank" rel="noopener">Community Guidelines</a> and that Discord may check the contents of your server to make sure it’s safe and there's nothing that violates these guidelines, press <strong>Finish Setup</strong> to start managing your Community Server!</span></p>
<p class="wysiwyg-text-align-center"><span style="font-weight: 400;"><img src="https://support.discord.com/hc/article_attachments/360063296872/image2.gif" alt="image2.gif" width="514" height="389"></span></p>
<h1 id="h_01EEJW0PMT75BCRPHM846ZDD21"><span style="font-weight: 400;">How to Customize Your Community Settings</span></h1>
<p><span style="font-weight: 400;">If you’d like to make changes to your <strong>Community Server Settings</strong> at any point in time, head back into your <strong>Server Settings</strong>, and then select the <strong>Overview</strong> tab (under the Community header) in the left side bar! </span></p>
<p><span style="font-weight: 400;">Once you’re in the Overview tab, you’ll be able to: </span></p>
<ul>
<li><span style="font-weight: 400;">Set up your server’s Welcome Screen</span></li>
<li><span style="font-weight: 400;">Change which channel will act as the host for your rules and guidelines</span></li>
<li><span style="font-weight: 400;">Change which channel will be your moderator’s only channel to see updates from Discord</span></li>
<li><span style="font-weight: 400;">Change your server’s Primary Language</span></li>
</ul>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/360063297512/image5.png" alt="image5.png" width="563" height="470"></p>
<h1 id="h_01EEJW0VY6Z0D489GFX2JHK7TZ"><span style="font-weight: 400;">How to Disable Your Community Server? </span></h1>
<p><span style="font-weight: 400;">If at any time, you decide that you no longer want to enable the Community server, you’ll be able to directly disable these settings as well! (And if you ever change your mind after disabling, you can always re-enable the Community settings!)</span></p>
<p><span style="font-weight: 400;">To disable the Community Server settings, head back into your Server Settings, and then select the Overview tab (under the Community header) in the left side bar! </span></p>
<p><span style="font-weight: 400;">Once you are in the Overview tab, scroll down until you see the Disable Community section, and then press Disable Community. </span></p>
<p><span style="font-weight: 400;">Lastly, make sure to press Save Changes to confirm that you want to disable these settings!</span></p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/360063468411/image1.png" alt="image1.png" width="572" height="280"></p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/360063468431/image3.png" alt="image3.png" width="573" height="53"></p>