<p>Let's keep this short and sweet. To add someone to your friends list, open it up in your client window:</p>
<p><img src="https://support.discord.com/hc/article_attachments/360058108012/Capture47.jpg" alt="Capture47.jpg"> </p>
<p>Click the button labeled add friend:</p>
<p><img src="https://support.discord.com/hc/article_attachments/360058271931/Capture48.jpg" alt="Capture48.jpg"></p>
<p> You'll see a small pop up window with a text box. Should look like this:</p>
<p><img src="https://support.discord.com/hc/en-us/article_attachments/212020287/NewAddFriend.png" alt=""></p>
<h1>
<span class="wysiwyg-font-size-large">So Many Options!</span> </h1>
<p>Did you know there's <strong>a few different ways</strong> to add your friends? We'll take a look at both, so you can choose what floats your boat. </p>
<p><span class="wysiwyg-font-size-large"><strong>1.</strong></span><span class="wysiwyg-underline wysiwyg-font-size-large">Username &amp; Discord Tag:</span></p>
<p><span class="wysiwyg-font-size-medium">If you want to add someone based on their username, you can use that window we found in the in friends list.</span></p>
<h3>
<strong><span class="wysiwyg-font-size-large">HERE'S THE IMPORTANT PART.<br></span></strong><span class="wysiwyg-font-size-medium wysiwyg-font-size-large">Adding your buddy via DiscordTag requires <strong>3 key parts. </strong>Make sure you enter their:<br></span><strong><span class="wysiwyg-font-size-medium wysiwyg-font-size-large">1. </span></strong><span class="wysiwyg-font-size-medium wysiwyg-font-size-large">Full Username <strong>(This is case sensitive!)<br></strong></span><strong><span class="wysiwyg-font-size-medium wysiwyg-font-size-large">2. </span></strong><span class="wysiwyg-font-size-medium wysiwyg-font-size-large">"#" character <br></span><strong><span class="wysiwyg-font-size-medium wysiwyg-font-size-large">3. </span></strong><span class="wysiwyg-font-size-medium wysiwyg-font-size-large">Discord Tag (4 digit/number)</span>
</h3>
<p>When you mix these all together, in that specific order, you should get something that looks like this: </p>
<p class="wysiwyg-text-align-center"><span class="wysiwyg-font-size-x-large"><strong>CatsRtheBest#1234</strong></span></p>
<p>Once you've done that, You'll either get a <span class="wysiwyg-color-green110">Green <span class="wysiwyg-color-black">message telling you your request was successfully sent, or a <span class="wysiwyg-color-red110">Red<span class="wysiwyg-color-black"> message telling you something didn't work. If the request didn't send properly, but sure to double check all the steps and enter it again! We believe in you. =]</span></span></span></span></p>
<p> </p>
<p><span class="wysiwyg-font-size-large"><strong>2.</strong><span class="wysiwyg-underline">Profile Button</span> </span></p>
<p>Alternatively, a super awesome easy way to add your buddy on the fly is to find the add request directly in their profile. Check out how simple this is:</p>
<p><strong>A.</strong> Right click their avatar either in the user list or in the chat window:</p>
<p><img src="https://support.discord.com/hc/article_attachments/360007794751/1_.jpg" alt="1_.jpg" width="674" height="409"> </p>
<p><strong>B.</strong> Click the Profile button:</p>
<p><img src="https://support.discord.com/hc/article_attachments/360007794771/2_.jpg" alt="2_.jpg" width="880" height="702"></p>
<p><strong>C.</strong> Click the "Send Friend Request" button!</p>
<p><span class="wysiwyg-underline"><img class="shadow" src="https://support.discordapp.com/hc/en-us/article_attachments/206095257/Sentizzle.png" alt="" width="420" height="64"></span></p>
<p> </p>
<p><span class="wysiwyg-font-size-large"><strong>3.</strong><span class="wysiwyg-underline">Right-Click Bonanza</span></span></p>
<p><font size="2">Even cooler: If you travel just a bit further down the right-click menu, you'll see the option to add your buddy directly in the menu. One click and you're good to go!</font></p>
<p><img src="https://support.discord.com/hc/article_attachments/360007794811/3_.jpg" alt="3_.jpg" width="462" height="450"></p>
<p> </p>
<h1>Having Issues Adding a Friend?  </h1>
<p>If you're running into an error adding a friend, there may be a couple possibilities why this might happen!</p>
<p><strong>1) You may have a typo, or need to check the spelling/capitalization in your friend's username! </strong></p>
<p><strong>Double check if you have any extra spaces accidentally as well! </strong></p>
<p>or </p>
<p><strong>2) Your friend may need to change their "Who can add you as a Friend?" Settings (in the Privacy and Safety Tab in their User Settings)!</strong></p>
<p>Depending on your friend's settings, if you're not in the same server, or don't have mutual friends, you'll also receive an error when trying to friend them! </p>
<p><img src="https://support.discord.com/hc/article_attachments/360058887951/Screen_Shot_2020-06-04_at_12.25.29_PM.png" alt="Screen_Shot_2020-06-04_at_12.25.29_PM.png"></p>
<p> </p>