<h3>🚧 Help center article under construction! 🚧</h3>
<h1><span style="font-weight: 400;">How to submit a bug</span></h1>
<p><span style="font-weight: 400;">To submit a bug you need to give us information on what the bug is and how it happens. You have to write a command that is formatted correctly for the bot. This command is made up of different sections. The sections are listed below with a short explanation of what each section is:</span></p>
<p><span style="font-weight: 400;"><span class="wysiwyg-font-size-large"><strong>Title</strong></span><br></span><span style="font-weight: 400;">A short description of the bug in one sentence.</span></p>
<p><span class="wysiwyg-font-size-large"><strong>Reproduction Steps<br></strong></span><span style="font-weight: 400;">Step by step how to make the bug happen</span></p>
<p><span class="wysiwyg-font-size-large"><strong>Expected Result<br></strong></span><span style="font-weight: 400;">What should happen</span></p>
<p><span class="wysiwyg-font-size-large"><strong>Actual Result<br></strong></span><span style="font-weight: 400;">What actually happens </span></p>
<p><span class="wysiwyg-font-size-large"><strong>Client settings<br></strong></span><span style="font-weight: 400;">The discord build, host, and version you are using</span></p>
<p><span class="wysiwyg-font-size-large"><strong>System settings<br></strong></span><span style="font-weight: 400;">Operating system, for a phone the device + os version, for a pc the os version</span></p>
<p><span style="font-weight: 400;">To indicate which section you are giving information on you have to use - in combination with a letter. There is also a longer version which is -- in combination with a word. Each section has its own letter and words listed below:</span></p>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Title: -t or --title</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Reproduction Steps: -r or --repro-steps</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Expected Result: -e or --expected</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Actual Result: -a or --actual</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Client settings: -c or --client</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">System settings: -s or --system</span></li>
</ul>
<h3><span style="font-weight: 400;">Note: on iOS -- will automatically convert —, which is unsupported.</span></h3>
<p><span style="font-weight: 400;">The order of the sections is the order they are in for the submit command. You start off the command with !submit and then you fill in each section and add after each other. For the reproduction steps you start with `-r` write down the first step, add a - and a space before each following step. It is important to have space before and after the - for each step. If you don’t do that the submit command will not be accepted. A correct example of reproduction steps are:</span></p>
<p class="wysiwyg-text-align-center"><span style="font-weight: 400;"><img src="https://support.discord.com/hc/article_attachments/1500008123701/24TSaYNfIrfwRE4ox6MLM6q8B-YuViWQkwwwbuCc5hR_3LdxNJVR30xo8axNEpzGXJJwcXqkemmtwJiq5ruxMZV7TFXSXGwuZd2K.png" alt="24TSaYNfIrfwRE4ox6MLM6q8B-YuViWQkwwwbuCc5hR_3LdxNJVR30xo8axNEpzGXJJwcXqkemmtwJiq5ruxMZV7TFXSXGwuZd2K.png"></span></p>
<p><span style="font-weight: 400;">The left underlined part is the start of the reproduction steps section with the first step. The right underlined part are steps that follow after. Each - tells the bot there is another step. When you are done with the reproduction steps move on to the next sections and fill those out.</span></p>
<p><span style="font-weight: 400;">Don't know how and where to find your client and/or system settings? Check out <a href="https://support.discord.com/hc/en-us/articles/360052735334" target="_blank" rel="noopener noreferrer">How do I find my client info?</a><br></span></p>
<p><span style="font-weight: 400;">Example of a complete bug report:</span></p>
<h3><span style="font-weight: 400;">!submit -t This is a title -r Submitting from - The HC - Gets you - Banned -e This is what is supposed to happen -a This is what actually happens -c Canary 75056 (ead3483) -s Windows 10 Pro x64 v20H2 (OS Build 19042.746)</span></h3>
<p><span style="font-weight: 400;">Finally to actually submit the report you need to send the submit in the reports channel of the platform you have a bug for. When it’s submitted your bug report will show up in the approval queue.</span></p>
<p><span style="font-weight: 400;">Can’t see any platform channels? Please read the <a href="https://support.discord.com/hc/articles/1500005853841" target="_blank" rel="noopener noreferrer">Bug Hunter FAQ</a> on how to get those.</span></p>
<p> </p>
<h2><span style="font-weight: 400;">Editing a bug</span></h2>
<p><span style="font-weight: 400;">If you notice you have made an error in your bug submission you can edit it. You will need the bug submission ID for it. This ID can be found at the bottom left of the embed in the approval queue.</span></p>
<p class="wysiwyg-text-align-center"><span style="font-weight: 400;"><img src="https://support.discord.com/hc/article_attachments/1500007934722/BKw65za.png" alt="BKw65za.png" width="325" height="322"></span></p>
<p><span style="font-weight: 400;">The edit command is similar to the submit command. You start with !edit and then specify the section of the report that you want to edit. Each of these sections is the same as the submit command. You can update one or more sections if needed in the edit command. </span></p>
<p><span style="font-weight: 400;">You can add a section with the shorthands posted below in front of the section and add the new information. For repro-steps it looks the same as explained in the submit command above. Each section is listed below:</span></p>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Title: -t </span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Reproduction Steps: -r </span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Expected Result: -e </span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Actual Result: -a </span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Client settings: -c </span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">System settings: -s</span></li>
</ul>
<p><span style="font-weight: 400;">The edit command can be used in the reports channel or as a direct message to DBug.</span></p>
<p> </p>
<p><strong>Your command should look like this:</strong></p>
<h3>
<span style="font-weight: 400;">Edit command where one section is changed:<br></span><span style="font-weight: 400;">!edit 1234 --title This is the edited title</span>
</h3>
<h3>
<span style="font-weight: 400;">Edit command where more than one section is changed:<br></span><span style="font-weight: 400;">!edit 1234 --title This is the edited title --system windows 11</span>
</h3>