<p>Instant Invites allow your friends to access your server, and with the proper adjustments you'll be able to level up your invite game in a few simple steps. </p>
<p>In order to gain the most amount out of your Invites, click on the <strong>box and arrow icon</strong><strong> </strong>next to each channel title to access the Invite panel.</p>
<p><img src="https://support.discord.com/hc/article_attachments/360005822232/1-.jpg" alt="1-.jpg" width="600" height="314"></p>
<p>The invite panel will appear displaying a 24 hour access link by default if you haven't already adjusted the invite settings for that channel yet. Otherwise, the invite that displays will be dictated by your previous settings for that specific channel.  </p>
<p>By clicking on <strong>Edit Invite Link</strong>, you’ll have the ability to change the duration of the link as well as how many times it can be accessed.   </p>
<p><img src="https://support.discord.com/hc/article_attachments/360008482452/1_.jpg" alt="1_.jpg" width="489" height="472"></p>
<h1>Features</h1>
<p><strong>Expire After </strong>is the duration for which the invite link will work for. Choose between never, 30 minutes, 1, 6, 12 hours or 1 full day.</p>
<p><img src="https://support.discord.com/hc/article_attachments/360008519071/2_.jpg" alt="2_.jpg" width="489" height="464"></p>
<p><strong>Max Uses </strong>is how many times the same link can be clicked before it expires. It can be set to have no limit, 1, 5, 10, 25, 50, or 100 uses.</p>
<p><img src="https://support.discord.com/hc/article_attachments/360008519131/3_.jpg" alt="3_.jpg" width="488" height="485"></p>
<p>Enabling the <strong>temporary membership </strong>option means that members who join are automatically kicked when they disconnect unless a role is assigned.</p>
<p><img src="https://support.discord.com/hc/article_attachments/360008482752/4_.jpg" alt="4_.jpg" width="485" height="457"></p>
<p>To create a <strong>permanent invite, </strong>select <strong>"never"</strong> under <strong>"expire after" </strong>and <strong>"no limit"</strong> under <strong>"max uses."</strong> By doing so, you'll generate a link that has <strong>infinite uses</strong> and won't become obsolete over any period of time. However, it's important to remember that <strong>the only way anyone can access your server</strong> is through an <strong>invite link</strong> so be careful with who you give it to!</p>
<p><img src="https://support.discord.com/hc/article_attachments/360008519251/5_.png" alt="5_.png" width="484" height="455"> </p>
<p> </p>
<p>Once you’ve adjusted the settings to your needs, click “<strong>Generate a New Link”</strong> and your new invite link will appear. </p>
<h1>Old dog, new tricks</h1>
<p>After some recent changes, links are now set to be <strong>seven</strong> to <strong>eight characters long </strong>with the exception of links set to<strong> never expire. </strong>If you've created a permanent invite link prior to the update on 10/29/2020, the link would have a <strong>seven character count</strong>. Otherwise, new permanent invite links will contain <strong>ten characters</strong>. </p>
<p>To manage the links you've already generated and sent off into the wild, click on <strong>Server Settings</strong> and open up the<strong> Invite </strong>tab.</p>
<p><img src="https://support.discord.com/hc/article_attachments/360008482832/6_.jpg" alt="6_.jpg" width="658" height="347"></p>
<p>The tab provides you with info on who generated which link, how long it has left until it expires, and how many times each link has been used. Upon hovering your cursor on a link, a <strong>red X</strong> will appear and you'll be able to permanently delete it. </p>
<p><img src="https://support.discord.com/hc/article_attachments/360008482852/7_.png" alt="7_.png" width="660" height="94"> </p>
<h3>The last tidbit of information to know is that <strong>each individual channel</strong>, whether it's a voice channel OR a text channel, has its <strong>own settings</strong> for invite links. This means that even if you adjusted the #general text channel invite settings, they <strong>will not transfer over</strong> to any of your other channels! </h3>
<p> </p>
<p> </p>