<h3>🚧 Help center article under construction! 🚧</h3>
<h1><span style="font-weight: 400;">Unsupported Reports</span></h1>
<p><span style="font-weight: 400;">This is a list of unsupported report topics, please check this list before you submit a bug.</span></p>
<h2><span style="font-weight: 400;">General</span></h2>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Client modifications (BeautifulDiscord, BetterDiscord, etc.)</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Using multiple instances of Discord on the same device at the same time.</span></li>
<ul>
<li style="font-weight: 400;" aria-level="2"><span style="font-weight: 400;"> Example: Using Discord Stable, PTB, and Canary all at once</span></li>
</ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Any bug that occurs only on virtual machines. If they can be reproduced on real hardware, it's valid</span></li>
<li style="font-weight: 400;" aria-level="1">
<span style="font-weight: 400;">Payment related issues (submit to</span><a href="https://dis.gd/billing"> <span style="font-weight: 400;">Billing Support</span></a><span style="font-weight: 400;">)</span>
</li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Security bugs</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Translation bugs that do not break functionality. These should be submitted to <a href="https://dis.gd/lang-feedback" target="_blank" rel="noopener">https://dis.gd/lang-feedback</a></span></li>
<li style="font-weight: 400;" aria-level="1">
<span style="font-weight: 400;">API bugs. These should be reported on the </span><a href="https://github.com/discord/discord-api-docs/issues"><span style="font-weight: 400;">API Docs GitHub Repository</span></a>
</li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Feature Requests</span></li>
<li style="font-weight: 400;" aria-level="1">
<span style="font-weight: 400;">Connection Issues, like Outages. These should be reported to</span><a href="https://dis.gd/support"> <span style="font-weight: 400;">Support</span></a>
</li>
<li style="font-weight: 400;" aria-level="1">
<span style="font-weight: 400;">Accessibility (A11Y) issues go to </span><a href="https://dis.gd/bugreport" target="_blank" rel="noopener"><span style="font-weight: 400;">https://dis.gd/bugreport</span></a>
</li>
</ul>
<h2><span style="font-weight: 400;">Browser</span></h2>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Alpha/Nightly/etc versions of browsers. If a browser update causes Discord to stop working when it previously worked, this should be reported to the browser developers</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Internet Explorer</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Versions of Microsoft Edge prior to version 17</span></li>
</ul>
<h2><span style="font-weight: 400;">Operating System</span></h2>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Any pre-release/beta/etc version of any OS unless the issue is either P1 or P0 (i.e. crashes/severe bugs). If the issue is more minor, hang onto the bug and see if it still happens after the OS is fully released. This same rule also applies to open-sourced software in Discord: Electron, Chromium, WebRTC, etc</span></li>
</ul>
<h3><span style="font-weight: 400;">Linux</span></h3>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Any "End of Life" OS (any OS that doesn't receive updates)</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Bugs that are not client breaking, only P1 and P0 bugs are accepted</span></li>
</ul>
<h3><span style="font-weight: 400;">MacOS</span></h3>
<ul>
<li style="font-weight: 400;" aria-level="1">
<span style="font-weight: 400;"><span style="font-weight: 400;">Any MacOS version older than </span></span>10.11 and up (El Capitan)</li>
</ul>
<h3><span style="font-weight: 400;">Windows</span></h3>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Any OS older than Windows 7</span></li>
</ul>
<h2><span style="font-weight: 400;">Mobile</span></h2>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Mobile Web (View as Desktop Site on https://discord.com/app) - The marketing websites are OK to report on for mobile, but not the Discord application itself.</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Jailbroken / Rooted devices</span></li>
</ul>
<h3><span style="font-weight: 400;">Android</span></h3>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Android versions older than 5.0 (Lollipop)</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Any non-Google Play versions of Android</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Any bugs specific to custom ROMs</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Screen Pinning / Parallel app / Split Screen bugs</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Any bugs specific to the AMOLED black theme</span></li>
</ul>
<h3><span style="font-weight: 400;">iOS</span></h3>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">iOS versions older than 10.0</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Siri shortcuts</span></li>
</ul>
<h2><span style="font-weight: 400;">Tablets</span></h2>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Amazon Tablets (Kindle) </span></li>
</ul>
<h2><span style="font-weight: 400;">Reports That Are Too Minor</span></h2>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Visual bugs with a low pixel offset ("Pixel-Bugs")</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Bugs that involve spam-pressing buttons</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Bugs that only appear for about a second</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Reports that involve a high amount of steps to reproduce (Think if the Konami-Code resulted in a bug)</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Behavior that only happens by waiting for several minutes/hours</span></li>
</ul>