<h3>
<strong><span class="wysiwyg-underline wysiwyg-font-size-x-large">Important Notes:</span></strong><br>- Before claiming a gift, make sure you are logged in the correct Discord account on the desktop/browser version of the app!<br>- If you accidentally claimed the gift on the wrong account, Discord is unable to provide you with another code or transfer the gift!</h3>
<p><span class="wysiwyg-font-size-large"><strong>What does this Article Cover? </strong></span></p>
<ul>
<li>
<a href="#h_01EWETSPT43WCM47WCZNZNSMN3" target="_self">How to Claim a Gift</a>
<ul>
<li><a href="#h_01EWETSPT43WCM47WCZNZNSMN3" target="_self">Claiming a Gift sent within Discord</a></li>
<li><a href="#h_01EWETSVDFPN5WD4MQDN8N9V3N" target="_self">Claiming a Gift sent outside of Discord</a></li>
</ul>
</li>
<li><a href="#h_01EWETT21HNC31MVA3YG7A5P2G" target="_self">Already Claimed Gifts</a></li>
<li>
<a href="#h_01EWEY3KZMXF9GQ5K2HR9FDESY" target="_self">What if I already have an Active Nitro Subscription?</a>
<ul>
<li><a href="#h_01EWGHBEX6EW0FECSTRWQSTVRE" target="_self">How do I activate my Account Credit?</a></li>
</ul>
</li>
</ul>
<h1 id="h_01EWETSPT43WCM47WCZNZNSMN3">Claiming a Gift sent within Discord</h1>
<p>If you're already logged into your account on the browser or desktop version of the Discord app, you can easily claim a gift!</p>
<ol>
<li>If you're in a DM or server in Discord and you've received a gift link, you can directly click on the green "<strong>Accept</strong>" button that's tied to the gift! </li>
<li>You'll see a new pop-up asking you to confirm the acceptance of the gift! Press the "<strong>I accept</strong>" button in this confirmation window to apply the gift to your Discord account! </li>
<li>After accepting the gift to your account, you'll then see a confirmation that the subscription has been directly applied to your Discord account! </li>
</ol>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/360100559094/Screen_Shot_2021-01-19_at_5.32.44_PM.png" alt="Screen_Shot_2021-01-19_at_5.32.44_PM.png" width="747" height="269"></p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/1500001666042/Screen_Shot_2021-01-19_at_5.33.04_PM.png" alt="Screen_Shot_2021-01-19_at_5.33.04_PM.png" width="505" height="364"></p>
<h1 id="h_01EWETSVDFPN5WD4MQDN8N9V3N">Claiming a Gift sent outside of Discord</h1>
<p>If you receive a code within your email or through another platform, you can follow these steps below to claim your gift to your Discord account!</p>
<p><span class="wysiwyg-font-size-large wysiwyg-color-blue130"><strong>Step 1 - Clicking the Gift Link</strong></span></p>
<ul>
<li>Start by directly clicking the gift link or copying and pasting the gift link into your browser window.</li>
</ul>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/1500001713821/Screen_Shot_2021-01-19_at_5.36.44_PM.png" alt="Screen_Shot_2021-01-19_at_5.36.44_PM.png" width="714" height="334"></p>
<p><span class="wysiwyg-font-size-large wysiwyg-color-blue130"><strong>Step 2 - Logging into Discord</strong></span></p>
<ul>
<li> If you're not logged into Discord already in your browser, you will then be automatically redirected to either:</li>
</ul>
<table style="border-collapse: collapse; width: 147.064%;">
<tbody>
<tr>
<td style="width: 40.5163%;">
<p><strong>Register for a New Account</strong></p>
<p>If you don't have an account, you can directly register a new Discord account</p>
</td>
<td style="width: 103.531%;">
<p><strong>Login to your Account</strong></p>
<p>If you already have a Discord account, you can login to your account using your email and password or using QR code login</p>
</td>
</tr>
<tr>
<td style="width: 40.5163%;"><img src="https://support.discord.com/hc/article_attachments/360100559414/Screen_Shot_2021-01-19_at_5.37.10_PM.png" alt="Screen_Shot_2021-01-19_at_5.37.10_PM.png" width="486" height="744"></td>
<td style="width: 103.531%;"><img src="https://support.discord.com/hc/article_attachments/1500001714221/Screen_Shot_2021-01-19_at_5.37.33_PM_copy.png" alt="Screen_Shot_2021-01-19_at_5.37.33_PM_copy.png" width="668" height="454"></td>
</tr>
</tbody>
</table>
<p><span class="wysiwyg-font-size-large wysiwyg-color-blue130"><strong>Step 3 - Confirming the Correct Account</strong></span></p>
<ul>
<li>Once you have logged into your Discord account, you'll see a new message asking you to confirm that you are accepting the gift on the correct Discord account.
<ul>
<li>You'll see a warning saying: <em><strong>"You are accepting this gift as _________" </strong></em>
</li>
</ul>
</li>
<li>When you're ready to claim this gift, press the "<strong>Accept Gift</strong>" button. </li>
</ul>
<h3>
<strong>Note:</strong> <br>If you're logged into the incorrect Discord account, press the "<span class="wysiwyg-color-red120">Wrong account</span>" button to login to the other account! </h3>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/1500001750501/Screen_Shot_2021-01-19_at_5.38.00_PM.png" alt="Screen_Shot_2021-01-19_at_5.38.00_PM.png" width="542" height="433"></p>
<p><span class="wysiwyg-font-size-large wysiwyg-color-blue130"><strong>Step 4 - Gift Now Activated</strong></span></p>
<ul>
<li>After accepting the gift to your account, you'll now be automatically redirected to your <strong>Subscriptions</strong> tab in your User Settings to see your newly activated gift subscription on your account.</li>
</ul>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/360100559174/Screen_Shot_2021-01-19_at_5.41.34_PM.png" alt="Screen_Shot_2021-01-19_at_5.41.34_PM.png"></p>
<h1 id="h_01EWETT21HNC31MVA3YG7A5P2G">Already Claimed Gifts</h1>
<p>If you're not sure when a gift has been claimed or not, you can double check by clicking and opening the link in your browser! If a gift has been successfully claimed, you'll see a "<strong>This gift has already been claimed</strong>" error in the browser. </p>
<p>If you're already using the browser or desktop version of Discord, and you're viewing a gift link shared within Discord, you'll see there is a grayed out "<strong>Claimed</strong>" button in the gift after it has been claimed!</p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/360100559154/Screen_Shot_2021-01-19_at_5.52.50_PM.png" alt="Screen_Shot_2021-01-19_at_5.52.50_PM.png" width="561" height="446"><img style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;" src="https://support.discord.com/hc/article_attachments/1500001713881/Screen_Shot_2021-01-19_at_5.51.46_PM.png" alt="Screen_Shot_2021-01-19_at_5.51.46_PM.png" width="560" height="144"></p>
<h1 id="h_01EWEY3KZMXF9GQ5K2HR9FDESY" class="wysiwyg-text-align-left">What if I already have an Active Nitro Subscription?</h1>
<p>Whenever you accept a gift while you have a running subscription, or accept a gift that differs from your current subscription, that gifted subscription will be added to your Discord account as <strong>Account Credit</strong>. </p>
<p><span class="wysiwyg-font-size-large wysiwyg-color-blue130"><strong>To view your Account Credit:</strong> </span></p>
<ol>
<li>Start by logging into your Discord account on the desktop or browser version of the app</li>
<li>Head into your <strong>User Settings </strong>(by clicking on the cog icon in the bottom left corner)</li>
<li>Then select the <strong>Subscriptions</strong> tab in the left side bar</li>
</ol>
<p><img src="https://support.discord.com/hc/article_attachments/1500001714821/Screen_Shot_2021-01-19_at_7.06.02_PM.png" alt="Screen_Shot_2021-01-19_at_7.06.02_PM.png"></p>
<h3>
<strong>Note:</strong> <br>Account Credit can only be used for desktop/browser subscriptions. It cannot be used on Google Play or iOS App Store subscriptions. </h3>
<h2 id="h_01EWGHBEX6EW0FECSTRWQSTVRE">How do I activate my Account Credit?</h2>
<p>When your current Nitro subscription has expired or is removed, the Account Credit for the gift will apply when you activate that matching subscription on the desktop/browser Discord app! </p>
<p>For example, if you currently have <strong>9.99 Nitro Monthly Credit</strong>, you will need to activate a <strong>9.99 Nitro Monthly subscription</strong> to use this account credit!</p>
<h3>
<strong><span class="wysiwyg-color-black">Note:</span> <br></strong>- The account credit will only be consumed for redeeming exact <span class="wysiwyg-color-red">matching</span> subscription plans in both type and time! (Nitro &gt; Nitro, Classic &gt; Classic, Monthly &gt; Monthly, Yearly &gt; Yearly)<br>- If the subscriptions do not match, the account credit will not be applied!</h3>
<p><span class="wysiwyg-color-blue130"><strong><span class="wysiwyg-font-size-large">To activate the matching subscription:</span></strong></span></p>
<ol>
<li style="list-style-type: none;">
<ol>
<li>Start by heading to the <strong>Subscription</strong> tab, you'll need to press the <strong>Subscribe</strong> button for the matching subscription type for Discord Nitro or Nitro Classic. </li>
<li><span style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;">Then a new window will pop up where you will need to select the matching plan for the subscription. </span></li>
<li>If your Discord account does not have your payment information, you'll be asked to fill out your payment details. (Note: You will not be charged unless the subscription renews)</li>
<li>Once you've finished submitting that information, you'll then see a "<span class="wysiwyg-color-green130"><strong>Subscription Credit applied</strong></span>" message as you are reviewing the purchase details for activating the subscription</li>
<li>After you confirm your activation, your gifted subscription will then be activated! </li>
</ol>
</li>
</ol>
<table style="border-collapse: collapse; width: 130.476%; height: 660px;" cellspacing="0" cellpadding="0">
<tbody>
<tr style="height: 244px;">
<td style="width: 56.7048%; height: 244px;"><img style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;" src="https://support.discord.com/hc/article_attachments/1500001667242/Screen_Shot_2021-01-19_at_7.23.03_PM.png" alt="Screen_Shot_2021-01-19_at_7.23.03_PM.png" width="517" height="368"></td>
<td style="width: 72.9867%; height: 244px;"><img src="https://support.discord.com/hc/article_attachments/1500001667262/Screen_Shot_2021-01-19_at_7.24.05_PM.png" alt="Screen_Shot_2021-01-19_at_7.24.05_PM.png" width="443" height="428"></td>
</tr>
<tr style="height: 416px;">
<td class="wysiwyg-text-align-center" style="width: 129.692%; height: 416px;" colspan="2"><img src="https://support.discord.com/hc/article_attachments/1500001714981/Screen_Shot_2021-01-19_at_4.35.06_PM.png" alt="Screen_Shot_2021-01-19_at_4.35.06_PM.png" width="374" height="413"></td>
</tr>
</tbody>
</table>
<h1>Have any other questions? </h1>
<p>If you have any questions around claiming gifts or account credit, just contact our support team at <a href="https://dis.gd/billing" target="_blank" rel="noopener">dis.gd/billing</a> and we'll be able to look into your question further from there!</p>