<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/4409574846615/Server-Avatars-splash-Nitro-badge.png" alt="Server-Avatars-splash-Nitro-badge.png"></p>
<p>Have you ever wanted to express yourself with unique avatars across all your servers? Perhaps you're in a tabletop roleplay game server and you want a server-specific avatar of your super cool character? Or maybe you're in a server all about coffee and you want a profile avatar of your favorite cup of hot bean juice? Well, now you can with our Nitro perk: Server Avatars!</p>
<p><span class="wysiwyg-font-size-large"><strong>What does this article cover?</strong></span></p>
<ul>
<li><a href="#h_01FGCPNVQ6F9X6ET40NPETDMVK" target="_self">What are Server Avatars?</a></li>
<li>
<a href="#h_01FGCPP3V7BS1QVCQQZ2YC0RXB" target="_self">How can I change my Server Avatar?</a>
<ul>
<li><a href="#h_01FGM5HZ9G9RE5R7836J63ZX1P" target="_self">Right-Click on your Avatar</a></li>
<li><a href="#h_01FGM5JCW5TMQAR0VAFG1Y8SZH" target="_self">Left-Click on your Avatar</a></li>
<li><a href="#h_01FGM5JM22TG41PZR8SMFXBTKR" target="_self">What if I want to reset my Server Avatar?</a></li>
<li><a href="#h_01FJ354SN3Q9YQ28AB5GMXWTVA" target="_self">Changing your Server Avatar on Mobile</a></li>
</ul>
</li>
<li>
<a href="#h_01FGCPPE37QG92W7XCVV53NVC3" target="_self">Frequently Asked Questions</a>
<ul>
<li>What happened to server nicknames?</li>
<li>Do I get custom server avatars with Nitro Classic?</li>
<li>What are the size limits and accepted file types for server avatars?</li>
<li>Can I edit avatars after I upload them?</li>
<li>Is there a limit to the number of custom server avatars I can have?</li>
<li>Can I have more than 1 avatar in a server?</li>
<li>Can I reset all my server avatars at once?</li>
<li>Will I get in trouble for using an inappropriate image as a server avatar?</li>
<li>Are server owners or admins able to change another server member's avatar like how they can change nicknames?</li>
</ul>
</li>
</ul>
<h1 id="h_01FGCPNVQ6F9X6ET40NPETDMVK">What are Server Avatars?</h1>
<p>Server avatars are a new customization feature for Nitro users! With server avatars, users can set a different server-specific avatar for each of the servers they're in.</p>
<h3>Note: Even if you upload a server avatar, your profile avatar will be unaffected and remain as your primary avatar in servers where you don't upload server avatars.</h3>
<p>Like profile avatars, PNG and JPG are the supported file types and Nitro users can upload a GIF for their server avatars. After uploading a server avatar, you can crop and center PNG, JPG, and GIF files. </p>
<h1 id="h_01FGCPP3V7BS1QVCQQZ2YC0RXB">How can I change my Server Avatar?</h1>
<h2 id="h_01FGM5HZ9G9RE5R7836J63ZX1P">Right-Click on your Avatar</h2>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/4409434038551/Server-Avatar-Right-Click-demo.gif" alt="Server-Avatar-Right-Click-demo.gif" width="692" height="353"></p>
<p>In the browser or desktop app, you can right-click on your avatar in Member List of the server, which is the right side bar, and activate the the drop down menu.</p>
<p>Press on the <strong>Edit Server Profile </strong>option and an in-app pop-up window will appear. You can then press on your avatar to upload your server avatar.</p>
<p>Press the <strong>Save</strong> button to confirm your server avatar!</p>
<h2 id="h_01FGM5JCW5TMQAR0VAFG1Y8SZH">Left-Click on your Avatar</h2>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/4409443355159/Server-Avatar-left-click-demo.gif" alt="Server-Avatar-left-click-demo.gif" width="695" height="380"></p>
<p>Alternatively, you can left-click on your avatar in the Member List, in a text channel, or in a voice channel to make the mini profile pop-up appear. You'll then see the option to <strong>Edit Server Profile</strong> and after you press on it, the same in-app pop-up window will appear for you to change your avatar.</p>
<p>Don't forget to press on the <strong>Save</strong> button to confirm your avatar change.</p>
<h2 id="h_01FGM5JM22TG41PZR8SMFXBTKR">What if I want to reset my Server Avatar?</h2>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/4409443355415/Server-Avatar-Reset-to-Primary-Avatar.png" alt="Server-Avatar-Reset-to-Primary-Avatar.png" width="630" height="428"></p>
<p>If you made a mistake with your server avatar or if you would like to revert your server avatar to your profile avatar, you can navigate to the in-app pop-up window following either of the two methods above and then press on <strong>Reset to Primary Avatar</strong>.</p>
<h2 id="h_01FJ354SN3Q9YQ28AB5GMXWTVA">Changing your Server Avatar on Mobile</h2>
<p>If you'd like to customize your Server Avatar while on the iOS or Android clients, you can do so through two ways: the <strong>User Profile</strong> and the <strong>Server Profile</strong>.</p>
<ol>
<li>
<strong><span class="wysiwyg-underline">Through the User Profile:</span></strong> In the server you want to apply a Server Avatar, press on your user avatar either in one of the channels you've messaged in or in the server's member list.<br><strong><span class="wysiwyg-underline">Through the Server Profile:</span></strong> Press on the ellipses by the name of the server you want to add a Server Avatar to.</li>
<li>Select the <strong>Edit Server Profile </strong>button.</li>
<li>Press on your current Server Avatar and choose <strong>Change Avatar</strong>/<strong>Change Server Avatar</strong> to start the process of selecting a new image from your mobile device's photo gallery.</li>
<li>This is also where you can choose to remove your Server Avatar by pressing on the <strong>Reset to Primary Avatar</strong> instead.</li>
<li>Don't forget to <strong>Save</strong>!</li>
</ol>
<h1 id="h_01FGCPPE37QG92W7XCVV53NVC3">Frequently Asked Questions</h1>
<p id="h_01FGCPPQ1ZJN7YBBFZ5J3T21XA"><span class="wysiwyg-font-size-large"><strong>Q: What happened to server nicknames?</strong></span></p>
<p>A: Server nicknames still exist and are free to all Discord users! To change your server nickname, you can follow the same steps to change your server avatar, but instead input/change your server nickname in the in-app pop-up window.</p>
<h3>You can learn more about server nicknames in this <a href="https://support.discord.com/hc/en-us/articles/219070107" target="_blank" rel="noopener">article</a>!</h3>
<p id="h_01FGCPQ21A9ZTX4702J5R99GHB"><span class="wysiwyg-font-size-large"><strong>Q: Do I get custom server avatars with Nitro Classic?</strong></span></p>
<p>A: Nitro Classic users can still set server nicknames; however only Nitro users will be able to set custom server avatars.</p>
<h3>You can learn more about Nitro and Nitro Classic in this <a href="https://support.discord.com/hc/en-us/articles/115000435108" target="_blank" rel="noopener">article</a>!</h3>
<p id="h_01FGCPWPYJGK0ABKCE70EQDPNB"><strong><span class="wysiwyg-font-size-large">Q: What are the size limits and accepted file types for server avatars?</span></strong></p>
<p>A: Accepted file types for server avatars are JPG, PNG, and GIF files. The maximum file size is 8 MB.</p>
<p id="h_01FGCPRK0M00FRY1P2XENK2JM2"><span class="wysiwyg-font-size-large"><strong>Q: Can I edit avatars after I upload them?</strong></span></p>
<p>A: You can crop and center PNG, JPG, and GIF files</p>
<p id="h_01FGCPS86FRBXS61RPP0CW4C02"><strong><span class="wysiwyg-font-size-large">Q: Is there a limit to the number of custom server avatars I can have?</span></strong></p>
<p>A: No, but there is a limit to the number of servers you can join. Nitro users can join up to 200 servers.</p>
<p id="h_01FGCPSMMDP2GNCW8005G1G9Y2"><span class="wysiwyg-font-size-large"><strong>Q: Can I have more than 1 avatar in a server?</strong></span></p>
<p>A: At this time, you may only set 1 custom avatar per server.</p>
<p id="h_01FGCPT2AGFZGEBY95Z061E4AT"><strong><span class="wysiwyg-font-size-large">Q: Can I reset all my server avatars at once?</span></strong></p>
<p>Unfortunately, there is no bulk editing option at this time. You will need to manually reset your avatar in each server.</p>
<p id="h_01FGCPVDKTQHEY6ZJ8WCTMD3JE"><span class="wysiwyg-font-size-large"><strong>Q: Will I get in trouble for using an inappropriate image as a server avatar?</strong></span></p>
<p>As is true for all content that you use on Discord, you are responsible for ensuring that any content you use for server avatars complies with our <a href="https://discord.com/terms" target="_blank" rel="noopener">Terms of Service</a> and <a href="https://discord.com/guidelines" target="_blank" rel="noopener">Community Guidelines</a>.</p>
<p id="h_01FGCPVPK8NH9ZT7J2TZ7SABNS"><span class="wysiwyg-font-size-large"><strong>Q: Are server owners or admins able to change another server member's avatar like how they can change nicknames?</strong></span></p>
<p>No, server owners and/or admins do not have the ability to change a server member's server avatar or reset it to their primary avatar. If you notice someone using a server avatar that violates our <a href="https://discord.com/terms" target="_blank" rel="noopener">Terms of Service</a> or <a href="https://discord.com/guidelines" target="_blank" rel="noopener">Community Guidelines, </a>please use our <a href="https://support.discord.com/hc/en-us/requests/new?ticket_form_id=360000029731" target="_blank" rel="noopener">report form</a> to report the user to our Trust and Safety team. </p>