<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/4409574846615/Server-Avatars-splash-Nitro-badge.png" alt="Server-Avatars-splash-Nitro-badge.png"></p>
<p>Have you ever wanted to express yourself with unique user identities across all your servers? Perhaps you're in a tabletop roleplaying game server and you want to have a server-specific avatar, profile banner, and bio inspired by your super cool character? Or maybe you're in a server all about coffee and you want an avatar and profile banner of your favorite cup of hot bean juice? Well, now you can with our Nitro perk: Server Profiles!</p>
<p><span class="wysiwyg-font-size-large"><strong>What does this article cover?</strong></span></p>
<ul>
<li><a href="#h_01FGCPNVQ6F9X6ET40NPETDMVK" target="_self" rel="undefined">What are Server Profiles?</a></li>
<li>
<a href="#h_01FGCPP3V7BS1QVCQQZ2YC0RXB" target="_self">How can I change my Server Avatar?</a>
<ul>
<li><a href="#h_01FGM5HZ9G9RE5R7836J63ZX1P" target="_self">Right-Click on your Avatar</a></li>
<li><a href="#h_01FGM5JCW5TMQAR0VAFG1Y8SZH" target="_self">Left-Click on your Avatar</a></li>
<li><a href="#h_01FGM5JM22TG41PZR8SMFXBTKR" target="_self">What if I want to reset my Server Avatar?</a></li>
<li><a href="#h_01FJ354SN3Q9YQ28AB5GMXWTVA" target="_self">Changing your Server Avatar on Mobile</a></li>
</ul>
</li>
<li><a href="#h_01FPE3GWZ62G842RFFFYD9NTJT" target="_self">How do I change my profile banner?</a></li>
<li><a href="#h_01G52M1Y6A47PB0S6MRYJF7VQD" target="_self">How do I set up an “About Me” for my Server Profile?</a></li>
<li>
<a href="#h_01FGCPPE37QG92W7XCVV53NVC3" target="_self">Frequently Asked Questions</a>
<ul>
<li>What happened to server nicknames?</li>
<li>Do I get custom server avatars with Nitro Classic?</li>
<li>What are the size limits and accepted file types for server avatars?</li>
<li>Can I edit avatars after I upload them?</li>
<li>Is there a limit to the number of custom server avatars I can have?</li>
<li>Can I have more than 1 avatar in a server?</li>
<li>Can I reset all my server avatars at once?</li>
<li>Will I get in trouble for using an inappropriate image as a server avatar?</li>
<li>Are server owners or admins able to change another server member's avatar like how they can change nicknames?</li>
</ul>
</li>
</ul>
<h1 id="h_01FGCPNVQ6F9X6ET40NPETDMVK">What are Server Profiles?</h1>
<p>Server profiles are a new customization feature for Nitro users! With server profiles, users can set a different server-specific avatar, banner, and about me section for each of the servers they're in.</p>
<h3>Note: Even if you change your server profile, your user profile will be unaffected and remain as your primary avatar in servers where you don't upload server avatars.</h3>
<h1 id="h_01FGCPP3V7BS1QVCQQZ2YC0RXB">How can I change my Server Avatar?</h1>
<h2 id="h_01FGM5HZ9G9RE5R7836J63ZX1P">Right-Click on your Avatar</h2>
<p>In the browser or desktop app, you can right-click on your avatar in Member List of the server, which is the right side bar, and activate the the drop down menu.</p>
<p>Press on the <strong>Edit Server Profile </strong>option and an in-app pop-up window will appear. You can then press on your avatar to upload your server avatar.</p>
<p>Press the <strong>Save</strong> button to confirm your server avatar!</p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/6636183062167/update-right-click-edit-server-profile.gif" alt="update-right-click-edit-server-profile.gif" width="685" height="397"></p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/6636687143703/updated-server-profile-settings-avatar.png" alt="updated-server-profile-settings-avatar.png" width="676" height="671"></p>
<h3>Like profile avatars, PNG and JPG are the supported file types and Nitro users can upload a GIF for their server avatars. After uploading a server avatar, you can crop and center PNG, JPG, and GIF files. </h3>
<h2 id="h_01FGM5JCW5TMQAR0VAFG1Y8SZH">Left-Click on your Avatar</h2>
<p>Alternatively, you can left-click on your avatar in the Member List, in a text channel, or in a voice channel to make the mini profile pop-up appear. You'll then see at the top right corner a <strong>pencil icon</strong>, which you can press to show the <strong>Edit Server Profile </strong>and <strong>Edit User Profile </strong>options. Press on <strong>Edit Server Profile</strong> to change your server avatar in the <strong>Server Profile </strong>settings page.</p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/6636388018071/update-left-click-edit-server-profile.gif" alt="update-left-click-edit-server-profile.gif" width="705" height="409"></p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/6636687143703/updated-server-profile-settings-avatar.png" alt="updated-server-profile-settings-avatar.png"></p>
<p>Don't forget to press on the <strong>Save Changes</strong> button to confirm your avatar change.</p>
<h2 id="h_01FGM5JM22TG41PZR8SMFXBTKR">What if I want to reset my Server Avatar?</h2>
<p>If you made a mistake with your server avatar or if you would like to revert your server avatar to your profile avatar, you can navigate to the in-app pop-up window following either of the two methods above and then press on <strong>Remove Avatar</strong>.</p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/6635274442263/updated-server-profile-settings-page-avatar.png" alt="updated-server-profile-settings-page-avatar.png"></p>
<h2 id="h_01FJ354SN3Q9YQ28AB5GMXWTVA">Changing your Server Avatar on Mobile</h2>
<p>If you'd like to customize your Server Avatar while on the iOS or Android clients, you can do so through two ways: the <strong>User Profile</strong> and the <strong>Server Profile</strong>.</p>
<ol>
<li>
<strong><span class="wysiwyg-underline">Through the User Profile:</span></strong> In the server you want to apply a Server Avatar, press on your user avatar either in one of the channels you've messaged in or in the server's member list.<br><strong><span class="wysiwyg-underline">Through the Server Profile:</span></strong> Press on the ellipses by the name of the server you want to add a Server Avatar to.</li>
<li>Select the <strong>Edit Server Profile </strong>button.</li>
<li>Press on your current Server Avatar and choose <strong>Change Avatar</strong>/<strong>Change Server Avatar</strong> to start the process of selecting a new image from your mobile device's photo gallery.</li>
<li>Don't forget to <strong>Save</strong>!</li>
</ol>
<h1 id="h_01FPE3GWZ62G842RFFFYD9NTJT">How do I change my profile banner?</h1>
<p>In your <strong>Server Profile</strong> settings, press <strong>Change Banner</strong> to upload your server banner.</p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/6636757438999/updated-server-profile-settings-banner.png" alt="updated-server-profile-settings-banner.png"></p>
<p><a href="https://support.discord.com/hc/en-us/articles/115000435108" target="_blank" rel="noopener noreferrer">Nitro</a> members can upload an image or animated GIF as their profile banner. Supported file types are PNG, JPG, and animated GIFs under 10MB. The recommended minimum size is 600x240.</p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/4415382163223/nitro_profile_banner.png" alt="nitro_profile_banner.png"></p>
<h3 class="wysiwyg-text-align-left">Tip: Images can be cropped after upload</h3>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/4415382164247/banner_edit_image.png" alt="banner_edit_image.png"></p>
<h1 id="h_01G52M1Y6A47PB0S6MRYJF7VQD">How do I set up an “About Me” for my Server Profile?</h1>
<p><span style="font-weight: 400;">In the </span><strong>Server Profile</strong><span style="font-weight: 400;"> settings page, you can write a small blurb in the text box under </span><strong>About Me </strong><span style="font-weight: 400;">that’s specific to your server profile.</span></p>
<p><span style="font-weight: 400;">Your </span><strong>About Me</strong><span style="font-weight: 400;"> for your server profile can have:</span></p>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Up to 190 characters</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Emojis</span></li>
<li style="font-weight: 400;" aria-level="1">
<a href="https://support.discord.com/hc/articles/210298617-Markdown-Text-101-Chat-Formatting-Bold-Italic-Underline-" target="_blank" rel="noopener noreferrer">Markdown text</a><span style="font-weight: 400;"> and links</span>
</li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Unicode</span></li>
</ul>
<h3>Note: Nitro<span style="font-weight: 400;"> and </span>Nitro Classic<span style="font-weight: 400;"> subscribers can use </span><a href="https://support.discord.com/hc/en-us/articles/360036479811-Custom-Emojis"><span style="font-weight: 400;">custom emojis</span></a><span style="font-weight: 400;"> in their About Me.</span>
</h3>
<p class="wysiwyg-text-align-center"><span style="font-weight: 400;"><img src="https://support.discord.com/hc/article_attachments/6635417351447/updated-server-profile-settings-page-about-me-box.png" alt="updated-server-profile-settings-page-about-me-box.png"></span></p>
<h1 id="h_01FGCPPE37QG92W7XCVV53NVC3">Frequently Asked Questions</h1>
<p id="h_01FGCPPQ1ZJN7YBBFZ5J3T21XA"><span class="wysiwyg-font-size-large"><strong>Q: What happened to server nicknames?</strong></span></p>
<p>A: Server nicknames still exist and are free to all Discord users! To change your server nickname, you can follow the same steps to change your server avatar, but instead input/change your server nickname in the in-app pop-up window.</p>
<h3>You can learn more about server nicknames in this <a href="https://support.discord.com/hc/en-us/articles/219070107" target="_blank" rel="noopener noreferrer">article</a>!</h3>
<p id="h_01FGCPQ21A9ZTX4702J5R99GHB"><span class="wysiwyg-font-size-large"><strong>Q: Do I get custom server avatars with Nitro Classic?</strong></span></p>
<p>A: Nitro Classic users can still set server nicknames; however only Nitro users will be able to set custom server avatars.</p>
<h3>You can learn more about Nitro and Nitro Classic in this <a href="https://support.discord.com/hc/en-us/articles/115000435108" target="_blank" rel="noopener noreferrer">article</a>!</h3>
<p id="h_01FGCPWPYJGK0ABKCE70EQDPNB"><strong><span class="wysiwyg-font-size-large">Q: What are the size limits and accepted file types for server avatars?</span></strong></p>
<p>A: Accepted file types for server avatars are JPG, PNG, and GIF files. The maximum file size is 8 MB.</p>
<p id="h_01FGCPRK0M00FRY1P2XENK2JM2"><span class="wysiwyg-font-size-large"><strong>Q: Can I edit avatars after I upload them?</strong></span></p>
<p>A: You can crop and center PNG, JPG, and GIF files</p>
<p id="h_01FGCPS86FRBXS61RPP0CW4C02"><strong><span class="wysiwyg-font-size-large">Q: Is there a limit to the number of custom server avatars I can have?</span></strong></p>
<p>A: No, but there is a limit to the number of servers you can join. Nitro users can join up to 200 servers.</p>
<p id="h_01FGCPSMMDP2GNCW8005G1G9Y2"><span class="wysiwyg-font-size-large"><strong>Q: Can I have more than 1 avatar in a server?</strong></span></p>
<p>A: At this time, you may only set 1 custom avatar per server.</p>
<p id="h_01FGCPT2AGFZGEBY95Z061E4AT"><strong><span class="wysiwyg-font-size-large">Q: Can I reset all my server avatars at once?</span></strong></p>
<p>Unfortunately, there is no bulk editing option at this time. You will need to manually reset your avatar in each server.</p>
<p id="h_01FGCPVDKTQHEY6ZJ8WCTMD3JE"><span class="wysiwyg-font-size-large"><strong>Q: Will I get in trouble for using an inappropriate image as a server avatar?</strong></span></p>
<p>As is true for all content that you use on Discord, you are responsible for ensuring that any content you use for server avatars complies with our <a href="https://discord.com/terms" target="_blank" rel="noopener noreferrer">Terms of Service</a> and <a href="https://discord.com/guidelines" target="_blank" rel="noopener noreferrer">Community Guidelines</a>.</p>
<p id="h_01FGCPVPK8NH9ZT7J2TZ7SABNS"><span class="wysiwyg-font-size-large"><strong>Q: Are server owners or admins able to change another server member's avatar like how they can change nicknames?</strong></span></p>
<p>No, server owners and/or admins do not have the ability to change a server member's server avatar or reset it to their primary avatar. If you notice someone using a server avatar that violates our <a href="https://discord.com/terms" target="_blank" rel="noopener noreferrer">Terms of Service</a> or <a href="https://discord.com/guidelines" target="_blank" rel="noopener noreferrer">Community Guidelines, </a>please use our <a href="https://support.discord.com/hc/en-us/requests/new?ticket_form_id=360000029731" target="_blank" rel="noopener noreferrer">report form</a> to report the user to our Trust and Safety team. </p>