<p>Recently, we've had to make a policy change which restricts users under 16 from verifying their bots on Discord alone. We created this article to explain what verification is and how you can help a young developer verify their bot and continue to grow their software, whether you're a parent, a friend, a guardian, or otherwise.</p>
<h1 id="what-is-a-verified-bot">What is a verified bot?</h1>
<p>At Discord, we want to foster unique communities where users can make a special space online that feels like theirs and theirs alone. Our API and developer tools allow developers both aspiring and established to contribute to those communities and craft awesome software that people can use to make their Discord server feels like home. To foster that creativity and keep our users safe, we launched a verification program, which asks developers operating bots of a certain scale to submit their bot for identity verification and general review.</p>
<h2 id="which-bots-qualify-for-verification">Which bots qualify for verification?</h2>
<p>Bots begin qualifying for verification once they're in 76 servers or more. Bots are required to be verified in order to join over 100 servers. Qualifying developers will receive a direct message on Discord informing them when their bot is ready for verification.</p>
<h3>More information on the verification process is available <a href="https://support.discord.com/hc/en-us/articles/360040720412-Bot-Verification-and-Data-Whitelisting" target="_self">here</a>.</h3>
<h2 id="what-are-the-requirements-for-verification-whats-changing">What are the requirements for verification? What's changing?</h2>
<p>Any verified bot will be asked to submit a qualifying identity document and a comprehensive form asking for details about their bot's operation. We want to ensure that developers operating software at scale are real and trustworthy, and that we know more about how their software works on our platform.</p>
<p>Previously, qualifying identity documents could come from any user who was of age to use Discord in their region, as documented <a href="https://support.discord.com/hc/en-us/articles/360040724612-Why-is-Discord-asking-for-my-birthday-" target="_self">here</a>. However, due to some legal concerns on behalf of our identity verification partners at Stripe, we've had to make a policy change regarding the age of verified developers. As of <strong>April 12th, 2021</strong>, only the identity documents of those <strong>16 and older</strong> will qualify for verification, regardless of region.</p>
<h3>We've posted a comprehensive article on these changes <a href="https://support.discord.com/hc/en-us/articles/1500006788822" target="_self">here</a>, and we encourage you to review that article for more information on the new verification age policy.</h3>
<h1 id="what-does-this-mean-for-developers-under-16">What does this mean for developers under 16?</h1>
<p>This policy change means that users under 16 can no longer verify their bots on their own, even if they're old enough to use Discord in their region. We want to ensure that young developers are able to foster a lifelong love of programming through their work on Discord, and so we've encouraged these developers to work with a qualifying partner to help them get verified. This can be anyone a young developer would trust to help them make cool stuff—a friend, a co-developer, a programming teacher, or a parent or legal guardian. As long as you are 16 or older, and are willing to speak on the developer's behalf and work with them going forward, you can help a young developer verify.</p>
<h1 id="how-do-i-help-a-developer-under-16-verify-their-bot">How do I help a developer under 16 verify their bot?</h1>
<p>To help a developer under 16 verify their bot, you'll need to first create a Discord account. You can learn how to create your own Discord account <a href="https://support.discord.com/hc/en-us/articles/360033931551-Getting-Started" target="_self">here</a>.</p>
<p>Once your account is created, work with the bot's developer to complete the following steps!</p>
<h2 id="creating-a-developer-team">Creating a Developer Team</h2>
<p>First, the bot needing verification will need to be part of a Developer Team so its ownership can be split among multiple users and can be easily transferred between people.</p>
<p>To do this, the bot's developer will visit the <a href="https://discord.com/developers/" target="_self">Discord Developer Portal</a> and create a Developer Team using the Teams tab. From that new team's page, the developer can then add anyone they would like to their new team, including your account, by typing the relevant username and four-digit discriminator into the invite field. You'll then need to check your account email for an invite message and accept the team invite to proceed.</p>
<p>Once the Team has been created and you've been added to it, the developer will transfer their bot to that new team from the bot's page in the Applications tab using the Transfer App to Team button in the bottom right of the page.</p>
<p>Finally, the developer will want to transfer their Developer Team's ownership to you using the Transfer Team Ownership button on the team's page in the Teams tab.</p>
<h2 id="applying-for-verification">Applying for Verification</h2>
<p>Now that you're the owner of the Developer Team, you can begin the application process to verify the bot! With the bot's developer on hand, visit the Applications tab in the sidebar, then select the bot in question and click the verification link at the top of the page.</p>
<h4 id="submitting-an-id"><strong>Submitting an ID</strong></h4>
<p>First, you'll need to submit your identity to our partners at Stripe. This can be done from a PC or a mobile device. You'll want to take a well-lit, unobstructed, and unedited picture of your identity document for submission.</p>
<p>Stripe is an established processor of payments and identity information, and we've trusted them for years with identity verification and payments for our subscription services like Nitro and server boosts. They accept a wide variety of identity documents! Many of them are listed in their documentation here.</p>
<p>If you're unsure whether your identity document is accepted, you can contact our Support Team at <a class="ql-link" href="https://dis.gd/contact" target="_blank" rel="noopener noreferrer" data-slab-linktype="text">https://dis.gd/contact</a>, or ask in the Discord Developers server at https://discord.gg/discord-developers</p>
<h4 id="filling-the-form"><strong>Filling the Form</strong></h4>
<p>Once your ID has been verified by Stripe, you'll return to the Developer Portal and fill out the relevant form. You'll want to work with the bot's developer to fill out this form and provide the best possible answers! If the developer isn't sure how to answer a question, they can read more about the verification process here, or they can join our Developers server to get answers from both our staff and from other verified developers.</p>
<h4 id="waiting-for-review"><strong>Waiting for Review</strong></h4>
<p>Once the form is submitted, a ticket is created with our verification team. Verification applications are typically reviewed within 4-5 business days, though the wait time can occasionally vary based on the current number of applications.</p>
<p>When our team has an update on the verification status, be it an approval, a question, or a denial, you'll receive an email at the address tied to your Discord account. You can also reference your account's tickets by logging in on our support page <a href="https://dis.gd/mytickets" target="_self">here</a>.</p>
<p>Make sure to work with the bot's developer to review the email our team sends you. These often have important information or questions that require answers to proceed, so please make sure they're there to see the email with you!</p>
<p>If you have concerns about a specific verification in process, feel free to visit our Developers server at <a class="ql-link" href="https://discord.gg/discord-developers" target="_blank" rel="noopener noreferrer" data-slab-linktype="text">https://discord.gg/discord-developers</a> to ask a staff member for more information!</p>
<h4 id="after-verification"><strong>After Verification</strong></h4>
<p>Once a bot is finally verified, the bot's developer can take ownership of the team once again. You can transfer it back to them at any time from the Teams tab in the Developer Portal using the Transfer App to Team button.</p>
<p>You'll want to maintain your Discord account, and you'll want to stay on the bot's developer team. If we have questions or concerns about the bot's operation at any time, we'll send them to the email address associated with the team's current owner.</p>
<h1 id="why-do-you-need-an-id">Why do you need an ID?</h1>
<p>Our partners at Stripe review identification documents during the verification process so we can ensure those operating bots at scale are real individuals who can be accountable for their bot's operation. This helps us foster an innovative and unique developer ecosystem while keeping our users safe from bad actors.</p>
<h2 id="who-handles-my-information">Who handles my information?</h2>
<p>Our partners at Stripe act as our identity verification provider. Stripe is legally and contractually obligated to only use the data in a way that we’ve approved, which is to provide the service of identity verification. The data still comes from Discord and still belongs to Discord, and so we have the right and ability to remove that data.</p>
<h2 id="who-can-see-my-information">Who can see my information?</h2>
<p>A small number of Discord employees (as in, fewer than ten) who are involved in security and legal will be able to access the information. The information is not stored on Discord itself and is not generally accessible to employees outside of this group. We understand that this is highly sensitive, and access to the information is not something that we take lightly. It is expressly for the use case of bad, bad actors. We’re not talking about general Trust and Safety concerns, like spambots or a bot deleting channels in a server. Instead, we’re looking to prevent data breaches, wide-scale privacy violations, and illegal activity.</p>
<h2 id="can-you-delete-my-id">Can you delete my ID?</h2>
<p>We can only delete your verification data after your verified bot is deleted. Removing information upon demand defeats the purpose of verifying identity. At the same time, we have no interest in keeping this data longer than we need to, and we want to balance those two principles. As such, our retention policy is that we'll remove the identification information a year after the bot that it is connected with has been deleted.</p>
<p>This is in line with industry-standard retention guidelines for anti-abuse and anti-fraud situations. Keeping information after bot deletion for some amount of time is absolutely necessary — as we know in the security world, some misdeeds don't come to light immediately, and we want to make sure that we can take the steps to keep users safe.</p>
<p>In case you're curious about the legal front, use of data for this purpose is outlined both in the GDPR (see Recital 47), as well as the CCPA (Cal Civ Code § 1798.105(d)(2)).</p>
<h2 id="can-i-censor-part-of-my-id">Can I censor part of my ID?</h2>
<p>We need to see your complete and unedited ID in order to verify your identity. Keep in mind that we accept a variety of identity documents, some of which contain less information than others, so you can always consider using one of the alternative options. If you're ever uncertain, please contact us at <a class="ql-link" href="https://dis.gd/contact" target="_blank" rel="noopener noreferrer" data-slab-linktype="text">https://dis.gd/contact</a> and we'd be happy to help further.</p>
<h4 id="im-in-the-netherlands-what-about-kopie-id"><strong>I'm in the Netherlands. What about KopieID?</strong></h4>
<p>Our partners at Stripe fully comply with KopieID recommendations, and we can process IDs that are edited using the official KopieID app. You can download that app here: <a class="ql-link" href="https://www.rijksoverheid.nl/onderwerpen/identiteitsfraude/vraag-en-antwoord/veilige-kopie-identiteitsbewijs" target="_blank" rel="noopener noreferrer" data-slab-linktype="text">https://www.rijksoverheid.nl/onderwerpen/identiteitsfraude/vraag-en-antwoord/veilige-kopie-identiteitsbewijs</a></p>
<h2 id="i-have-additional-questions">I have additional questions!</h2>
<p>If you have any additional questions about the verification process, we're here to help. Questions regarding data processing, data retention, supported documentation, or anything else can be submitted to our support team at <a class="ql-link" href="https://dis.gd/contact" target="_blank" rel="noopener noreferrer" data-slab-linktype="text">https://dis.gd/contact</a>. You can also share them in our Developers server at <a class="ql-link" href="https://discord.gg/discord-developers" target="_blank" rel="noopener noreferrer" data-slab-linktype="text">https://discord.gg/discord-developers</a>.</p>