<h3><span style="font-weight: 400;">The following FAQ is intended for those who already received a Partner hoodie and are looking to redeem their link. For newer Partners, we'll have news to share soon on the future of physical Partner rewards.<br></span></h3>
<p> </p>
<p><span style="font-weight: 400;">If you’ve stumbled upon this article, you’re itching to receive your own new ultra-soft Partner hoodie! Either that or you’re dreaming of the day when you earn Discord Partnership. </span></p>
<p><span style="font-weight: 400;">We know that you're SUPER excited for the hoodie to arrive at your doorstep, so we've got some help for any Partner hoodie-related questions you may have.</span></p>
<p><span class="wysiwyg-font-size-large"><strong>How do I order my new hoodie?</strong></span></p>
<p><span style="font-weight: 400;">In your acceptance email, you'll find a one-time use link for ordering your Discord Partner hoodie. If you no longer have your acceptance email, shoot us a message at </span><a href="https://dis.gd/cprog"><span style="font-weight: 400;">dis.gd/cprog</span></a><span style="font-weight: 400;"> with the email address tied to your (newly-Partnered) Discord account so we can get you sorted out.</span></p>
<h3>
<em><span style="font-weight: 400;">Be sure to double-check your spam filters, in case your acceptance email falls into the abyss of the spam or promotions folder of your email inbox.</span></em><span style="font-weight: 400;"><br></span>
</h3>
<p><span class="wysiwyg-font-size-large"><strong>How long will it take to get my hoodie?</strong></span></p>
<p><span style="font-weight: 400;">Once you order the hoodie using your redemption link, it should arrive within 1-2 weeks! If you’re located outside of the United States, please allow for a little more time for delivery.</span></p>
<p><span class="wysiwyg-font-size-large"><strong>My preferred size is out of stock! What do?</strong></span></p>
<p><span style="font-weight: 400;">If the hoodie is out of stock, it’s very likely that we already have additional stock on the way! Feel free to reach out to us at </span><a href="https://dis.gd/cprog"><span style="font-weight: 400;">dis.gd/cprog</span></a><span style="font-weight: 400;"> to make sure we have more hoodies inbound.</span><span style="font-weight: 400;"><br></span><span style="font-weight: 400;"><br></span><span style="font-weight: 400;">Hoodie redemption links don’t expire, so you can hang onto your link as long as you’d like, and use it once your preferred size is available. </span></p>
<p><span class="wysiwyg-font-size-large"><strong>What sizes are available to order?</strong></span></p>
<p><span style="font-weight: 400;">You can find sizing information here:</span></p>
<p><a href="https://www.bellacanvas.com/img//BC_Catalog_2018_Size_Charts_2.pdf"><span style="font-weight: 400;">Bella + Canvas Sizing (S to 2XL, Men's/Unisex)</span><span style="font-weight: 400;"><br></span></a><a href="https://www.universallacrosse.com/sizing-chart-gildan"><span style="font-weight: 400;">Gildan Sizing (3XL to 5XL, Men’s)</span></a></p>
<p><span class="wysiwyg-font-size-large"><strong>Can I get tracking information?</strong></span></p>
<p><span style="font-weight: 400;">Once you've filled out your hoodie order form, Printfection will send tracking information your way in a new follow up email. Check your inbox soon after you place the order!</span></p>
<p><span class="wysiwyg-font-size-large"><strong>There's some other issue with the delivery. Help!</strong></span></p>
<p><span style="font-weight: 400;">If there's something else going on, such as a shipping issue, you'll want to send an email to the fine folks at Printfection. Details should be included in your tracking information email; otherwise, drop them a line at their <a href="https://help.printfection.com/hc/en-us/requests/new" target="_self">support page</a>. </span></p>