<ul>
<li><strong><a href="#h_01FP8EHXH60Q8BD84KH4MPM730" target="_self">OFFICIAL RULES FOR DISCORD SHORTS SWEEPSTAKES</a></strong></li>
<li><strong><a href="#h_01FP8EJ2ZSAW9TR8QAHD961E56" target="_self">DISCHORDS OFFICIAL RULES</a></strong></li>
<li><strong><a href="#h_01FP8EJ771M7C0ZMEMF14638BJ" target="_self">SKI-MOTES CONTEST</a></strong></li>
<li><strong><a href="#h_01FP8EJBQP3QE7D79PZGPZMDM2" target="_self">SNOWSTERPIECES CONTEST</a></strong></li>
</ul>
<h1 id="h_01FP8EHXH60Q8BD84KH4MPM730"><strong>OFFICIAL RULES FOR DISCORD SHORTS SWEEPSTAKES</strong></h1>
<p><strong>NO PURCHASE NECESSARY TO ENTER OR TO WIN.</strong> <strong>A PURCHASE OR PAYMENT WILL NOT IMPROVE YOUR CHANCES OF WINNING.</strong></p>
<p><strong>VOID WHERE PROHIBITED. UNLESS YOU ARE A RESIDENT OF FRANCE, GERMANY OR GREAT BRITAIN, THESE OFFICIAL RULES CONTAIN A CLASS ACTION WAIVER.</strong></p>
<p><strong>PLEASE SEE OUR PRIVACY NOTICE <a href="https://support.discord.com/hc/articles/4415139162647" target="_self">HERE</a></strong></p>
<ol>
<li>
<strong> Eligibility. </strong><span style="font-weight: 400;">Subject to the additional restrictions below, you may enter the Discord Shorts Sweepstakes (“</span><strong><em>Sweepstakes</em></strong><span style="font-weight: 400;">”) if you are a legal resident of Canada (excluding Quebec), France, Germany, Great Britain, Japan, Mexico, or the US, and are eighteen (18) years of age or older as of the date of entry. Employees or agents of Discord Inc. (“</span><strong><em>Discord</em></strong><span style="font-weight: 400;">”) and its affiliates or business partners involved in the provision of the Sweepstakes (collectively, “</span><strong><em>Discord Parties</em></strong><span style="font-weight: 400;">”), and the members of their immediate families (i.e. parents, children, siblings or spouse) or those persons living in the same household of such individuals, are ineligible to enter or win. Your participation in the Sweepstakes constitutes your agreement to these Official Rules. </span>
</li>
<li>
<strong> Sponsor: </strong><span style="font-weight: 400;">Discord Inc., 444 De Haro Street, Suite 200, San Francisco, CA 94107, </span><a href="mailto:cprog@discordapp.com"><span style="font-weight: 400;">cprog@discordapp.com</span></a><span style="font-weight: 400;">, +1 (888) 594-0085, EIN 45-4908598.</span>
</li>
<li>
<strong> Sweepstakes Term. </strong><span style="font-weight: 400;">The Sweepstakes begin on </span><span style="font-weight: 400;">December 6, 2021,</span><span style="font-weight: 400;"> 10:00am Pacific Time (PT) Zone and ends on </span><span style="font-weight: 400;">December 13, 2021</span><span style="font-weight: 400;">, 05:00pm Pacific Time (PT) Zone</span><span style="font-weight: 400;"> (the “</span><strong><em>Sweepstakes Term</em></strong><span style="font-weight: 400;">”). </span>
</li>
<li>
<strong style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;">How To Enter. </strong><span style="font-weight: 400;">You may enter the Sweepstakes by submitting an original video responding to a prompt in the Discord Snowsgiving server. ALL ENTRIES MUST COMPLY WITH THESE OFFICIAL RULES, AND BE SUBMITTED DURING THE SWEEPSTAKES TERM, OR THEY WILL BE DISQUALIFIED. YOU MAY ONLY SUBMIT </span><span style="font-weight: 400;">ONE (1) ENTRY DURING THE SWEEPSTAKES TERM. </span>
</li>
</ol>
<p><span style="font-weight: 400;">You may also enter the Sweepstakes without  submitting a video by emailing cprog@discordapp.com with an email that includes the phrase “Enter me into Discord’s Shorts sweepstakes.” If you submit more than one entry in a day using the same account, only the first entry for that day will be considered, and all subsequent entries for that day will be disqualified. Your entry must not: (i) violate any applicable law or regulation; (ii) violate any third-party rights, including copyrights, trademark rights, moral rights, or rights of privacy and publicity; (iii) contain disparaging or defamatory statements; (iv) include threats to any person, place, business, or group; (v) be obscene, offensive, or indecent; (vi) depict any risky behavior; (vii) contain material that promotes bigotry, racism, hatred or harm against any group or individual or promotes discrimination based on race, gender, religion, nationality, disability, sexual orientation or age; and/or (viii) contain unauthorized third-party trademarks or logos (collectively, the “</span><strong><em>Content Restrictions</em></strong><span style="font-weight: 400;">”). Your Submission must comply with the YouTube, LLC and Discord terms of use and</span><a href="https://www.youtube.com/yt/policyandsafety/communityguidelines.html"> <span style="font-weight: 400;">YouTube Community Guidelines</span></a><span style="font-weight: 400;">. </span></p>
<p><span style="font-weight: 400;">All of your entries will be disqualified if: (i) any of your entries violates any of the Content Restrictions; (ii) you attempt to use more than one Discord / email account to submit entries to the Sweepstakes; or (iii) you attempt to cheat, tamper with the systems or services used to operate the Sweepstakes, or otherwise interfere with or undermine the legitimate operation of the Sweepstakes. If Discord does not receive your entry for any reason outside of Discord’s control, your entry will be disqualified. </span><strong>You must obtain the consent of any individual other than yourself whose personal information you include in any submission you post.</strong></p>
<ol start="5">
<li>
<strong> Prizes &amp; Approximate Retail Value. </strong><span style="font-weight: 400;">A total of fifty-five (55) prizes will be awarded to winners selected at random, with a total approximate retail value (“</span><strong><em>ARV</em></strong><span style="font-weight: 400;">”) of US$5,500, as described below. Each entrant may win one (1) prize only, </span><span style="font-weight: 400;">so if there are not enough eligible entries, not all prizes will be awarded. </span>
</li>
</ol>
<ul>
<li>
<span style="font-weight: 400;"> </span><span style="font-weight: 400;">Fifty-five (55) prizes will be awarded, each consisting of a one year subscription to Discord Nitro. ARV of each prize is US$100.</span>
</li>
</ul>
<p><span style="font-weight: 400;">The potential winners will be notified via the Discord / email account they used to submit their entry </span><span style="font-weight: 400;">on or about December 15th, 2021 4:00PM PST</span><span style="font-weight: 400;">, and mus</span><span style="font-weight: 400;">t respond to the notification attempt within three (3) days of when it was sent. To receive a prize, a potential winner must: (i) submit all information that Discord requires to deliver them their prize and comply with applicable laws; and (ii) acknowledge that Discord may disclose their name and country to third parties because certain laws require Discord to do so to demonstrate the fairness of these Sweepstakes. Canadian residents must answer a skill-testing question before a prize will be awarded. Unless Discord is satisfied that a potential winner is eligible to win a prize, every potential winner must sign and return to Discord an affidavit of eligibility. An affidavit of eligibility is a document in which the signatory legally declares that they are eligible to win the prize based on these Official Rules. If Discord asks a potential winner to sign and return to Discord an affidavit of eligibility, they must do so within thirty (30) days of the date the affidavit is sent to claim their prize. If a potential winner cannot be contacted or fails to return the affidavit of eligibility within the required time period, the potential winner forfeits the prize. Discord will cover the costs of shipping prizes to </span><span style="font-weight: 400;">winn</span><span style="font-weight: 400;">ers. In the event that a potential winner is disqualified because they failed to comply with these Official Rules, or declines a prize for any reason prior to award, Discord will award the applicable prize to an alternate winner by random drawing held by Discord from among all remaining eligible entries received during the Sweepstakes Term. Discord will conduct these alternative random drawings for each prize until the prize is claimed. Winners are solely responsible for any taxes or reporting obligations resulting from the prizes. Prizes are not transferable. No substitutions or exchanges of any prize (including for cash) will be permitted. Any difference between the stated ARV and actual value of a prize will not be awarded.</span></p>
<ol start="6">
<li>
<strong> Odds. </strong><span style="font-weight: 400;">The odds of winning a prize is equal to the number of Sweepstakes prizes divided by the total number of entries to the Sweepstakes.</span>
</li>
<li>
<strong> Limitation of Liability. </strong><span style="font-weight: 400;">This Section does not apply to you if you reside in France, Germany or Great Britain. You agree that Discord Parties, YouTube LLC, and their respective affiliates, suppliers, employees and agents (collectively, the “</span><strong><em>Released Parties</em></strong><span style="font-weight: 400;">”), shall not be responsible or liable for any losses, damages or injuries of any kind resulting from your participation in the Sweepstakes or any Sweepstakes-related activity, unless occasioned by their negligence or willful misconduct. </span>
</li>
<li>
<strong> Indemnification. </strong><span style="font-weight: 400;">This Section does not apply to you if you reside in France, Germany or Great Britain. By participating in the Sweepstakes and/or accepting any prize that may be awarded, t</span><span style="font-weight: 400;">o the maximum extent permitted by law, </span><span style="font-weight: 400;">you agree to fully indemnify each Released Party from </span><span style="font-weight: 400;">and against any liability, claims, demands, losses, damages, costs and expenses resulting from any breach by you of these Official Rules or any misrepresentation made by you in connection with the Sweepstakes.</span>
</li>
<li>
<strong> Uncontrollable Events.</strong><span style="font-weight: 400;"> In the event the operation or integrity of the Sweepstakes are compromised by an event beyond Discord’s reasonable control and which were unforeseeable before the Sweepstakes began, Discord may suspend, modify or terminate the Sweepstakes. Should the Sweepstakes be terminated prior to the stated expiration date, Discord may award prizes based on the entries received before the termination date. </span>
</li>
<li>
<strong> Disputes. </strong><span style="font-weight: 400;">If you reside in France,</span> <span style="font-weight: 400;">Germany, or Great Britain, the laws of the country you reside in will govern these Official Rules and any dispute, claim or cause of action (“</span><strong><em>Claim</em></strong><span style="font-weight: 400;">”) that arises between you and Discord, and you may initiate Claims before the courts of your country of residence. If you do not reside in France, Germany, or Great Britain, the following clauses shall apply to you. The laws of the State of California, excluding its choice of law provisions, will govern these Official Rules and any Claim that arises between you and Discord. </span>
</li>
<li>
<strong> Class Action Waiver. </strong><span style="font-weight: 400;">This Section does not apply to you if you reside in France, Germany or Great Britain. Any Claim must be brought in the respective party’s individual capacity, and not as a plaintiff or class member in any purported class, collective, representative, multiple plaintiff, or similar proceeding (“</span><strong><em>Class Action</em></strong><span style="font-weight: 400;">”). The parties expressly waive any ability to maintain any Class Action in any forum. Any claim that all or part of this Class Action Waiver is unenforceable, unconscionable, void, or voidable may be determined only by a court of competent jurisdiction. If for any reason a Claim proceeds in court, you and Discord each waive any right to a jury trial.</span>
</li>
<li>
<strong> Construction.</strong><span style="font-weight: 400;"> The invalidity or unenforceability of any provision of these rules shall not affect the validity or enforceability of any other provision. In the event that any such provision is determined to be invalid or otherwise unenforceable, these rules shall be construed in accordance with their terms as if the invalid or unenforceable provision was not contained therein. Discord’s failure to enforce any of these Official Rules shall not constitute a waiver of that provision.</span>
</li>
<li>
<strong> Winner List.</strong><span style="font-weight: 400;"> Discord takes commercially reasonable steps to comply with laws that apply to the Sweepstakes, including laws in Great Britain, the U.S. and elsewhere that require Discord to demonstrate the fairness of these Sweepstakes. As such, in accordance with applicable laws, Discord will make available to you a copy of the name and country of the winner(s) and/or or a copy of these Official Rules, for one month after the Sweepstakes Term, if you send a self-addressed, stamped envelope to: Discord Inc., Attn: “Winner List/Official Rules” for Discord Shorts Contest, </span><span style="font-weight: 400;">444 De Haro Street, Suite 200, San Francisco, CA 94107</span><span style="font-weight: 400;">. </span><span style="font-weight: 400;">(Residents of Vermont need not supply postage.)</span>
</li>
</ol>
<ol start="14">
<li>
<strong> YouTube Disclosures. </strong><span style="font-weight: 400;">The Sweepstakes are in no way sponsored, endorsed or administered by, or associated with, YouTube LLC.</span>
</li>
</ol>
<p> </p>
<h2 id="h_01FP8EJ2ZSAW9TR8QAHD961E56"><strong>DISCHORDS OFFICIAL RULES</strong></h2>
<p><strong>Important:  Please read these Official Rules before entering this Contest (the “</strong><strong><em>Contest</em></strong><strong>”).</strong></p>
<p><strong>By participating in this Contest, you agree to be bound by these Official Rules. </strong></p>
<p><strong>NO PURCHASE OR PAYMENT OF ANY KIND IS NECESSARY TO ENTER OR WIN THIS CONTEST. </strong><strong>A PURCHASE OR PAYMENT WILL NOT IMPROVE YOUR CHANCES OF WINNING. VOID WHERE PROHIBITED. UNLESS YOU ARE A RESIDENT OF FRANCE, GERMANY OR GREAT BRITAIN, THESE OFFICIAL RULES CONTAIN A CLASS ACTION WAIVER.</strong></p>
<p><span style="font-weight: 400;"> </span></p>
<p><strong>PLEASE ALSO SEE OUR PRIVACY NOTICE <a href="https://support.discord.com/hc/articles/4415139162647" target="_self">HERE</a>.</strong></p>
<ol>
<li>
<span style="font-weight: 400;">     </span><strong>Eligibility: </strong><span style="font-weight: 400;">Subject to the additional restrictions below, you may enter the Contest if you are a legal resident of Canada (excluding Quebec), France, Germany, Great, Britain, Japan, Mexico, or the US, and are eighteen (18) years of age or older as of the date of entry. Employees or agents of Discord Inc. (“</span><strong><em>Discord</em></strong><span style="font-weight: 400;">”) and its affiliates or business partners involved in the provision of the Contest (collectively, “</span><strong><em>Discord Parties</em></strong><span style="font-weight: 400;">”), and the members of their immediate families (i.e. parents, children, siblings or spouse) or those persons living in the same household of such individuals, are ineligible to enter or win. The Contest is in no way sponsored, endorsed, administered by, or associated with, YouTube, LLC. </span>
</li>
<li>
<span style="font-weight: 400;">     </span><strong>Contest Period:  </strong><span style="font-weight: 400;">The Contest starts at 10:00 a.m. Pacific Time (PT) on December 6th, 2021  and ends at 10:00 a.m. Pacific Time  (PT) on December 13th, 2021</span> <span style="font-weight: 400;">(the “</span><strong><em>Contest Period</em></strong><span style="font-weight: 400;">”).  </span>
</li>
<li>
<span style="font-weight: 400;">     </span><strong>How to Enter: </strong><span style="font-weight: 400;">To enter, complete the listed steps for any </span><span style="font-weight: 400;">one</span><span style="font-weight: 400;"> of the following methods of entry during the Contest Period:</span>
<ol>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Discord method of entry: (i) Log-in to Discord, (ii) join the Discord Snowsgiving server, and (iii) use the link provided by Discord in the Discord Snowsgiving server to submit your original music relating to the theme “winter.”</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Newsletter method of entry: use the link provided by Discord in the December 2021 Snowsgiving Hypesquad email newsletter to submit your original music  relating to the theme “winter.”</span></li>
</ol>
</li>
</ol>
<p><span style="font-weight: 400;">By submitting an entry as instructed through any of the above methods (“</span><strong><em>Submission</em></strong><span style="font-weight: 400;">”), you agree that you and your Submission comply with these Official Rules, including the Guidelines and Restrictions detailed below. Discord will disqualify you and all of your Submissions from the Contest if: (i) you or any of your Submissions fails to comply with these Official Rules; or (ii) you attempt to cheat, tamper with the systems or services used to operate the Contest, or otherwise interfere with or undermine the legitimate operation of the Contest. If Discord does not receive your Submission for any reason outside of Discord’s control, your Submission will be disqualified.  </span></p>
<p><span style="font-weight: 400;"> </span></p>
<p><span style="font-weight: 400;">Submission Guidelines and Restrictions</span></p>
<ol>
<li><span style="font-weight: 400;">THERE IS A LIMIT OF ONE SUBMISSION PER PERSON DURING CONTEST PERIOD, REGARDLESS OF METHOD OF ENTRY. Any attempt to submit additional Submissions, including through multiple or duplicate accounts, will result in disqualification.</span></li>
<li><span style="font-weight: 400;">Your Submission must not supply untruthful, incomplete, inaccurate or misleading information, and must be responsive to the Contest theme.</span></li>
<li><span style="font-weight: 400;">Your Submission must be your original creation and you must have the full rights to grant the license and other rights that you grant to Discord in Section 8 below.</span></li>
<li>Your Submission must not: (i) violate any applicable law or regulation; (ii) violate any third-party rights, including copyrights, trademark rights, moral rights, or rights of privacy and publicity; (iii) contain disparaging or defamatory statements; (iv) include threats to any person, place, business, or group; (v) be obscene, offensive, or indecent; (vi) depict any risky behavior; (vii) contain material that promotes bigotry, racism, hatred or harm against any group or individual or promotes discrimination based on race, gender, religion, nationality, disability, sexual orientation or age; and/or (viii) contain unauthorized third-party trademarks or logos.</li>
<li>You agree that, to the extent that your Submission depicts any individual or features the voice or other qualities of any individual, you are the individual pictured, heard, or otherwise featured in the Submission, or, alternatively, that you have obtained written permission from each person appearing in the entry to grant the rights to Discord described in these Official Rules, and will make written copies of such permissions available to Discord upon request.</li>
<li>Your Submission must comply with the YouTube, LLC terms of use, Discord terms of use, and<a style="background-color: #ffffff; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;" href="https://www.youtube.com/yt/policyandsafety/communityguidelines.html"> YouTube Community Guidelines</a><span style="font-weight: 400;">.  </span>
</li>
<li>You are responsible for all of your own expenses associated with participating in the Contest. </li>
</ol>
<p><span style="font-weight: 400;"> </span></p>
<ol start="4">
<li>
<span style="font-weight: 400;">     </span><strong>Identity of Entrant:  </strong><span style="font-weight: 400;">Each potential winner may be required to provide Discord with proof that the potential winner is the authorized account holder of the account associated with the winning Submission. Multiple participants are not permitted to share the same account.  </span>
</li>
<li>
<span style="font-weight: 400;">     </span><strong>Selection and Notification of Winner:  </strong><span style="font-weight: 400;">On or about December 15th, 2021, a panel of judges selected at Discord’s discretion and based in the U.S. will score each Submission based on the following criteria (“</span><strong><em>Judging Criteria</em></strong><span style="font-weight: 400;">”):</span>
</li>
</ol>
<p><span style="font-weight: 400;">Judging Criteria</span><span style="font-weight: 400;">  </span></p>
<p><span style="font-weight: 400;">1) </span> <span style="font-weight: 400;">Consistency of Submission with contest theme of winter (40%);</span></p>
<p><span style="font-weight: 400;">2) </span> <span style="font-weight: 400;">Creativity of Submission (40%); and</span></p>
<p><span style="font-weight: 400;">3) </span> <span style="font-weight: 400;">The most apt, original, and interesting Submission (20%).</span></p>
<p><span style="font-weight: 400;">The top ten (10) scoring Submissions will be deemed the potential winners.  In the unlikely event of a tie, the winner will be determined by the Submission’s score in the following criteria: Creativity of submission.  The selection of the winners is at the sole discretion of the judges and the judges’ decision is final. </span></p>
<p><span style="font-weight: 400;"> </span></p>
<p><span style="font-weight: 400;">Each potential winner will be notified via Discord direct message on or about December 15th, 2021. To receive a prize, a potential winner must submit all information that Discord requires to deliver them their prize and comply with applicable laws. </span><span style="font-weight: 400;">Unless Discord is satisfied that a potential winner is eligible to win a prize, every potential winner must sign and return to Discord an affidavit of eligibility. An affidavit of eligibility is a document in which the signatory legally declares that they are eligible to win the prize based on these Official Rules. If Discord asks a potential winner to sign and return to Discord an affidavit of eligibility, they must do so within thirty (30) days of the date the affidavit is sent to claim their prize. </span><span style="font-weight: 400;">If (i) the attempted notification is returned as undeliverable without a forwarding address; (ii) any required information or documents are not returned within seven (7) days, such as the Affidavit of Eligibility; or (iii) the potential winner chooses not to or is otherwise unable to, accept the prize as stated, the prize will be forfeited and will be awarded to an alternate winner in accordance with the Judging Criteria. Only one alternate winner will be selected for each prize. </span></p>
<p><span style="font-weight: 400;"> </span></p>
<ol start="7">
<li>
<span style="font-weight: 400;">     </span><strong>Prize:  </strong><span style="font-weight: 400;">Ten (10) winners will each receive one trophy (Approximate Retail Value (“</span><strong><em>ARV</em></strong><span style="font-weight: 400;">”) of each prize: US$110).  Total ARV of all prizes: US$1,100. </span><span style="font-weight: 400;">Discord will cover the costs of shipping prizes to winners.</span> <span style="font-weight: 400;">Winners are solely responsible for any taxes or reporting obligations resulting from the prizes.</span> <span style="font-weight: 400;">Any difference between the stated ARV and the actual value of a prize will not be awarded. </span><span style="font-weight: 400;">Prizes are not transferable.  No substitutions or exchanges of any prize (including for cash) will be permitted.  </span>
</li>
<li>
<strong>     </strong><strong>Limitation of Liability. </strong><span style="font-weight: 400;">This Section does not apply to you if you reside in France, Germany or Great Britain. You agree that Discord Parties YouTube LLC, and their respective affiliates, suppliers, employees and agents (collectively, the “</span><strong><em>Released Parties</em></strong><span style="font-weight: 400;">”), shall not be responsible or liable for any losses, damages or injuries of any kind resulting from your participation in the Contest or any Contest-related activity unless occasioned by their gross negligence or willful misconduct. </span>
</li>
<li>
<span style="font-weight: 400;">   </span><strong>License to Submission</strong><span style="font-weight: 400;">: By entering the Contest and providing a Submission, you hereby grant to Discord a perpetual, irrevocable, royalty-free, worldwide, nonexclusive license to reproduce, display, perform, distribute, and otherwise use your Submission in connection with administering the Contest, and to freely sublicense these rights. Discord will have no obligation to publish or use or retain any Submission you submit or to return any such Submission to you. You agree that it is your sole responsibility to obtain all permissions and releases necessary for the grant of the rights contained in this paragraph. You agree to take, at Discord’s expense, any further action (including the execution of affidavits, tax forms, and other documents) reasonably requested by Discord to effect, perfect, or confirm Discord’s rights as set forth above in this paragraph. You will not be entitled to compensation for any use by Discord, or its agents, licensees or assignees, of your Submission.</span>
</li>
<li>
<span style="font-weight: 400;">   </span><strong>Indemnity. </strong><span style="font-weight: 400;">This Section does not apply to you if you reside in France, Germany, or Great Britain. By participating in the Contest and/or accepting any prize that may be awarded, t</span><span style="font-weight: 400;">o the maximum extent permitted by law, </span><span style="font-weight: 400;">you agree to fully indemnify each Released Party from </span><span style="font-weight: 400;">and against any liability, claims, demands, losses, damages, costs, and expenses resulting from any breach by you of these Official Rules or any misrepresentation made by you in connection with the Contest.</span>
</li>
<li>
<span style="font-weight: 400;">   </span><strong>Winner List; Rules Request:  </strong><span style="font-weight: 400;">For a copy of the winner list, send a stamped, self-addressed, business-size envelope for arrival after December 15, 2021,</span> <span style="font-weight: 400;">and before December 15, 2022, to the address listed in Section 16 below, Attn: DISCHORDS To obtain a copy of these Official Rules, visit insert URL or send a stamped, self-addressed business-size envelope to the address listed in Section 16 below, Attn: DISCHORDS. VT residents may omit return postage.</span>
</li>
<li>
<span style="font-weight: 400;">   </span><strong>Intellectual Property Notice:  </strong><span style="font-weight: 400;">Discord is a trademark of Discord Inc. The Contest and all accompanying materials are copyright © 2021 by Discord Inc.  All rights reserved.</span>
</li>
<li>
<strong> Disputes. </strong><span style="font-weight: 400;">If you reside in France,</span> <span style="font-weight: 400;">Germany, or Great Britain, the laws of the country you reside in will govern these Official Rules and any dispute, claim or cause of action (“</span><strong><em>Claim</em></strong><span style="font-weight: 400;">”) that arises between you and Discord, and you may initiate Claims before the courts of your country of residence. If you do not reside in France, Germany or Great Britain, the following clauses shall apply to you. The laws of the State of California, excluding its choice of law provisions, will govern these Official Rules and any Claim that arises between you and Discord.</span>
</li>
<li>
<strong> Class Action Waiver.</strong><span style="font-weight: 400;"> This Section does not apply to you if you reside in France, Germany or Great Britain. Any Claim must be brought in the respective party’s individual capacity, and not as a plaintiff or class member in any purported class, collective, representative, multiple plaintiffs, or similar proceeding (“</span><strong><em>Class Action</em></strong><span style="font-weight: 400;">”). The parties expressly waive any ability to maintain any Class Action in any forum. Any claim that all or part of this Class Action Waiver is unenforceable, unconscionable, void, or voidable may be determined only by a court of competent jurisdiction. If for any reason a Claim proceeds in court, you and Discord each waives any right to a jury trial.</span>
</li>
<li>
<strong> Uncontrollable Events. </strong><span style="font-weight: 400;">In the event, the operation or integrity of the Contest is compromised by an event beyond Discord’s reasonable control and which were unforeseeable before the Contest began, Discord may suspend, modify or terminate the Contest. </span>
</li>
<li>
<span style="font-weight: 400;">   </span><strong>General Conditions:</strong><span style="font-weight: 400;"> Discord’s failure to enforce any term of these Official Rules will not constitute a waiver of that provision.  </span><span style="font-weight: 400;">The invalidity or unenforceability of any provision of these rules shall not affect the validity or enforceability of any other provision. In the event that any such provision is determined to be invalid or otherwise unenforceable, these rules shall be construed in accordance with their terms as if the invalid or unenforceable provision was not contained therein. </span><span style="font-weight: 400;">The use of the terms “include” or “including” in these Official Rules is illustrative and not limiting.</span>
</li>
<li>
<span style="font-weight: 400;">   </span><strong>Sponsor:  </strong><span style="font-weight: 400;">Discord Inc., 444 De Haro Street, Suite 200, San Francisco, CA 94107</span><span style="font-weight: 400;">, </span><span style="font-weight: 400;">+1 (888) 594-0085</span><span style="font-weight: 400;">, </span><span style="font-weight: 400;">cprog@discordapp.com.</span>
</li>
</ol>
<p> </p>
<h1 id="h_01FP8EJ771M7C0ZMEMF14638BJ"><span style="font-weight: 400;">SKI-MOTES CONTEST</span></h1>
<p><strong>OFFICIAL RULES</strong></p>
<p><strong>Important:  Please read these Official Rules before entering this Contest (the “</strong><strong><em>Contest</em></strong><strong>”).</strong></p>
<p><strong>By participating in this Contest, you agree to be bound by these Official Rules. </strong></p>
<p><span style="font-weight: 400;"> </span></p>
<p><strong>NO PURCHASE OR PAYMENT OF ANY KIND IS NECESSARY TO ENTER OR WIN THIS CONTEST. </strong><strong>A PURCHASE OR PAYMENT WILL NOT IMPROVE YOUR CHANCES OF WINNING. VOID WHERE PROHIBITED. UNLESS YOU ARE A RESIDENT OF FRANCE, GERMANY OR GREAT BRITAIN, THESE OFFICIAL RULES CONTAIN A CLASS ACTION WAIVER.</strong></p>
<p><span style="font-weight: 400;"> </span></p>
<p><strong>PLEASE ALSO SEE OUR PRIVACY NOTICE <a href="https://support.discord.com/hc/articles/4415139162647" target="_self">HERE</a>.</strong></p>
<p><span style="font-weight: 400;"> </span></p>
<ol>
<li>
<span style="font-weight: 400;">     </span><strong>Eligibility: </strong><span style="font-weight: 400;">Subject to the additional restrictions below, you may enter the Contest if you are a legal resident of Canada (excluding Quebec), France, Germany, Great Britain, Japan, Mexico, or the US, and are eighteen (18) years of age or older as of the date of entry. Employees or agents of Discord Inc. (“</span><strong><em>Discord</em></strong><span style="font-weight: 400;">”) and its affiliates or business partners involved in the provision of the Contest (collectively, “</span><strong><em>Discord Parties</em></strong><span style="font-weight: 400;">”), and the members of their immediate families (i.e. parents, children, siblings or spouse) or those persons living in the same household of such individuals, are ineligible to enter or win. </span>
</li>
<li>
<span style="font-weight: 400;">     </span><strong>Contest Period:  </strong><span style="font-weight: 400;">The Contest starts at 10:00AM a.m. Pacific Time (PT) on December 6th, 2021, and ends at 10:00AM. PT on December 13th, 2021</span> <span style="font-weight: 400;">(the “</span><strong><em>Contest Period</em></strong><span style="font-weight: 400;">”).  </span>
</li>
<li>
<span style="font-weight: 400;">     </span><strong>How to Enter: </strong><span style="font-weight: 400;">To enter, complete the listed steps for any </span><span style="font-weight: 400;">one</span><span style="font-weight: 400;"> of the following methods of entry during the Contest Period:</span>
<ol>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Discord method of entry: (i) Log-in to Discord, (ii) join the Discord Snowsgiving server, and (iii) use the link provided by Discord in the Discord Snowsgiving server to submit  at least five (5) original emotes relating to the theme “winter.”</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Newsletter method of entry: use the link provided by Discord in the December 2021 Snowsgiving Hypesquad email newsletter to submit at least five (5) original emotes relating to the theme “winter.”</span></li>
</ol>
</li>
</ol>
<p> </p>
<p><span style="font-weight: 400;">By submitting an entry as instructed through any of the above methods (“</span><strong><em>Submission</em></strong><span style="font-weight: 400;">”), you agree that you and your Submission comply with these Official Rules, including the Guidelines and Restrictions detailed below. Discord will disqualify you and all of your Submissions from the Contest if: (i) you or any of your Submissions fails to comply with these Official Rules; or (ii) you attempt to cheat, tamper with the systems or services used to operate the Contest, or otherwise interfere with or undermine the legitimate operation of the Contest. If Discord does not receive your Submission for any reason outside of Discord’s control, your Submission will be disqualified.  </span></p>
<p><span style="font-weight: 400;"> </span></p>
<p><span style="font-weight: 400;">Submission Guidelines and Restrictions</span></p>
<ol>
<li><span style="font-weight: 400;">THERE IS A LIMIT OF ONE SUBMISSION PER PERSON DURING CONTEST PERIOD, REGARDLESS OF METHOD OF ENTRY. Any attempt to submit additional Submissions, including through multiple or duplicate accounts, will result in disqualification.</span></li>
<li>Your Submission must not supply untruthful, incomplete, inaccurate or misleading information, and must be responsive to the Contest theme.</li>
<li><span style="font-weight: 400;">Your Submission must be your original creation and you must have the full rights to grant the license and other rights that you grant to Discord in Section 8 below.</span></li>
<li>Your Submission must not: (i) violate any applicable law or regulation; (ii) violate any third-party rights, including copyrights, trademark rights, moral rights, or rights of privacy and publicity; (iii) contain disparaging or defamatory statements; (iv) include threats to any person, place, business, or group; (v) be obscene, offensive, or indecent; (vi) depict any risky behavior; (vii) contain material that promotes bigotry, racism, hatred or harm against any group or individual or promotes discrimination based on race, gender, religion, nationality, disability, sexual orientation or age; and/or (viii) contain unauthorized third-party trademarks or logos.</li>
<li>You agree that, to the extent that your Submission depicts any individual or features the voice or other qualities of any individual, you are the individual pictured, heard, or otherwise featured in the Submission, or, alternatively, that you have obtained written permission from each person appearing in the entry to grant the rights to Discord described in these Official Rules, and will make written copies of such permissions available to Discord upon request.</li>
<li>Your Submission must comply with the Discord terms of use. </li>
<li>You are responsible for all of your own expenses associated with participating in the Contest. </li>
</ol>
<p><span style="font-weight: 400;"> </span></p>
<ol start="4">
<li>
<span style="font-weight: 400;">     </span><strong>Identity of Entrant:  </strong><span style="font-weight: 400;">Each potential winner may be required to provide Discord with proof that the potential winner is the authorized account holder of the account associated with the winning Submission. Multiple participants are not permitted to share the same account.  </span>
</li>
<li>
<span style="font-weight: 400;">     </span><strong>Selection and Notification of Winner:  </strong><span style="font-weight: 400;">On or about December 15th, 2021, a panel of judges selected at Discord’s discretion and based in the U.S. will score each Submission based on the following criteria (“</span><strong><em>Judging Criteria</em></strong><span style="font-weight: 400;">”):</span>
</li>
</ol>
<p><span style="font-weight: 400;"> </span></p>
<p><span style="font-weight: 400;">Judging Criteria</span><span style="font-weight: 400;">  </span></p>
<p><span style="font-weight: 400;">1) </span> <span style="font-weight: 400;">Consistency of Submission with contest theme of winter (40%);</span></p>
<p><span style="font-weight: 400;">2) </span> <span style="font-weight: 400;">Creativity of Submission (40%); and</span></p>
<p><span style="font-weight: 400;">3) </span> <span style="font-weight: 400;">The most apt, original, and interesting Submission (20%).</span></p>
<p><span style="font-weight: 400;">The top ten (10) scoring Submissions will be deemed the potential winners.  In the unlikely event of a tie, the winner will be determined by the Submission’s score in the following criteria: Creativity of submission.  The selection of the winners is at the sole discretion of the judges and the judges’ decision is final. </span></p>
<p><span style="font-weight: 400;"> </span></p>
<p><span style="font-weight: 400;">Each potential winner will be notified via Discord direct message on or about December 15th, 2021. To receive a prize, a potential winner must submit all information that Discord requires to deliver them their prize and comply with applicable laws. </span><span style="font-weight: 400;">Unless Discord is satisfied that a potential winner is eligible to win a prize, every potential winner must sign and return to Discord an affidavit of eligibility. An affidavit of eligibility is a document in which the signatory legally declares that they are eligible to win the prize based on these Official Rules. If Discord asks a potential winner to sign and return to Discord an affidavit of eligibility, they must do so within thirty (30) days of the date the affidavit is sent to claim their prize. </span><span style="font-weight: 400;">If (i) the attempted notification is returned as undeliverable without a forwarding address; (ii) any required information or documents are not returned within seven (7) days, such as the Affidavit of Eligibility; or (iii) the potential winner chooses not to, or is otherwise unable to, accept the prize as stated, the prize will be forfeited and will be awarded to an alternate winner in accordance with the Judging Criteria. Only one alternate winner will be selected for each prize. </span></p>
<p><span style="font-weight: 400;"> </span></p>
<ol start="7">
<li>
<span style="font-weight: 400;">     </span><strong>Prize:  </strong><span style="font-weight: 400;">Ten (10) winners will each receive one trophy (Approximate Retail Value (“</span><strong><em>ARV</em></strong><span style="font-weight: 400;">”) of each prize: US$110).  Total ARV of all prizes: US$1,100. </span><span style="font-weight: 400;">Discord will cover the costs of shipping prizes to winners.</span> <span style="font-weight: 400;">Winners are solely responsible for any taxes or reporting obligations resulting from the prizes.</span> <span style="font-weight: 400;">Any difference between the stated ARV and actual value of a prize will not be awarded. </span><span style="font-weight: 400;">Prizes are not transferable.  No substitutions or exchanges of any prize (including for cash) will be permitted.  </span>
</li>
<li>
<strong>     </strong><strong>Limitation of Liability. </strong><span style="font-weight: 400;">This Section does not apply to you if you reside in France, Germany or Great Britain. You agree that Discord Parties, and their respective affiliates, suppliers, employees and agents (collectively, the “</span><strong><em>Released Parties</em></strong><span style="font-weight: 400;">”), shall not be responsible or liable for any losses, damages or injuries of any kind resulting from your participation in the Contest or any Contest-related activity, unless occasioned by their gross negligence or willful misconduct. </span>
</li>
<li>
<span style="font-weight: 400;">   </span><strong>License to Submission</strong><span style="font-weight: 400;">: By entering the Contest and providing a Submission, you hereby grant to Discord a perpetual, irrevocable, royalty-free, worldwide, nonexclusive license to reproduce, display, perform, distribute, and otherwise use your Submission in connection with administering the Contest, and to freely sublicense these rights. Discord will have no obligation to publish or use or retain any Submission you submit or to return any such Submission to you. You agree that it is your sole responsibility to obtain all permissions and releases necessary for the grant of the rights contained in this paragraph. You agree to take, at Discord’s expense, any further action (including execution of affidavits, tax forms, and other documents) reasonably requested by Discord to effect, perfect or confirm Discord’s rights as set forth above in this paragraph. You will not be entitled to compensation for any use by Discord, or its agents, licensees or assignees, of your Submission.</span>
</li>
<li>
<span style="font-weight: 400;">   </span><strong>Indemnity. </strong><span style="font-weight: 400;">This Section does not apply to you if you reside in France, Germany or Great Britain. By participating in the Contest and/or accepting any prize that may be awarded, t</span><span style="font-weight: 400;">o the maximum extent permitted by law, </span><span style="font-weight: 400;">you agree to fully indemnify each Released Party from </span><span style="font-weight: 400;">and against any liability, claims, demands, losses, damages, costs and expenses resulting from any breach by you of these Official Rules or any misrepresentation made by you in connection with the Contest.</span>
</li>
<li>
<span style="font-weight: 400;">   </span><strong>Winner List; Rules Request:  </strong><span style="font-weight: 400;">For a copy of the winner list, send a stamped, self-addressed, business-size envelope for arrival after December 15, 2021,</span> <span style="font-weight: 400;">and before December 15, 2022 to the address listed in Section 16 below, Attn: SKI-MOTES. To obtain a copy of these Official Rules, visit insert URL or send a stamped, self-addressed business-size envelope to the address listed in Section 16 below, Attn: SKI-MOTES. VT residents may omit return postage.</span>
</li>
<li>
<span style="font-weight: 400;">   </span><strong>Intellectual Property Notice:  </strong><span style="font-weight: 400;">Discord is a trademark of Discord Inc. The Contest and all accompanying materials are copyright © 2021 by Discord Inc.  All rights reserved.</span>
</li>
<li>
<strong> Disputes. </strong><span style="font-weight: 400;">If you reside in France,</span> <span style="font-weight: 400;">Germany, or Great Britain, the laws of the country you reside in will govern these Official Rules and any dispute, claim or cause of action (“</span><strong><em>Claim</em></strong><span style="font-weight: 400;">”) that arises between you and Discord, and you may initiate Claims before the courts of your country of residence. If you do not reside in France, Germany or Great Britain, the following clauses shall apply to you. The laws of the State of California, excluding its choice of law provisions, will govern these Official Rules and any Claim that arises between you and Discord.</span>
</li>
<li>
<strong> Class Action Waiver.</strong><span style="font-weight: 400;"> This Section does not apply to you if you reside in France, Germany or Great Britain. Any Claim must be brought in the respective party’s individual capacity, and not as a plaintiff or class member in any purported class, collective, representative, multiple plaintiff, or similar proceeding (“</span><strong><em>Class Action</em></strong><span style="font-weight: 400;">”). The parties expressly waive any ability to maintain any Class Action in any forum. Any claim that all or part of this Class Action Waiver is unenforceable, unconscionable, void, or voidable may be determined only by a court of competent jurisdiction. If for any reason a Claim proceeds in court, you and Discord each waive any right to a jury trial.</span>
</li>
<li>
<strong> Uncontrollable Events. </strong><span style="font-weight: 400;">In the event the operation or integrity of the Contest is compromised by an event beyond Discord’s reasonable control and which were unforeseeable before the Contest began, Discord may suspend, modify or terminate the Contest. </span>
</li>
<li>
<span style="font-weight: 400;">   </span><strong>General Conditions:</strong><span style="font-weight: 400;"> Discord’s failure to enforce any term of these Official Rules will not constitute a waiver of that provision.  </span><span style="font-weight: 400;">The invalidity or unenforceability of any provision of these rules shall not affect the validity or enforceability of any other provision. In the event that any such provision is determined to be invalid or otherwise unenforceable, these rules shall be construed in accordance with their terms as if the invalid or unenforceable provision was not contained therein. </span><span style="font-weight: 400;">The use of the terms “include” or “including” in these Official Rules is illustrative and not limiting.</span>
</li>
<li>
<span style="font-weight: 400;">  </span><strong>Sponsor:  </strong><span style="font-weight: 400;">Discord Inc., 444 De Haro Street, Suite 200, San Francisco, CA 94107</span><span style="font-weight: 400;">, </span><span style="font-weight: 400;">+1 (888) 594-0085</span><span style="font-weight: 400;">,</span><span style="font-weight: 400;"> <a href="mailto:cprog@discordapp.com">cprog@discordapp.com</a>.</span>
</li>
</ol>
<p> </p>
<h2 id="h_01FP8EJBQP3QE7D79PZGPZMDM2"><span style="font-weight: 400;">SNOWSTERPIECES CONTEST</span></h2>
<p><strong>OFFICIAL RULES</strong></p>
<p><strong>Important:  Please read these Official Rules before entering this Contest (the “</strong><strong><em>Contest</em></strong><strong>”).</strong></p>
<p><strong>By participating in this Contest, you agree to be bound by these Official Rules. </strong></p>
<p><span style="font-weight: 400;"> </span></p>
<p><strong>NO PURCHASE OR PAYMENT OF ANY KIND IS NECESSARY TO ENTER OR WIN THIS CONTEST. </strong><strong>A PURCHASE OR PAYMENT WILL NOT IMPROVE YOUR CHANCES OF WINNING. VOID WHERE PROHIBITED. UNLESS YOU ARE A RESIDENT OF FRANCE, GERMANY OR GREAT BRITAIN, THESE OFFICIAL RULES CONTAIN A CLASS ACTION WAIVER.</strong></p>
<p><span style="font-weight: 400;"> </span></p>
<p><strong>PLEASE ALSO SEE OUR PRIVACY NOTICE <a href="https://support.discord.com/hc/articles/4415139162647" target="_self">HERE</a>.</strong></p>
<ol>
<li>
<span style="font-weight: 400;">     </span><strong>Eligibility: </strong><span style="font-weight: 400;">Subject to the additional restrictions below, you may enter the Contest if you are a legal resident of Canada (excluding Quebec), France, Germany, Great Britain, Japan, Mexico, or the US, and are eighteen (18) years of age or older as of the date of entry. Employees or agents of Discord Inc. (“</span><strong><em>Discord</em></strong><span style="font-weight: 400;">”) and its affiliates or business partners involved in the provision of the Contest (collectively, “</span><strong><em>Discord Parties</em></strong><span style="font-weight: 400;">”), and the members of their immediate families (i.e. parents, children, siblings or spouse) or those persons living in the same household of such individuals, are ineligible to enter or win. The Contest is in no way sponsored, endorsed, administered by, or associated with, YouTube, LLC. </span>
</li>
<li>
<span style="font-weight: 400;">     </span><strong>Contest Period:  </strong><span style="font-weight: 400;">The Contest starts at 10:00AM a.m. Pacific Time (PT) on December 6th, 2021, and ends at 10:00AM. PT on December 13th, 2021</span> <span style="font-weight: 400;">(the “</span><strong><em>Contest Period</em></strong><span style="font-weight: 400;">”).  </span>
</li>
<li>
<span style="font-weight: 400;">     </span><strong>How to Enter: </strong><span style="font-weight: 400;">To enter, complete the listed steps for any </span><span style="font-weight: 400;">one</span><span style="font-weight: 400;"> of the following methods of entry during the Contest Period:</span>
<ol>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Discord method of entry: (i) Log-in to Discord, (ii) join the Discord Snowsgiving server, and (iii) use the link provided by Discord in the Discord Snowsgiving server to submit your original artwork relating to the theme “winter.”</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Newsletter method of entry: use the link provided by Discord in the December 2021 Snowsgiving Hypesquad email newsletter to submit your original artwork relating to the theme “winter.”</span></li>
</ol>
</li>
</ol>
<p><span style="font-weight: 400;">  </span></p>
<p><span style="font-weight: 400;">By submitting an entry as instructed through any of the above methods (“</span><strong><em>Submission</em></strong><span style="font-weight: 400;">”), you agree that you and your Submission comply with these Official Rules, including the Guidelines and Restrictions detailed below. Discord will disqualify you and all of your Submissions from the Contest if: (i) you or any of your Submissions fails to comply with these Official Rules; or (ii) you attempt to cheat, tamper with the systems or services used to operate the Contest, or otherwise interfere with or undermine the legitimate operation of the Contest. If Discord does not receive your Submission for any reason outside of Discord’s control, your Submission will be disqualified.  </span></p>
<p><span style="font-weight: 400;"> </span></p>
<p><span style="font-weight: 400;">Submission Guidelines and Restrictions</span></p>
<ol>
<li><span style="font-weight: 400;">THERE IS A LIMIT OF ONE SUBMISSION PER PERSON DURING CONTEST PERIOD, REGARDLESS OF METHOD OF ENTRY. Any attempt to submit additional Submissions, including through multiple or duplicate accounts, will result in disqualification.</span></li>
<li>Your Submission must not supply untruthful, incomplete, inaccurate or misleading information, and must be responsive to the Contest theme.</li>
<li>Your Submission must be your original creation and you must have the full rights to grant the license and other rights that you grant to Discord in Section 8 below.</li>
<li>Your Submission must not: (i) violate any applicable law or regulation; (ii) violate any third-party rights, including copyrights, trademark rights, moral rights, or rights of privacy and publicity; (iii) contain disparaging or defamatory statements; (iv) include threats to any person, place, business, or group; (v) be obscene, offensive, or indecent; (vi) depict any risky behavior; (vii) contain material that promotes bigotry, racism, hatred or harm against any group or individual or promotes discrimination based on race, gender, religion, nationality, disability, sexual orientation or age; and/or (viii) contain unauthorized third-party trademarks or logos.</li>
<li>You agree that, to the extent that your Submission depicts any individual or features the voice or other qualities of any individual, you are the individual pictured, heard, or otherwise featured in the Submission, or, alternatively, that you have obtained written permission from each person appearing in the entry to grant the rights to Discord described in these Official Rules, and will make written copies of such permissions available to Discord upon request.</li>
<li>Your Submission must comply with the YouTube, LLC, Discord terms of use and<a style="background-color: #ffffff; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;" href="https://www.youtube.com/yt/policyandsafety/communityguidelines.html"> YouTube Community Guidelines</a><span style="font-weight: 400;">.  </span>
</li>
<li>You are responsible for all of your own expenses associated with participating in the Contest. </li>
</ol>
<p><span style="font-weight: 400;"> </span></p>
<ol start="4">
<li>
<span style="font-weight: 400;">     </span><strong>Identity of Entrant:  </strong><span style="font-weight: 400;">Each potential winner may be required to provide Discord with proof that the potential winner is the authorized account holder of the account associated with the winning Submission. Multiple participants are not permitted to share the same account.  </span>
</li>
<li>
<span style="font-weight: 400;">     </span><strong>Selection and Notification of Winner:  </strong><span style="font-weight: 400;">On or about December 15th, 2021, a panel of judges selected at Discord’s discretion and based in the U.S. will score each Submission based on the following criteria (“</span><strong><em>Judging Criteria</em></strong><span style="font-weight: 400;">”):</span>
</li>
</ol>
<p><span style="font-weight: 400;"> </span></p>
<p><span style="font-weight: 400;">Judging Criteria</span><span style="font-weight: 400;">  </span></p>
<p><span style="font-weight: 400;">1) </span> <span style="font-weight: 400;">Consistency of Submission with contest theme of winter (40%);</span></p>
<p><span style="font-weight: 400;">2) </span> <span style="font-weight: 400;">Creativity of Submission (40%); and</span></p>
<p><span style="font-weight: 400;">3) </span> <span style="font-weight: 400;">The most apt, original, and interesting Submission (20%).</span></p>
<p><span style="font-weight: 400;">The top ten (10) scoring Submissions will be deemed the potential winners.  In the unlikely event of a tie, the winner will be determined by the Submission’s score in the following criteria: Creativity of submission.  The selection of the winners is at the sole discretion of the judges and the judges’ decision is final. </span></p>
<p><span style="font-weight: 400;"> </span></p>
<p><span style="font-weight: 400;">Each potential winner will be notified via Discord direct message on or about December 15th, 2021. To receive a prize, a potential winner must submit all information that Discord requires to deliver them their prize and comply with applicable laws. </span><span style="font-weight: 400;">Unless Discord is satisfied that a potential winner is eligible to win a prize, every potential winner must sign and return to Discord an affidavit of eligibility. An affidavit of eligibility is a document in which the signatory legally declares that they are eligible to win the prize based on these Official Rules. If Discord asks a potential winner to sign and return to Discord an affidavit of eligibility, they must do so within thirty (30) days of the date the affidavit is sent to claim their prize. </span><span style="font-weight: 400;">If (i) the attempted notification is returned as undeliverable without a forwarding address; (ii) any required information or documents are not returned within seven (7) days, such as the Affidavit of Eligibility; or (iii) the potential winner chooses not to, or is otherwise unable to, accept the prize as stated, the prize will be forfeited and will be awarded to an alternate winner in accordance with the Judging Criteria. Only one alternate winner will be selected for each prize. </span></p>
<p><span style="font-weight: 400;"> </span></p>
<ol start="7">
<li>
<span style="font-weight: 400;">     </span><strong>Prize:  </strong><span style="font-weight: 400;">Ten (10) winners will each receive one trophy (Approximate Retail Value (“</span><strong><em>ARV</em></strong><span style="font-weight: 400;">”) of each prize: US$110).  Total ARV of all prizes: US$1,100. </span><span style="font-weight: 400;">Discord will cover the costs of shipping prizes to winners.</span> <span style="font-weight: 400;">Winners are solely responsible for any taxes or reporting obligations resulting from the prizes.</span> <span style="font-weight: 400;">Any difference between the stated ARV and actual value of a prize will not be awarded. </span><span style="font-weight: 400;">Prizes are not transferable.  No substitutions or exchanges of any prize (including for cash) will be permitted.  </span>
</li>
<li>
<strong>     </strong><strong>Limitation of Liability. </strong><span style="font-weight: 400;">This Section does not apply to you if you reside in France, Germany or Great Britain. You agree that Discord Parties YouTube LLC, and their respective affiliates, suppliers, employees and agents (collectively, the “</span><strong><em>Released Parties</em></strong><span style="font-weight: 400;">”), shall not be responsible or liable for any losses, damages or injuries of any kind resulting from your participation in the Contest or any Contest-related activity, unless occasioned by their gross negligence or willful misconduct. </span>
</li>
<li>
<span style="font-weight: 400;">   </span><strong>License to Submission</strong><span style="font-weight: 400;">: By entering the Contest and providing a Submission, you hereby grant to Discord a perpetual, irrevocable, royalty-free, worldwide, nonexclusive license to reproduce, display, perform, distribute, and otherwise use your Submission in connection with administering the Contest, and to freely sublicense these rights. Discord will have no obligation to publish or use or retain any Submission you submit or to return any such Submission to you. You agree that it is your sole responsibility to obtain all permissions and releases necessary for the grant of the rights contained in this paragraph. You agree to take, at Discord’s expense, any further action (including execution of affidavits, tax forms, and other documents) reasonably requested by Discord to effect, perfect or confirm Discord’s rights as set forth above in this paragraph. You will not be entitled to compensation for any use by Discord, or its agents, licensees or assignees, of your Submission.</span>
</li>
<li>
<span style="font-weight: 400;">   </span><strong>Indemnity. </strong><span style="font-weight: 400;">This Section does not apply to you if you reside in France, Germany or Great Britain. By participating in the Contest and/or accepting any prize that may be awarded, t</span><span style="font-weight: 400;">o the maximum extent permitted by law, </span><span style="font-weight: 400;">you agree to fully indemnify each Released Party from </span><span style="font-weight: 400;">and against any liability, claims, demands, losses, damages, costs and expenses resulting from any breach by you of these Official Rules or any misrepresentation made by you in connection with the Contest.</span>
</li>
<li>
<span style="font-weight: 400;">   </span><strong>Winner List; Rules Request:  </strong><span style="font-weight: 400;">For a copy of the winner list, send a stamped, self-addressed, business-size envelope for arrival after December 15, 2021</span> <span style="font-weight: 400;">and before December 15, 2022 to the address listed in Section 16 below, Attn: SNOWSTERPIECES To obtain a copy of these Official Rules, visit insert URL or send a stamped, self-addressed business-size envelope to the address listed in Section 16 below, Attn: SNOWSTERPIECES. VT residents may omit return postage.</span>
</li>
<li>
<span style="font-weight: 400;">   </span><strong>Intellectual Property Notice:  </strong><span style="font-weight: 400;">Discord is a trademark of Discord Inc. The Contest and all accompanying materials are copyright © 2021 by Discord Inc.  All rights reserved.</span>
</li>
<li>
<strong> Disputes. </strong><span style="font-weight: 400;">If you reside in France,</span> <span style="font-weight: 400;">Germany, or Great Britain, the laws of the country you reside in will govern these Official Rules and any dispute, claim or cause of action (“</span><strong><em>Claim</em></strong><span style="font-weight: 400;">”) that arises between you and Discord, and you may initiate Claims before the courts of your country of residence. If you do not reside in France, Germany or Great Britain, the following clauses shall apply to you. The laws of the State of California, excluding its choice of law provisions, will govern these Official Rules and any Claim that arises between you and Discord.</span>
</li>
<li>
<strong> Class Action Waiver.</strong><span style="font-weight: 400;"> This Section does not apply to you if you reside in France, Germany or Great Britain. Any Claim must be brought in the respective party’s individual capacity, and not as a plaintiff or class member in any purported class, collective, representative, multiple plaintiff, or similar proceeding (“</span><strong><em>Class Action</em></strong><span style="font-weight: 400;">”). The parties expressly waive any ability to maintain any Class Action in any forum. Any claim that all or part of this Class Action Waiver is unenforceable, unconscionable, void, or voidable may be determined only by a court of competent jurisdiction. If for any reason a Claim proceeds in court, you and Discord each waive any right to a jury trial.</span>
</li>
<li>
<strong> Uncontrollable Events. </strong><span style="font-weight: 400;">In the event the operation or integrity of the Contest is compromised by an event beyond Discord’s reasonable control and which were unforeseeable before the Contest began, Discord may suspend, modify or terminate the Contest. </span>
</li>
<li>
<span style="font-weight: 400;">   </span><strong>General Conditions:</strong><span style="font-weight: 400;"> Discord’s failure to enforce any term of these Official Rules will not constitute a waiver of that provision.  </span><span style="font-weight: 400;">The invalidity or unenforceability of any provision of these rules shall not affect the validity or enforceability of any other provision. In the event that any such provision is determined to be invalid or otherwise unenforceable, these rules shall be construed in accordance with their terms as if the invalid or unenforceable provision was not contained therein. </span><span style="font-weight: 400;">The use of the terms “include” or “including” in these Official Rules is illustrative and not limiting.</span>
</li>
<li>
<span style="font-weight: 400;">   </span><strong>Sponsor:  </strong><span style="font-weight: 400;">Discord Inc., 444 De Haro Street, Suite 200, San Francisco, CA 94107,</span> <span style="font-weight: 400;">+1 (888) 594-0085, </span><a href="mailto:cprog@discordapp.com"><span style="font-weight: 400;">cprog@discordapp.com</span></a><span style="font-weight: 400;">. </span>
</li>
</ol>