<h3><span style="font-weight: 400;"><strong>Note:</strong> <br>- If you currently are a new Nitro subscriber because you redeemed the Xbox Game Pass Ultimate Nitro promotion - you are not eligible for this promotion and you will not see a gift in your Discord Gift Inventory!</span></h3>
<p><span style="font-weight: 400;">We’re so happy to announce that Discord is partnering with </span><strong>Xbox </strong><span style="font-weight: 400;">to show some love for our amazing Nitro subscribers!</span></p>
<p><span style="font-weight: 400;">From October 26, 2021 to October 26, 2022</span><span style="font-weight: 400;">, Discord Nitro users will be able to claim 2 months of Xbox Game Pass Ultimate</span></p>
<p><span style="font-weight: 400;"><img src="https://support.discord.com/hc/article_attachments/4411512471831/XBoxGamepassPromo_BlogHeader.png" alt="XBoxGamepassPromo_BlogHeader.png"></span></p>
<p><span class="wysiwyg-font-size-large wysiwyg-color-blue90"><strong>TL;DR</strong></span></p>
<p><span style="font-weight: 400;"><span class="wysiwyg-color-orange110"><strong>Offer Details:</strong></span> 2 </span><span style="font-weight: 400;">months of free Xbox Game Pass Ultimate for Discord Nitro Users</span></p>
<p><span style="font-weight: 400;"><span class="wysiwyg-color-orange110"><strong>Who is Eligible:</strong></span> </span></p>
<ul>
<li>
<span style="font-weight: 400;"><span class="wysiwyg-color-blue90"><strong>To claim through Discord,</strong></span> you must be a current Discord Nitro subscriber.</span>
<ul>
<li><span style="font-weight: 400;">If you currently are a new Nitro subscriber because you redeemed the Xbox Game Pass Ultimate Nitro promotion - you are not eligible for this promotion and you will not see a gift in your Discord Gift Inventory!</span></li>
</ul>
</li>
<li>
<span style="font-weight: 400;"><span class="wysiwyg-color-green120"><strong>To redeem in Xbox,</strong> </span>this offer is only for </span><span style="font-weight: 300;">New Xbox Game Pass subscribers only. </span>
<ul>
<li>For more details, check out the terms here: <a href="https://www.xbox.com/en-US/xbox-game-pass#xgpterms">https://www.xbox.com/en-US/xbox-game-pass#xgpterms</a> </li>
</ul>
</li>
<li>This promo is only available in the <strong style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;">regions of</strong><span style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;">:</span>
<ul>
<li>AU, AT, BE, BR, CA, CL, CO, CZ, DK, FI, FR, DE, GR, HK, HU, IN, IE, IL, IT, JP, MX, NL, NZ, NO, PL, PT, SG, SA, ZA, ES, SE, CH, TW, TR, AE, GB, US.
<ul>
<li>
<span class="wysiwyg-color-red"><strong>Note:</strong></span> This promotion excludes Russia and South Korea based on <a href="https://www.xbox.com/en-US/legal/subscription-terms" target="_blank" rel="noopener noreferrer">Xbox terms</a>.</li>
</ul>
</li>
</ul>
</li>
</ul>
<div id="chat-messages-874720871959375922" class="message-2qnXI6 cozyMessage-3V1Y8y wrapper-2a6GCs cozy-3raOZG zalgo-jN1Ica" tabindex="-1" data-list-item-id="chat-messages___chat-messages-874720871959375922">
<div class="contents-2mQqc9">
<div class="markup-2BOw-j messageContent-2qWWxC"><strong style="color: #cc7a00; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;">Requirements:</strong></div>
</div>
</div>
<p><span style="font-weight: 400;">Claim from Discord Gift Inventory by <strong>10</strong><strong>/26/2022 (4:59 PM PT)</strong> and redeem to Xbox account by <strong>11/25/2022 (4:59 PM PT)</strong> </span></p>
<p><span style="font-weight: 400;"><span class="wysiwyg-color-orange110"><strong>Subscription:</strong></span> </span></p>
<p><span style="font-weight: 400;">Unless you cancel, you will be charged the then-current regular membership rate when the promotional period ends. </span></p>
<p><span style="font-weight: 400;">After the 2 month free trial period, your<span style="font-weight: 300;"><span class="wysiwyg-color-black"> </span></span>subscription will convert to a monthly recurring subscription, and Xbox<span style="font-weight: 300;"><span class="wysiwyg-color-black"> </span></span>will bill your payment method for $14.99/month (USD) until you cancel it. You can cancel at anytime through your Xbox<span style="font-weight: 300;"><span class="wysiwyg-color-black"> settings.</span></span></span></p>
<h2><strong><span class="wysiwyg-font-size-large">What does this article cover? </span></strong></h2>
<ul>
<li><a href="#h_01EGMFZEY79B6F891JV0PZ87QK" target="_self">What is Discord Nitro?</a></li>
<li><a href="#h_01FCFMYZ47CSG7FD4E906AW3GS" target="_self">What is Xbox Game Pass Ultimate? </a></li>
<li>
<strong><a href="#h_01FCFMZ4DN4Y1KKEK4CKSMSAXH" target="_self">How do I claim the Xbox Promo in Discord? </a></strong>
<ul>
<li><a href="#h_01EJ8HW3XWKKS85C8VJZY4CN07" target="_self">Eligibility for the Claiming this Promotion in Discord</a></li>
<li><a href="#h_01EH66SKEX14DD8S4NWEPX1HE8" target="_self">Step By Step Claim Instructions </a></li>
</ul>
</li>
<li>
<strong><a href="#h_01FCFN1GRYWSNKT58PTCR8ZT8S" target="_self">How do I redeem the Xbox Promo on my Xbox Account? </a></strong>
<ul>
<li><a href="#h_01FCFN0DNEMV7GN27B6GJ2SQC8" target="_self">Eligibility for Redeeming the Xbox Promotion</a></li>
<li><a href="#h_01FCFN3WP4XMA0KH15C7X30TP1" target="_self">Step by Step Redeem Instructions</a></li>
</ul>
</li>
<li><strong><a href="#h_01FCFN0ZS87Z8XQFSYJV5EAWWQ" target="_self">How do I share my Code with a Friend?</a></strong></li>
<li>
<strong><a href="#h_01EJ8HXB3VEGFP4F9S42P3YKPZ" target="_self">Frequently Asked Questions</a></strong>
<ul>
<li><a href="#h_01FCFN55V50R3D1K9CNVNV9XEP" target="_self">Promotion Details</a></li>
<li><a href="#h_01FCFN5F8M17DJ8YC5KYHJKB86" target="_self">Eligibility for the Promotion</a></li>
<li><a href="#h_01FCFN5Q2MY3JVCJ1A2XNWPVNF" target="_self">Claiming and Redemption Process</a></li>
<li><a href="#h_01FCFN5X8DM5SYX600FA16SEAT" target="_self">Potential Errors and Other Issues</a></li>
</ul>
</li>
</ul>
<h1 id="h_01EGMFZEY79B6F891JV0PZ87QK"><strong>What is Discord Nitro?</strong></h1>
<p><span style="font-weight: 400;">With Nitro, you’ll get many awesome chat perks to enhance your Discord experience! Upgrade your emoji, enjoy bigger file uploads, stand out in your favorite Discords, and more! Check out some of these perks below! </span></p>
<ul>
<li><a href="https://support.discord.com/hc/en-us/articles/204156688"><span style="font-weight: 400;">GIF Avatars</span></a></li>
<li><a href="https://support.discord.com/hc/en-us/articles/360000270351"><span style="font-weight: 400;">Custom Discord Tag</span></a></li>
<li><a href="https://support.discord.com/hc/en-us/articles/360036479811"><span style="font-weight: 400;">Global Custom emojis</span></a></li>
<li><a href="https://support.discord.com/hc/en-us/articles/360041721052"><span style="font-weight: 400;">Higher Video quality</span></a></li>
<li><a href="https://support.discord.com/hc/en-us/articles/360028038352"><span style="font-weight: 400;">Server Boosting</span></a></li>
<li><a href="https://support.discord.com/hc/en-us/articles/115000435108"><span style="font-weight: 400;">And more!</span></a></li>
</ul>
<h1 id="h_01FCFMYZ47CSG7FD4E906AW3GS"><span class="wysiwyg-color-green120"><strong>What is Xbox Game Pass Ultimate? </strong></span></h1>
<p>Xbox Game Pass Ultimate includes over 100 high-quality games for console, PC, phones and tablets, all the benefits of Xbox Live Gold, and an EA Play membership, all for one low monthly price (subscription continues automatically at regular price). Play together with friends and discover your next favorite game. <a href="https://www.microsoft.com/en-us/p/xbox-game-pass-ultimate" target="_blank" rel="noopener noreferrer">Click here for more info!</a></p>
<h1 id="h_01FCFMZ4DN4Y1KKEK4CKSMSAXH"><strong>How do I claim the Xbox Promo in Discord? </strong></h1>
<p><span style="font-weight: 400;">As long as you're a</span><strong> Discord Nitro </strong><span style="font-weight: 400;">member, you'll be able to claim the <strong>Xbox Game Pass Ultimate </strong></span><span style="font-weight: 400;">code in the Gift Inventory</span><span style="font-weight: 400;"> from<strong> October 26, 2021</strong> to<strong> October 26, 2022 (4:59 PM PT). </strong></span></p>
<h2 id="h_01EJ8HW3XWKKS85C8VJZY4CN07">Eligibility for the Claiming this Promotion in Discord</h2>
<p><span style="font-weight: 400;">In order to claim this code, you'll need to be an active subscriber to</span><strong> Discord Nitro</strong><span style="font-weight: 400;">, (and you can be either a monthly or yearly Nitro subscriber)!</span></p>
<ul>
<li>
<span style="font-weight: 400;">If you are an active</span><strong> Discord Nitro subscriber, </strong><span style="font-weight: 400;">the code must be claimed in the Gift Inventory by <strong>October</strong><strong> 26, 2022 (4:59 PM PT). </strong></span>
<ul>
<li><span style="font-weight: 400;">Otherwise, the code will not be available to claimed!</span></li>
</ul>
</li>
</ul>
<p><span style="font-weight: 400;">Unfortunately, if you are a </span><strong>Nitro Classic</strong><span style="font-weight: 400;"> subscriber, you'll need to subscribe to Nitro in order to claim this promotion!</span></p>
<h2 id="h_01EH66SKEX14DD8S4NWEPX1HE8" class="wysiwyg-text-align-left">Step By Step Claim Instructions </h2>
<p class="wysiwyg-text-align-center"><span class="wysiwyg-color-blue90"><strong><span class="wysiwyg-font-size-large">1) Log into Your Discord account and head to the Gift Inventory tab. </span></strong></span></p>
<p><span style="font-weight: 400;">If you’re subscribed to<strong> Discord Nitro,</strong> start by logging into your Discord account. </span></p>
<p><span style="font-weight: 400;">You may notice a notification bar at the top of your browser/desktop app, and you can press the </span><span style="font-weight: 400;">"<strong>Take me there" button</strong> in the notification bar to be redirected to your Gift Inventory. </span></p>
<p><span style="font-weight: 400;">You can also directly head to your <strong>User Settings</strong>, and then select the <strong>Gift Inventory tab</strong>. </span></p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/4411467679895/unknown__13_.png" alt="unknown__13_.png"></p>
<p class="wysiwyg-text-align-center"><strong><span class="wysiwyg-color-blue90"><span class="wysiwyg-font-size-large">2) Click on the See Code button for the Xbox Promotion</span></span></strong></p>
<p><span style="font-weight: 400;">Once you press <strong>See Code </strong>on the Xbox Game Pass Ultimate promotion in the Gift Inventory and you'll then see a new pop-up with your 25 character code for this promotion! </span></p>
<p><span style="font-weight: 400;">If you want to redeem your code later, you can press the <strong>Maybe Later</strong> button, and then redeem the code before <strong>November</strong><strong style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;"> 25, 2022 (4:59 PM PT)</strong></span></p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/4411468073879/unknown__14_.png" alt="unknown__14_.png"></p>
<h1 id="h_01FCFN1GRYWSNKT58PTCR8ZT8S" class="wysiwyg-text-align-left"><strong>How do I redeem Xbox Game Pass Ultimate on my Xbox Account? </strong></h1>
<p>Once you have claimed the code in the Gift Inventory, you'll now need to officially redeem this code on your <span style="font-weight: 400;">Xbox</span> account (or share this code with a friend) <span style="font-weight: 400;">before <strong>November</strong><strong style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;"> 25, 2022 (4:59 PM PT)</strong></span>! </p>
<h2 id="h_01FCFN0DNEMV7GN27B6GJ2SQC8">Eligibility for Redeeming the Xbox Game Pass Ultimate Promotion</h2>
<p><span style="font-weight: 400;">To redeem the 2 month Xbox Game Pass Ultimate promotion, this offer is only for <span style="font-weight: 300;">New Xbox Game Pass subscribers only. </span></span>For more details, check out the terms here: <a href="https://www.xbox.com/en-US/xbox-game-pass#xgpterms">https://www.xbox.com/en-US/xbox-game-pass#xgpterms</a> </p>
<ul>
<li>This promo is only available in the <strong style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;">regions of</strong><span style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;">:</span>
<ul>
<li>AU, AT, BE, BR, CA, CL, CO, CZ, DK, FI, FR, DE, GR, HK, HU, IN, IE, IL, IT, JP, MX, NL, NZ, NO, PL, PT, SG, SA, ZA, ES, SE, CH, TW, TR, AE, GB, US.</li>
</ul>
</li>
</ul>
<h2 id="h_01FCFN3WP4XMA0KH15C7X30TP1">Step by Step Redeem Instructions</h2>
<h3><span style="font-weight: 400;"><strong>Note: </strong><br>- Make sure you are logged into the correct Xbox account before officially redeeming this <strong>Xbox Game Pass Ultimate promotion!<br></strong>- Once redeemed, the promotion cannot be transferred to another account.</span></h3>
<p class="wysiwyg-text-align-center"><span style="font-weight: 400;"><img style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;" src="https://support.discord.com/hc/article_attachments/360089305814/Screen_Shot_2020-09-15_at_1.00.31_AM.png" alt="Screen_Shot_2020-09-15_at_1.00.31_AM.png" width="608" height="323"></span></p>
<p><span style="font-weight: 400;">In order to redeem the Xbox Game Pass Ultimate promotion on your Microsoft account, you'll need to copy the 25 character code from your Discord Gift Inventory and </span>follow these steps below:</p>
<ol>
<li><span style="font-weight: 400;">Head to <a href="https://redeem.microsoft.com/" target="_blank" rel="noopener noreferrer">redeem.microsoft.com!</a></span></li>
<li><span style="font-weight: 400;">Sign into your Microsoft Account (if you're not already signed-In)</span></li>
<li><span style="font-weight: 400;">Enter the <strong>25-character code</strong> from your Discord Gift Inventory and then press <strong>Next</strong></span></li>
<li><span style="font-weight: 400;">Select a payment method or enter your payment info (Credit/Debit Card or PayPal)</span></li>
<li><span style="font-weight: 400;">Confirm that you are ready to proceed and all the information is correct by pressing <strong>Confirm</strong>!</span></li>
</ol>
<h3>
<strong>Note:</strong> <br>- If you see a "<span class="wysiwyg-color-red120">Check the Instructions that came with your code. You might need to redeem it on a different web page</span>" error, that means you do not meet the <a href="#h_01EJ8HWP9MQCEQVWX2EBQB30CK" target="_self">eligibility requirements</a> to redeem the code! <br>- If you believe that your Microsoft account meets the requirements, reach out to the Microsoft support team to review your account further at <a href="https://support.xbox.com/contact-us/?ocid=discord_3mPC920"><span style="font-weight: 400;">https://support.xbox.com/contact-us</span></a><span style="font-weight: 400;"> </span>!  </h3>
<h1 id="h_01FCFN0ZS87Z8XQFSYJV5EAWWQ"><span style="font-size: 1.2em; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;">How do I share my Code with a Friend?</span></h1>
<p><span style="font-weight: 400;">If you're unable to claim this code on your own Xbox account, you'll be able to share this code with a friend to use instead!</span></p>
<p><span style="font-weight: 400;">To share the code, you can c</span>opy the 25-character code from the Gift Inventory (in your User Settings in the Discord app) and then share this code directly to a friend! </p>
<h3>
<strong>Note: </strong>We recommend sending the link to your friend in a private direct message.</h3>
<h1 id="h_01EJ8HXB3VEGFP4F9S42P3YKPZ"><strong>Frequently Asked Questions</strong></h1>
<p>We know there's a lot of information to unpack on this promotion above, so we've also broken down this information in this FAQ section as well too! </p>
<ul>
<li><strong><a href="#h_01FCFN55V50R3D1K9CNVNV9XEP" target="_self">Promotion Details</a></strong></li>
<li><strong><a href="#h_01FCFN5F8M17DJ8YC5KYHJKB86" target="_self">Eligibility for the Promotion</a></strong></li>
<li><strong><a href="#h_01FCFN5Q2MY3JVCJ1A2XNWPVNF" target="_self">Claiming and Redemption Process</a></strong></li>
<li><strong><a href="#h_01FCFN5X8DM5SYX600FA16SEAT" target="_self">Potential Errors and Other Issues</a></strong></li>
</ul>
<h2 id="h_01FCFN55V50R3D1K9CNVNV9XEP"><strong><span class="wysiwyg-font-size-large">Promotion Details</span></strong></h2>
<p><span class="wysiwyg-color-blue80 wysiwyg-font-size-large"><strong>Q: How long does this promotion for Nitro Subscribers run for?</strong></span></p>
<p><strong>A: </strong><span style="font-weight: 400;">This promotion runs from </span><strong style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;">October 26, 2021</strong><span style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;"> to</span><strong style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;"> October 26, 2022 (4:59 PM PT). </strong></p>
<p><span style="font-weight: 400;">After <strong>October</strong><strong style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;"> 26, 2022 (4:59 PM PT),</strong></span><span style="font-weight: 400;"> Nitro subscribers will no longer be able to claim this promotion.</span></p>
<p><span class="wysiwyg-color-blue80 wysiwyg-font-size-large"><strong>Q: How long does my Xbox Game Pass Ultimate code last for in my Gift Inventory?</strong></span></p>
<p><strong>A:</strong><span style="font-weight: 400;"> Once a code is claimed in the Gift Inventory in Discord, all Xbox codes must be redeemed by <strong style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;">November 25, 2022 (4:59 PM PT).</strong></span></p>
<p><span style="font-weight: 400;">I</span><span style="font-weight: 400;">f a code has not been redeemed to the Xbox account by <strong>November</strong><strong style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;"> 25, 2022 (4:59 PM PT)</strong></span><span style="font-weight: 400;">, it will expire and you will no longer be able to claim two months of Xbox Game Pass Ultimate. </span></p>
<h2 id="h_01FCFN5F8M17DJ8YC5KYHJKB86"><strong><span class="wysiwyg-font-size-large">Eligibility for the Promotion</span></strong></h2>
<p><span class="wysiwyg-color-blue80 wysiwyg-font-size-large"><strong>Q: Who can claim this promotion in the Discord Gift Inventory?</strong></span></p>
<p><span style="font-weight: 400;"><strong>A:</strong> All current and new Nitro subscribers are eligible for this perk. </span></p>
<p><span style="font-weight: 400;">This does not include Nitro Classic or Boost-only members.</span></p>
<p><span class="wysiwyg-color-blue80 wysiwyg-font-size-large"><strong>Q: Who can redeem this Xbox trial to their Xbox account?</strong></span></p>
<p><span style="font-weight: 400;"><strong>A: </strong>T</span><span style="font-weight: 400;">his offer is only for </span><span style="font-weight: 300;">New Xbox Game Pass subscribers only. </span>For more details, check out the terms here: <a href="https://www.xbox.com/en-US/xbox-game-pass#xgpterms">https://www.xbox.com/en-US/xbox-game-pass#xgpterms</a> </p>
<p><span class="wysiwyg-color-blue80 wysiwyg-font-size-large"><strong>Q: Can I redeem the Xbox promotion to my Xbox account in my region? </strong></span></p>
<p><span style="font-weight: 400;"><strong>A: </strong></span>This promo is only available in the <strong style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;">regions of</strong><span style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;">: </span>AU, AT, BE, BR, CA, CL, CO, CZ, DK, FI, FR, DE, GR, HK, HU, IN, IE, IL, IT, JP, MX, NL, NZ, NO, PL, PT, SG, SA, ZA, ES, SE, CH, TW, TR, AE, GB, US.</p>
<h2 id="h_01FCFN5Q2MY3JVCJ1A2XNWPVNF"><strong><span class="wysiwyg-font-size-large">Claiming and Redemption Process</span></strong></h2>
<p><span style="font-weight: 400;"><span class="wysiwyg-color-blue80 wysiwyg-font-size-large"><strong>Q: On which Discord platforms can I claim this promotion?</strong></span></span></p>
<p><span style="font-weight: 400;"><strong>A:</strong> You'll be able to redeem the promo on the mobile, browser and desktop version of the Discord app. </span></p>
<p><span class="wysiwyg-font-size-large wysiwyg-color-blue80"><strong>Q: Why do I need to submit my payment info to redeem the Xbox Game Pass Ultimate promotion?</strong></span></p>
<p><span style="font-weight: 400;"><strong>A: </strong>Because Xbox Game Pass Ultimate promotion is a subscription plan, at the end of your free 2 month trial, your first billing cycle starts so you can continue to enjoying Xbox Game Pass Ultimate promotion. </span></p>
<p><span style="font-weight: 400;">However, you can cancel the Xbox Game Pass Ultimate promotion subscription at anytime before the end of the two months. If you are interested in cancelling your subscription, please head to <a href="https://support.xbox.com/en-US/help/subscriptions-billing/manage-subscriptions/xbox-game-pass-ultimate-faq#:~:text=How%20do%20I%20manage%20or,subscription%20on%20its%20expiration%20date." target="_self" rel="noopener">this link here</a> and turn off recurring billing.</span></p>
<p><span style="font-weight: 400;">If you need further support with your account, you can reach out to </span>Xbox's support team at <span style="font-weight: 400;"><a href="https://support.xbox.com/contact-us">https://support.xbox.com/contact-us</a><a href="https://support.xbox.com/contact-us">. </a></span></p>
<h2 id="h_01FCFN5X8DM5SYX600FA16SEAT"><strong><span class="wysiwyg-font-size-large"><font size="4">Potential Errors and Other Issues</font></span></strong></h2>
<p><span class="wysiwyg-color-blue80 wysiwyg-font-size-large"><strong><span class="wysiwyg-font-size-large">Q: What if I don't see the Xbox code in my Discord Gift Inventory? </span></strong></span></p>
<p><span style="font-weight: 400;"><strong>A: </strong></span><span style="font-weight: 400;">In order to claim this code, you'll need to be an active subscriber to</span><strong> Discord Nitro</strong><span style="font-weight: 400;">, (and you can be either a monthly or yearly Nitro subscriber)!</span></p>
<p><span style="font-weight: 400;">Unfortunately, if you are a </span><strong>Nitro Classic</strong><span style="font-weight: 400;"> subscriber, you'll need to subscribe to Nitro in order to claim this promotion! </span></p>
<p><span style="font-weight: 400;">If you are an active </span><strong>Discord Nitro subscriber, </strong><span style="font-weight: 400;">make sure to refresh your Discord client to double check if an update was needed!</span></p>
<ul>
<li>
<span class="wysiwyg-underline wysiwyg-color-orange110"><strong>What if I'm still running into issues? </strong></span>
<ul>
<li>
<span style="font-weight: 400;">If the refresh does not work, please submit a ticket through our support system at:</span><a href="https://dis.gd/contact"> <span style="font-weight: 400;">https://dis.gd/contact</span></a><span style="font-weight: 400;"> and our support team will be able to investigate further. </span>
</li>
<li>Be sure to submit the ticket using the email address associated with your Discord account, and send us a screenshot of the following: 
<ol>
<li>Your My Account tab</li>
<li>Your Gift Inventory tab</li>
</ol>
</li>
</ul>
</li>
</ul>
<p><strong><span class="wysiwyg-color-blue80 wysiwyg-font-size-large">Q: I see a "Code not found" error when I try to apply my code!</span></strong></p>
<p><span style="font-weight: 400;"><strong>A:</strong> </span><span style="font-weight: 400;">If you are seeing a "Code not found" error, that means that the code is invalid! </span></p>
<p><span style="font-weight: 400;">Make sure to double check that the 25 character code was copy pasted into <a href="https://redeem.microsoft.com/" target="_blank" rel="noopener noreferrer">redeem.microsoft.com</a> correctly!</span></p>
<p><strong><span class="wysiwyg-color-blue80 wysiwyg-font-size-large">Q: I see a "This code has already been redeemed" error when I try to apply my code!</span></strong></p>
<p><span style="font-weight: 400;"><strong>A:</strong> </span><span style="font-weight: 400;">If you are seeing a "This code has already been redeemed" error, that means that the code has already been used and cannot be used again. </span></p>
<p><span style="font-weight: 400;"><strong><span class="wysiwyg-color-blue80 wysiwyg-font-size-large">Q: I see a "Check the Instructions that came with your code. You might need to redeem it on a different web page" error when I try to apply my code!</span></strong></span></p>
<p><span style="font-weight: 400;"><strong>A: </strong>If you are seeing this error, that means you do not meet the eligibility requirements to redeem the code! </span></p>
<p><span style="font-weight: 400;">If you were previously subscribed or currently subscribed to Xbox Game Pass for PC, or an Xbox Game Pass Ultimate subscription, you will not be able to redeem the two month trial for Xbox Game Pass Ultimate!</span></p>
<p><span style="font-weight: 400;">Or it's possible you may not meet the region eligibility! This promotion is available in AU, AT, BE, BR, CA, CL, CO, CZ, DK, FI, FR, DE, GR, HK, HU, IN, IE, IL, IT, JP, MX, NL, NZ, NO, PL, PT, SG, SA, ZA, ES, SE, CH, TW, TR, AE, GB, US.<br></span></p>
<p><span style="font-weight: 400;">However, if you're unable to redeem the code on your own Xbox account, this code can be gifted to a friend! </span></p>
<p><span class="wysiwyg-color-blue80 wysiwyg-font-size-large"><strong>Q: My Xbox code still didn’t work! I'm having trouble redeeming this promotion to my Xbox account? </strong></span></p>
<p><span style="font-weight: 400;"><strong>A:</strong></span><span style="font-weight: 400;"> </span> <span style="font-weight: 400;">On the other hand, if you have meet the eligibility criteria and the code still does not work, <a href="https://support.xbox.com/help/subscriptions-billing/redeem-codes-gifting/digital-code-solution" target="_blank" rel="noopener noreferrer">follow the steps listed in this link here</a>!</span></p>
<p><span style="font-weight: 400;">If these step do now work, you can contact the Xbox Support team directly to review this further through this link:</span> <a href="https://support.xbox.com/contact-us/?ocid=discord_3mPC920"><span style="font-weight: 400;">https://support.xbox.com/contact-us</span></a><span style="font-weight: 400;"> </span></p>
<p><span style="font-weight: 400;">Be sure to include the full details of the error, screenshots, and your Gamertag to the Xbox Support team!</span></p>
<p><span class="wysiwyg-color-blue80 wysiwyg-font-size-large"><strong>Q: I’m having trouble with my Microsoft account!</strong></span></p>
<p><span style="font-weight: 400;"><strong>A:</strong> Please contact the Xbox support team at: <a href="https://support.xbox.com/contact-us/?ocid=discord_3mPC920">https://support.xbox.com/contact-us</a> </span></p>
<p><span style="font-weight: 400;">Here are some other helpful FAQs for more information:</span></p>
<ul type="disc">
<li class="m_8704572727082482926MsoListParagraph">
<a href="https://support.xbox.com/help/subscriptions-billing/manage-subscriptions/xbox-game-pass-ultimate-perks-faq" target="_blank" rel="noopener noreferrer">Xbox Game Pass Ultimate Perks FAQ</a><u></u>
</li>
<li class="m_8704572727082482926MsoListParagraph">
<a href="https://support.xbox.com/help/subscriptions-billing/redeem-codes-gifting/digital-code-solution" target="_blank" rel="noopener noreferrer">Get help with a digital code or gift card</a><u></u>
</li>
<li class="m_8704572727082482926MsoListParagraph"><a href="https://support.xbox.com/help/subscriptions-billing/redeem-codes-gifting/troubleshoot-gift-card-code-issues" target="_blank" rel="noopener noreferrer">Troubleshoot gift card and code issues</a></li>
</ul>