<h3>Note: <br><span class="wysiwyg-color-red110">- This promo is slowly rolling out, so hang in there if you haven't seen your email yet!</span><br>- Discord requires a payment method to redeem this Nitro promo. A <a href="https://support.discord.com/hc/en-us/articles/4402712000663" target="_blank" rel="noopener noreferrer">temporary charge</a> will be placed on the payment method upon activating the promotion. <br>- This is to help Discord confirm the payment method works as expected and to prevent the use of fraudulent payment methods.</h3>
<p>We're super excited to announce the next part of our partnership with <strong>YouTube Premium</strong>! Starting from <strong>August 16, 2021 (9:00am PT)</strong> to <strong>October 30, 2021 (11:59pm PT)</strong>, YouTube Premium subscribers can claim 3 months of free Discord Nitro. Learn below about how you can claim Discord Nitro.</p>
<p><img src="https://support.discord.com/hc/article_attachments/4406412480535/LhzDZ4cA.png" alt="LhzDZ4cA.png"></p>
<p><span class="wysiwyg-font-size-large wysiwyg-color-blue90"><strong>TL;DR</strong></span></p>
<p><span style="font-weight: 400;"><span class="wysiwyg-color-orange110"><strong>Offer Details:</strong></span> 3 months of Discord Nitro for YouTube Premium subscribers</span></p>
<p><span style="font-weight: 400;"><span class="wysiwyg-color-orange110"><strong>Who is Eligible:</strong></span> </span></p>
<p><span style="font-weight: 400;"><span class="wysiwyg-color-red"><strong>To claim through YouTube Premium,</strong></span> y</span><span style="font-weight: 400;">ou must be a current</span><span style="font-weight: 300;"> YouTube Premium subscriber in the regions of United States, Australia, Brazil, Canada, France, Germany, Great Britain, Japan, Korea, New Zealand, Russia, South Africa, &amp; Turkey </span></p>
<ul>
<li><span style="font-weight: 300;"><strong><span class="wysiwyg-color-red">Note:</span></strong> </span></li>
<li><span style="font-weight: 300;">If you currently have a 3 month trial YouTube Premium subscription from the YouTube Premium Nitro promotion, you will not be eligible for this promotion. </span></li>
<li><span style="font-weight: 300;">Additionally, make sure that you've opted to receive marketing emails from YouTube! If you've unsubscribed, you sadly won't be able to see this offer in your email!</span></li>
</ul>
<p><span style="font-weight: 400;"><span class="wysiwyg-color-blue90"><strong>To redeem in Discord,</strong></span> you must be a first time Nitro subscriber. </span></p>
<ul>
<li>
<span style="font-weight: 400;"><span class="wysiwyg-color-blue90"><strong>Note: </strong></span></span>
<ul>
<li>
<span style="font-weight: 400;">Previous and current Nitro Classic subscribers and Server Boosting subscribers are also eligible, <strong>however</strong>, the current subscription will be replaced with the 3 month Nitro subscription.</span>
<ul>
<li><span style="font-weight: 400;">By choosing to activate this 3 month trial, you will lose any features associated with your current subscriptions, and **<span class="wysiwyg-underline"><strong>you will not receive a refund for any remaining value on your current subscription</strong></span>**. </span></li>
</ul>
</li>
<li><span style="font-weight: 400;">If you have activated any other Nitro trials or promotions or any gifted Nitro subscriptions at any point in time, you will not be eligible for this promotion. </span></li>
</ul>
</li>
</ul>
<div id="chat-messages-874720871959375922" class="message-2qnXI6 cozyMessage-3V1Y8y wrapper-2a6GCs cozy-3raOZG zalgo-jN1Ica" tabindex="-1" data-list-item-id="chat-messages___chat-messages-874720871959375922">
<div class="contents-2mQqc9">
<div class="markup-2BOw-j messageContent-2qWWxC"><span class="wysiwyg-color-orange110"><strong style="color: #cc7a00; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;">Requirements:</strong></span></div>
</div>
</div>
<p><span style="font-weight: 400;">Redeem to Discord account by <strong>November 30, 2021 (11:59pm PT)</strong>.</span></p>
<p><span style="font-weight: 400;"><span class="wysiwyg-color-orange110"><strong>Subscription:</strong></span> </span></p>
<p>After the 3 month free trial period, your Nitro subscription will convert to a monthly recurring subscription, and Discord will bill your payment method for US$9.99/month until you cancel it. You can cancel at any time in your Discord User Settings. </p>
<h2>What does this article cover?</h2>
<ul>
<li><a href="#h_01FCFMYZ47CSG7FD4E906AW3GS" target="_self">What is YouTube Premium? </a></li>
<li><a href="#h_01FB7TZG19PE7P9N0HBHZBWWS1" target="_self">What is Discord Nitro?</a></li>
<li>
<strong><span class="wysiwyg-underline"><a href="#h_01FCFMZ4DN4Y1KKEK4CKSMSAXH" target="_self">How do I claim the Nitro Promo from Youtube  </a></span></strong>
<ul>
<li><a href="#h_01EJ8HW3XWKKS85C8VJZY4CN07" target="_self">Eligibility for the Claiming this Promotion from Youtube</a></li>
<li><a href="#h_01EH66SKEX14DD8S4NWEPX1HE8" target="_self">Step By Step Claim Instructions </a></li>
</ul>
</li>
<li>
<span class="wysiwyg-underline"><strong><a href="#h_01FCFN1GRYWSNKT58PTCR8ZT8S" target="_self">How do I redeem the Nitro Trial on my Discord Account? </a></strong></span>
<ul>
<li><a href="#h_01FCZN7DAE284PT52X250Q8VN6" target="_self">Eligibility for Redeeming the Nitro Trial</a></li>
<li>
<a href="#h_01FCFN3WP4XMA0KH15C7X30TP1" target="_self">Step by Step Redeem Instructions</a>
<ul>
<li><a href="#h_01FCZN7TQYJPEDJPZ8KT5GZM8K" target="_self">What if I am an Active Nitro Classic or Server Boosting Subscriber? </a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#h_01FCFN0ZS87Z8XQFSYJV5EAWWQ" target="_self">How do I share my Code with a Friend?</a></li>
<li>
<span class="wysiwyg-underline"><strong><a href="#h_01FB7V0MPXX1S4TS09KPTZ1WSZ" target="_self">Frequently Asked Questions</a></strong></span>
<ul>
<li><a href="#h_01FCZMYZN05BHAKKQY863FS8CC" target="_self">Promotion Details</a></li>
<li><a href="#h_01FCZMZH0A73Y0S83JS09J1R0H" target="_self">Eligibility for the Promotion </a></li>
<li><a href="#h_01FBJJ5MXD8WM3EKKKEGBQHHGE" target="_self">Payment Info and Subscription Questions</a></li>
<li><a href="#h_01FCZMZX80MVAKFFS5AM4SYJC2" target="_self">Potential Errors and Other Issues</a></li>
</ul>
</li>
</ul>
<h1 id="h_01FCFMYZ47CSG7FD4E906AW3GS"><span class="wysiwyg-color-red">What is YouTube Premium? </span></h1>
<p><span style="font-weight: 300;"><a href="https://www.youtube.com/premium" target="_blank" rel="noopener noreferrer">YouTube Premium</a> is a paid membership to help you elevate your experience on YouTube and other YouTube apps. </span></p>
<p><span style="font-weight: 300;">Everything you love about YouTube, ad-free and uninterrupted! </span><a href="https://www.youtube.com/premium" target="_blank" rel="noopener noreferrer">Learn more here.</a></p>
<h1 id="h_01FB7TZG19PE7P9N0HBHZBWWS1">What is Discord Nitro?</h1>
<p>With Nitro, you’ll get many awesome chat perks to enhance your Discord experience! Upgrade your emoji, enjoy bigger file uploads, stand out in your favorite Discords, and more! Check out some of these perks below! </p>
<ul>
<li><a href="https://support.discord.com/hc/en-us/articles/204156688" target="_blank" rel="noopener noreferrer">GIF Avatars</a></li>
<li><a href="https://support.discord.com/hc/en-us/articles/360000270351" target="_blank" rel="noopener noreferrer">Custom Discord Tag</a></li>
<li><a href="https://support.discord.com/hc/en-us/articles/360036479811" target="_blank" rel="noopener noreferrer">Global Custom emojis</a></li>
<li><a href="https://support.discord.com/hc/en-us/articles/360041721052" target="_blank" rel="noopener noreferrer">Higher Video quality</a></li>
<li><a href="https://support.discord.com/hc/en-us/articles/360028038352" target="_blank" rel="noopener noreferrer">Server Boosting</a></li>
<li><a href="https://support.discord.com/hc/en-us/articles/115000435108" target="_blank" rel="noopener noreferrer">More!</a></li>
</ul>
<h1 id="h_01FCFMZ4DN4Y1KKEK4CKSMSAXH"><strong>How do I claim the Nitro Promo from Youtube </strong></h1>
<p><span style="font-weight: 400;">As long as you're a <strong>YouTube Premium</strong></span><strong> </strong><span style="font-weight: 400;">member, you'll be able to claim the Nitro promo from YouTube</span><span style="font-weight: 400;"> from <strong>August 16, 2021 (9:00am PT) </strong>to <strong>October 30, 2021 (11:59pm PT). </strong></span></p>
<h2 id="h_01EJ8HW3XWKKS85C8VJZY4CN07">Eligibility for the Claiming this Promotion from Youtube</h2>
<p><span style="font-weight: 400;">In order to claim this promotion link, you'll need to be an active subscriber to </span><span style="font-weight: 400;"><strong>YouTube Premium.</strong></span></p>
<ul>
<li>
<span style="font-weight: 400;">If you are an active <strong>YouTube Premium</strong></span><strong> subscriber, </strong><span style="font-weight: 400;">the code must be claimed from your email by <strong>October 30, 2021 (11:59pm PT)</strong></span><span style="font-weight: 400;">. </span>
<ul>
<li><span style="font-weight: 400;">Otherwise, the code will not be available to claim after <strong>October 30, 2021 (11:59pm PT). </strong></span></li>
</ul>
</li>
</ul>
<h3>
<strong>Note:</strong> If you currently have a 3 month trial YouTube Premium subscription from the YouTube Premium Nitro promotion, you will not be eligible for this promotion. </h3>
<h2 id="h_01EH66SKEX14DD8S4NWEPX1HE8" class="wysiwyg-text-align-left">Step By Step Claim Instructions </h2>
<p class="wysiwyg-text-align-center"><span class="wysiwyg-color-red110"><strong><span class="wysiwyg-font-size-large">1) Check Your Email Tied to your YouTube Premium account</span></strong></span></p>
<p>If you’re subscribed to <span style="font-weight: 400;"><strong>YouTube Premium</strong></span><strong>,</strong> start by logging into your email that is tied to your YouTube Premium account, and then check for an email inbox for a new email from the YouTube Premium team!</p>
<p>You can also search for "Nitro" in your email inbox! </p>
<p class="wysiwyg-text-align-center"><span class="wysiwyg-color-red110"><strong><span class="wysiwyg-font-size-large">2) Click on the red "Get 3 Months Free" button</span></strong></span></p>
<p>Once you have found the email (shown below), click on the red "<strong>Get 3 Months Free"</strong> button within the email and you'll be automatically redirected to a browser window to redeem the promotion! </p>
<p><strong>The unique promotion link will look like this:</strong> <a href="https://discord.com/billing/promotions/XXXXXXXXXXXXXXXX">https://discord.com/billing/promotions/XXXXXXXXXXXXXXXX</a> </p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/4406261858327/email_copy_for_youtube_nitro_pomo.png" alt="email_copy_for_youtube_nitro_pomo.png" width="562" height="969"></p>
<p class="wysiwyg-text-align-left"> </p>
<h1 id="h_01FCFN1GRYWSNKT58PTCR8ZT8S" class="wysiwyg-text-align-left"><strong>How do I redeem the Nitro Trial on my Discord Account? </strong></h1>
<p>Once you have claimed the promo link in your email, you'll now need to officially redeem this promo link on your <span style="font-weight: 400;">Discord</span> account (or share this code with a friend)! </p>
<h2 id="h_01FCZN7DAE284PT52X250Q8VN6">Eligibility for Redeeming the Nitro Trial</h2>
<p><span style="font-weight: 400;">To redeem this promotion link to your Discord account, <strong>you must be a first time Nitro subscriber</strong>. </span></p>
<p><span style="font-weight: 400;"><span class="wysiwyg-color-blue90"><strong>HOWEVER</strong></span>, if you have activated any other Nitro trials or promotions or any gifted Nitro subscriptions at any point in time, you will not be eligible for this promotion. </span></p>
<h2 id="h_01FCFN3WP4XMA0KH15C7X30TP1">Step by Step Redeem Instructions</h2>
<p><span style="font-weight: 400;">If you're eligible and ready to redeem this Nitro subscription on your own Discord account, you can follow these steps below to redeem the promo!</span></p>
<h3>
<strong>NOTE:</strong><strong><br></strong>- Before redeeming Nitro, make sure you are logged in your own Discord account.<br>- If you accidentally redeemed the Nitro promo link on an account that is not yours, we are unable to provide you with another promo link.</h3>
<p><span class="wysiwyg-font-size-large wysiwyg-color-blue90"><strong>Step 1 - Clicking the Promo Link/Copy and Pasting into your Browser Window</strong></span></p>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Start by directly clicking the promotion link or right click the red "<strong>Get 3 Months Free"</strong> button within the email and copy and paste the link into your browser window.</span></li>
</ul>
<p><span style="font-weight: 400;"><span class="wysiwyg-color-red110"><strong>Note:</strong></span> If you enter this Nitro promo link from the YouTube premium promotion into the Discord Gift Inventory or as a link within Discord chat, you will see an error when attempting to redeem the promotion. This is the incorrect method of redeeming this promo.</span></p>
<p><span class="wysiwyg-font-size-large wysiwyg-color-blue90"><strong>Step 2 - Logging into Discord</strong></span></p>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;"> If you're not already logged into Discord in your browser, you will then be automatically redirected to either:</span></li>
</ul>
<table style="width: 929px;">
<tbody>
<tr>
<td style="width: 371.016px;">
<p><strong>Register for a New Account</strong></p>
<p><span style="font-weight: 400;">If you don't have an account, you can directly register a new Discord account</span></p>
</td>
<td style="width: 533.016px;">
<p><strong>Login to your Account</strong></p>
<p><span style="font-weight: 400;">If you already have a Discord account, you can login to your account using your email and password or using QR code login</span></p>
</td>
</tr>
<tr>
<td style="width: 371.016px;">
<p><img src="https://support.discord.com/hc/article_attachments/4402359886999/image1.png" alt="image1.png"><strong><br></strong></p>
</td>
<td style="width: 533.016px;">
<p><img src="https://support.discord.com/hc/article_attachments/4402359887767/image4.png" alt="image4.png"><strong><br></strong></p>
</td>
</tr>
</tbody>
</table>
<p><span class="wysiwyg-font-size-large wysiwyg-color-blue90"><strong>Step 3 - Confirming the Correct Account and Payment Method</strong></span></p>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Once you have logged into your Discord account, you'll see a new message asking you to confirm that you are accepting the Nitro subscription on the correct Discord account.</span></li>
<ul>
<li style="font-weight: 400;" aria-level="2">
<span style="font-weight: 400;">You'll see a notice saying: </span><strong><em>"You are accepting this gift as _________" </em></strong>
</li>
</ul>
<li>If your Discord account does not have your payment information, you'll be asked to fill out your payment details. (Note: You will not be charged until the free trial ends and the subscription renews)</li>
<li style="font-weight: 400;" aria-level="1">
<span style="font-weight: 400;">When you've filled out all the necessary information and you're ready to redeem this promotion, press the "</span><strong>Accept Gift</strong><span style="font-weight: 400;">" button. </span>
</li>
</ul>
<h3>
<strong>Note:</strong><strong><br></strong>- If you're logged into the incorrect Discord account, press the "Wrong account" button to login to the other account! </h3>
<p><span class="wysiwyg-font-size-large wysiwyg-color-blue90"><strong>Step 4 - Subscription Now Activated</strong></span></p>
<ul>
<li style="font-weight: 400;" aria-level="1">
<span style="font-weight: 400;">After accepting the promo to your account, you'll now be automatically redirected to your </span><strong>Subscriptions</strong><span style="font-weight: 400;"> tab in your User Settings to see your newly activated Nitro subscription on your account.</span>
</li>
</ul>
<h2 id="h_01FCZN7TQYJPEDJPZ8KT5GZM8K"><span style="font-weight: 400;">What if I am an Active Nitro Classic or Server Boosting Subscriber? </span></h2>
<p><span style="font-weight: 400;">Just to clarify - if you currently have a Nitro Classic or Server Boosting subscription, you will be eligible to claim this YouTube promotion and your current subscription will be replaced with the 3 month Nitro subscription. </span></p>
<h3>
<span class="wysiwyg-color-red110"><strong>HOWEVER, please note: <br></strong></span><span class="wysiwyg-color-red110" style="font-weight: 400;">- By choosing to activate this 3 month trial, you will lose any features associated with your current subscriptions, and **<strong>you will not receive a refund for any remaining value on your current subscription</strong>**. </span>
</h3>
<p><span style="font-weight: 400;">At the end of the promotion period, you'll be converted to a paying Nitro subscription at the price of 9.99 per month unless you cancel your subscription. </span></p>
<h1 id="h_01FCFN0ZS87Z8XQFSYJV5EAWWQ"><span style="font-size: 1.2em; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;">How do I share my Code with a Friend?</span></h1>
<p>If you've had a Nitro subscription previously on your Discord account and you're unable to redeem the Nitro subscription link, you can share this link with a friend to use instead.</p>
<p>After you click on the big red button "Get 3 Months Free", you can directly copy the promotion URL link in the new page and send it to a friend. <strong>We recommend sending the link in a private direct message.</strong></p>
<h1 id="h_01FB7V0MPXX1S4TS09KPTZ1WSZ">Frequently Asked Questions</h1>
<p>We know there's a lot of information to unpack on this promotion above, so we've also broken down this information in this FAQ section as well too! </p>
<ul>
<li><a href="#h_01FCZMYZN05BHAKKQY863FS8CC" target="_self">Promotion Details</a></li>
<li><a href="#h_01FCZMZH0A73Y0S83JS09J1R0H" target="_self">Eligibility for the Promotion </a></li>
<li><a href="#h_01FBJJ5MXD8WM3EKKKEGBQHHGE" target="_self">Payment Info and Subscription Questions</a></li>
<li>
<a href="#h_01FCZMZX80MVAKFFS5AM4SYJC2" target="_self">Potential Errors and Other Issues</a>
<ul>
<li>Already Had/Have Nitro</li>
<li>Already Redeemed</li>
<li>Something's Wrong Here</li>
</ul>
</li>
</ul>
<h2 id="h_01FCZMYZN05BHAKKQY863FS8CC">Promotion Details</h2>
<p><strong><span class="wysiwyg-color-blue80 wysiwyg-font-size-large">Q: How long does this promotion run for?</span></strong></p>
<p><strong>A:</strong> YouTube Premium subscribers can claim Discord Nitro promo between <strong>August 16, 2021 (9:00am PT)</strong> - <strong>October 30, 2021 (11:59pm PT)</strong>.</p>
<p><span style="font-weight: 400;">After <strong>October 30, 2021 (11:59pm PT)</strong></span><span style="font-weight: 400;">, YouTube Premium subscribers will no longer be able to claim a trial promo link.</span></p>
<p id="h_01FBTHEAQD2388YZPRA1KP4MQM"><strong><span class="wysiwyg-color-blue80 wysiwyg-font-size-large">Q: How long does the Discord Nitro promotion link last for?</span></strong></p>
<p><strong>A:</strong> You must redeem the Nitro promotion by <strong>November 30, 2021 (11:59pm PT)</strong>.</p>
<p><span style="font-weight: 400;">I</span><span style="font-weight: 400;">f a code has not been redeemed to the Discord account by <strong>November 30, 2021 (11:59pm PT)</strong></span><span style="font-weight: 400;">, it will expire and you will no longer be able to claim three months of Discord Nitro. </span></p>
<h2 id="h_01FCZMZH0A73Y0S83JS09J1R0H"><span style="font-weight: 400;">Eligibility for the Promotion </span></h2>
<p><span class="wysiwyg-color-blue80 wysiwyg-font-size-large"><strong>Q: Who can claim this promotion from their YouTube email?</strong></span></p>
<p><span style="font-weight: 400;"><strong>A: </strong>In order to receive an email from YouTube with the Nitro promo link, you must be a current<strong><span style="font-weight: 300;"> YouTube Premium subscriber in the regions of United States, Australia, Brazil, Canada, France, Germany, Great Britain, Japan, Korea, New Zealand, Russia, South Africa, &amp; Turkey. </span></strong></span></p>
<ul>
<li><span style="font-weight: 300;"><strong><span class="wysiwyg-color-red">Note:</span></strong> If you currently have a 3 month trial YouTube Premium subscription from the YouTube Premium Nitro promotion, you will not be eligible for this promotion. </span></li>
</ul>
<p><span class="wysiwyg-color-blue80 wysiwyg-font-size-large"><strong>Q: Who can redeem this Nitro trial to their Discord account?</strong></span></p>
<p><span style="font-weight: 400;"><strong>A: </strong>Y</span>ou must be a first time Nitro subscriber. </p>
<ul>
<li>
<span class="wysiwyg-color-blue90"><strong>Note:</strong></span> If you have activated any other Nitro trials or promotions or any gifted Nitro subscriptions at any point in time, you will not be eligible for this promotion. </li>
</ul>
<p><strong><span class="wysiwyg-color-blue80 wysiwyg-font-size-large">Q: What if I'm a current or previous Nitro Classic subscriber or a Server Boost subscriber? Can I also take part in this promotion? </span></strong></p>
<p><strong>A: </strong><span style="font-weight: 400;">Yes, if you currently have a Nitro Classic or Server Boosting subscription, you will be eligible to claim this YouTube promotion and your current subscription will be replaced with the 3 month Nitro subscription. </span></p>
<h3>
<span class="wysiwyg-color-red110"><strong>HOWEVER, please note: <br></strong></span><span class="wysiwyg-color-red110" style="font-weight: 400;">- By choosing to activate this 3 month trial, you will lose any features associated with your current subscriptions, and **<strong>you will not receive a refund for any remaining value on your current subscription</strong>**. </span>
</h3>
<p><span style="font-weight: 400;">At the end of the promotion period, you'll be converted to a paying Nitro subscription at the price of 9.99 per month unless you cancel your subscription.</span></p>
<h2 id="h_01FBJJ5MXD8WM3EKKKEGBQHHGE">Payment Info and Subscription Questions</h2>
<p><strong><span class="wysiwyg-color-blue80 wysiwyg-font-size-large">Q: Why do I need to submit my payment info to redeem Nitro?</span></strong></p>
<p><strong>A:</strong> Because Nitro is a subscription plan, at the end of your free 3 month trial, we will start your first billing cycle so you can continue to enjoy Nitro on Discord.</p>
<p>However, you can cancel the Nitro subscription at any time before the end of the three months!</p>
<p><strong><span class="wysiwyg-color-blue80 wysiwyg-font-size-large">Q: Why do I see a temporary hold/charge on my account when this is supposed to be a free promotion?</span></strong></p>
<p><strong>A:</strong> Just to clarify, this Nitro promotion is free, however, there will be a <strong>temporary hold</strong> placed on the payment method upon activating the promotion. This is to help Discord confirm the payment method works as expected and to prevent the use of fraudulent payment methods. This charge will appear in your Discord transaction history, and it may appear as a hold on your payment method.</p>
<p>We immediately reverse the temporary hold, and you’ll see that reflected in your Discord transaction history. Your bank may take longer to remove the hold from your payment method.</p>
<h3>
<strong>Note:</strong> Banks will usually remove the temporary hold from your account within a few business days.</h3>
<p>If your Discord transaction history does not show the hold released after 5 business days, please let us know at <a href="https://dis.gd/contact" target="_blank" rel="noopener noreferrer">https://dis.gd/contact</a>, and our support team will be able to investigate this issue further.</p>
<h2 id="h_01FCZMZX80MVAKFFS5AM4SYJC2">Potential Errors and Other Issues</h2>
<p><strong><span class="wysiwyg-color-blue80 wysiwyg-font-size-large">Q: What if I didn't receive an email from YouTube with the Nitro promo link, even if I'm a YouTube Premium subscriber?</span></strong></p>
<p><strong>A:</strong> In order to receive an email from YouTube with the Nitro promo link, you must be a current YouTube Premium subscriber in the regions of United States, Australia, Brazil, Canada, France, Germany, Great Britain, Japan, Korea, New Zealand, Russia, South Africa, &amp; Turkey. <strong><br></strong></p>
<p>Additionally, make sure that you've opted to receive marketing emails from YouTube! If you've unsubscribed, you sadly won't be able to see this offer. </p>
<p>If you believe you are eligible for the promotion, contact YouTube's support team through their Twitter page at <a href="https://twitter.com/TeamYouTube" target="_blank" rel="noopener noreferrer">https://twitter.com/TeamYouTube</a> or using the following link: <a href="https://support.google.com/youtube/" target="_blank" rel="noopener noreferrer">https://support.google.com/youtube/</a></p>
<p><strong><span class="wysiwyg-color-blue80 wysiwyg-font-size-large">Q: I see a Sad Trombone error when I try to redeem my Nitro promo link!</span></strong></p>
<p><strong>A: </strong><span style="font-weight: 400;">Would you happen to be entering this Nitro promo link from the YouTube premium promotion into the Discord Gift Inventory or as a link within Discord chat? </span></p>
<p><span style="font-weight: 400;">If so, this is the incorrect method for redeeming the Nitro promo link, and you will see an error when attempting to redeem the promotion. </span></p>
<p><span style="font-weight: 400;">In order to successfully claim this promotion, try opening up an incognito browser and then copy and pasting the promotion link into your browser's address bar (also known as a location bar or URL bar). </span></p>
<p><strong><span class="wysiwyg-color-blue80 wysiwyg-font-size-large">Q: I see a "<span class="wysiwyg-underline">Oh no! It looks like you have Nitro already</span>" error when I try to redeem my Nitro promo link!</span></strong></p>
<p><strong>A:</strong> If you're seeing an "Oh no! It looks like you have Nitro already" error, that means that the Discord account you're trying to redeem this promotion on currently has a Nitro subscription so it is ineligible for this Nitro promotion.</p>
<p>Please make sure you're logged into the account that you want to redeem this promotion on. Or you can give the promotion link to a friend who hasn't had Nitro before!</p>
<p id="h_01FBTHPKVBQDXANKPFZ4QJH612"><strong><span class="wysiwyg-color-blue80 wysiwyg-font-size-large">Q: I see a "<span class="wysiwyg-underline">Sorry, looks like you’ve already had a Nitro sub!</span>" error when I try to redeem my Nitro promo link!</span></strong></p>
<p><strong>A: </strong>If you're seeing an “Sorry, looks like you’ve already had a Nitro sub” error, that means that you've previously subscribed to Nitro on your Discord account and you won't be able to redeem this 3 month perk! However, this promo link can be gifted to a friend!</p>
<p>If you have never subscribed to Nitro, please submit a ticket through our support system: <a href="https://dis.gd/contact" target="_blank" rel="noopener noreferrer">https://dis.gd/contact</a> and our support team will be able to investigate further.</p>
<p>Be sure to include your full Discord ID and email address tied to your Discord account</p>
<p><strong><span class="wysiwyg-color-blue80 wysiwyg-font-size-large">Q: I see a "<span class="wysiwyg-underline">This gift has already been redeemed</span>" error when I try to redeem my Nitro promo link!</span></strong></p>
<p><strong>A:</strong> If you are seeing a "This gift has been redeemed already" error, that means that the Nitro promo link has already been used and cannot be used again. You may need to double check if you've redeemed this promo link on another Discord account.</p>
<p>In particular, if you redeemed this promo link using your mobile device, double check the browser on your mobile device and see which Discord account you are currently logged into.</p>
<p>Unfortunately, once the promo link has been redeemed, the promo link cannot be re-enabled, and the Nitro cannot be transferred from one account to another.</p>
<p><strong><span class="wysiwyg-color-blue80 wysiwyg-font-size-large">Q: I see a "<span class="wysiwyg-underline">Wait a Second...Looks like this code didn't work.</span>" error when I try to redeem my Nitro promo link!</span></strong></p>
<p><strong>A:</strong> If you're seeing an “Wait a Second...Looks like this code didn't work.” error, that means that the link is invalid! If you've copy and pasted this link, we recommend you double check the link you were given once more and make sure it exactly matches the link sent to your email!</p>
<p>If you received this link from a friend, double check with your friend on the exact link to make sure that it matches the link in their email!</p>
<p>Please note that our support team is unable to intervene if your friend has given an invalid link and we will not be able to provide a new link.</p>
<p><strong><span class="wysiwyg-color-blue80 wysiwyg-font-size-large">Q: I’m having trouble with my YouTube Premium account! </span></strong></p>
<p><strong>A:</strong> Reach out to YouTube's support team through their Twitter page at <a href="https://twitter.com/TeamYouTube" target="_blank" rel="noopener noreferrer">https://twitter.com/TeamYouTube</a> or using the following link - <a href="https://support.google.com/youtube/" target="_blank" rel="noopener noreferrer">https://support.google.com/youtube/</a>!</p>