<h3>
<strong>Note:</strong><strong><br></strong>- Discord requires a payment method to redeem this Nitro promo. A temporary charge will be placed on the payment method upon activating the promotion.<br>- This is to help Discord confirm the payment method works as expected and to prevent the use of fraudulent payment methods.</h3>
<p>We’re so happy to announce that Discord is once again partnering with Xbox! From October 26, 2021 to October 26, 2022, <a href="https://www.xbox.com/en-US/xbox-game-pass" target="_blank" rel="noopener noreferrer">Xbox Game Pass Ultimate</a> members will get access to redeem a code for 3 months of <a href="https://support.discord.com/hc/en-us/articles/115000435108" target="_blank" rel="noopener noreferrer">Discord Nitro</a>. </p>
<p><img src="https://support.discord.com/hc/article_attachments/4411294641175/XBoxGamepassPromo_BlogHeader.png" alt="XBoxGamepassPromo_BlogHeader.png"></p>
<h1><span class="wysiwyg-color-blue90 wysiwyg-font-size-x-large"><strong>TL;DR</strong></span></h1>
<p><span class="wysiwyg-color-orange110"><strong>Offer Details:</strong></span><span style="font-weight: 400;"> 3 months of Discord Nitro for Xbox Game Pass Ultimate members</span></p>
<p><span class="wysiwyg-color-orange110"><strong>Who is Eligible:</strong></span></p>
<ul>
<li>
<strong><span class="wysiwyg-color-green120">To claim in Xbox</span>,</strong><span style="font-weight: 400;"> this promotion is for Xbox Game Pass Ultimate members only. Available in AR, AU, AT, BE, BR, CA, CL, CO, CZ, DK, FI, FR, DE, GR, HK, HU, IN, IE, IL, IT, JP, MX, NL, NZ, NO, PL, PT, SG, SA, ZA, ES, SE, CH, TW, TR, AE, GB, US. </span>
</li>
<li>
<strong style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;"><span class="wysiwyg-color-blue90">To redeem in Discord</span>,</strong><span style="font-weight: 400;"> you must be a first time Nitro subscriber. </span>
</li>
</ul>
<ul>
<li style="font-weight: 400;" aria-level="1">
<span class="wysiwyg-color-red110"><strong>Note:</strong></span>
<ul>
<li style="font-weight: 400;" aria-level="1">
<span style="font-weight: 400;">Previous and current Nitro Classic subscribers and Server Boosting subscribers are also eligible, </span><strong>however</strong><span style="font-weight: 400;">, the current subscription will be replaced with the 3 month Nitro subscription.</span>
<ul>
<li style="font-weight: 400;" aria-level="3">
<span style="font-weight: 400;">By choosing to activate this 3 month trial, you will lose any features associated with your current subscriptions, and **</span><strong>you will not receive a refund for any remaining value on your current subscription</strong><span style="font-weight: 400;">**. </span>
</li>
</ul>
</li>
<li style="font-weight: 400;" aria-level="2"><span style="font-weight: 400;">If you have activated any other Nitro trials or promotions or any gifted Nitro subscriptions at any point in time, you will not be eligible for this promotion. </span></li>
</ul>
</li>
</ul>
<p><span class="wysiwyg-color-orange110"><strong>Requirements:</strong></span></p>
<p><span style="font-weight: 400;">Claim from Xbox by 4/26/2022 (4:59 PM PT) and redeem to Discord account by 10/26/2022 (4:59 PM PT) </span></p>
<p><span class="wysiwyg-color-orange110"><strong>Subscription:</strong></span></p>
<p><span style="font-weight: 400;">After the 3 month free trial period, your Nitro subscription will convert to a monthly recurring subscription, and Discord will bill your payment method every month until you cancel. In most countries, you will be charged US$9.99/month, but<a href="https://support.discord.com/hc/en-us/articles/4407269525911" target="_blank" rel="noopener noreferrer"> check this link here</a> for details. You can cancel at any time in your Discord User Settings. </span></p>
<h2><strong>What does this article cover?</strong></h2>
<ul>
<li><a href="#h_01EGMFZ0MASHQ9JFNQPZ0CDZFN" target="_self" rel="undefined">What is Xbox Game Pass?</a></li>
<li><a href="#h_01EGMFZEY79B6F891JV0PZ87QK" target="_self" rel="undefined">What is Discord Nitro?</a></li>
<li>
<strong><a href="#h_01FDVJQGEP1SR4WEYHD2Q5Z3KA" target="_self" rel="undefined">How do I claim Discord Nitro in my Xbox App?</a></strong>
<ul>
<li><a href="#h_01FDVJQQVV8AXZBTT9K5VGQ3RX" target="_self">Eligibility for the Claiming this Promotion from Xbox</a></li>
<li><a href="#h_01FDVJQZZCZ7KT2T1ZFRC28Z48" target="_self">Step By Step Claim Instructions </a></li>
</ul>
</li>
<li>
<strong><a href="#h_01FDVJR8CGEYZ7N2F4CVMWGC3Y" target="_self" rel="undefined">How do I redeem this Nitro Promo on my Discord Account? </a></strong>
<ul>
<li><a href="#h_01FDVJQQVV8AXZBTT9K5VGQ3RX" target="_self" rel="undefined">Eligibility for Claiming This Promo on your Discord Account</a></li>
<li><a href="#h_01FDVJQZZCZ7KT2T1ZFRC28Z48" target="_self" rel="undefined">Step By Step Claim Instructions </a></li>
<li><a href="#h_01FDVJSAM73MKEV3BVXTSQZJQ3" target="_self" rel="undefined">How do I share this Nitro Code with a Friend?</a></li>
</ul>
</li>
<li>
<strong><a href="#h_01FDVJSK820DN74DTWDTDY0RH8" target="_self" rel="undefined">Frequently Asked Questions</a></strong>
<ul>
<li><a href="#h_01FDVJN4H9DRMMZFN9GERQVQ4D" target="_self" rel="undefined">Promotion Details</a></li>
<li><a href="#h_01FDVJNE6DJMVGV63BJ4Q61WJ7" target="_self" rel="undefined">Promotion Eligibility and Claiming Process</a></li>
<li><a href="#h_01FDVJNNJE5MT233TZE6MYRYTV" target="_self" rel="undefined">Payment Info and Subscription Questions</a></li>
<li><a href="#h_01FDVJP58VT082BWXGCRNPN8BC" target="_self" rel="undefined">Potential Errors and Other Issues</a></li>
</ul>
</li>
</ul>
<h1 id="h_01EGMFZ0MASHQ9JFNQPZ0CDZFN"><strong>What is Xbox Game Pass Ultimate?</strong></h1>
<p>Xbox Game Pass Ultimate includes over 100 high-quality games for console, PC, phones and tablets, all the benefits of Xbox Live Gold, and an EA Play membership, all for one low monthly price (subscription continues automatically at regular price). Play together with friends and discover your next favorite game. <a href="https://www.microsoft.com/en-us/p/xbox-game-pass-ultimate" target="_blank" rel="noopener noreferrer">Click here for more info!</a></p>
<h1 id="h_01EGMFZEY79B6F891JV0PZ87QK"><strong>What is Discord Nitro?</strong></h1>
<p>With Nitro, you’ll get many awesome chat perks to enhance your Discord experience! Upgrade your emoji, enjoy bigger file uploads, stand out in your favorite Discords, and more! Check out some of these perks below! </p>
<ul>
<li><a href="https://support.discord.com/hc/en-us/articles/204156688" target="_blank" rel="noopener noreferrer"><span style="font-weight: 400;">Gif Ava</span><span style="font-weight: 400;">tars</span></a></li>
<li><a href="https://support.discord.com/hc/en-us/articles/360000270351" target="_blank" rel="noopener noreferrer"><span style="font-weight: 400;">Custom Discord Tag</span></a></li>
<li><a href="https://support.discord.com/hc/en-us/articles/360036479811" target="_blank" rel="noopener noreferrer">Global Custom emojis</a></li>
<li><a href="https://support.discord.com/hc/en-us/articles/360041721052" target="_blank" rel="noopener noreferrer">Higher Video quality</a></li>
<li><a href="https://support.discord.com/hc/en-us/articles/360028038352" target="_blank" rel="noopener noreferrer">Server Boosting</a></li>
<li><a href="https://support.discord.com/hc/en-us/articles/115000435108" target="_blank" rel="noopener noreferrer">More!</a></li>
</ul>
<h1 id="h_01FDVJQGEP1SR4WEYHD2Q5Z3KA"><strong>How do I claim the Nitro Promo from the Xbox App</strong></h1>
<p>As long as you're an <strong>Xbox Game Pass Ultimate</strong> member, you'll be able to receive the Nitro code directly through your Xbox, the Xbox Windows app, or the Xbox Mobile App!</p>
<h2 id="h_01FDVJQQVV8AXZBTT9K5VGQ3RX">Eligibility for the Claiming this Promotion from Xbox</h2>
<p><span style="font-weight: 400;">In order to claim this promotion link, you'll need to be a new Xbox Game Pass member. Additionally, this promotion is only available in AR, AU, AT, BE, BR, CA, CL, CO, CZ, DK, FI, FR, DE, GR, HK, HU, IN, IE, IL, IT, JP, MX, NL, NZ, NO, PL, PT, SG, SA, ZA, ES, SE, CH, TW, TR, AE, GB, US. <br></span></p>
<ul>
<li style="font-weight: 400;" aria-level="1">
<span style="font-weight: 400;">The code must be claimed from Xbox</span><strong> </strong><span style="font-weight: 400;">by <strong>4/26/2022 (4:59 PM PT)</strong>, otherwise it will no longer be available to claim</span>
</li>
</ul>
<h2 id="h_01FDVJQZZCZ7KT2T1ZFRC28Z48">Step By Step Claim Instructions </h2>
<p class="wysiwyg-text-align-center"><span class="wysiwyg-font-size-large wysiwyg-color-green120"><strong>Step 1) Open your Xbox app</strong></span></p>
<ul>
<li>
<span style="font-weight: 400;">If you’re subscribed to Xbox Game Pass ultimate</span><strong>,</strong><span style="font-weight: 400;"> open the Xbox app (and log into your Xbox account if needed) on the console, PC or mobile app!</span>
</li>
</ul>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/4411566234007/Screenshot_51.png" alt="Screenshot_51.png"></p>
<p class="wysiwyg-text-align-center"><span class="wysiwyg-font-size-large wysiwyg-color-green120"><strong>Step 2) Search for the Nitro Promo on the Perks tab</strong></span></p>
<ul>
<li><span style="font-weight: 400;">Once you have logged in, scroll through the Perks tab and search for the Discord Nitro promo and press/click on the Discord Nitro promo option. It should look like this below: </span></li>
</ul>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/4411560535447/Screenshot_52.png" alt="Screenshot_52.png"></p>
<p class="wysiwyg-text-align-center"><span class="wysiwyg-font-size-large wysiwyg-color-green120"><strong>Step 3) Press the Claim Button</strong></span></p>
<ul>
<li>
<span style="font-weight: 400;">Once you have pressed on the promo option, you’ll see a new page to claim this promo, and you can p</span><span style="font-weight: 400;">ress on the "</span><strong>Claim"</strong><span style="font-weight: 400;"> button!</span>
<ul>
<li><span style="font-weight: 400;">If you're on the Console app, you'll now see a QR code that you can scan with your mobile device and open a new link on your phone! </span></li>
<li><span style="font-weight: 400;">If you're on the PC or Mobile app, you'll now see a "<strong>Redeem Online</strong>" button which you can press to redirect automatically to the promotion link in a new browser window!</span></li>
</ul>
</li>
<li>
<span style="font-weight: 400;">When you’re ready to redeem the promotion, you can press this </span><strong>“Redeem Online”</strong><span style="font-weight: 400;"> button or scan the QR code with your mobile device, and you'll be automatically redirected a browser window to redeem the promotion! </span>
<ul>
<li>
<strong>The unique promotion link will look like this:</strong> <span style="font-weight: 400;"><a href="https://discord.com/billing/promotions/XXXXXXXXXXXXXXXX">https://discord.com/billing/promotions/XXXXXXXXXXXXXXXX</a></span>
</li>
</ul>
</li>
</ul>
<p class="wysiwyg-text-align-center"> </p>
<h1 id="h_01FDVJR8CGEYZ7N2F4CVMWGC3Y"><strong>How do I redeem the Nitro Promo on my Discord Account? </strong></h1>
<p><span style="font-weight: 400;">Once you have saved the promo within Xbox, you'll now need to officially redeem this promo link on your Discord account (or share this code with a friend)! </span></p>
<h2 id="h_01FDVJRGHBERYTX5A5YGCQHB8B">Eligibility for Redeeming the Nitro Trial</h2>
<p><span style="font-weight: 400;">To redeem this promotion link to your Discord account, </span><strong>you must be a first time Nitro subscriber</strong><span style="font-weight: 400;">. </span></p>
<p><strong>HOWEVER</strong><span style="font-weight: 400;">, if you have activated any other Nitro trials or promotions or any gifted Nitro subscriptions at any point in time, you will not be eligible for this promotion. </span></p>
<h2 id="h_01FDVJRRQ3P805VFXE8X09E874">Step by Step Redeem Instructions</h2>
<p><span style="font-weight: 400;">If you're eligible and ready to redeem this Nitro subscription on your own Discord account, you can follow these steps below to redeem the promo!</span></p>
<h3>
<strong>NOTE:<br></strong>- Before redeeming Nitro, make sure you are logged in your own Discord account.<br>- If you accidentally redeemed the Nitro promo link on an account that is not yours, we are unable to provide you with another promo link.</h3>
<p class="wysiwyg-text-align-center"><span class="wysiwyg-font-size-large wysiwyg-color-blue90"><strong>Step 1) Head into your Perks tab in the Xbox app</strong></span></p>
<ul>
<li><span style="font-weight: 400;">If you’ve saved/claimed the promo using the steps earlier, you can head into your “Perks” tab in the Xbox app and press on the “Discord Nitro” option!</span></li>
</ul>
<p class="wysiwyg-text-align-center"><span class="wysiwyg-font-size-large wysiwyg-color-blue90"><strong>Step 2) Press the Claim Button</strong></span></p>
<ul>
<li>
<span style="font-weight: 400;">Once you’re in the promo page, press the "<strong>Claim</strong>" button if you didn't do so in the earlier section!</span>
<ul>
<li><span style="font-weight: 400;">If you're on the Console app, you'll now see a<strong> QR code</strong> that you can scan with your mobile device and open a new link on your phone! </span></li>
<li><span style="font-weight: 400;">If you're on the PC or Mobile app, you'll now see a "<strong>Redeem Online</strong>" button which you can press to redirect automatically to the promotion link in a new browser window!</span></li>
</ul>
</li>
</ul>
<ul>
<li>
<span style="font-weight: 400;">This QR code or promotion link within the new browser window can be copied and shared to a friend! </span>
<ul>
<li>
<strong>Note:</strong><span style="font-weight: 400;"> If you enter this Nitro promo link from the promotion into the Discord Gift Inventory or as a link within Discord chat, you will see an error when attempting to redeem the promotion. This is the incorrect method of redeeming this promo.</span>
</li>
</ul>
</li>
</ul>
<p class="wysiwyg-text-align-center"><span class="wysiwyg-font-size-large wysiwyg-color-blue90"><strong>Step 3) Opening the Promo Link and Logging into Discord</strong></span></p>
<ul>
<li><span style="font-weight: 400;">You can now scan your QR code or press "<strong>Redeem Online</strong>" to open your promotion link in the browser window! </span></li>
<li><span style="font-weight: 400;">If you're not already logged into Discord in your browser, you will then be automatically redirected to either:</span></li>
</ul>
<table style="width: 1233px;">
<tbody>
<tr>
<td style="width: 487.195px;">
<p><strong>Register for a New Account</strong></p>
<p><span style="font-weight: 400;">If you don't have an account, you can directly register a new Discord account</span></p>
</td>
<td style="width: 721.336px;">
<p><strong>Login to your Account</strong></p>
<p><span style="font-weight: 400;">If you already have a Discord account, you can login to your account using your email and password or using QR code login</span></p>
</td>
</tr>
<tr>
<td style="width: 487.195px;">
<p><strong><img src="https://support.discord.com/hc/article_attachments/4411472444055/image1__3_.png" alt="image1__3_.png"></strong></p>
</td>
<td style="width: 721.336px;">
<p><img src="https://support.discord.com/hc/article_attachments/4411477542807/image4__1_.png" alt="image4__1_.png"></p>
</td>
</tr>
</tbody>
</table>
<p class="wysiwyg-text-align-center"> </p>
<p class="wysiwyg-text-align-center"><span class="wysiwyg-font-size-large wysiwyg-color-blue90"><strong>Step 4) Confirming the Correct Account and Payment Method</strong></span></p>
<ul>
<li>
<span style="font-weight: 400;">Once you have logged into your Discord account, you'll see a new message asking you to confirm that you are accepting the Nitro subscription on the correct Discord account. </span><span style="font-weight: 400;">You'll see a notice saying: </span><strong><em>"Signed in as _________" </em></strong>
</li>
<li><span style="font-weight: 400;">If your Discord account does not have your payment information, you'll be asked to fill out your payment details. (Note: You will not be charged until the free trial ends and the subscription renews)</span></li>
<li>
<span style="font-weight: 400;">When you've filled out all the necessary information and you're ready to redeem this promotion, you'll need to agree to the <strong>Discord Terms of Service</strong> and then press the "</span><strong>Get Nitro Monthly</strong><span style="font-weight: 400;">" button. </span>
</li>
</ul>
<table style="border-collapse: collapse; width: 147.663%; height: 648px;">
<tbody>
<tr style="height: 21px;">
<td style="width: 52.4298%; height: 21px;"><strong>Double checking your Discord account!</strong></td>
<td style="width: 111.277%; height: 21px;"><strong>Reviewing your Payment Information and Confirming the Redemption!</strong></td>
</tr>
<tr style="height: 586px;">
<td style="width: 52.4298%; height: 586px;"><img src="https://support.discord.com/hc/article_attachments/4411477404439/Screen_Shot_2021-10-26_at_00.23.15.png" alt="Screen_Shot_2021-10-26_at_00.23.15.png" width="530" height="574"></td>
<td style="width: 111.277%; height: 586px;"><img src="https://support.discord.com/hc/article_attachments/4411472275351/Screen_Shot_2021-10-26_at_00.23.36.png" alt="Screen_Shot_2021-10-26_at_00.23.36.png" width="358" height="577"></td>
</tr>
</tbody>
</table>
<h3>
<strong>Note:<br></strong>- If you're logged into the incorrect Discord account, press the "Wrong account" button to login to the other account! </h3>
<p class="wysiwyg-text-align-center"><span class="wysiwyg-font-size-large wysiwyg-color-blue90"><strong>Step 5) Subscription Now Activated</strong></span></p>
<ul>
<li>
<span style="font-weight: 400;">After accepting the promo to your account, you'll now be automatically redirected to your </span><strong>Subscriptions</strong><span style="font-weight: 400;"> tab in your User Settings to see your newly activated Nitro subscription on your account.</span>
</li>
</ul>
<h2 id="h_01FDVJS0CV9Q219E46N9HHVQ1B"><strong>What if I am an Active Nitro Classic or Server Boosting Subscriber? </strong></h2>
<p><span style="font-weight: 400;">Just to clarify - if you currently have a Nitro Classic or Server Boosting subscription, you will be eligible to claim this Xbox promotion and your current subscription will be replaced with the 3 month Nitro subscription.</span></p>
<h3>
<strong>HOWEVER, please note:<br></strong><span style="font-weight: 400;">- By choosing to activate this 3 month trial, you will lose any features associated with your current subscriptions, and **</span><strong>you will not receive a refund for any remaining value on your current subscription</strong><span style="font-weight: 400;">**.</span>
</h3>
<p><span style="font-weight: 400;">At the end of the promotion period, you'll be converted to a paying Nitro subscription per month unless you cancel your subscription.</span></p>
<h1 id="h_01FDVJSAM73MKEV3BVXTSQZJQ3"><strong>How do I share this Promotion Link with a Friend?</strong></h1>
<p><span style="font-weight: 400;">If you've had a Nitro subscription previously on your Discord account and you're unable to redeem the Nitro subscription link, you can share this QR code/ promotion link with a friend to use instead.</span></p>
<p><span class="wysiwyg-color-green130 wysiwyg-font-size-large"><strong>If you're on the Xbox Game Pass Console app, </strong></span></p>
<ul>
<li>You can directly send your friend a photo of the QR code for the Nitro Promo in the Perks menu by taking a photo of the code with your mobile device! </li>
</ul>
<p><span class="wysiwyg-color-blue wysiwyg-font-size-large"><strong>If you're on the Xbox Game Pass Browser app,</strong></span></p>
<ul>
<li>Start by pressing "Redeem online" for the Nitro Promo in the Perks menu, and you'll then be redirected to a new webpage. </li>
<li>You can then copy and paste the URL redemption link in this webpage that appears! </li>
</ul>
<p><span class="wysiwyg-color-pink120 wysiwyg-font-size-large"><strong>If you're on the Xbox Game Pass Mobile app,</strong></span></p>
<ul>
<li>Start by pressing "Redeem online" for the Nitro Promo in the Perks menu, and you'll then be redirected to a new webpage. </li>
<li>You can then copy and paste the URL redemption link in this webpage that appears! </li>
</ul>
<h3>
<strong>Note: </strong>We recommend sending the link to your friend in a private direct message.</h3>
<h1 id="h_01FDVJSK820DN74DTWDTDY0RH8"><strong>Frequently Asked Questions</strong></h1>
<p><span style="font-weight: 400;">We know there's a lot of information to unpack on this promotion above, so we've also broken down this information in this FAQ section as well too! </span></p>
<ul>
<li style="font-weight: 400;" aria-level="1"><a href="#h_01FDVJN4H9DRMMZFN9GERQVQ4D" target="_self"><span style="font-weight: 400;">Promotion Details</span></a></li>
<li style="font-weight: 400;" aria-level="1"><a href="#h_01FDVJNE6DJMVGV63BJ4Q61WJ7" target="_self"><span style="font-weight: 400;">Eligibility for the Promotion</span></a></li>
<li style="font-weight: 400;" aria-level="1"><a href="#h_01FDVJNNJE5MT233TZE6MYRYTV" target="_self"><span style="font-weight: 400;">Payment Info and Subscription Questions</span></a></li>
<li style="font-weight: 400;" aria-level="1">
<a href="#h_01FDVJP58VT082BWXGCRNPN8BC" target="_self"><span style="font-weight: 400;">Potential Errors and Other Issues</span></a>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Already Had/Have Nitro</span></li>
<li style="font-weight: 400;" aria-level="2"><span style="font-weight: 400;">Already Redeemed</span></li>
<li style="font-weight: 400;" aria-level="2"><span style="font-weight: 400;">Something's Wrong Here</span></li>
</ul>
</li>
</ul>
<h2 id="h_01FDVJN4H9DRMMZFN9GERQVQ4D"><strong>Promotion Details</strong></h2>
<p><span class="wysiwyg-color-blue90 wysiwyg-font-size-large"><strong>Q: How long does this promotion run for?</strong></span></p>
<p><strong>A:</strong><span style="font-weight: 400;"> Xbox Game Pass Ultimate subscribers can claim Discord Nitro promo between<strong> October 26, 2021</strong> to <strong>October</strong><strong> 26, 2022 (4:59 PM PT).</strong></span></p>
<p><span style="font-weight: 400;">After <strong>October</strong><strong> 26, 2022 (4:59 PM PT)</strong></span><span style="font-weight: 400;">, Xbox Game Pass Ultimate subscribers will no longer be able to claim this promotion.</span></p>
<p><span class="wysiwyg-color-blue90 wysiwyg-font-size-large"><strong>Q: How long does the Discord Nitro promotion link last for?</strong></span></p>
<p><strong>A:</strong><span style="font-weight: 400;"> You must redeem the Nitro promotion by <strong>November</strong><strong> 25, 2022 (4:59 PM PT).</strong></span></p>
<p><span style="font-weight: 400;">If a code has not been redeemed to the Discord account by <strong>November</strong><strong> 25, 2022 (4:59 PM PT)</strong></span><span style="font-weight: 400;">, it will expire and you will no longer be able to redeem three months of Discord Nitro. </span></p>
<h2 id="h_01FDVJNE6DJMVGV63BJ4Q61WJ7"><strong>Eligibility for the Promotion</strong></h2>
<p><span class="wysiwyg-color-blue90 wysiwyg-font-size-large"><strong>Q: Who can claim this promotion from their Xbox app?</strong></span></p>
<p><strong>A: </strong><span style="font-weight: 400;">To claim through the Xbox app, you must be a current </span><span style="font-weight: 400;">Xbox Game Pass Ultimate member. Additionally, this promotion is only available in AR, AU, AT, BE, BR, CA, CL, CO, CZ, DK, FI, FR, DE, GR, HK, HU, IN, IE, IL, IT, JP, MX, NL, NZ, NO, PL, PT, SG, SA, ZA, ES, SE, CH, TW, TR, AE, GB, US. <br></span></p>
<p><span class="wysiwyg-color-blue90 wysiwyg-font-size-large"><strong>Q: Who can redeem this Nitro trial to their Discord account?</strong></span></p>
<p><strong>A: </strong><span style="font-weight: 400;">You must be a first time Nitro subscriber. </span></p>
<ul>
<li style="font-weight: 400;" aria-level="1">
<strong><span class="wysiwyg-color-red">Note</span>:</strong><span style="font-weight: 400;"> If you have activated any other Nitro trials or promotions or any gifted Nitro subscriptions at any point in time, you will not be eligible for this promotion. </span>
</li>
</ul>
<p><span class="wysiwyg-color-blue90 wysiwyg-font-size-large"><strong>Q: What if I'm a current or previous Nitro Classic subscriber or a Server Boost subscriber? Can I also take part in this promotion? </strong></span></p>
<p><strong>A: </strong><span style="font-weight: 400;">Yes, if you currently have a Nitro Classic or Server Boosting subscription, you will be eligible to claim this promotion and your current subscription will be replaced with the 3 month Nitro subscription.</span></p>
<h3>
<strong>HOWEVER, please note:<br></strong><span style="font-weight: 400;">- By choosing to activate this 3 month trial, you will lose any features associated with your current subscriptions, and **</span><strong>you will not receive a refund for any remaining value on your current subscription</strong><span style="font-weight: 400;">**.</span>
</h3>
<p><span style="font-weight: 400;">At the end of the promotion period, you'll be converted to a paying Nitro subscription unless you cancel your subscription.</span></p>
<h2 id="h_01FDVJNNJE5MT233TZE6MYRYTV"><strong>Payment Info and Subscription Questions</strong></h2>
<p><span class="wysiwyg-color-blue90 wysiwyg-font-size-large"><strong>Q: Why do I need to submit my payment info to redeem Nitro?</strong></span></p>
<p><strong>A:</strong><span style="font-weight: 400;"> Because Nitro is a subscription plan, at the end of your free 3 month trial, we will start your first billing cycle so you can continue to enjoy Nitro on Discord.</span></p>
<p><span style="font-weight: 400;">However, you can cancel the Nitro subscription at any time before the end of the three months!</span></p>
<p><span class="wysiwyg-color-red110"><strong>To cancel your subscription, follow these steps below:</strong></span></p>
<ol>
<li><span style="font-weight: 400;">First head into your <strong>User Settings</strong></span></li>
<li><span style="font-weight: 400;">Then, click/press the <strong>Subscriptions</strong> tab</span></li>
<li><span style="font-weight: 400;">Once in the Subscription tab, press the <strong>Cancel</strong> Button (right beside the Switch Plans button)</span></li>
<li><span style="font-weight: 400;">You will then see a new window pop up, where you will need to press the <strong>Continue</strong> button</span></li>
<li><span style="font-weight: 400;">Lastly, you will see a message explaining the cancellation details, and you will need to press the <strong>Confirm</strong> button in order to finalize the cancellation of the subscription! </span></li>
</ol>
<p><span class="wysiwyg-color-blue90 wysiwyg-font-size-large"><strong>Q: Why do I see a temporary hold/charge on my account when this is supposed to be a free promotion?</strong></span></p>
<p><strong>A:</strong><span style="font-weight: 400;"> Just to clarify, this Nitro promotion is free, however, there will be a </span><strong>temporary hold</strong><span style="font-weight: 400;"> placed on the payment method upon activating the promotion. This is to help Discord confirm the payment method works as expected and to prevent the use of fraudulent payment methods. This charge will appear in your Discord transaction history, and it may appear as a hold on your payment method.</span></p>
<p><span style="font-weight: 400;">We immediately reverse the temporary hold, and you’ll see that reflected in your Discord transaction history. Your bank may take longer to remove the hold from your payment method.</span></p>
<h3>
<strong>Note: </strong>Banks will usually remove the temporary hold from your account within a few business days.</h3>
<p><span style="font-weight: 400;">If your Discord transaction history does not show the hold released after 5 business days, please let us know at</span><a href="https://dis.gd/contact"> <span style="font-weight: 400;">https://dis.gd/contact</span></a><span style="font-weight: 400;">, and our support team will be able to investigate this issue further.</span></p>
<p><span class="wysiwyg-color-blue90 wysiwyg-font-size-large"><strong>Q: Now that the 3 months have passed and I want to activate my subscription, why do I see a different price for Nitro from my friends?</strong></span></p>
<p><strong>A: </strong>It's possible that you or your friend have access to our new localized currency pricing for Nitro Standard, Nitro Classic, and Boosts.</p>
<p>For more information on localized pricing, <a href="https://support.discord.com/hc/en-us/articles/4407269525911" target="_blank" rel="noopener noreferrer">check out this article here</a>!</p>
<h2 id="h_01FDVJP58VT082BWXGCRNPN8BC"><strong>Potential Errors and Other Issues</strong></h2>
<p><span class="wysiwyg-color-blue90 wysiwyg-font-size-large"><strong>Q: What if I don’t see the Nitro promo in the Xbox app, even if I'm an Xbox Game Pass Ultimate subscriber?</strong></span></p>
<p><strong>A: <span style="font-weight: 400;">To claim through the Xbox app, you must be a current </span><span style="font-weight: 400;">Xbox Game Pass Ultimate member. Additionally, this promotion is only available in AR, AU, AT, BE, BR, CA, CL, CO, CZ, DK, FI, FR, DE, GR, HK, HU, IN, IE, IL, IT, JP, MX, NL, NZ, NO, PL, PT, SG, SA, ZA, ES, SE, CH, TW, TR, AE, GB, US. <br></span></strong></p>
<p><span style="font-weight: 400;">If you believe you are eligible for the promotion, contact Xbox's support team through using the following link: <a href="https://support.xbox.com/contact-us">https://support.xbox.com/contact-us</a> </span></p>
<p><span class="wysiwyg-color-blue90 wysiwyg-font-size-large"><strong>Q: I see a Sad Trombone error when I try to redeem my Nitro promo link!</strong></span></p>
<p><strong>A: </strong><span style="font-weight: 400;">Would you happen to be entering this Nitro promo link from the promotion into the Discord Gift Inventory or as a link within Discord chat?</span></p>
<p><span style="font-weight: 400;">If so, this is the incorrect method for redeeming the Nitro promo link, and you will see an error when attempting to redeem the promotion.</span></p>
<p><span style="font-weight: 400;">In order to successfully claim this promotion, try opening up an incognito browser and then copy and pasting the promotion link into your browser's address bar (also known as a location bar or URL bar). </span></p>
<p><span class="wysiwyg-color-blue90 wysiwyg-font-size-large"><strong>Q: I see a "Oh no! It looks like you have Nitro already" error when I try to redeem my Nitro promo link!</strong></span></p>
<p><strong>A:</strong><span style="font-weight: 400;"> If you're seeing an "Oh no! It looks like you have Nitro already" error, that means that the Discord account you're trying redeem this promotion on currently has a Nitro subscription so it is ineligible for this Nitro promotion.</span></p>
<p><span style="font-weight: 400;">Please make sure you're logged into the account that you want to redeem this promotion on. Or you can give the promotion link to a friend who hasn't had Nitro before!</span></p>
<p><span class="wysiwyg-color-blue90 wysiwyg-font-size-large"><strong>Q: I see a "Sorry, looks like you’ve already had a Nitro sub!" error when I try to redeem my Nitro promo link!</strong></span></p>
<p><strong>A: </strong><span style="font-weight: 400;">If you're seeing an “Sorry, looks like you’ve already had a Nitro sub” error, that means that you've previously subscribed to Nitro on your Discord account and you won't be able to redeem this 3 month perk! However, this promo link can be gifted to a friend!</span></p>
<p><span style="font-weight: 400;">If you have never subscribed to Nitro, please submit a ticket through our support system:</span><a href="https://dis.gd/contact"> <span style="font-weight: 400;">https://dis.gd/contact</span></a><span style="font-weight: 400;"> and our support team will be able to investigate further.</span></p>
<p><span style="font-weight: 400;">Be sure to include your full Discord ID and email address tied to your Discord account</span></p>
<p><span class="wysiwyg-color-blue90 wysiwyg-font-size-large"><strong>Q: I see a "This gift has already been redeemed" error when I try to redeem my Nitro promo link!</strong></span></p>
<p><strong>A:</strong><span style="font-weight: 400;"> If you are seeing a "This gift has been redeemed already" error, that means that the Nitro promo link has already been used and cannot be used again. You may need to double check if you've redeemed this promo link on another Discord account.</span></p>
<p><span style="font-weight: 400;">In particular, if you redeemed this promo link using your mobile device, double check the browser on your mobile device and see which Discord account you are currently logged into.</span></p>
<p><span style="font-weight: 400;">Unfortunately, once the promo link has been redeemed, the promo link cannot be re-enabled, and the Nitro cannot be transferred from one account to another.</span></p>
<p><span class="wysiwyg-color-blue90 wysiwyg-font-size-large"><strong>Q: I see a "Wait a Second...Looks like this code didn't work." error when I try to redeem my Nitro promo link!</strong></span></p>
<p><strong>A:</strong><span style="font-weight: 400;"> If you're seeing an “Wait a Second...Looks like this code didn't work.” error, that means that the link is invalid! If you've copy and pasted this link, we recommend you double check the link you were given once more and make sure it exactly matches the link sent to your email!</span></p>
<p><span style="font-weight: 400;">If you received this link from a friend, double check with your friend on the exact link to make sure that it matches the link in their email!</span></p>
<p><span style="font-weight: 400;">Please note that our support team is unable to intervene if your friend has given an invalid link and we will not be able to provide a new link.</span></p>
<p><span class="wysiwyg-color-blue90 wysiwyg-font-size-large"><strong>Q: I’m having trouble with my Xbox Game Pass Ultimate account!</strong></span></p>
<p><strong>A:</strong><span style="font-weight: 400;"> Reach out to Xbox support team through the following link - <a href="https://support.xbox.com/contact-us">https://support.xbox.com/contact-us</a> </span></p>
<p><span style="font-weight: 400;">Here are some other helpful FAQs for more information:</span></p>
<ul type="disc">
<li class="m_8704572727082482926MsoListParagraph">
<a href="https://support.xbox.com/help/subscriptions-billing/manage-subscriptions/xbox-game-pass-ultimate-perks-faq" target="_blank" rel="noopener noreferrer">Xbox Game Pass Ultimate Perks FAQ</a><u></u>
</li>
<li class="m_8704572727082482926MsoListParagraph">
<a href="https://support.xbox.com/help/subscriptions-billing/redeem-codes-gifting/digital-code-solution" target="_blank" rel="noopener noreferrer">Get help with a digital code or gift card</a><u></u>
</li>
<li class="m_8704572727082482926MsoListParagraph"><a href="https://support.xbox.com/help/subscriptions-billing/redeem-codes-gifting/troubleshoot-gift-card-code-issues" target="_blank" rel="noopener noreferrer">Troubleshoot gift card and code issues</a></li>
</ul>
<p><span class="wysiwyg-color-blue90 wysiwyg-font-size-large"><strong>Q: I have questions about the Terms of Service and Privacy Policy!</strong></span></p>
<p><strong>A:</strong><span style="font-weight: 400;"> To learn more information about our Terms of Service and Privacy Policy, you can check out these links below!</span></p>
<p><span style="font-weight: 400;"><a class="anchor-3Z-8Bb anchorUnderlineOnHover-2ESHQB" tabindex="0" title="https://discord.com/terms" href="https://discord.com/terms" target="_blank" rel="noreferrer noopener">https://discord.com/terms</a> </span></p>
<p><span style="font-weight: 400;"><a class="anchor-3Z-8Bb anchorUnderlineOnHover-2ESHQB" tabindex="0" title="https://discord.com/privacy" href="https://discord.com/privacy" target="_blank" rel="noreferrer noopener">https://discord.com/privacy</a></span></p>