<h3>Alongside Drag and Drop, we also have a new <a href="https://support.discord.com/hc/en-us/articles/1500010454681#h_01FF8RQ8EHR2T5PPCF9MZY1E1Y" target="_blank" rel="noopener">Text-to-Speech Rate Slider</a> available.</h3>
<p>We’re constantly working to improve Discord for everyone that uses it—no matter how they use it. </p>
<p>For years, you could drag and drop everything from server collections, channels, and roles using your mouse. However, this wasn’t optimal for those that would like another way to perform these same actions. That being said, Discord now has Accessible Drag &amp; Drop available, which allows you to perform actions to sort and organize a variety of things within the platform - all from your keyboard.</p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/4409186894231/a11y_server.gif" alt="a11y_server.gif" width="327" height="327"></p>
<h3><span style="font-weight: 400;">Note: The drag and drop function is currently available on our desktop and browser clients.</span></h3>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/4409039236247/Drag-and-Drop-Keyboard-Nav-demo.gif" alt="Drag-and-Drop-Keyboard-Nav-demo.gif"></p>
<p><span style="font-weight: 400;">As mentioned above, instead of solely relying on your mouse to rearrange and organize a variety of things on Discord, you can use the following actions to drag and drop certain items using your keyboard. To do so:</span></p>
<ul>
<li>Press on the server or the channel that you would like to drag and drop, which you can find in the left-hand panel server list or the channel list of a server.</li>
<li>Press Ctrl + D/Cmd + D to select that item and lift it from its original position.</li>
<li>Use the Up and Down arrows again to move the item into the desired position which will be indicated by a green dot or line.</li>
<li>Press on the Space bar or Enter key to drop the item into its position.</li>
<li>You can also press on the Esc key to cancel the drag and drop action for that item.</li>
</ul>
<h1><span style="font-weight: 400;">Have Questions or Feedback?</span></h1>
<p><span style="font-weight: 400;">We hope this update improves your Discord experience and if you would like to give our Accessibility team live feedback, please fill out this </span><a href="https://dis.gd/a11y" target="_blank" rel="noopener"><span style="font-weight: 400;">form:</span><span style="font-weight: 400;"> </span><span style="font-weight: 400;">https://dis.gd/a11y</span></a><span style="font-weight: 400;">. </span></p>
<p><span style="font-weight: 400;">If you have any additional questions, please reach out to our support team </span><a href="https://dis.gd/contact" target="_blank" rel="noopener">here: https://dis.gd/contact</a><span style="font-weight: 400;"> or </span><a href="https://twitter.com/discord" target="_blank" rel="noopener">Tweet at us @discord</a><span style="font-weight: 400;">! </span> </p>