<p><span class="wysiwyg-font-size-large"><strong>What’s in this article:</strong></span></p>
<ul>
<li><a href="#h_01FXA87NA8X90YVDWF422G0SGH" target="_self">Developer Portal: Overview of the new App Directory section</a></li>
<li><a href="#h_01FXA880C7H59S7MFKN4KYGH93" target="_self" rel="undefined">How to fill out the new product page tab</a></li>
<li><a href="#h_01G40W2CG6113WVZK4KZACB60B" target="_self">How to preview your app's product page</a></li>
<li><a href="#h_01FXA887YTR39C54BWHYCX9S86" target="_self">How to use the new Discovery Status tab</a></li>
<li><a href="#h_01FXA88EEWHMHX8X9AB43RF9V9" target="_self">FAQ</a></li>
</ul>
<h1 id="h_01FXA87NA8X90YVDWF422G0SGH"><span class="discussion-id-b3210be9-e66d-4c32-b791-207524826e9d discussion-level-1 discussion-id-b3210be9-e66d-4c32-b791-207524826e9d notion-enable-hover" data-token-index="0" data-reactroot="">Overview of the new App Directory section</span></h1>
<p><strong>If your app is verified</strong>, you will see a new section in the Developer Portal called “App Directory.” (If your app is not yet verified, you will not see these tabs.)</p>
<ul>
<li>The <strong>product Page tab</strong> contains a list of things you can add about your app that can show in your app’s product page within the upcoming App Directory. This includes things like <strong>description copy, images and videos, supported languages, and links to your support server and social channels</strong>. Note: not all of these elements are required to be eligible for inclusion in the App Directory - see below for more details.</li>
<li>The <strong>Discovery Status tab</strong> is your reference for which required elements you have completed or are still missing. After you have added all required elements in the Developer Portal, the <strong>“Enable Discovery” button</strong> will light up and be clickable.</li>
</ul>
<p><strong>Opting into the App Directory:</strong> To enable your app to be included in the App Directory, you will need to opt-in by clicking the “Enable Discovery” button at the bottom of the Discovery Status tab in the Developer Portal.</p>
<h3>
<strong>Note:</strong> At this time, the App Directory is not yet released. We encourage developers to start preparing their apps and product pages in the meantime, so they’re ready to go when the App Directory is released!</h3>
<h1 id="h_01FXA880C7H59S7MFKN4KYGH93">How to fill out the new product Page tab</h1>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/4581610637847/1.png" alt="1.png"></p>
<p class="wysiwyg-text-align-left">The fields available for you to fill out are below. Items marked with an <span class="wysiwyg-color-red">*</span> are required.</p>
<p><strong>Support Server<span class="wysiwyg-color-red">*</span></strong>:</p>
<ul>
<li>This is the Discord server where users of your app should go for help or questions (and where they can engage with other fans of your app, if you want your server to be a place for that too).</li>
<li>
<strong>Your support server must be designated as a community server</strong> - you can do this by <a href="https://support.discord.com/hc/en-us/articles/360047132851-Enabling-Your-Community-Server" target="_blank" rel="noopener noreferrer">enabling Community for your server</a> in server settings.</li>
<li>If you have more than one server for your bot (like one for support and one for community), we recommend you use this field for your support server.</li>
<li>
<strong>Note: This is required to be eligible for the App Directory</strong>.</li>
</ul>
<p><strong>Media Carousel</strong>:</p>
<ul>
<li>These are the main images and videos that users will see at the top of your app’s product page in the App Directory. You can include <strong>images, videos, or both</strong> - anything that helps show what your app/bot does.</li>
<li>You can add <strong>up to 5</strong> assets total.</li>
<li>The carousel will rotate automatically through all your provided assets, but we still recommend putting your best asset first! If you have a video, you can start with that to make sure users can see it when they first check out your page.</li>
<li>If your video is hosted on YouTube, your link can be set to public or unlisted.</li>
</ul>
<p><strong>External Links</strong>:</p>
<ul>
<li>These are any relevant links you want to include on your app’s product page for users to see or click, such as your app’s website, your app’s social media accounts, or other locations to find more about your app like Github.</li>
<li>Both the external link name and URL are freeform - there is no dropdown to make your selections, so be as accurate as you can. We will be able to detect certain popular names (like social media channels), and these may get a designated icon next to them in your app’s product page. For names that we cannot detect, there won’t be any icon.</li>
<li>You can add <strong>up to 5</strong> external links with URLs.</li>
</ul>
<p><strong>Supported Languages</strong>:</p>
<ul>
<li>Select ALL the languages that your application supports. Languages you select will show in the dropdown menu in the Application Description section, so if you have localized description copy, be sure to add it in there too!</li>
</ul>
<p><strong>Application Description<span class="wysiwyg-color-red">*</span></strong> :</p>
<ul>
<li>Explain with as much detail as possible, what your application does and how it can improve our user’s experience!</li>
<li>
<strong>Note: This is required to be eligible for the App Directory</strong>.</li>
</ul>
<p>Once you’ve finalized the form, save your changes. (Note: The “<strong>reset</strong>” button will undo any changes to the form and will default to the last saved state.)</p>
<h1 id="h_01G40W2CG6113WVZK4KZACB60B" data-pm-slice="1 1 []">How to preview your app's product page</h1>
<p data-pm-slice="1 1 []">In the Developer Portal’s new App Directory section, <strong>the product Page tab now shows a “Preview” button at the top</strong>. Clicking this will open a new tab that displays how the information you added in that tab will appear.</p>
<p data-pm-slice="1 1 []"><img src="https://support.discord.com/hc/article_attachments/6352976921623/preview.png" alt="preview.png"></p>
<p data-pm-slice="1 1 []">You can also view your app product page in your browser directly by going to <a class="ProsemirrorEditor-link" href="https://discord.com/application-directory/">https://discord.com/application-directory/</a>&lt;application_id&gt;. This will display information from the last time you clicked “Save changes” on your product Page tab.</p>
<p><strong>A few things to note:</strong></p>
<ul>
<li>The only Discord user who can see your preview page is you! (<em>If you’re on an app’s team, anyone on the team can see the preview</em>).</li>
<li>You will still be able to preview your app product page even before you have met the eligibility requirements on the checklist in the Discovery Status tab. (<em>However, note that your app must be at least verified to see this 'App Directory' section of the Developer Portal.</em>)</li>
<li>We encourage you to make the most of all these available fields - think about how you want your bot to look and feel to users who will visit your page and consider adding it to their servers. Not all of these fields are required, but we encourage you to fill out all you can and take advantage of them. Below is an example for inspiration:</li>
</ul>
<p><img src="https://support.discord.com/hc/article_attachments/6353054925591/preview_2.png" alt="preview_2.png"></p>
<p> </p>
<h1 id="h_01FXA887YTR39C54BWHYCX9S86">How to use the Discovery Status tab</h1>
<p>This highlights <strong>everything in the Developer Portal that you need to complete in order to be eligible to opt-in to Discovery</strong>.</p>
<p>The button (”Enable Discovery”) will not be clickable until all requirements are met.</p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/4581629847703/2.png" alt="2.png"></p>
<p>Some of these inputs live in the new product Page tab, and some are elsewhere. See below for a walkthrough of all eligibility criteria.</p>
<p><strong>Requirements in order to view the App Discovery page</strong>:</p>
<ul>
<li>
<strong>Bot Verification:</strong> Your bot has to be verified</li>
</ul>
<p><strong>Required fields from the product Page tab</strong>:</p>
<ul>
<li>
<strong>Support Server</strong>: You must have a link to a Discord server in this field.</li>
<li>
<strong>Application Description</strong>: You must have a description for your app. This is an opportunity to tell users who come across your app what the main functionality and benefits of your app are! We recommend putting the most important information up top, as succinctly as you can - and then going into more details if you want to say more. Note that if you select</li>
</ul>
<p><strong>Required fields elsewhere in the Developer Portal:</strong></p>
<ul>
<li>
<strong>Tags</strong>: You can add up to 5, but you need at least 1 tag added about your app in order to be eligible for the App Directory. These are added in the <strong>General Information tab</strong>.</li>
<li>
<strong>Install URL</strong>: You can define this under the OAuth2 URL Generator section of the Developer Portal. If you do not want to redirect users to your domain or a custom URL, setting up the OAuth2 flow will generate a Default URL. For more information, check out <a href="https://discord.com/developers/docs/topics/oauth2" target="_blank" rel="noopener noreferrer">this link</a>.</li>
</ul>
<p><strong>Privacy Policy</strong>:</p>
<ul>
<li>This document should clearly and accurately describe to users of your app the user data you collect and how you use and share such data with us and third parties, consistent with our Developer Terms of Service and Developer Policy.</li>
</ul>
<p><strong>Terms of Service</strong>:</p>
<ul>
<li>This document is as an agreement between you and users governing the use of your app.</li>
</ul>
<p>As you complete the above inputs, you will see your checklist in the Discovery Status tab reflect what has been done and what is not yet added.</p>
<p>After all required inputs are added, the “Enable Discovery” button will be clickable - clicking this is how you can opt-in to the App Directory.</p>
<h2 id="h_01FXA88EEWHMHX8X9AB43RF9V9"><span class="discussion-id-e3dcdc19-d3c3-42f0-bab9-8bb1caca4d27 discussion-level-1 discussion-id-e3dcdc19-d3c3-42f0-bab9-8bb1caca4d27 notion-enable-hover" data-token-index="0" data-reactroot="">FAQ</span></h2>
<p><span class="wysiwyg-font-size-large"><strong>Q: Why can’t I see the App Directory tab in the Developer Portal?</strong></span></p>
<p>A: The new tabs (product Page and Discovery Status) are only visible if you have already received verification for your app. If you are unverified or if your verification request is pending, you will not yet be able to view these tabs.</p>
<p><span class="wysiwyg-font-size-large"><strong>Q: How do I opt into the App Directory?</strong></span></p>
<p>A: On the Discovery Status tab, you will see an “Enable Discovery” button. This button will be clickable once all required inputs are completed and your checklist is done.</p>
<p><span class="wysiwyg-font-size-large"><strong>Q: How do I know if I am eligible or if I am missing information?</strong></span></p>
<p>A: Check the Discovery Status tab for a list of all required inputs and whether or not you have completed each one.</p>
<p><span class="wysiwyg-font-size-large"><strong>Q: I have a video link, but it’s not on YouTube. Can I still add it?</strong></span></p>
<p>A: Currently, the only supported video links are for YouTube.</p>
<p>You can always use images instead of videos for your media carousel.</p>
<p><span class="wysiwyg-font-size-large"><strong>Q: If I meet all the requirements in the Discovery Status page and click “Enable Discovery,” does that mean I am guaranteed to be in the App Directory?</strong></span></p>
<p>A: No. In addition to meeting those requirements, you and your app will need to continue complying with our <a href="https://discord.com/developers/docs/legal" target="_blank" rel="noopener noreferrer">Developer Terms of Service</a> and <a href="https://discord.com/developers/docs/policy" target="_blank" rel="noopener noreferrer">Developer Policy</a> (including the <a href="https://discord.com/guidelines" target="_blank" rel="noopener noreferrer">Community Guidelines</a>). We also reserve the right to remove apps from the App Directory at any time - for example, if there are trust and safety concerns, NSFW imagery, or other considerations to protect us or our users.</p>
<h3>⚠️Please be mindful that as a Discord Developer, you are representing our Developer Community to other Discord users! Avoid using bad or harmful words or language that goes against out community guidelines in your app description, support server, Terms of Service, Privacy Policy, and other fields.</h3>
<p><span class="wysiwyg-font-size-large"><strong>Q: Is</strong> <strong>this English only?</strong></span></p>
<p>A: Currently, the Developer Portal is only available in English.</p>
<p>If you have localized description copy available for your app’s supported languages, be sure to add those</p>
<p>If your app/bot supports multiple languages, be sure to add those in the <strong>Supported Languages</strong> section of the product Page!</p>