<p><span style="font-weight: 400;">We’ve heard from moderators and admins how much effort it takes to manage your community and how important it is to more easily create and maintain a safe space for your members. In our mission to make it easier to keep your communities safe on Discord, we're introducing a new auto-moderation tool called <strong>AutoMod</strong>, for short. With AutoMod, you'll get access to different content filters that let you automatically detect - and even block - undesirable and risky content before they’re ever posted.</span></p>
<p class="wysiwyg-text-align-center"><span style="font-weight: 400;"><img src="https://support.discord.com/hc/article_attachments/6813168974999/AutoMod-banner.png" alt="AutoMod-banner.png" width="624" height="351"></span></p>
<p><span style="font-weight: 400;"><span class="wysiwyg-font-size-large"><strong>What does this article cover?</strong></span></span></p>
<ul>
<li><a href="#h_01FWHH5M8TQN6MTPJR8J050DBN" target="_self"><span style="font-weight: 400;">What is AutoMod?</span></a></li>
<li>
<a href="#h_01FWHH5WEE7FBV2XVV5RAQ5S7R" target="_self"><span style="font-weight: 400;">What are Keyword Filters?</span></a>
<ul>
<li><a href="#h_01G5PGH9ZQ4TANG1VPSM63RKDF" target="_self"><span style="font-weight: 400;">How to Set Up Keyword Filters for AutoMod</span></a></li>
</ul>
</li>
<li><span style="font-weight: 400;"><a href="#h_01FWHH61BFXFTYJ4R57JX1QYV8" target="_self">Frequently Asked Questions</a><br></span></li>
</ul>
<h1 id="h_01FWHH5M8TQN6MTPJR8J050DBN"><span style="font-weight: 400;">What is AutoMod?</span></h1>
<p><span style="font-weight: 400;">AutoMod is a system of multiple content filters designed to make content moderation easier and less work for moderators. Some filters, like Keyword Filters, are configurable so you can have AutoMod automatically detect and block messages containing specific words or phrases you find harmful to your community before they’re even posted. Other filters we’re building are powered by machine learning algorithms to detect and block harmful or dangerous messages, such as links to malware.</span></p>
<p class="wysiwyg-text-align-center"><span style="font-weight: 400;"><img src="https://support.discord.com/hc/article_attachments/6812812744599/automod-keyword-filter-desktop-example.png" alt="automod-keyword-filter-desktop-example.png" width="622" height="442"></span></p>
<p><span style="font-weight: 400;">AutoMod prevents unwanted messages from being posted in your community across all of your #text-channels, along with other messaging surfaces like Threads and Text Chat in Voice channels. This way, you can feel more comfortable providing your community with more ways to talk and interact with each other without worrying about adding more moderation work onto your plate. </span></p>
<p><span style="font-weight: 400;">You can also choose to have AutoMod send you alerts containing who-what-where information about blocked messages to a dedicated, private channel of your choice to help you identify and act on potential bad actors and unwanted behavior within your community.</span></p>
<p class="wysiwyg-text-align-center"><span style="font-weight: 400;"><img src="https://support.discord.com/hc/article_attachments/6861288119959/focused-automod-keyword-filter-desktop-example.png" alt="focused-automod-keyword-filter-desktop-example.png" width="535" height="421"></span></p>
<p class="wysiwyg-text-align-center"><span style="font-weight: 400;"> A blocked message based on Keyword Filters<img src="https://support.discord.com/hc/article_attachments/6861275338007/focused-automod-keyword-filter-desktop-alert.png" alt="focused-automod-keyword-filter-desktop-alert.png" width="520" height="566"></span></p>
<p class="wysiwyg-text-align-center"><span style="font-weight: 400;"> </span><span style="font-weight: 400;">The blocked message being flagged in a private channel.</span></p>
<h3><span style="font-weight: 400;">We are debuting AutoMod with Keyword Filters and are working on additional filters that will be added to AutoMod when ready. </span></h3>
<h1 id="h_01FWHH5WEE7FBV2XVV5RAQ5S7R"><span style="font-weight: 400;">What are Keyword Filters?</span></h1>
<p><span style="font-weight: 400;">AutoMod’s Keyword Filters let you set up the following rules to determine what AutoMod should look out for and how to respond when it flags a message containing certain words or phrases: </span></p>
<ol>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Commonly Flagged Words Rule - Use ready-made word lists to filter commonly flagged words</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Custom Keywords Rule - Build your own list of keywords and terms to filter in your community</span></li>
</ol>
<p><span style="font-weight: 400;">We understand it can be tough and time-consuming to think of all the words you’d want to filter out from scratch while also moderating a community. To get started with AutoMod, you can quickly set up a Commonly Flagged Words rule to enable ready-made word lists that protect your community from exposure to messages containing commonly flagged words at the push of a button:</span></p>
<p><span class="wysiwyg-font-size-large" style="font-weight: 400;"><strong>Categories of Commonly Flagged Words</strong></span></p>
<ul>
<li style="font-weight: 400;" aria-level="1">
<strong>Insults and Slurs </strong><span style="font-weight: 400;">- Protect members of your community from personally insulting material targeted at them, including terms that may be considered slurs or hate speech.</span>
</li>
<li style="font-weight: 400;" aria-level="1">
<strong>Sexual Content</strong><span style="font-weight: 400;"> - Keep sexually explicit language out of your server to keep your community family-friendly.</span>
</li>
<li style="font-weight: 400;" aria-level="1">
<strong>Severe Profanity</strong><span style="font-weight: 400;"> - Block the more egregious forms of profanity, while still allowing for mild forms of cursing or swearing.</span>
</li>
</ul>
<p class="wysiwyg-text-align-center"><span style="font-weight: 400;"><img src="https://support.discord.com/hc/article_attachments/6812927959703/automod-premade-keyword-filters-commonly-flagged-words.png" alt="automod-premade-keyword-filters-commonly-flagged-words.png" width="650" height="579"></span></p>
<p><span style="font-weight: 400;">If these lists don’t fully meet your community’s tolerance levels for appropriate language, don’t forget you can create your own Custom Keyword Rules tailored to your community’s needs.</span></p>
<h2 id="h_01G5PGH9ZQ4TANG1VPSM63RKDF"><span style="font-weight: 400;"><strong>How to Set Up Keyword Filters For AutoMod</strong></span></h2>
<p><span style="font-weight: 400;">In order to set up your own rules for Commonly Flagged Words or Custom Keywords, you can go to the Content Moderation tab in your Server Settings. </span></p>
<p><span style="font-weight: 400;">1. Go to Server Settings &gt; Content Moderation to see the different keyword filter options for AutoMod.</span></p>
<p class="wysiwyg-text-align-center"><span style="font-weight: 400;"><img src="https://support.discord.com/hc/article_attachments/6812968886039/automod-navigate-to-content-moderation-through-server-settings.gif" alt="automod-navigate-to-content-moderation-through-server-settings.gif" width="645" height="406"></span></p>
<p class="wysiwyg-text-align-left"><span style="font-weight: 400;">2. Under Commonly Flagged Words, click "Set Up" to select from any of the three ready-made word lists of commonly flagged words.</span></p>
<p class="wysiwyg-text-align-center"><span style="font-weight: 400;"><img src="https://support.discord.com/hc/article_attachments/6812972328855/automod-choosing-premade-keyword-filters.gif" alt="automod-choosing-premade-keyword-filters.gif" width="639" height="466"></span></p>
<p class="wysiwyg-text-align-left"><span style="font-weight: 400;">Create your own rules with words and phrases you want AutoMod to filter out by clicking "Set Up" under "Custom Keyword Rule" and entering keywords and phrases:</span></p>
<p class="wysiwyg-text-align-center"><span style="font-weight: 400;"><img src="https://support.discord.com/hc/article_attachments/6812988639639/automod-custom-keyword-filter-set-up.gif" alt="automod-custom-keyword-filter-set-up.gif" width="640" height="466"></span></p>
<p class="wysiwyg-text-align-left"><span style="font-weight: 400;">Choose to have AutoMod block flagged messages entirely, send you an alert, and time out users when it flags a message. </span></p>
<p class="wysiwyg-text-align-left"><span style="font-weight: 400;"><em>Timeout user response is only available under Custom Keyword Rules</em></span></p>
<h3 class="wysiwyg-text-align-left"><span style="font-weight: 400;">To be alerted of flagged messages caught by AutoMod, you must select a channel for AutoMod to send alerts to. Make sure to choose a channel only accessible by admins and/or moderators.</span></h3>
<p class="wysiwyg-text-align-center"><span style="font-weight: 400;"><img src="https://support.discord.com/hc/article_attachments/6813009431703/automod-filter-response-block-alert-setup.gif" alt="automod-filter-response-block-alert-setup.gif" width="648" height="472"><br></span></p>
<h4 class="wysiwyg-text-align-center"><span style="font-weight: 400;">Block Message or Send an Alert for flagged messages</span></h4>
<p class="wysiwyg-text-align-center"><span style="font-weight: 400;"><img src="https://support.discord.com/hc/article_attachments/6813026125591/automod-filter-response-timeout-user-options.gif" alt="automod-filter-response-timeout-user-options.gif" width="655" height="477"></span></p>
<p class="wysiwyg-text-align-center"><span style="font-weight: 400;">Timeout user for flagged messages</span></p>
<p class="wysiwyg-text-align-left"><span style="font-weight: 400;">4. Add roles or channels you’d like to exempt. </span></p>
<h3 class="wysiwyg-text-align-left"><span style="font-weight: 400;">If you set a channel to be exempt, any messages in Threads or Text Chat in Voice Channel in that channel will also be exempt. Users with Admin and Manage Server permissions are always exempt from filter rules.</span></h3>
<p class="wysiwyg-text-align-center"><span style="font-weight: 400;"><img src="https://support.discord.com/hc/article_attachments/6813028190359/automod-keyword-filter-add-exempt-roles-channels.png" alt="automod-keyword-filter-add-exempt-roles-channels.png" width="684" height="127"></span></p>
<h1 id="h_01FWHH61BFXFTYJ4R57JX1QYV8">Frequently Asked Questions</h1>
<p><span class="wysiwyg-font-size-large"><strong> Q: Who has access to AutoMod at this time?</strong></span></p>
<p><span style="font-weight: 400;">A: We are starting to roll out AutoMod to wider communities!</span></p>
<p><span style="font-weight: 400;">This means you must have Community enabled from your server’s settings to access AutoMod. Learn <a href="https://support.discord.com/hc/en-us/articles/360047132851-Enabling-Your-Community-Server" target="_blank" rel="noopener noreferrer">how to enable your community server here</a>.<br></span></p>
<p><span class="wysiwyg-font-size-large"><strong>Q: Which filters are currently available under AutoMod?</strong></span></p>
<p><span style="font-weight: 400;">A: Currently, Keyword Filters are available and ready to use. We are working on additional content filters which will be added to AutoMod when ready.</span></p>
<p><span class="wysiwyg-font-size-large"><strong>Q: What languages does AutoMod support?</strong></span></p>
<p><span style="font-weight: 400;">A: AutoMod can detect words and phrases in any language from your Custom Keyword Rules.</span></p>
<p><span style="font-weight: 400;">However, the word lists of Commonly Flagged Words are currently only available in English.</span></p>
<p><span class="wysiwyg-font-size-large"><strong>Q: What kinds of things can AutoMod detect from my custom rules?</strong></span></p>
<p><span style="font-weight: 400;">A: AutoMod can detect and filter words and characters in English and other languages, links, emojis, punctuation, and symbols that you enter in your Custom Keyword Rules.</span></p>
<p><span class="wysiwyg-font-size-large"><strong>Q: Who can make updates to AutoMod in my server?</strong></span></p>
<p><span style="font-weight: 400;">A: Those with "Manage Server" or "Administrator" permissions will be able to access, create, and edit your AutoMod rules when on a Desktop device. Updates to your AutoMod rules cannot be made on mobile devices at this time.</span></p>
<p><span class="wysiwyg-font-size-large"><strong>Q: I have an auto-moderation bot on my server. Does AutoMod integrate with my current bot?</strong></span></p>
<p><span style="font-weight: 400;">A: If you’re using an auto-moderation bot and want AutoMod’s superpower in blocking messages before they’re sent, consult your favorite developer about integrating AutoMod. If you're a developer looking to learn more, visit our API on the </span><a href="https://discord.com/developers/docs/resources/auto-moderation" target="_blank" rel="noopener noreferrer"><span style="font-weight: 400;">Developer Portal</span></a><span style="font-weight: 400;">.</span></p>
<p><span class="wysiwyg-font-size-large"><strong>Q: How does keyword matching work?</strong></span><strong><br></strong></p>
<p><span style="font-weight: 400;">A: AutoMod will block messages that contain keywords found anywhere in the message, including between words. This can be useful for reducing toxicity, or protecting against spam bots and targeted harassment.</span></p>
<p><span style="font-weight: 400;">When you add a term consisting of multiple words to a rule, only messages that contain the exact term will be blocked. For example, adding "this is bananas" as a term will only block messages containing "this is bananas," not those that contain only "this" or "is bananas." <br></span></p>
<p><span style="font-weight: 400;">The number of terms you can enter in each Custom Keyword Rule is capped at 1,000 with a 30 character limit for each term.</span></p>
<p><span class="wysiwyg-font-size-large"><strong>Q: How do wildcards work?</strong></span></p>
<p><span style="font-weight: 400;">A: By default, AutoMod scans for messages containing keywords that are an exact match to those in your rules. But chances are you’ll run into people in your community trying to circumvent your rules and get harmful messages in circulation. So how can you block all kinds of words that partially match your keywords too? </span></p>
<p><span style="font-weight: 400;">That’s where wildcards come into play. When setting up your Custom Keyword Rules, you can append the * wildcard character to your keywords which allows you to filter out word variations that partially match your keywords.</span></p>
<p><span style="font-weight: 400;">Simply add the * character at the beginning or the end of a keyword to select one of the following matching strategies on a per keyword basis:</span></p>
<ol>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;"><strong>Prefix</strong> -- at least one word in the message must start with a keyword</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;"><strong>Suffix</strong> -- at least one word in the message must end with a keyword</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;"><strong>Anywhere</strong> -- keyword can show up in any part of the message in the middle of any word</span></li>
</ol>
<p><span class="wysiwyg-font-size-large"><strong>Examples: </strong></span><span style="font-weight: 400;"><br></span><span style="font-weight: 400;">cat* ⇒ get a </span><strong>cat</strong><span style="font-weight: 400;">-sitter </span><span style="font-weight: 400;"><br></span><span style="font-weight: 400;">*cat ⇒ cool bob</span><strong>cat</strong> <span style="font-weight: 400;"><br></span><span style="font-weight: 400;">*ana* ⇒ b<strong>ana</strong>nas</span></p>
<p><span class="wysiwyg-font-size-large"><strong>Q: Will AutoMod work on Threads and Text Chat in Voice channels?</strong></span></p>
<p><span style="font-weight: 400;">A: Yes! When containing a keyword or term from your rules:</span><span style="font-weight: 400;"><br></span><span style="font-weight: 400;">1. Threads are not created</span></p>
<p><span style="font-weight: 400;">2. Messages within a Thread or Text Chat in Voice channel can be blocked and sent as an alert</span></p>
<p><span class="wysiwyg-font-size-large"><strong>Q: Will AutoMod flag messages from bots?</strong></span></p>
<p><span style="font-weight: 400;">A: No - all bot alerts and messages will be exempt from AutoMod.</span></p>
<p><span class="wysiwyg-font-size-large"><strong>Q: I have the Commonly Flagged Words rule enabled - why am I still seeing undesirable words?</strong></span></p>
<p><span style="font-weight: 400;">A: Our Commonly Flagged Words filters are designed to provide every community with a quick and effective way to set up defenses against commonly flagged keywords so you don’t have to think about them yourself and build from scratch.</span></p>
<p><span style="font-weight: 400;">However, we understand every community has their own rules and tolerance for certain words. Some communities prefer to maintain a more family-friendly environment, while others accept and encourage rowdier language. And oftentimes it’s not the word itself that causes harm, but the intent with which it’s being used.</span></p>
<p><span style="font-weight: 400;">Because of these considerations, our Commonly Flagged Words filters may not catch everything. For words that we don’t catch, you can add them to any of your Custom Keyword Rules.</span></p>
<p><span class="wysiwyg-font-size-large"><strong>Q: How can I see all the words that the Commonly Flagged Words filters contain?</strong></span></p>
<p><span style="font-weight: 400;">A: We understand you want to see the words in these word lists to decide whether they’ll be effective at providing coverage against language you want to filter out, without stifling conversations in your communities. </span></p>
<p><span style="font-weight: 400;">However, for the time being we will not publicize words in these word lists in order to maintain their protective efficacy. This is to ensure those with malicious intent can’t easily develop means to circumvent them in communities that use them.</span></p>
<p><span style="font-weight: 400;">We value providing transparency into the thinking that went into making these word lists, and will address those topics in a future post on our blog.</span></p>
<p><span class="wysiwyg-font-size-large"><strong>Q: Will the Commonly Flagged Words filters be updated over time?</strong></span></p>
<p><span style="font-weight: 400;">A: Yes - we recognize that language is fluid and always evolving, and the words of today may not carry the same meaning tomorrow. We’ll continue to explore ways to offer communities further customization with our filters, and will regularly refine them using your reports and feedback.</span></p>
<p><span style="font-weight: 400;">To share your feedback with us, press "Report Issues" on any of your AutoMod alerts containing the word you’d like to flag to us.</span></p>
<p><img src="https://support.discord.com/hc/article_attachments/6813110807959/automod-report-issues-base_copy.png" alt="automod-report-issues-base_copy.png" width="331" height="235"> <img src="https://support.discord.com/hc/article_attachments/6813112195863/issue_desktop.png" alt="issue_desktop.png" width="331" height="235"></p>