<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/6607861160343/bobble_league.png" alt="bobble_league.png"></p>
<p><span class="wysiwyg-font-size-large"><strong>What does this article cover?</strong></span></p>
<ul>
<li>
<a href="#h_01G501KXXEWF8YEKJH8DSWEQB1" target="_self">What is Bobble League?</a>
<ul>
<li><a href="#h_01G501M3FG97RYWT8PK1QYQ7PM" target="_self">How to start a Bobble League game?</a></li>
</ul>
</li>
<li><a href="#h_01G501MGT173TW9N3K0CAJ3DWQ" target="_self">How do I join Discord Games Lab?</a></li>
<li><a href="#h_01G501N23YWCB4B83EXK9G093R" target="_self">Discord Games Lab Server FAQ</a></li>
</ul>
<h1 id="h_01G501KXXEWF8YEKJH8DSWEQB1">WHAT IS BOBBLE LEAGUE?</h1>
<p>Bobble League is an Activity developed by Discord. Work with your friends to control your Bobbles on a tabletop setting in an attempt to score on the other team’s goal. With an emphasis on strategy and teamwork, you will experience a range of emotions in Bobble League as you watch your decisions play out in real-time against the opposing team. Use various Power Plays to improve your odds of scoring.</p>
<h1 id="h_01G501M3FG97RYWT8PK1QYQ7PM">HOW TO START A BOBBLE LEAGUE GAME</h1>
<h3>Note: Before starting any Discord activity, please make sure to turn on Hardware Acceleration in User Settings &gt; Advanced.</h3>
<p>To start a Bobble League game, follow these steps below!</p>
<ul>
<li>Join a voice channel
<ul>
<li>Once joined, you should see the Activity Launcher (it looks like a rocket ship) in the voice channel controls.</li>
</ul>
</li>
<li>Click the Activity Launcher to open the Activity Shelf</li>
<li>Then select "Bobble League"</li>
</ul>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/6607822516887/activities_list.png" alt="activities_list.png"></p>
<p class="wysiwyg-text-align-left">Once you've authorized Bobble League to access your account, you can begin playing with anyone on the server.</p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/6607864376343/permissions.png" alt="permissions.png"></p>
<h3>Note: Bobble League is a game for 2-8 players. However, more members can join the activity as spectators and take part in subsequent games.</h3>
<h2 id="h_01G501MGT173TW9N3K0CAJ3DWQ">WANT TO JOIN IN ON THE SHENANIGANS?</h2>
<p>Since we’re still testing, Bobble League is only available in a small (random) selection of servers. However, you can play Bobble League and other early Activities in the public <strong>Discord Games Lab server</strong>!</p>
<p>Since the game is still an experimental experience, we’re looking to hear feedback directly from our users so you’ll see Discord devs in there pretty frequently!</p>
<h3><strong>Here's a link to the public server: <a href="https://discord.com/invite/discordgameslab" target="_blank" rel="noopener">https://discord.com/invite/discordgameslab</a></strong></h3>
<h1 id="h_01G501N23YWCB4B83EXK9G093R"><strong>DISCORD GAMES LAB SERVER FAQ</strong></h1>
<p><strong>Q: Why is Discord adding games into voice channels?</strong></p>
<p>A: We started Discord because we are all about bringing people together around gaming. As Discord has grown, we've seen more and more people use Discord to come together around games. For instance, we’ve seen people use Discord to not only play <em>League</em> but also to hang out and play more casual, social games with friends like <em>Jackbox</em> and <em>Among Us</em>.</p>
<p><strong>Q: Is there an age requirement?</strong></p>
<p>A: There is no age requirement for Bobble League.</p>
<p><strong>Q: How do I play?</strong></p>
<p>A: To start a game, first join one of the voice channels. Once there, you should see the Activity Launcher (it looks like a rocket ship) in the voice channel controls. Click the Activity Launcher to open the Activity Shelf, and then select "Bobble League".'</p>
<p><strong>Q: Where can I give feedback on Bobble League?</strong></p>
<p>A: Go to the <strong>#bobble-feedback</strong> channel in the Discord Games Lab server and fill our the linked survey.</p>
<p><strong>Q: How do I view/delete my Activities on Discord data?</strong></p>
<p>A: To enhance the gameplay experience, Discord Activities access and temporarily store the following user data once a user joins the Activity:</p>
<ul>
<li>Discord ID</li>
<li>Avatar</li>
<li>Username</li>
</ul>
<p>For Activities played in a single session, user data is stored so long as the Activity remains active, even if the user leaves the Activity. Once all users leave the Activity and it is determined the Activity has ended, the user data is deleted and no longer retained.</p>
<p>For Activities that can be played across multiple sessions (like with Chess in the Park or Checkers in the Park), the user data above is retained. You can view or delete your data from these Activities on <strong><a href="https://discordactivities.com/" target="_blank" rel="noopener">this website</a></strong>.</p>
<h3><em>Note: Deleting your data will remove all of your progression across these Discord-developed activities.</em></h3>
<p><strong>Q: My question isn't listed, what do I do?</strong></p>
<p>A: If you have game feedback, bugs, or issues, please post in the #feedback-and-bugs channel in the Discord Games Lab server.</p>
<p>If all is lost, please submit a ticket to our support team at <strong><a href="https://dis.gd/contact" target="_blank" rel="noopener">https://dis.gd/contact</a></strong></p>