<h1>Activities on Discord</h1>
<p>Like playing games with your friends, and want to make it easier to organize them? We got your back!</p>
<p>We’re starting a new experiment where some servers will get access to Activities on Discord. These Activities will appear inside a voice channel, and anyone on Desktop in the voice channel can join and play together instantly inside Discord!</p>
<p class="wysiwyg-text-align-center"><iframe src="//www.youtube-nocookie.com/embed/POMIDMK6WfM" width="560" height="315" frameborder="0" allowfullscreen=""></iframe></p>
<p>For the time being, Activities are a limited experiment, which means that not all servers will have them. You may see Activities in some of your servers but not others. It also means <a href="https://support.discord.com/hc/articles/4418993678999-Activities-on-Discord-are-Moving" target="_blank" rel="noopener noreferrer">Activities will be changing a lot over the next few months</a>, so bear with us as we figure things out!</p>
<p>As we experiment, we’d love to hear your feedback. If you have Activities in your server, just play and respond to our surveys when you have some time. If you don’t have Activities in your server, you can join the <a href="https://discord.gg/discordgameslab" target="_blank" rel="noopener noreferrer">Discord Games Lab</a> to play and give feedback.</p>
<h1>Are the Activities free?</h1>
<p>In <span class="discussion-id-4b83ce9a-7c99-46fe-a156-14f48de10af2 discussion-level-1 discussion-id-4b83ce9a-7c99-46fe-a156-14f48de10af2 notion-enable-hover" data-token-index="1" data-reactroot="">our current format</span>, there will <span class="discussion-id-d8a1b9b2-1853-4fe5-af6e-778a3300324c discussion-level-1 discussion-id-d8a1b9b2-1853-4fe5-af6e-778a3300324c notion-enable-hover" data-token-index="3" data-reactroot="">always </span>be at least one Activity that you can play for free - no Boosts and no other purchases required. Some Activities will require server Boosts to unlock, and some Activities will have in-app-purchases available as well. You’ll see which Activities are free and which require Boosts by looking at the <span class="discussion-id-d0e078f8-244c-4613-9020-4cbb2f7442b5 discussion-level-1 discussion-id-d0e078f8-244c-4613-9020-4cbb2f7442b5 notion-enable-hover" data-token-index="5" data-reactroot="">Activity Shelf.</span></p>
<h1>What Activities are available?</h1>
<p>The following Activities are available today!</p>
<ol>
<li><a href="https://support.discord.com/hc/en-us/articles/1500009655542" target="_blank" rel="noopener noreferrer"><strong>Poker Night</strong></a></li>
<li>
<a href="https://support.discord.com/hc/en-us/articles/4404366703255-Discord-Chess-in-the-Park-FAQ" target="_blank" rel="noopener noreferrer"><strong>Chess in the Park</strong></a> </li>
<li>
<a href="https://support.discord.com/hc/en-us/articles/4409235005207-Doodle-Crew-FAQ" target="_blank" rel="noopener noreferrer"><strong>Sketch Heads</strong></a> </li>
<li><a href="https://support.discord.com/hc/en-us/articles/4409244345239-Letter-Tile-FAQ" target="_blank" rel="noopener noreferrer"><strong>Letter League</strong></a></li>
<li><a href="https://support.discord.com/hc/en-us/articles/4413835060119-Checkers-In-The-Park-FAQ" target="_blank" rel="noopener noreferrer"><strong>Checkers in the Park</strong></a></li>
<li><strong>Spellcast</strong></li>
<li><strong><a href="https://support.discord.com/hc/en-us/articles/4420143548951-Ocho-FAQ" target="_blank" rel="noopener noreferrer">Blazing 8s</a></strong></li>
<li><a href="https://support.discord.com/hc/en-us/articles/4977911076119" target="_blank" rel="noopener noreferrer"><strong>Land-io</strong></a></li>
<li><strong><a href="https://support.discord.com/hc/en-us/articles/4409342945687" target="_blank" rel="noopener noreferrer">Watch Together</a></strong></li>
<li><a href="https://support.discord.com/hc/en-us/articles/5101932219671" target="_blank" rel="noopener"><strong>Putt Party</strong></a></li>
</ol>
<h2>How do I start an Activity?</h2>
<p>If you have the “Start Activity” permission, and you’re in a server that has access...</p>
<p><strong>Step 1:</strong> Join a Voice Channel.</p>
<p><strong>Step 2:</strong> Click the Activity Launcher; it looks like a rocket ship.</p>
<p><strong>Step 3:</strong> Select the Activity you want to play from the Shelf. You will need to provide authorization if you’ve never played before.</p>
<p><strong>Step 4 (optional):</strong> Get your friends to join the Activity. To play, they need to be in the same Voice Channel and the same Activity.</p>
<p><strong>Step 5:</strong> Have fun!</p>
<h2>Can I invite others to join my Activity?</h2>
<p>Of course! You can invite people to join your Activity directly from the Activity window. Move your mouse to unhide the Voice Channel controls, and click the “Invite to Activity” button in the corner.</p>
<p>If you have “Display current activity as a status message” toggled on in your user settings, then friends who can join your current Voice Channel can also join your Activity by viewing your status or your profile.</p>
<h2>How do I end or change an Activity?</h2>
<p>Once an Activity is started, it won’t end until everyone leaves it. To leave an activity, click the Activity exit icon in the Voice Channel controls or in the Activity Shelf. Leaving the Voice Channel will also do the trick!</p>
<p>If you want to switch to another Activity, you can just select another Activity from the Shelf. Joining a new Activity will automatically remove you from the old Activity, so you can do this while you’re still in an Activity.</p>
<h2><span class="discussion-level-1 discussion-id-f7f44f44-da2b-41cc-97f9-8577952305a4 notion-enable-hover" data-token-index="0" data-reactroot="">Can I restrict access to Activities in my server? </span></h2>
<p><span class="discussion-level-1 discussion-id-f7f44f44-da2b-41cc-97f9-8577952305a4 notion-enable-hover" data-token-index="0" data-reactroot="">Admins can revoke the ability to use Activities in their server through the “Use Activities” permission. This can be done by role, channel, or channel category. </span>This permission is granted to everyone by default. When it is revoked, users in the selected role, channel, or category will lose the ability to start new Activities or join existing ones<span class="discussion-level-1 discussion-id-f7f44f44-da2b-41cc-97f9-8577952305a4 notion-enable-hover" data-token-index="2" data-reactroot="">. </span></p>
<ul>
<li><span class="discussion-level-1 discussion-id-f7f44f44-da2b-41cc-97f9-8577952305a4 notion-enable-hover" data-token-index="2" data-reactroot="">User role permissions can be found under Server Settings &gt; Roles &gt; Permissions &gt; Voice Channel Permissions &gt; Use Activities. </span></li>
<li><span class="discussion-level-1 discussion-id-f7f44f44-da2b-41cc-97f9-8577952305a4 notion-enable-hover" data-token-index="2" data-reactroot="">Channel and channel category permissions can be found by right-clicking the channel or the category. Then go to Edit &gt; Permissions &gt; Voice Channel Permissions &gt; Use Activities. </span></li>
</ul>
<h1>Other (Less) Frequently Asked Questions</h1>
<p><span class="wysiwyg-font-size-large"><strong>Q: When will I be able to play on mobile?</strong> </span></p>
<p>A: We're currently focusing on the desktop experience. We’re not sure when the Activities will be available on mobile.</p>
<p><span class="wysiwyg-font-size-large"><strong>Q: When will I have access to Activities in my server?</strong></span></p>
<p>A: We do not currently have plans to give additional access to servers at this time. If you'd like to try some of our activities that are currently in development, you can join our Discord Game Labs server <a href="https://discord.gg/discordgameslab">here</a>!</p>
<p><span class="wysiwyg-font-size-large"><strong>Q: When will Activities be available to everyone?</strong></span></p>
<p>A: Activities are an experiment, and while we really hope you like them, we are waiting for more user feedback to determine whether they will become more broadly available.</p>
<p><span class="wysiwyg-font-size-large"><strong>Q: Can I play in my preferred language?</strong></span></p>
<p>A: While we’re experimenting, Activities are available only in English. Thank you for your patience!</p>
<p><span class="wysiwyg-font-size-large"><strong>Q: When will developers be able to integrate with Activities? (or When will the ActivitiesSDK be released?)</strong></span></p>
<p>A: We have no updates to share with developers regarding developer access to activities right now, but we love your enthusiasm!</p>
<p><span class="wysiwyg-font-size-large"><strong>Q: When will the developer community be invited to test Activities and give feedback?</strong></span></p>
<p>A: If you want to get an early look at games and other activities in development, feel free to head over to the <a href="https://discord.gg/discordgameslab">Discord Games Lab</a> to test and give feedback!</p>