<h1>What are select menus for bots?</h1>
<p>Bots ask a lot of questions. What role do you want? What's your favorite ice cream? Which Minecraft biome is best and why is it tundra?</p>
<p>Now it's even easier to ask and answer those questions with select menus! Select menus are available for all bots starting today!</p>
<p class="wysiwyg-indent1 wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/4403374488087/mceclip0.png" alt="mceclip0.png" width="583" height="483"></p>
<h1>What are they?</h1>
<p>Select menus let bots give you choices to pick from. On desktop, this looks like a dropdown menu. On iOS and Android, you'll see a pop-up sheet to pick your choice.</p>
<p>Depending on how the bot works, you can pick either one choice from the list or multiple (for when you just can't decide on one flavor of ice cream).</p>
<h1>Where can I learn more?</h1>
<p>If you want to get the full details, head on over to the <a href="https://discord.com/developers/docs/interactions/message-components" target="_blank" rel="noopener">API documentation</a> in our dev portal.</p>
<h1>I have feedback - where can I chat about select menus?</h1>
<p>Join our <a class="ql-link" href="https://discord.gg/discord-developers" target="_blank" rel="nofollow noopener noreferrer ugc" data-slab-linktype="text">official Discord Developer server</a>! It's the best way to stay in the loop - all major developer announcements go there first. We also occasionally have opportunities to help us test out upcoming features via early access and betas.</p>
<h1>Are there opportunities for me as a developer to showcase how I used this new feature with my own app?</h1>
<p>We love seeing developers use new features and are actively looking for great use cases for select menus in bots! Definitely share what you're working on in the #select-menus channel in our <a class="ql-link" href="https://discord.gg/discord-developers" target="_blank" rel="nofollow noopener noreferrer ugc" data-slab-linktype="text">Discord Developer server</a>.</p>
<h1>I run or moderate a server - do I need to allow or change any permissions to enable apps with select menus to work properly in my server?</h1>
<p>No new permissions are needed to enable select menus in your servers.</p>
<h1>As a developer, do you have any tips for how I can make my app transition to select menus in a way that doesn't confuse or impact my users?</h1>
<p>As with all new features, users would probably benefit from a quick heads up if the way they're used to interacting with your bot is about to change; we recommend creating a private or controlled testing channel or server for a small group of users, making sure things work properly, and then posting to users in your support server that select menus have arrived. Every bot is different, so do what works best for you!</p>