<h1>What are Buttons for bots?</h1>
<p>Since the beginning of bots on Discord, developers have been using reactions for button-like functionality: click or tap the emoji to tell the bot to do something ("react to confirm"). This is how most of you have adjusted to the workaround for submitting a choice or an action to a bot.</p>
<p>We know this isn't the most efficient way to do it, especially because reactions have to be added to a message one at a time by a bot, which means rate limits are an issue. To solve this challenge, we are officially releasing (real) Buttons to our Discord Developers for integration into their apps, starting today!</p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/1500019725621/buttons.png" alt="buttons.png"></p>
<h1>What can I do and where can I learn more?</h1>
<p>If you want to get the full details, like how many colors they come in (four!) and whether you can add emojis into the Buttons (you can!) head on over to the <a href="https://discord.com/developers/docs/interactions/message-components" target="_blank" rel="noopener">API documentation</a> in our dev portal.</p>
<h1>I have feedback - where can I chat about Buttons?</h1>
<p>With all the excitement around <a class="ql-link" href="https://blog.discord.com/slash-commands-are-here-8db0a385d9e6" target="_blank" rel="nofollow noopener noreferrer ugc" data-slab-linktype="text">Slash Commands</a> and now Buttons (and two more interaction features coming soon… ssh), we've updated our official Discord Developer server with a new 'Interactions' channel category - and under there you'll find a new channel just for Buttons chatting!</p>
<p>Joining our <a class="ql-link" href="https://discord.gg/discord-developers" target="_blank" rel="nofollow noopener noreferrer ugc" data-slab-linktype="text">official Discord Developer server</a> is the best way to stay in the loop - all major developer announcements go there first. We also occasionally have opportunities to help us test out upcoming features via early access and betas.</p>
<h1>Are there opportunities for me as a developer to showcase how I used this new feature with my own app?</h1>
<p>We are delighted to see developers experimenting with buttons and are actively looking for great use cases for buttons in bots! Definitely share what you're working on in the Buttons channel in our <a class="ql-link" href="https://discord.gg/discord-developers" target="_blank" rel="nofollow noopener noreferrer ugc" data-slab-linktype="text">Discord Developer server</a>.</p>
<h1>I run or moderate a server - do I need to allow or change any permissions to enable apps with buttons to work properly in my server</h1>
<p>No new permissions are needed to enable Buttons in your servers.</p>
<h1>As a developer, do you have any tips for how I can make my app transition to buttons in a way that doesn't confuse or impact my users?</h1>
<p>In general, Buttons are a better experience than reaction emojis so we encourage developers to use them for commands that make sense for your bot.</p>
<p>As with all new features, users would probably benefit from a quick heads up if the way they're used to interacting with your bot is about to change; we recommend creating a private or controlled testing channel or server for a small group of users, making sure things work properly, and then posting to users in your support server that Buttons have arrived. Every bot is different, so do what works best for you.</p>