<p><strong><img src="https://support.discord.com/hc/article_attachments/4413878201879/checkers_splash.png" alt="checkers_splash.png"></strong></p>
<p><strong>What does this article cover?</strong></p>
<ul>
<li>
<strong><a href="#h_01FN3D1CH70EPYCQCT1YE5KWKX" target="_self" rel="undefined">What is Checkers in the Park?</a></strong>
<ul>
<li><strong><a href="#h_01FN3D1KRXG767H21FTW2A0B5M" target="_self" rel="undefined">How to start a Checkers in the Park game?</a></strong></li>
</ul>
</li>
<li><strong><a href="#h_01FN3D1RHKJ1QKWFDE68831MXH" target="_self" rel="undefined">How do I join Discord Games Lab?</a></strong></li>
<li><strong><a href="#h_01FN3D1X2Y0X66BRVKKZQBHYM6" target="_self" rel="undefined">Discord Games Lab Server FAQ</a></strong></li>
</ul>
<h1 id="h_01FN3D1CH70EPYCQCT1YE5KWKX"><strong>WHAT IS CHECKERS IN THE PARK?</strong></h1>
<p><span style="font-weight: 400;">Checkers in the Park is an <a href="https://support.discord.com/hc/articles/4422142836759" target="_blank" rel="noopener">Activity</a> that we've developed here at Discord for playing checkers with your friends! </span></p>
<h1 id="h_01FB7GSKBBHYRXYHD50401W5Q5">How to start a Checkers In The Park game?</h1>
<p><span style="font-weight: 400;">To start a Checkers In The Park game, follow these steps below!  </span></p>
<ul>
<li style="font-weight: 400;" aria-level="2">
<span style="font-weight: 400;">Join a voice channel</span>
<ul>
<li style="font-weight: 400;" aria-level="3"><span style="font-weight: 400;">Once joined, you should see the Activity Launcher (it looks like a rocket ship) in the voice channel controls.</span></li>
</ul>
</li>
<li style="font-weight: 400;" aria-level="2"><span style="font-weight: 400;">Click the Activity Launcher to open the Activity Shelf"</span></li>
<li style="font-weight: 400;" aria-level="2"><span style="font-weight: 400;">Then select "Checkers In The Park"</span></li>
</ul>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/4550883643671/Untitled.png" alt="Untitled.png" width="381" height="598"></p>
<p class="wysiwyg-text-align-left">2. Once you've authorized Checkers in the Park to access your account, you can begin playing with anyone on the server.</p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/4413820412311/Start.png" alt="Start.png" width="350" height="605"></p>
<h3 class="wysiwyg-text-align-left">
<span class="notion-enable-hover" data-token-index="0" data-reactroot="">Note: Limit of 2 players per Checkers game (but with an unlimited number of spectators). Limit of 2 “open” games can be created per person (</span><span class="notion-enable-hover" data-token-index="1" data-reactroot="">open</span><span class="notion-enable-hover" data-token-index="2" data-reactroot=""> meaning games that are waiting for another player to join).</span>
</h3>
<h1 id="h_01F51PQG6DYKESS3SZ7DA3WJ22">Want to join in on the shenanigans?</h1>
<p><span style="font-weight: 400;">Since we’re still testing, Checkers In The Park is only available in a limited selection of servers. However, you can play Checkers In The Park and other early Activities in the public <strong>Discord Games Lab server</strong>!</span></p>
<p><span style="font-weight: 400;">Since the game is still an experimental experience, we’re looking to hear feedback directly from our users so you’ll see Discord devs in there pretty frequently!</span></p>
<h3>Here's a link to the public server: <a href="https://discord.com/invite/discordgameslab">https://discord.com/invite/discordgameslab</a> </h3>
<h2 id="h_01FN3D1X2Y0X66BRVKKZQBHYM6"><strong>DISCORD GAMES LAB SERVER FAQ</strong></h2>
<p><span class="wysiwyg-font-size-large"><strong>Q: Why is Discord adding games into voice channels?</strong></span></p>
<p>A: We started Discord because we are all about bringing people together around gaming. As Discord has grown, we've seen more and more people use Discord to come together around games. For instance, we’ve seen people use Discord to not only play <em>League</em> but also to hang out and play more casual, social games with friends like <em>Jackbox</em> and <em>Among Us</em>.</p>
<p>For more information about Activities on Discord, go <a href="https://support.discord.com/hc/articles/4422142836759" target="_blank" rel="noopener">here</a>!</p>
<p><span class="wysiwyg-font-size-large"><strong>Q: Is there an age requirement?</strong></span></p>
<p>A: There is no age requirement for Checkers in the Park.</p>
<p><span class="wysiwyg-font-size-large"><strong>Q: How do I play?</strong></span></p>
<p><span style="font-weight: 400;">A: To start a game, first join one of the voice channels. Once there, you should see the Activity Launcher (it looks like a rocket ship) in the voice channel controls. Click the Activity Launcher to open the Activity Shelf, " and then select "Checkers In The Park".'</span></p>
<p><span class="wysiwyg-font-size-large"><strong>Q: Where can I report bugs and problems with the game?</strong></span></p>
<p>A: Check out our <span class="wrapper-3WhCwL mention interactive">#<span style="font-weight: 400;">feedback-and-bugs</span></span> channel in the <strong>Discord Games Lab server</strong> and make sure to follow the format to report any issues.</p>
<p><span class="wysiwyg-font-size-large"><strong>Q: Can I give feedback on Checkers in the Park?</strong></span></p>
<p>A: Absolutely, we would love to hear what you have to say about the game, etc. You can post in the <span class="wrapper-3WhCwL mention interactive">#<span style="font-weight: 400;">feedback-and-bugs </span>channel in the <strong>Discord Games Lab server.</strong></span></p>
<p><strong><span class="wysiwyg-font-size-large">Q: How do I view/delete my Activities on Discord data?</span></strong></p>
<p><span style="font-weight: 400;">A: To enhance the gameplay experience, Discord Activities access and temporarily store the following user data once a user joins the Activity:</span></p>
<ul>
<li style="font-weight: 400;" aria-level="3"><span style="font-weight: 400;">Discord ID</span></li>
<li style="font-weight: 400;" aria-level="3"><span style="font-weight: 400;">Avatar</span></li>
<li style="font-weight: 400;" aria-level="3"><span style="font-weight: 400;">Username</span></li>
</ul>
<p><span style="font-weight: 400;">For Activities played in a single session, user data is stored so long as the Activity remains active, even if the user leaves the Activity. Once all users leave the Activity and it is determined the Activity has ended, the user data is deleted and no longer retained.</span></p>
<p><span style="font-weight: 400;">For Activities that can be played across multiple sessions (like with Chess in the Park or Checkers in the Park), the user data above is retained. You can view or delete your data from these Activities on </span><a href="https://discordactivities.com/" target="_blank" rel="noopener">this website</a><span style="font-weight: 400;">.</span></p>
<h3><em><span style="font-weight: 400;">Note: Deleting your data will remove all of your progression across these Discord-developed activities.</span></em></h3>
<p><span class="wysiwyg-font-size-large"><strong>Q: My question isn't listed, what do I do?</strong></span></p>
<p>A: If you have feedback or issues, use <span class="wrapper-3WhCwL mention interactive">#<span style="font-weight: 400;">feedback-and-bugs in the Discord Games Lab server</span></span>.</p>
<p>If all is lost, please submit a ticket to our support team at <strong><a href="https://dis.gd/contact">https://dis.gd/contact</a></strong></p>
<p class="wysiwyg-text-align-left"> </p>
<p class="wysiwyg-text-align-left"> </p>