<h3>Slash Command Permissions are here! Check out our blog post: <a href="https://discord.com/blog/slash-commands-permissions-discord-apps-bots" target="_blank" rel="noopener">https://discord.com/blog/slash-commands-permissions-discord-apps-bots</a>
</h3>
<h1>Frequently asked questions:</h1>
<p><span class="wysiwyg-font-size-large"><strong>How do I know if I have access to the new Command Permissions system yet?</strong></span></p>
<p>We are currently testing the new system with a limited group, on desktop only. If you go to <strong>Server Settings → Integrations → click ‘Manage’</strong> next to an app in your server, and you are in the experiment, you will see a new Command Permissions page with a variety of customizations.</p>
<p><span class="wysiwyg-font-size-large"><strong>How do I restrict who can use commands?</strong></span></p>
<p>Under “Roles and Members” you’ll see a list of who currently has permissions to use commands. You can make changes by changing the toggle, just like other permissions.</p>
<p><span class="wysiwyg-font-size-large"><strong>How do I turn commands off within specific channels?</strong></span></p>
<p>We know that servers have different needs, and you may want to restrict commands to certain channels. By default, #All Channels is toggled on. This means <strong>when you add a new app to your server, all members will be able to use any commands</strong>.</p>
<p>First, click ‘Add Channels’ and select channels to customize. Toggle permissions off as desired. (Note, toggling #All Channels off will override any channel-specific permissions and restrict that app from being used by anyone in any channel, unless they are an admin.)</p>
<p><span class="wysiwyg-font-size-large"><strong>How can I see what an app’s commands are?</strong></span></p>
<p>Knowing what commands are available - before making them visible and accessible to the broader members of a server - is a good way for moderators and admins to feel confident about keeping their server clean, safe, and botspam-free.</p>
<p>You can see a list of commands right on the Command Permissions page. Use the Search bar to see if the app has a command you’re looking for - and use the filters for more refined results.</p>
<p><span class="wysiwyg-font-size-large"><strong>What does ‘Synced’ mean?</strong></span></p>
<p>With this new system, <strong>app developers can set defaults on commands</strong> - this means some recommended customizations might be already set up for you!</p>
<p>For example, a moderation bot would likely need to restrict a <strong>/ban</strong> command to admins only, while fun commands would be appropriate for anyone to use.</p>
<p>Syncing a command means that it will follow the main permissions of the ‘parent’ application. (Using Airhorn bot as as an example - if <strong>/gavel</strong> is synced and <strong>/woo</strong> is unsynced, and you change the top-level Airhorn to not be allowed in all channels, that means that <strong>/gavel</strong> will remain synced and change accordingly, while <strong>/woo</strong> will not.)</p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/4672638578455/1.png" alt="1.png"></p>
<p><span class="wysiwyg-font-size-large"><strong>Can I ‘unsync’ a command?</strong></span></p>
<p>Yes. Unsyncing happens when you make changes on an individual command. After doing so, you will see that the <strong>Synced</strong> indicator has changed to <strong>Not Synced</strong>.</p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/4672702921751/2.png" alt="2.png"></p>
<p><span class="wysiwyg-font-size-large"><strong>Can I ‘sync’ a command back, after I’ve unsynced it?</strong></span></p>
<p>Yes, you can sync back any individual command at any time. Click on ‘<strong>Not Synced</strong>’ next to the unsynced command, and select ‘<strong>Sync Now</strong>.’</p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/4672669140631/3.png" alt="3.png"></p>
<p><span class="wysiwyg-font-size-large"><strong>If someone in my server doesn’t have permission to use a command, will they still see it in the command picker when they type “/”?</strong></span></p>
<p>Yes, commands will show - but they will be greyed out.</p>
<p><span class="wysiwyg-font-size-large"><strong>Is permission to use the same thing as being able to see the command?</strong></span></p>
<p>Currently, commands are not hidden. They are visible, but greyed out and unusable if you do not have permissions.</p>
<p><span class="wysiwyg-font-size-large"><strong>How do I view the permissions for the app/bot itself, aside from just its commands?</strong></span></p>
<p>App/bot permissions are still viewable on this same page, at the bottom. You’ll see what roles have been assigned to the bot, along with a list of granted permissions and a list of denied permissions.</p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/4673343263767/4.png" alt="4.png"></p>
<p><span class="wysiwyg-font-size-large"><strong>Is this available on mobile?</strong></span></p>
<p>Currently, those included in the experiment will only see the new Command Permissions page if they are on desktop.</p>
<p><span class="wysiwyg-font-size-large"><strong>I’m a developer. How do I set defaults on my commands?</strong></span></p>
<p>Stay tuned for more information about developer controls when the experiment launches!</p>
<p><span class="wysiwyg-font-size-large"><strong>I’m a developer. Can I see who or how many people are synced v. unsynced from my commands?</strong></span></p>
<p>No - currently there is no way to view this data.</p>