<h3>
<strong>Note:</strong> This is currently an experiment rolling out to users in Australia, the United States, Canada, Great Britain, Germany, and France. We will roll this out to other countries in the future.</h3>
<h1><strong>WHAT ARE DISCORD SCHOOL HUBS?</strong></h1>
<p><span style="font-weight: 400;">A <strong>Discord School Hub</strong> is a place for students to meet classmates from their school. </span></p>
<p><span style="font-weight: 400;">Each hub is only accessible to users with an email address associated with that school. Students will be able to find other classmates that have joined the hub, add their servers to the hub, and find their classmates' servers, all in one place.</span></p>
<h2><strong>FAQ</strong></h2>
<p><span class="wysiwyg-font-size-large"><strong>Where are School Hubs available? </strong></span></p>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Hubs are already live for some schools in Australia. Students in countries such as the United States, Canada, Great Britain, France, and Germany are able to add their school to a waitlist. Additional countries will be able to add their schools to a waitlist soon. </span></li>
</ul>
<p><span class="wysiwyg-font-size-large"><strong>How will my school email address be used? </strong></span></p>
<p><span style="font-weight: 400;">Your school email address will be used to verify which school hub you can access. It will not be visible to other users on Discord, and it will not be shared with your school.</span></p>
<p><strong><span class="wysiwyg-font-size-large">How do students find the hubs waitlist? </span></strong></p>
<p><span style="font-weight: 400;">If the hubs waitlist is available in their region, students can find it in the following place:</span></p>
<ul>
<li>
<span style="font-weight: 400;">Desktop/web: Click on the Explore Public Servers</span> <span style="font-weight: 400;">button at the bottom of the left panel in Discord </span>
</li>
<li><span style="font-weight: 400;">Mobile: At the very bottom of the left panel in the Discord app</span></li>
</ul>
<p><span class="wysiwyg-font-size-large"><strong>Is this a Discord partnership with high schools/colleges? </strong></span></p>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Discord School Hubs are not officially affiliated with schools. Students and those that are part of the school community can add servers to the hub to make it easy for their classmates to discover them.</span></li>
</ul>
<p><span class="wysiwyg-font-size-large"><strong>Who has access to a hub? </strong></span></p>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Only those with a school assigned email address can access their school’s specific hub. </span></li>
</ul>