<h1><img src="https://support.discord.com/hc/article_attachments/4404615637015/chess_banner.png" alt="chess_banner.png"></h1>
<p><span class="wysiwyg-font-size-large"><strong>What does this article cover?</strong></span></p>
<ul>
<li>
<a href="#h_01FB7GSDX29HY45M5SCMK2YBYK" target="_self">What is Chess in the Park?</a>
<ul>
<li><a href="#h_01FB7GSKBBHYRXYHD50401W5Q5" target="_self">How to start a Chess in the Park game?</a></li>
</ul>
</li>
<li><a href="#h_01FB7GSR87M40ZD855F127KA3E" target="_self">How do I join Discord Games Lab?</a></li>
<li><a href="#h_01F4ZHYENSF3VFJR8BEMF8ZPC2" target="_self">Discord Games Lab Server FAQ</a></li>
</ul>
<h1 id="h_01FB7GSDX29HY45M5SCMK2YBYK">What is Chess in the Park?</h1>
<p><span style="font-weight: 400;">Chess in the Park is an <a href="https://support.discord.com/hc/articles/4422142836759" target="_blank" rel="noopener">Activity</a> that we've developed </span><span style="font-weight: 400;">here at Discord</span><span style="font-weight: 400;"> for playing chess with your friends!</span></p>
<h1 id="h_01FB7GSKBBHYRXYHD50401W5Q5">How to start a Chess in the Park game?</h1>
<p><span style="font-weight: 400;">To start a Chess in the Park game, follow these steps below!  </span></p>
<ul>
<li style="font-weight: 400;" aria-level="2">
<span style="font-weight: 400;">Join a voice channel</span>
<ul>
<li style="font-weight: 400;" aria-level="3"><span style="font-weight: 400;">Once joined, you should see the Activity Launcher (it looks like a rocket ship) in the voice channel controls.</span></li>
</ul>
</li>
<li style="font-weight: 400;" aria-level="2"><span style="font-weight: 400;">Click the Activity Launcher to open the Activity Shelf"</span></li>
<li style="font-weight: 400;" aria-level="2"><span style="font-weight: 400;">Then select "Chess in the Park"</span></li>
</ul>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/4404616527767/unknown.png" alt="unknown.png"></p>
<ul>
<li style="list-style-type: none;">
<ul>
<li class="wysiwyg-text-align-left"><span style="font-weight: 400;">Once you've authorized Chess in the Park to access your account, you can begin playing with anyone in the server.</span></li>
</ul>
</li>
</ul>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/4404616658711/Screenshot_77.png" alt="Screenshot_77.png" width="299" height="516"></p>
<h3>
<strong>Note:</strong><br>- Limit of 2 players per chess game (but with an unlimited number of spectators).<br>- Limit of 2 “open” games can be created per person (<em>open</em> meaning games that are waiting for another player to join).</h3>
<h1 id="h_01F51PQG6DYKESS3SZ7DA3WJ22">Want to join in on the shenanigans?</h1>
<p><span style="font-weight: 400;">Since we’re still testing, Chess in the Park is only available in a small (random) selection of servers. However, you can play Chess in the Park and other early Activities in the public <strong>Discord Games Lab server</strong>!</span></p>
<p><span style="font-weight: 400;">Since the game is still an experimental experience, we’re looking to hear feedback directly from our users so you’ll see Discord devs in there pretty frequently!</span></p>
<h3>Here's a link to the public server: <a href="https://discord.com/invite/discordgameslab">https://discord.com/invite/discordgameslab</a> </h3>
<h2 id="h_01F4ZHYENSF3VFJR8BEMF8ZPC2">Discord Games Lab Server FAQ</h2>
<p><span class="wysiwyg-font-size-large"><strong>Q: Why is Discord adding games into voice channels?</strong></span></p>
<p><span style="font-weight: 400;">A: We started Discord because we are all about bringing people together around gaming. As Discord has grown, we've seen more and more people use Discord to come together around games. For instance, we’ve seen people use Discord to not only play </span><em><span style="font-weight: 400;">League</span></em><span style="font-weight: 400;"> but also to hang out and play more casual, social games with friends like </span><em><span style="font-weight: 400;">Jackbox</span></em><span style="font-weight: 400;"> and </span><em><span style="font-weight: 400;">Among Us</span></em><span style="font-weight: 400;">.</span></p>
<p><span class="wysiwyg-font-size-large"><strong>Q: Is there an age requirement?</strong></span></p>
<p>A: There is no age requirement for Chess in the Park</p>
<p><span class="wysiwyg-font-size-large"><strong>Q: How do I play?</strong></span></p>
<p><span style="font-weight: 400;">A: To start a game, first join one of the voice channels. Once there, you should see the Activity Launcher (it looks like a rocket ship) in the voice channel controls. Click the Activity Launcher to open the Activity Shelf, " and then select "Chess in the Park".'</span></p>
<p><span class="wysiwyg-font-size-large"><strong>Q: Where can I report bugs and problems with the game?</strong></span></p>
<p>A: Check out our <span class="wrapper-3WhCwL mention interactive">#bugs-and-issues</span> channel in the Discord Games Lab server and make sure to follow the format to report any issues.</p>
<p><span class="wysiwyg-font-size-large"><strong>Q: Can I give feedback on Chess in the Park?</strong></span></p>
<p>A: Absolutely, we would love to hear what you have to say about the game, etc. You can post in the <span class="wrapper-3WhCwL mention interactive">#feedback channel in the Discord Games Lab server</span></p>
<p><strong><span class="wysiwyg-font-size-large">Q: How do I view/delete my Activities on Discord data?</span></strong></p>
<p><span style="font-weight: 400;">A: To enhance the gameplay experience, Discord Activities access and temporarily store the following user data once a user joins the Activity:</span></p>
<ul>
<li style="font-weight: 400;" aria-level="3"><span style="font-weight: 400;">Discord ID</span></li>
<li style="font-weight: 400;" aria-level="3"><span style="font-weight: 400;">Avatar</span></li>
<li style="font-weight: 400;" aria-level="3"><span style="font-weight: 400;">Username</span></li>
</ul>
<p><span style="font-weight: 400;">For Activities played in a single session, user data is stored so long as the Activity remains active, even if the user leaves the Activity. Once all users leave the Activity and it is determined the Activity has ended, the user data is deleted and no longer retained.</span></p>
<p><span style="font-weight: 400;">For Activities that can be played across multiple sessions (like with Chess in the Park or Checkers in the Park), the user data above is retained. You can view or delete your data from these Activities on </span><a href="https://discordactivities.com/" target="_blank" rel="noopener">this website</a><span style="font-weight: 400;">.</span></p>
<h3><em><span style="font-weight: 400;">Note: Deleting your data will remove all of your progression across these Discord-developed activities.</span></em></h3>
<p><span class="wysiwyg-font-size-large"><strong>Q: My question isn't listed, what do I do?</strong></span></p>
<p>A: If you have game feedback, use <span class="wrapper-3WhCwL mention interactive">#feedback</span>. If you have bugs or issues, use <span class="wrapper-3WhCwL mention interactive">#bugs-and-issues</span>.</p>
<p>If all is lost, please submit a ticket to our support team at <a class="ql-link" href="https://dis.gd/contact" target="_blank" rel="noopener noreferrer" data-slab-linktype="text">https://dis.gd/contact</a></p>
<p> </p>