<p><span class="wysiwyg-font-size-large"><strong>What does this article cover?</strong></span></p>
<ul>
<li>
<a href="#h_01FB7GSDX29HY45M5SCMK2YBYK" target="_self">What is Doodle Crew?</a>
<ul>
<li><a href="#h_01FB7GSKBBHYRXYHD50401W5Q5" target="_self">How to start a Doodle Crew game?</a></li>
</ul>
</li>
<li><a href="#h_01FB7GSR87M40ZD855F127KA3E" target="_self">How do I join Discord Games Lab?</a></li>
<li><a href="#h_01F4ZHYENSF3VFJR8BEMF8ZPC2" target="_self">Discord Games Lab Server FAQ</a></li>
</ul>
<h1 id="h_01FB7GSDX29HY45M5SCMK2YBYK">What is Doodle Crew?</h1>
<p><span style="font-weight: 400;">Doodle Crew is an Activity that we've developed here at Discord. In Doodle Crew, one player sketches an image as a clue for other players to guess what the secret word is. Guessing quickly earns more points!</span></p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/4409711153559/Screenshot_116.png" alt="Screenshot_116.png"></p>
<h1 id="h_01FB7GSKBBHYRXYHD50401W5Q5">How to start a Doodle Crew game?</h1>
<h1 id="h_01FB7GSKBBHYRXYHD50401W5Q5">How to start a Doodle Crew game?</h1>
<p><span style="font-weight: 400;">To start a Doodle Crew game, follow these steps below!  </span></p>
<ul>
<li style="font-weight: 400;" aria-level="2">
<span style="font-weight: 400;">Join a voice channel</span>
<ul>
<li style="font-weight: 400;" aria-level="3"><span style="font-weight: 400;">Once joined, you should see the Activity Launcher (it looks like a rocket ship) in the voice channel controls.</span></li>
</ul>
</li>
<li style="font-weight: 400;" aria-level="2"><span style="font-weight: 400;">Click the Activity Launcher to open the Activity Shelf"</span></li>
<li style="font-weight: 400;" aria-level="2"><span style="font-weight: 400;">Then select "Doodle Crew"</span></li>
</ul>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/4409325329559/games_list.png" alt="games_list.png" width="206" height="397"></p>
<ul>
<li style="list-style-type: none;">
<ul>
<li><span style="font-weight: 400;">Once you've authorized Doodle Crew to access your account, you can begin playing with anyone in the server.</span></li>
</ul>
</li>
</ul>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/4409245763095/doodle_crew_perms.png" alt="doodle_crew_perms.png" width="441" height="725"></p>
<h3><span class="wysiwyg-color-red110">Note: ⚠️There is no way to moderate drawings so be careful who you play with.</span></h3>
<h3>Note: <span style="font-weight: 400;">When playing with more than 20 people you may experience some technical issues. For the best experience, we recommend games with up to 16 players.</span>
</h3>
<h1 id="h_01F51PQG6DYKESS3SZ7DA3WJ22">Want to join in on the shenanigans?</h1>
<p><span style="font-weight: 400;">Since we’re still testing, Doodle Crew is only available in a small (random) selection of servers. However, you can play Doodle Crew</span> and other early Activities in the public <strong>Discord Games Lab server</strong>!</p>
<p><span style="font-weight: 400;">Since the game is still an experimental experience, we’re looking to hear feedback directly from our users so you’ll see Discord devs in there pretty frequently!</span></p>
<h3>Here's a link to the public server: <a href="https://discord.com/invite/discordgameslab">https://discord.com/invite/discordgameslab</a> </h3>
<h2 id="h_01F4ZHYENSF3VFJR8BEMF8ZPC2">Discord Games Lab Server FAQ</h2>
<p><span class="wysiwyg-font-size-large"><strong>Q: Why is Discord adding games into voice channels?</strong></span></p>
<p><span style="font-weight: 400;">A: We started Discord because we are all about bringing people together around gaming. As Discord has grown, we've seen more and more people use Discord to come together around games. For instance, we’ve seen people use Discord to not only play </span><em><span style="font-weight: 400;">League</span></em><span style="font-weight: 400;"> but also to hang out and play more casual, social games with friends like </span><em><span style="font-weight: 400;">Jackbox</span></em><span style="font-weight: 400;"> and </span><em><span style="font-weight: 400;">Among Us</span></em><span style="font-weight: 400;">.</span></p>
<p><span class="wysiwyg-font-size-large"><strong>Q: Is there an age requirement?</strong></span></p>
<p>A: There is no age requirement for Doodle Crew. </p>
<p><span class="wysiwyg-font-size-large"><strong>Q: How do I play?</strong></span></p>
<p><span style="font-weight: 400;">A: To start a game, first join one of the voice channels. Once there, you should see the Activity Launcher (it looks like a rocket ship) in the voice channel controls. Click the Activity Launcher to open the Activity Shelf, " and then select "Doodle Crew".'</span></p>
<p><span class="wysiwyg-font-size-large"><strong>Q: Where can I report bugs and problems with the game?</strong></span></p>
<p>A: Check out our <span class="wrapper-3WhCwL mention interactive">#bugs-and-issues</span> channel in the Discord Games Lab server and make sure to follow the format to report any issues.</p>
<p><span class="wysiwyg-font-size-large"><strong>Q: Can I give feedback on Doodle Crew?</strong></span></p>
<p>A: Absolutely, we would love to hear what you have to say about the game, etc. You can post in the <span class="wrapper-3WhCwL mention interactive">#feedback channel in the Discord Games Lab server</span></p>
<p><span class="wysiwyg-font-size-large"><strong>Q: What data is accessed by Discord in Doodle Crew? Is any of this data retained? </strong></span></p>
<p><span style="font-weight: 400;">A: To enhance the gameplay experience, Doodle Crew accesses and temporarily stores the following user data once a user joins the Activity:</span></p>
<ul>
<li><span style="font-weight: 400;">Discord ID</span></li>
<li><span style="font-weight: 400;">Avatar</span></li>
<li><span style="font-weight: 400;">Username</span></li>
</ul>
<p><span style="font-weight: 400;">User data is stored so long as the Activity remains active, even if the user leaves the Activity. </span></p>
<p><span style="font-weight: 400;">Once all users leave the Activity and it is determined the Activity has ended, the user data is deleted and no longer retained by Doodle Crew.</span></p>
<p><span class="wysiwyg-font-size-large"><strong>Q: My question isn't listed, what do I do?</strong></span></p>
<p>A: If you have game feedback, use <span class="wrapper-3WhCwL mention interactive">#feedback</span>. If you have bugs or issues, use <span class="wrapper-3WhCwL mention interactive">#bugs-and-issues</span>.</p>
<p>If all is lost, please submit a ticket to our support team at <a class="ql-link" href="https://dis.gd/contact" target="_blank" rel="noopener noreferrer" data-slab-linktype="text">https://dis.gd/contact</a></p>
<p> </p>