<h1>What are Forum Channels?</h1>
<p>Forum channels are a new type of channel we’re testing across a limited number of servers that house threaded conversations about specific topics. Forum channels are<span class="discussion-id-f3716217-c974-4257-ba1f-236017cdcc42 discussion-level-1 discussion-id-f3716217-c974-4257-ba1f-236017cdcc42 notion-enable-hover" data-token-index="1" data-reactroot=""> more organized and easier to digest, especially when there are many conversations happening at once.</span></p>
<h3><span class="discussion-id-f3716217-c974-4257-ba1f-236017cdcc42 discussion-level-1 discussion-id-f3716217-c974-4257-ba1f-236017cdcc42 notion-enable-hover" data-token-index="1" data-reactroot=""><span class="discussion-id-0189d209-eaa6-4688-9a63-f416e32cdff0 discussion-level-1 discussion-id-0189d209-eaa6-4688-9a63-f416e32cdff0 notion-enable-hover" data-token-index="0" data-reactroot="">Tip</span><span class="discussion-id-0189d209-eaa6-4688-9a63-f416e32cdff0 discussion-level-1 discussion-id-0189d209-eaa6-4688-9a63-f416e32cdff0 notion-enable-hover" data-token-index="1" data-reactroot="">:</span> Generally, Forum channels with clear, specific titles provide guidance on the purpose of the channel.</span></h3>
<h1>How do I create a Forum Channel?</h1>
<p>1. In the channel list, hover over the channel category where you want your <em><strong>Forum Channel</strong></em> to live and hit the <strong>"+"</strong> icon to <strong>Create a Channel</strong>.</p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/6289486804759/3.png" alt="3.png"></p>
<p>2. Select <strong>Forum</strong> as the channel type, and enter a channel name.</p>
<p>3. Then click <strong>Create Channel </strong>when you're done!</p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/6289501245463/create_channel.png" alt="create_channel.png" width="529" height="822"></p>
<h1>Getting Started</h1>
<p class="wysiwyg-text-align-left">Once you have created a brand new Forum channel, you will be directed to the getting started section.</p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/6289594198807/Getting_started.png" alt="Getting_started.png" width="794" height="425"></p>
<h2>Forum Channel Permissions</h2>
<p class="wysiwyg-text-align-left">First up is channel permissions. These permissions determine which members have access to Forum channels.</p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/6289611533719/permissions_1.png" alt="permissions_1.png" width="794" height="425"></p>
<p>Press <strong><span class="notion-enable-hover" data-token-index="1" data-reactroot="">Set recommended permissions</span></strong>. From here, you can limit access to the Forum Channel to specific roles. Or y<span class="discussion-id-87674705-1f03-4f41-a49f-9ccb8f07cdd5 discussion-level-1 discussion-id-87674705-1f03-4f41-a49f-9ccb8f07cdd5 notion-enable-hover" data-token-index="3" data-reactroot="">ou can also enable </span><strong><span class="discussion-id-87674705-1f03-4f41-a49f-9ccb8f07cdd5 discussion-level-1 discussion-id-87674705-1f03-4f41-a49f-9ccb8f07cdd5 notion-enable-hover" data-token-index="4" data-reactroot="">@everyone</span></strong><span class="discussion-id-87674705-1f03-4f41-a49f-9ccb8f07cdd5 discussion-level-1 discussion-id-87674705-1f03-4f41-a49f-9ccb8f07cdd5 notion-enable-hover" data-token-index="5" data-reactroot=""> to allow all users to gain access.</span></p>
<h3><span class="discussion-id-87674705-1f03-4f41-a49f-9ccb8f07cdd5 discussion-level-1 discussion-id-87674705-1f03-4f41-a49f-9ccb8f07cdd5 notion-enable-hover" data-token-index="5" data-reactroot=""><span class="notion-enable-hover" data-token-index="0" data-reactroot="">Tip</span>: Allowing everyone to post in a forum channel helps increase overall engagement and usage of the channel!</span></h3>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/6289608632215/permissions_2.png" alt="permissions_2.png"></p>
<h2>Forum Channel Guidelines</h2>
<p>Next, you can create guidelines for your Forum Channel.</p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/6289626204311/guidelines.png" alt="guidelines.png" width="805" height="431"></p>
<p>Pressing Create guidelines will take you to the Guidelines settings page. From here, you can change the Channel name, add guidelines, and designate <span class="discussion-id-eef8c686-bb65-4a39-b53e-142ed9f6e070 discussion-level-1 discussion-id-eef8c686-bb65-4a39-b53e-142ed9f6e070 notion-enable-hover" data-token-index="1" data-reactroot="">Tags, which helps organize posts into subcategories.</span></p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/6501452293527/guidelines_2_copy.png" alt="guidelines_2_copy.png"></p>
<h3 class="wysiwyg-text-align-center">Note: Tags can help label specific posts<br><img src="https://support.discord.com/hc/article_attachments/6289733890327/tags.png" alt="tags.png">
</h3>
<p>With your guidelines all set up, you can make your first post!</p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/6501589581207/first_post.png" alt="first_post.png"></p>
<p><span class="wysiwyg-font-size-large"><strong>I forgot to tag my posts when creating my post!</strong></span></p>
<p>If you forgot to add tags to your post, you can add them by right-clicking on your post and navigating to Edit Tags, and selecting your desired tags.</p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/6289830999063/edit_tags.png" alt="edit_tags.png" width="851" height="489"></p>
<h1>Additional Frequently Asked Questions</h1>
<p><span class="wysiwyg-font-size-large"><strong>Q: When will I get access to Forum Channels?</strong></span></p>
<p>A: We’re currently testing Forum Channels with only a limited number of servers. Stay tuned as we roll this feature out to more servers.</p>
<p><span class="wysiwyg-font-size-large"><strong>Q: What’s the difference between Forums and Text channels?</strong></span></p>
<p>A: While Text channels are great for in-the-moment discussions, Forum channels provide a place for more drawn-out discussion around specific topics. Discussions are tied to individual posts so they are more organized and easier for members of your community to get up to speed and join a conversation.</p>
<p><span class="wysiwyg-font-size-large"><strong>Q: Can you adjust the auto-archive period or is it a fixed default?</strong></span></p>
<p>A: The auto-archive period can be adjusted between 1 hour, 24 hours, 3 days, and 1 week in the Forum channel setting.</p>
<p> </p>