<h3>This feature is currently in Beta</h3>
<p><span style="font-weight: 400;">Highlights bring you the best content from the servers you care about. If you are opted in to receive Highlights for a server, Discord will notify you via email of the best messages, events, announcements, and more from that server.</span></p>
<h1><strong>Highlights Setting</strong></h1>
<p><span style="font-weight: 400;">The Highlights setting is an additional toggle you can turn on or off in each server. It is located in your server notification settings. This setting operates independently of your server notification settings (<strong>all messages</strong>, <strong>@mentions only</strong>, or <strong>nothing</strong>). For example, you can have your server notifications settings set to <strong>Nothing</strong> and still receive Highlights notifications if the toggle is on. </span></p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/5761087298071/Highlights_Notifications_settings2.png" alt="Highlights_Notifications_settings2.png" width="637" height="835"><img src="https://support.discord.com/hc/article_attachments/5761059658903/include_highlights2.png" alt="include_highlights2.png" width="638" height="680"></p>
<p><span style="font-weight: 400;">Muting a server will turn off the Highlights toggle, and you will not receive any notifications from that server. </span></p>
<h2><strong>What is included in Highlights?</strong></h2>
<p><span style="font-weight: 400;">Highlights lets you know what’s happening in the servers you care about. This includes things like popular posts, events, friend activity, new forums, and more.</span></p>
<h1><strong>Frequently Asked Questions</strong></h1>
<p><span class="wysiwyg-font-size-large"><strong>How can I turn on or off Highlights for all of my servers?</strong></span></p>
<p><span style="font-weight: 400;">You can turn Highlights on or off by navigating to the server notifications setting menu. Currently, these settings can only be changed one server at a time.</span></p>
<p><span class="wysiwyg-font-size-large"><strong>Does Discord use my personal data for Highlights?</strong></span></p>
<p><span style="font-weight: 400;">No. The information Discord uses to determine if something is considered a Highlight depends entirely on the server, not the individual receiving the notification. Discord looks at things like how many reactions a post has, or how many attendees an event has to determine if an item is noteworthy enough to send to you. </span></p>
<p><span style="font-weight: 400;">At any point in time, you may choose to turn on or off personal data for Discord via your </span><span style="font-weight: 400;"><strong>User Settings -&gt; Privacy &amp; Safety</strong>.</span> <span style="font-weight: 400;">Right now, this will not disable Highlights because Highlights does not use your personal data.</span><span style="font-weight: 400;"> </span></p>
<p><span style="font-weight: 400;"><img src="https://support.discord.com/hc/article_attachments/5758766326167/data_customization.png" alt="data_customization.png"></span></p>