<h3>
<strong>Note:<br></strong><strong>- This promo is now live!<br></strong><strong>- </strong><span style="font-weight: 400;">This promo will only allow users to receive 1 free month of Nitro. If you select the Yearly option - you will only receive 1 month of free Nitro - not 1 year. </span>
</h3>
<p><span style="font-weight: 400;"><img src="https://support.discord.com/hc/article_attachments/4413264139543/-HxVDs4Q.png" alt="-HxVDs4Q.png"></span></p>
<p><span style="font-weight: 400;">Bringing in the holidays with a new Nitro promo starting on November 24! Read all of the details below to learn more!</span></p>
<p><span class="wysiwyg-font-size-large wysiwyg-color-blue80"><strong>TL;DR</strong></span></p>
<p><span class="wysiwyg-color-orange110"><strong>Offer Details:</strong></span><span style="font-weight: 400;"> 1 month of free Discord Nitro with the purchase of any subscription of Nitro (</span><span style="font-weight: 400;">$9.99 </span><span style="font-weight: 400;">Nitro Monthly or $99 Nitro Yearly) on the desktop/browser version of Discord</span></p>
<ul>
<li style="font-weight: 400;" aria-level="1">
<strong>Note:</strong><span style="font-weight: 400;"> $4.99 Nitro Classic and Mobile </span><span style="font-weight: 400;">(Apple/Google Play)</span><span style="font-weight: 400;"> subscription purchases are not eligible for this promotion!</span>
</li>
</ul>
<p><span class="wysiwyg-color-orange110" style="font-weight: 400;"><strong>Who is Eligible:</strong> </span><span style="font-weight: 400;">More details below</span><span style="font-weight: 400;"> - <a href="#h_01FN470MVRR7A2A7JR5SF9SYMG" target="_self">click here to learn more!</a></span></p>
<p><span class="wysiwyg-color-orange110"><strong>Deadline for Claiming Promo:</strong></span><span style="font-weight: 400;"> This promotion must be claimed after the promo begins on <span class="wysiwyg-color-blue90"><strong>11/24/21 (10AM PST)</strong></span> and before </span><span style="font-weight: 400;"><span class="wysiwyg-color-blue90"><strong>12/3/21 (11:59PM PST)</strong></span>!</span></p>
<h1><strong>WHAT IS DISCORD NITRO?</strong></h1>
<p><span style="font-weight: 400;">With Nitro, you’ll get many awesome chat perks to enhance your Discord experience! Upgrade your emoji, enjoy bigger file uploads, stand out in your favorite Discords, and more! Check out some of these perks below! </span></p>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">GIF Avatars</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Custom Discord Tag</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Global Custom emojis</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Higher Video quality</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Server Boosting</span></li>
<li style="font-weight: 400;" aria-level="1"><a href="https://support.discord.com/hc/en-us/articles/115000435108" target="_blank" rel="noopener"><span style="font-weight: 400;">And more!</span></a></li>
</ul>
<h1 id="h_01FN470MVRR7A2A7JR5SF9SYMG"><strong>ELIGIBILITY FOR CLAIMING THE PROMO</strong></h1>
<p><span style="font-weight: 400;">Wondering whether you’ll be able to claim this promotion? As long as you meet the criteria  below, you should see the promotion in your Nitro tab!</span></p>
<h3>
<strong>Note:<br></strong><span style="font-weight: 400;">- After refreshing your client - if you do not see the promotion within your Nitro tab - this means that you are not eligible for this promotion. </span>
</h3>
<p><span class="wysiwyg-color-green120 wysiwyg-font-size-large"><strong>This promotion is currently available for:</strong></span></p>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">New $9.99 Nitro Monthly or $99 Nitro Yearly subscribers</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Users who have had a Nitro subscription in the past, but not within the last 14 days.</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Desktop and Browser purchases</span></li>
</ul>
<p><span class="wysiwyg-color-red110 wysiwyg-font-size-large"><strong>Unfortunately, this promotion won’t be available for: </strong></span></p>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Current and active $9.99 Nitro subscribers </span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Users who have a $9.99 Nitro subscription within 14 days of this promotion</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Nitro Classic subscription purchases</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Mobile (Apple/Google Play) purchases</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Users located in Turkey, Brazil, and Poland </span></li>
</ul>
<p><span style="font-weight: 400;">Users those located in Turkey, Brazil, and Poland are not eligible for this promotion - as we are still working on payment and pricing methods for these 3 countries. (<a href="https://support.discord.com/hc/en-us/articles/4407269525911" target="_blank" rel="noopener">You can learn more about our </a></span><a href="https://support.discord.com/hc/en-us/articles/4407269525911" target="_blank" rel="noopener"><span style="font-weight: 400;">recent pricing changes here</span></a><span style="font-weight: 400;">!)</span></p>
<h1><strong>HOW DO I CLAIM MY FREE DISCORD NITRO?</strong></h1>
<p class="wysiwyg-text-align-center"><span class="wysiwyg-font-size-large wysiwyg-color-blue80"><strong>Step 1: Heading to the Nitro Tab</strong></span></p>
<p><span style="font-weight: 400;">On the desktop or browser app, navigate to your User Settings page and locate the Discord Nitro tab.</span></p>
<p><span style="font-weight: 400;">Alternatively, you can press the Home button at the top left of your client and then select the Nitro tab.</span></p>
<h3>
<strong>Note: </strong><span style="font-weight: 400;">Mobile (iOS and Android) subscription purchases are not eligible for this promotion! You will need to use the browser or desktop app in order to receive this promotion!</span>
</h3>
<p class="wysiwyg-text-align-center"><span style="font-weight: 400;"><img src="https://support.discord.com/hc/article_attachments/4413251800727/Screenshot_11.png" alt="Screenshot_11.png" width="759" height="419"></span></p>
<p class="wysiwyg-text-align-center"><span class="wysiwyg-font-size-large wysiwyg-color-blue80"><strong>Step 2: Subscribing to Nitro Monthly or Yearly</strong></span></p>
<p><span style="font-weight: 400;">Once you are at the Nitro page - simply click </span><strong>Subscribe</strong><span style="font-weight: 400;"> and select either the monthly or yearly plan for Nitro.</span></p>
<p><span style="font-weight: 400;">On the next screen, enter your credit card information and other payment details.</span></p>
<h3>
<strong>Note: </strong><span style="font-weight: 400;">This promo will only allow users to receive 1 free month of Nitro. If you select the Yearly option - you will only receive 1 month of free Nitro - not 1 year. </span>
</h3>
<p class="wysiwyg-text-align-center"><span style="font-weight: 400;"><img src="https://support.discord.com/hc/article_attachments/4413251968023/pricing.png" alt="pricing.png" width="506" height="532"></span></p>
<p class="wysiwyg-text-align-center"><span class="wysiwyg-color-blue80 wysiwyg-font-size-large"><strong>Step 3: Receive Your Free Month</strong></span></p>
<p><span style="font-weight: 400;">Upon successful completion of the payment, your account will be upgraded to Nitro! </span></p>
<p><span style="font-weight: 400;">Your free additional month of Nitro will automatically be applied after the end of your first month or year subscription.</span></p>
<h1><strong>FREQUENTLY ASKED QUESTIONS </strong></h1>
<p><span class="wysiwyg-font-size-large wysiwyg-color-orange110"><strong>I don't see the promotion details on my Nitro tab. Why?</strong><span style="font-weight: 400;"> </span></span></p>
<ul>
<li><span style="font-weight: 400;">If you don't see any promotion details on your Nitro tab on the desktop or browser (this promotion is not available on the mobile clients), it is because you do not meet the eligibility criteria outlined above. </span></li>
</ul>
<p><span class="wysiwyg-font-size-large wysiwyg-color-orange110"><strong>I was offered a free trial to Discord Nitro and redeemed it. Can I access this promo?</strong><span style="font-weight: 400;"> </span></span></p>
<ul>
<li><span style="font-weight: 400;">Unfortunately, if you are currently on a free trial, you are not eligible for this holiday promotion. Have no fear, there will be more of these down the road! If you were offered a free trial but did not redeem, then you are eligible for this promotion.</span></li>
</ul>
<p><span class="wysiwyg-font-size-large wysiwyg-color-orange110"><strong>I'm in Poland, Brazil or Turkey and can't access the promotion. Why?</strong><span style="font-weight: 400;"> </span></span></p>
<ul>
<li><span style="font-weight: 400;">As you may know, <a href="https://support.discord.com/hc/en-us/articles/4407269525911" target="_blank" rel="noopener">we launched new Nitro prices in these countries just a few months ago to make Discord more accessible and affordable</a>. </span></li>
<li><span style="font-weight: 400;">We're still working on payment and pricing methods for these 3 countries, we are unable to offer this promotion at this time for users located in Poland, Brazil and Turkey. </span></li>
<li><span style="font-weight: 400;">However, there will be promotions to take advantage of down the road! </span></li>
</ul>
<p><span class="wysiwyg-font-size-large wysiwyg-color-orange110"><strong>I have another Discord subscription (Nitro Classic, Boost-only, Classic+Boosts), can I qualify for this promo?</strong></span></p>
<ul>
<li>
<span style="font-weight: 400;">If you have another type of Discord subscription (Classic, Boost-only, or Classic + Boosts) and you want to take advantage of this promotion, we recommend looking at your billing cycle end date in the Subscriptions tab in user settings.</span><span style="font-weight: 400;"> </span>
</li>
<li><span style="font-weight: 400;">If your current billing cycle ends before the promotion ends (Friday 12/3/21), you can cancel your subscription and sign up for this promotion once your billing cycle ends. </span></li>
<li><span style="font-weight: 400;">If your billing cycle ends after this promotion, you unfortunately do not qualify. </span></li>
</ul>
<p><span class="wysiwyg-font-size-large wysiwyg-color-orange110"><strong>If I have Nitro Standard credit in my account, can I apply it to this promo?</strong><span style="font-weight: 400;"> </span></span></p>
<ul>
<li><span style="font-weight: 400;">If you have credit in your account from a previous Nitro subscription, this credit will be automatically applied to the promotion when you check out. </span></li>
<li><span style="font-weight: 400;">If you have credit in your account that is associated with a non-Nitro subscription (ex: Boosting-only), it will not apply to this promotion.</span></li>
</ul>
<p><span class="wysiwyg-font-size-large wysiwyg-color-orange110"><strong>I see a notification saying "You're ineligible for this offer". Why?</strong><span style="font-weight: 400;"> </span></span></p>
<ul>
<li><span style="font-weight: 400;">If you encounter this notification, it is because you do not meet the eligibility criteria outlined above. </span></li>
<li>
<span class="wysiwyg-font-size-large wysiwyg-color-orange110"><strong>If I received a Nitro gift and redeem it during the promotion period, will I get another free month? </strong><strong><br></strong></span><span style="font-weight: 400;">This promotion is for new purchases only, so you will not get the free month of Nitro if you redeem a Nitro gift during this time.  </span>
</li>
</ul>
<p><span class="wysiwyg-font-size-large wysiwyg-color-orange110"><strong>If I upgrade my subscription from Nitro Classic to Nitro, can I receive this promotion? </strong></span></p>
<ul>
<li><span style="font-weight: 400;">This promotion is for new purchases only. So, if you’re an existing subscriber, and upgrade your subscription, this promotion will not apply. </span></li>
</ul>
<p><span class="wysiwyg-font-size-large wysiwyg-color-orange110"><strong>I purchased a Nitro subscription during the promotion period, but I’d like to request a refund. What are the steps?</strong></span></p>
<ul>
<li><span style="font-weight: 400;">Before requesting a refund, please review our Refund Policy to ensure that your purchase is eligible for a refund.</span></li>
<li><span style="font-weight: 400;">If you’d like to proceed, please send in a ticket specifying that you’d like a refund for your Nitro purchase to our support team here: dis.gd/billing and our agents will be happy to assist you.</span></li>
<li><span style="font-weight: 400;">Please note that if your refund is issued, you will lose any promotional value or discounts associated with the purchase.</span></li>
</ul>
<p><span class="wysiwyg-font-size-large wysiwyg-color-orange110"><strong>Can I gift my free month to someone else?</strong></span></p>
<ul>
<li><span style="font-weight: 400;">No, this free month is yours to keep and will be automatically applied to your account.</span></li>
</ul>
<p> </p>