<p><span style="font-weight: 400;">Discord’s email notifications help to keep you updated on everything happening in the wonderful world of Discord while you’re asleep or on the go. Sometimes, Discord will send transactional emails to notify users about changes to their account or Discord’s policies. Aside from these transactional emails, Discord Emails can come in 5 different forms:</span></p>
<ol>
<li>
<strong>Communication Emails </strong><span style="font-weight: 400;">show the calls and messages that you have missed</span>
</li>
<li>
<strong>Social Emails </strong><span style="font-weight: 400;">show pending friend requests, friend suggestions, and upcoming server events</span>
</li>
<li>
<strong>Announcements and Updates Emails </strong><span style="font-weight: 400;">share product updates, new features, and bug fixes</span>
</li>
<li>
<strong>Tip Emails </strong><span style="font-weight: 400;">provide advice on how to navigate and get the most out of Discord</span>
</li>
<li><span style="font-weight: 400;"><strong>Recommendation Emails </strong>suggest servers and public stage events that you might be interested in joining</span></li>
</ol>
<p><span style="font-weight: 400;">You can unsubscribe from any or all of these emails at any time by clicking ‘Unsubscribe’ in the email itself (see ‘</span><a href="https://support.discord.com/hc/articles/115001657287-How-can-I-stop-email-notifications-from-Discord-" target="_blank" rel="noopener noreferrer">How can I stop email notifications from Discord?</a><span style="font-weight: 400;">’ article).</span></p>
<p><span style="font-weight: 400;">Alternatively, you can subscribe or unsubscribe to any/all of these categories in your settings. </span><strong>Please note </strong><span style="font-weight: 400;">that this method is only available on the </span><strong>desktop</strong><span style="font-weight: 400;"> and </span><strong>web</strong><span style="font-weight: 400;"> versions of Discord. The notifications settings on the Discord mobile app do not currently include email notifications. </span></p>
<h1>To Find Email Notification Settings on Web Browser</h1>
<p><span style="font-weight: 400;">Follow this link (<a class="anchor-1MIwyf anchorUnderlineOnHover-2qPutX" tabindex="0" title="https://discord.com/settings/notifications/emails" role="button" href="https://discord.com/settings/notifications/emails" target="_blank" rel="noopener">https://discord.com/settings/notifications/emails</a></span><span style="font-weight: 400;">) and scroll down to the ‘Email Notifications’ section. From here, you can see more information about each type of notification and select just the ones you want. </span></p>
<p><span style="font-weight: 400;">If you would like to unsubscribe from all notifications, you can uncheck each notification type or simply click ‘<strong>Unsubscribe from all marketing emails</strong>’ at the bottom of the Email Notifications section:</span></p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/4408859670807/1.png" alt="1.png"></p>
<h2>To Find Email Notification Settings on Desktop App</h2>
<p><span style="font-weight: 400;">Navigate to your User Settings by pressing the Cog button at the bottom left of the app <img src="https://support.discord.com/hc/article_attachments/4408811448599/Vector.png" alt="Vector.png">: </span></p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/4408820968599/User_Settings.png" alt="User_Settings.png"></p>
<p><span style="font-weight: 400;">Select ‘<strong>Notifications</strong>’ on the left menu and then scroll down until you see ‘<strong>Email Notifications</strong>’. From here, you can see more information about each type of notification and select just the ones you want. </span></p>
<p><span style="font-weight: 400;">If you would like to unsubscribe from all notifications, you can uncheck each notification type or simply click ‘<strong>Unsubscribe from all marketing emails</strong>’ at the bottom of the Email Notifications section:</span></p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/4408859670807/1.png" alt="1.png"></p>