<p><span style="font-weight: 400;">Excited to upload your own custom stickers for your server? Here's how to upload and manage custom stickers for your server!</span></p>
<p><span style="font-weight: 400;"> As a default, all servers have 5 custom stickers slots for free. Your server can upload more custom stickers once the server has reached Boosting Levels 1, 2, or 3! Depending on what Boost level your server has reached will determine how many custom stickers you can upload.</span></p>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Default: 5 custom sticker slots</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Level 1: +10 custom sticker slots</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Level 2: +15 custom sticker slots (30 total)</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Level 3: +30 custom sticker slots (60 total)</span></li>
</ul>
<p><span style="font-weight: 400;">Once your server has reached any Boost level, server owners and members whose role has the “<strong>Manage Emoji and Stickers</strong>” permission enabled can head into </span><strong>Server Settings &gt; Stickers </strong><span style="font-weight: 400;">to upload and manage custom stickers.</span></p>
<p class="wysiwyg-text-align-center"><span style="font-weight: 400;"><img src="https://support.discord.com/hc/article_attachments/4403148269079/Sticker_Tab.gif" alt="Sticker_Tab.gif"></span></p>
<h3 class="wysiwyg-text-align-left"><span style="font-weight: 400;">Note: Managing custom stickers are only available on desktop. If you’re on iOS or Android, you’ll need to use the desktop or web apps to upload, edit, and delete custom stickers</span></h3>
<p class="wysiwyg-text-align-left"><span style="font-weight: 400;">All actions below are completed under the Server Settings &gt; Stickers tab!</span></p>
<h1 class="wysiwyg-text-align-left"><span style="font-weight: 400;">Uploading Custom Stickers<br></span></h1>
<p class="wysiwyg-text-align-center"><span style="font-weight: 400;"><img src="https://support.discord.com/hc/article_attachments/4403135593367/Upload_sticker.gif" alt="Upload_sticker.gif"></span></p>
<ol>
<li class="wysiwyg-text-align-left"><span style="font-weight: 400;">Click on the Upload Sticker button.</span></li>
<li class="wysiwyg-text-align-left">
<span style="font-weight: 400;">Select the file from your desktop.</span>
<ul>
<li class="wysiwyg-text-align-left"><span style="font-weight: 400;">You’ll be required to enter a sticker name and choose a related emoji.</span></li>
<li class="wysiwyg-text-align-left">We recommend giving your sticker a brief description so that folks who use screen readers can understand the content of the image when it’s used in a conversation.</li>
</ul>
</li>
</ol>
<p><span style="font-weight: 400;">For custom sticker requirements and tips, check out this article: <a href="https://support.discord.com/hc/articles/4402687377815" target="_blank" rel="noopener noreferrer">Tips for sticker creators</a><br></span></p>
<h1><span style="font-weight: 400;">How should I name my stickers?<br></span></h1>
<p><span style="font-weight: 400;">While we don’t enforce a specific naming convention for custom stickers, here are some things to consider when thinking about a name:</span></p>
<ul>
<li><span style="font-weight: 400;">The sticker name should be easy to remember so members of your server can search for it when they want to use it.</span></li>
<li><span style="font-weight: 400;">If your sticker has text in its image, naming the sticker after the text</span></li>
<li><span style="font-weight: 400;">Naming the sticker after the emotion it displays, or the character and the emotion.<br></span></li>
</ul>
<p class="wysiwyg-text-align-center"><span style="font-weight: 400;"><img src="https://support.discord.com/hc/article_attachments/4403135892887/uploaded_stickers.png" alt="uploaded_stickers.png"><br>Example names for this sticker: Tired, Sleepy, Dozing Off<br></span></p>
<h2 class="wysiwyg-text-align-left"><span style="font-weight: 400;">Why do I need to select a related Unicode Emoji?<br></span></h2>
<p class="wysiwyg-text-align-center"><span style="font-weight: 400;"><img src="https://support.discord.com/hc/article_attachments/4403148595223/sticker_suggestion.png" alt="sticker_suggestion.png" width="634" height="337"></span></p>
<p><span style="font-weight: 400;">Adding a related unicode emoji to a custom sticker allows the sticker to show up in our sticker suggestion fields, which means users who can use your custom stickers will be able to find them easier when looking for stickers to send. This includes:</span></p>
<ul>
<li><span style="font-weight: 400;"><a href="https://support.discord.com/hc/articles/4403135977495" target="_blank" rel="noopener noreferrer">Sticker suggestions</a> that appear on desktop and mobile.</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">When typing the related Unicode emoji into chat using :name:</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Searching for a sticker in your sticker drawer.</span></li>
</ul>
<p class="wysiwyg-text-align-center"><span style="font-weight: 400;"><img src="https://support.discord.com/hc/article_attachments/4403148629271/auto_complete.png" alt="auto_complete.png" width="663" height="343"></span></p>
<h2><strong>Optional: Entering a description (Alt-text)</strong></h2>
<p><span style="font-weight: 400;">We strongly recommend adding a short, concise description (alt-text) for each custom sticker. This will allow people who use screen readers to know what your sticker looks like without needing to see the actual sticker.</span></p>
<p><span style="font-weight: 400;">Good descriptions are short and descriptive of what a sticker looks like, plus describing the emotion the sticker is conveying.</span></p>
<p class="wysiwyg-text-align-center"><span style="font-weight: 400;"><img src="https://support.discord.com/hc/article_attachments/4403135997207/Flower_example.png" alt="Flower_example.png"><br></span><span style="font-weight: 400;"><strong>Good Example Description:</strong> A pink flower character smiles peacefully as it steps across the screen.</span></p>
<h4 class="wysiwyg-text-align-center"><span style="font-weight: 400;"><strong>Poor Example Description:</strong> Animated flower steps out of a blue circle with green sky and clouds.</span></h4>
<h2><strong>Tips for writing descriptions</strong></h2>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Make sure to use proper spelling, capitalization, spacing, and grammar. </span></li>
<li style="font-weight: 400;" aria-level="1">
<span style="font-weight: 400;">Describe the image as you see it, and choose to write about the most important features of the image. Ideas on what to describe:</span>
<ul>
<li style="font-weight: 400;" aria-level="2"><span style="font-weight: 400;">Placement of objects within the image</span></li>
<li style="font-weight: 400;" aria-level="2"><span style="font-weight: 400;">Subject (animal, human, etc)</span></li>
<li style="font-weight: 400;" aria-level="2"><span style="font-weight: 400;">Emotions, like smiling or </span></li>
<li style="font-weight: 400;" aria-level="2"><span style="font-weight: 400;">Colors</span></li>
<li style="font-weight: 400;" aria-level="2"><span style="font-weight: 400;">Clothing detail</span></li>
<li style="font-weight: 400;" aria-level="2"><span style="font-weight: 400;">Text (if there’s some in the image)</span></li>
</ul>
</li>
<li style="font-weight: 400;" aria-level="1">
<span style="font-weight: 400;">What not to write</span>
<ul>
<li style="font-weight: 400;" aria-level="2"><span style="font-weight: 400;">Obvious details (like “human has two eyes and a nose”)</span></li>
<li style="font-weight: 400;" aria-level="2"><span style="font-weight: 400;">Focusing on details not central to what’s happening in the image </span></li>
<li style="font-weight: 400;" aria-level="2"><span style="font-weight: 400;">Using creative writing techniques</span></li>
<li style="font-weight: 400;" aria-level="2"><span style="font-weight: 400;">Do not use emojis</span></li>
</ul>
</li>
</ul>
<h1><strong>Editing and Deleting Uploaded Custom Stickers</strong></h1>
<ul>
<li>
<strong>Editing:</strong> Click on the pencil icon that appears when you hover your mouse over a sticker.</li>
<li>
<strong>Deleting:</strong> Click on the red ‘X’ icon that appears when you hover your mouse over a sticker to delete the sticker.</li>
</ul>
<h3>Note: You cannot edit the sticker file once it has been uploaded. If you want to replace the sticker file, you’ll need to delete this sticker and upload a new file!</h3>
<h1>Q&amp;A</h1>
<p><span class="wysiwyg-font-size-large"><strong>Q: Who can use custom stickers that have been uploaded in my server?</strong></span></p>
<p><span style="font-weight: 400;">A: Anyone who has joined your server can use custom stickers within your server. Users who have Nitro will be able to use the custom stickers anywhere on Discord (other servers, direct messages, etc). </span></p>
<p><span class="wysiwyg-font-size-large"><strong>Q: How can I prevent people from sending stickers in my server?</strong></span></p>
<p><span style="font-weight: 400;">A: There’s no permission to completely disable sending stickers in a server. If you want to prevent your server members from sending custom stickers from </span><em><span style="font-weight: 400;">other </span></em><span style="font-weight: 400;">servers, you’ll need to disable the “Use External Emoji and Stickers” permission for the @everyone role in your server.</span></p>
<p><span class="wysiwyg-font-size-large"><strong>Q: What kind of content can I use for my stickers?</strong></span></p>
<p><span style="font-weight: 400;">A: </span><span style="font-weight: 400;">As is true for all content that you use on Discord, you are responsible for ensuring that any content you use for custom stickers complies with our </span><a href="https://discord.com/terms"><span style="font-weight: 400;">Terms of Service</span></a><span style="font-weight: 400;"> and </span><a href="https://discord.com/guidelines"><span style="font-weight: 400;">Community Guidelines</span></a><span style="font-weight: 400;">. </span></p>
<p><span class="wysiwyg-font-size-large"><strong>Q: Once a sticker is deleted, can it be brought back?</strong></span></p>
<p><span style="font-weight: 400;">A: No it cannot. There’s no way to undo this action, so once a custom sticker is deleted it’s gone for good!</span></p>
<p><span class="wysiwyg-font-size-large"><strong>Q: Can I upload multiple stickers at a time?</strong></span></p>
<p><span style="font-weight: 400;">A: You won't be able to upload multiple stickers at once right now. If you’d like to see this in the future though, head to our feedback site and vote up the idea:</span><a href="https://dis.gd/feedback"> <span style="font-weight: 400;">https://dis.gd/feedback</span></a></p>
<p><span class="wysiwyg-font-size-large"><strong>Q: What happens to the previously uploaded custom stickers if the server loses a Boost level?</strong></span></p>
<p><span style="font-weight: 400;">A: Don’t worry, your custom stickers are safe! If your server loses a Boost level, then you won’t be able to use the custom stickers in that level until the Boost level is reached again. You’ll also be able to see exactly which custom stickers can’t be used after losing a Boost level under Server Settings &gt; Stickers. </span></p>
<p><span class="wysiwyg-font-size-large"><strong>Q: Can we delete stickers that are locked behind a recently lost Boost level?</strong></span></p>
<p><span style="font-weight: 400;">A: Yes, you can still delete stickers in the locked level if you need to by following the same deletion steps listed above!</span></p>
<p><span class="wysiwyg-underline"><span class="wysiwyg-color-orange110 wysiwyg-font-size-large"><strong>File Type Questions</strong></span></span></p>
<p><span class="wysiwyg-font-size-large"><strong>Q: What’s the difference between APNG and a PNG file?</strong></span></p>
<p><span style="font-weight: 400;">A: PNG files are a static, image file format that compresses images in a specific way to prevent quality loss. An APNG file is the animated version of this file format! </span></p>
<p><span class="wysiwyg-font-size-large"><strong>Q: Why can’t we use other file types for custom stickers?</strong></span></p>
<p><strong>A: </strong><span style="font-weight: 400;">We wanted to make sure your sticker creations looked just as beautiful in the app as when you’re creating them, so we chose file types that will help support that!</span></p>