<h3 data-pm-slice='1 1 ["list",{},"list_item",{"indent":2,"type":"bulleted"}]'>Note: Localized pricing is rolling out to users on Desktop, Android, and iOS.</h3>
<h3 data-pm-slice='1 1 ["list",{},"list_item",{"indent":2,"type":"bulleted"}]'>Note: Localized pricing is available for Brazil, Turkey, Poland, Australia, the Philippines, Peru, Argentina, Colombia, Chile, and Japan.</h3>
<p><span style="font-weight: 400;"><span class="wysiwyg-font-size-large"><strong>What does this article cover?</strong></span></span></p>
<ul>
<li><span class="wysiwyg-font-size-large"><a href="#h_01FF2DR4TZB0B9Z5280XYBYGZF" target="_self" rel="undefined">How do I get local pricing?</a></span></li>
<li><span class="wysiwyg-font-size-large"><a href="#h_01FF381T2THYV39BDPAS9ZXB8K" target="_self">Localized Prices</a></span></li>
<li><a href="#h_01FF2DRB9H7XBF5A3HJGN9F70T" target="_self"><span style="font-weight: 400;"><span class="wysiwyg-font-size-large">Frequently Asked Questions</span></span></a></li>
</ul>
<h2 id="h_01FF2DR4TZB0B9Z5280XYBYGZF">How do I get local pricing?</h2>
<ul>
<li>To get localized pricing, you must use a payment method issued by a bank in your country. <em>For PayPal, you need to have a local billing address.</em>
</li>
<li>JCB, Discover, Diners Club, and UnionPay currently do not support localized pricing. <em>Additionally, AMEX and certain Brazilian banks do not support BRL.</em>
</li>
<li>If you are using an eligible payment method, you will automatically switch to the new price + currency. The change will take effect at your next billing cycle.</li>
</ul>
<h1 id="h_01FF381T2THYV39BDPAS9ZXB8K">Localized Prices</h1>
<table style="border-collapse: collapse; height: 184px; width: 72.8243%;">
<tbody>
<tr style="height: 28px;">
<td style="width: 284.549%; height: 28px;" colspan="4"><span class="wysiwyg-color-blue90 wysiwyg-font-size-large"><strong>Nitro</strong></span></td>
</tr>
<tr style="height: 17px;">
<td style="width: 1.443%; height: 17px;"> </td>
<td style="width: 1.96078%; height: 17px;"><span style="font-weight: 400;"> </span></td>
<td style="width: 49.7475%; height: 17px;"><strong>Monthly</strong></td>
<td style="width: 231.398%; height: 17px;"><strong>Yearly</strong></td>
</tr>
<tr style="height: 21px;">
<td style="width: 1.443%; height: 21px;"><strong>USD</strong></td>
<td style="width: 1.96078%; height: 21px;"><strong>dollar</strong></td>
<td style="width: 49.7475%; height: 21px;"><span style="font-weight: 400;">9.99</span></td>
<td style="width: 231.398%; height: 21px;"><span style="font-weight: 400;">99.99</span></td>
</tr>
<tr style="height: 21px;">
<td style="width: 1.443%; height: 21px;"><strong>BRL</strong></td>
<td style="width: 1.96078%; height: 21px;"><strong>real</strong></td>
<td style="width: 49.7475%; height: 21px;"><span style="font-weight: 400;">24.99</span></td>
<td style="width: 231.398%; height: 21px;"><span style="font-weight: 400;">249.99</span></td>
</tr>
<tr style="height: 21px;">
<td style="width: 1.443%; height: 21px;"><strong>TRY</strong></td>
<td style="width: 1.96078%; height: 21px;"><strong>lira</strong></td>
<td style="width: 49.7475%; height: 21px;"><span style="font-weight: 400;">26.99</span></td>
<td style="width: 231.398%; height: 21px;"><span style="font-weight: 400;">269.99</span></td>
</tr>
<tr style="height: 10px;">
<td style="width: 1.443%; height: 10px;"><strong>PLN</strong></td>
<td style="width: 1.96078%; height: 10px;"><strong>złoty</strong></td>
<td style="width: 49.7475%; height: 10px;"><span style="font-weight: 400;">19.99</span></td>
<td style="width: 231.398%; height: 10px;"><span style="font-weight: 400;">199.99</span></td>
</tr>
<tr style="height: 22px;">
<td style="width: 1.443%; height: 22px;"><strong>AUD</strong></td>
<td style="width: 1.96078%; height: 22px;"><strong>dollar</strong></td>
<td style="width: 49.7475%; height: 22px;"><span style="font-weight: 400;">12.99</span></td>
<td style="width: 231.398%; height: 22px;"><span style="font-weight: 400;">129.99</span></td>
</tr>
<tr style="height: 22px;">
<td style="width: 1.443%; height: 22px;"><strong>PHP</strong></td>
<td style="width: 1.96078%; height: 22px;"><strong>peso</strong></td>
<td style="width: 49.7475%; height: 22px;"><span style="font-weight: 400;">263.99</span></td>
<td style="width: 231.398%; height: 22px;"><span style="font-weight: 400;">2639.99</span></td>
</tr>
<tr style="height: 22px;">
<td style="width: 1.443%; height: 22px;"><strong>PEN</strong></td>
<td style="width: 1.96078%; height: 22px;"><strong>sol</strong></td>
<td style="width: 49.7475%; height: 22px;"><span style="font-weight: 400;">23.99</span></td>
<td style="width: 231.398%; height: 22px;">239.99</td>
</tr>
<tr>
<td style="width: 1.443%;"><strong>ARS</strong></td>
<td style="width: 1.96078%;"><strong>peso</strong></td>
<td style="width: 49.7475%;"><span style="font-weight: 400;">585 </span></td>
<td style="width: 231.398%;">5850</td>
</tr>
<tr>
<td style="width: 1.443%;"><strong>CLP</strong></td>
<td style="width: 1.96078%;"><strong>peso</strong></td>
<td style="width: 49.7475%;"><span style="font-weight: 400;">5360 </span></td>
<td style="width: 231.398%;">53600</td>
</tr>
<tr>
<td style="width: 1.443%;"><strong>COP</strong></td>
<td style="width: 1.96078%;"><strong>peso</strong></td>
<td style="width: 49.7475%;"><span style="font-weight: 400;">19570 </span></td>
<td style="width: 231.398%;">195700</td>
</tr>
<tr>
<td style="width: 1.443%;"><strong>JPY</strong></td>
<td style="width: 1.96078%;"><strong>yen</strong></td>
<td style="width: 49.7475%;"><span style="font-weight: 400;">1050 </span></td>
<td style="width: 231.398%;">10500</td>
</tr>
</tbody>
</table>
<p> </p>
<table style="border-collapse: collapse; height: 120px; width: 72.8243%;">
<tbody>
<tr style="height: 28px;">
<td style="width: 284.031%; height: 28px;" colspan="4"><span class="wysiwyg-font-size-large wysiwyg-color-orange110"><strong>Nitro Classic</strong></span></td>
</tr>
<tr style="height: 17px;">
<td style="width: 1.443%; height: 17px;"> </td>
<td style="width: 1.443%; height: 17px;"><span style="font-weight: 400;"> </span></td>
<td style="width: 49.7475%; height: 17px;"><strong>Monthly</strong></td>
<td style="width: 231.398%; height: 17px;"><strong>Yearly</strong></td>
</tr>
<tr style="height: 21px;">
<td style="width: 1.443%; height: 21px;"><strong>USD</strong></td>
<td style="width: 1.443%; height: 21px;"><strong>dollar</strong></td>
<td style="width: 49.7475%; height: 21px;"><span style="font-weight: 400;">4.99</span></td>
<td style="width: 231.398%; height: 21px;"><span style="font-weight: 400;">49.99</span></td>
</tr>
<tr style="height: 21px;">
<td style="width: 1.443%; height: 21px;"><strong>BRL</strong></td>
<td style="width: 1.443%; height: 21px;"><strong>real</strong></td>
<td style="width: 49.7475%; height: 21px;"><span style="font-weight: 400;">12.49</span></td>
<td style="width: 231.398%; height: 21px;"><span style="font-weight: 400;">124.49</span></td>
</tr>
<tr style="height: 21px;">
<td style="width: 1.443%; height: 21px;"><strong>TRY</strong></td>
<td style="width: 1.443%; height: 21px;"><strong>lira</strong></td>
<td style="width: 49.7475%; height: 21px;">13.49</td>
<td style="width: 231.398%; height: 21px;"><span style="font-weight: 400;">134.49</span></td>
</tr>
<tr style="height: 10px;">
<td style="width: 1.443%; height: 12px;"><strong>PLN</strong></td>
<td style="width: 1.443%; height: 12px;"><strong>złoty</strong></td>
<td style="width: 49.7475%; height: 12px;"><span style="font-weight: 400;">9.99</span></td>
<td style="width: 231.398%; height: 12px;"><span style="font-weight: 400;">99.99</span></td>
</tr>
<tr>
<td style="width: 1.443%;"><strong>AUD</strong></td>
<td style="width: 1.443%;"><strong>dollar</strong></td>
<td style="width: 49.7475%;"><span style="font-weight: 400;">6.49</span></td>
<td style="width: 231.398%;"><span style="font-weight: 400;">64.99</span></td>
</tr>
<tr>
<td style="width: 1.443%;"><strong>PHP</strong></td>
<td style="width: 1.443%;"><strong>peso</strong></td>
<td style="width: 49.7475%;"><span style="font-weight: 400;">131.99</span></td>
<td style="width: 231.398%;"><span style="font-weight: 400;">1319.99</span></td>
</tr>
<tr>
<td style="width: 1.443%;"><strong>PEN</strong></td>
<td style="width: 1.443%;"><strong>sol</strong></td>
<td style="width: 49.7475%;"><span style="font-weight: 400;">11.99</span></td>
<td style="width: 231.398%;"><span style="font-weight: 400;">119.99</span></td>
</tr>
<tr>
<td style="width: 1.443%;"><strong>ARS</strong></td>
<td style="width: 1.443%;"><strong>peso</strong></td>
<td style="width: 49.7475%;"><span style="font-weight: 400;">292 </span></td>
<td style="width: 231.398%;"><span style="font-weight: 400;">2920 </span></td>
</tr>
<tr>
<td style="width: 1.443%;"><strong>CLP</strong></td>
<td style="width: 1.443%;"><strong>peso</strong></td>
<td style="width: 49.7475%;"><span style="font-weight: 400;">2680 </span></td>
<td style="width: 231.398%;"><span style="font-weight: 400;">26800 </span></td>
</tr>
<tr>
<td style="width: 1.443%;"><strong>COP</strong></td>
<td style="width: 1.443%;"><strong>peso</strong></td>
<td style="width: 49.7475%;"><span style="font-weight: 400;">9780 </span></td>
<td style="width: 231.398%;"><span style="font-weight: 400;">97800 </span></td>
</tr>
<tr>
<td style="width: 1.443%;"><strong>JPY</strong></td>
<td style="width: 1.443%;"><strong>yen</strong></td>
<td style="width: 49.7475%;"><span style="font-weight: 400;">500 </span></td>
<td style="width: 231.398%;"><span style="font-weight: 400;">5000 </span></td>
</tr>
</tbody>
</table>
<p> </p>
<table style="border-collapse: collapse; height: 269px; width: 514px;">
<tbody>
<tr style="height: 21px;">
<td style="width: 502px; height: 21px;" colspan="4">
<span class="wysiwyg-color-pink110 wysiwyg-font-size-large"><strong>Server Boosting</strong></span><span style="font-weight: 400;"><br></span>
</td>
</tr>
<tr style="height: 21px;">
<td style="width: 37.3281px; height: 21px;"> </td>
<td style="width: 51.4531px; height: 21px;"> </td>
<td style="width: 196.609px; height: 21px;"><strong>Monthly</strong></td>
<td style="width: 183.609px; height: 21px;"><strong>Yearly</strong></td>
</tr>
<tr style="height: 21px;">
<td style="width: 37.3281px; height: 21px;"><strong>USD</strong></td>
<td style="width: 51.4531px; height: 21px;"><strong>dollar</strong></td>
<td style="width: 196.609px; height: 21px;"><span style="font-weight: 400;">4.99</span></td>
<td style="width: 183.609px; height: 21px;"><span style="font-weight: 400;">49.99</span></td>
</tr>
<tr style="height: 21px;">
<td style="width: 37.3281px; height: 21px;"><strong>BRL</strong></td>
<td style="width: 51.4531px; height: 21px;"><strong>real</strong></td>
<td style="width: 196.609px; height: 21px;"><span style="font-weight: 400;">25.99</span></td>
<td style="width: 183.609px; height: 21px;"><span style="font-weight: 400;">259.99</span></td>
</tr>
<tr style="height: 21px;">
<td style="width: 37.3281px; height: 21px;"><strong>TRY</strong></td>
<td style="width: 51.4531px; height: 21px;"><strong>lira</strong></td>
<td style="width: 196.609px; height: 21px;"><span style="font-weight: 400;">41.99</span></td>
<td style="width: 183.609px; height: 21px;"><span style="font-weight: 400;">419.99</span></td>
</tr>
<tr style="height: 10px;">
<td style="width: 37.3281px; height: 10px;"><strong>PLN</strong></td>
<td style="width: 51.4531px; height: 10px;"><strong>złoty</strong></td>
<td style="width: 196.609px; height: 10px;">19.29</td>
<td style="width: 183.609px; height: 10px;"><span style="font-weight: 400;">192.29</span></td>
</tr>
<tr style="height: 22px;">
<td style="width: 37.3281px; height: 22px;"><strong>AUD</strong></td>
<td style="width: 51.4531px; height: 22px;"><strong>dollar</strong></td>
<td style="width: 196.609px; height: 22px;">6.99</td>
<td style="width: 183.609px; height: 22px;"><span style="font-weight: 400;">69.99</span></td>
</tr>
<tr style="height: 22px;">
<td style="width: 37.3281px; height: 22px;"><strong>PHP</strong></td>
<td style="width: 51.4531px; height: 22px;"><strong>peso</strong></td>
<td style="width: 196.609px; height: 22px;">262.99</td>
<td style="width: 183.609px; height: 22px;"><span style="font-weight: 400;">2631.99</span></td>
</tr>
<tr style="height: 22px;">
<td style="width: 37.3281px; height: 22px;"><strong>PEN</strong></td>
<td style="width: 51.4531px; height: 22px;"><strong>sol</strong></td>
<td style="width: 196.609px; height: 22px;">18.99</td>
<td style="width: 183.609px; height: 22px;"><span style="font-weight: 400;">185.99</span></td>
</tr>
<tr style="height: 22px;">
<td style="width: 37.3281px; height: 22px;"><strong>ARS</strong></td>
<td style="width: 51.4531px; height: 22px;"><strong>peso</strong></td>
<td style="width: 196.609px; height: 22px;">569</td>
<td style="width: 183.609px; height: 22px;"><span style="font-weight: 400;">5690</span></td>
</tr>
<tr style="height: 22px;">
<td style="width: 37.3281px; height: 22px;"><strong>CLP</strong></td>
<td style="width: 51.4531px; height: 22px;"><strong>peso</strong></td>
<td style="width: 196.609px; height: 22px;">4070</td>
<td style="width: 183.609px; height: 22px;"><span style="font-weight: 400;">40700 </span></td>
</tr>
<tr style="height: 22px;">
<td style="width: 37.3281px; height: 22px;"><strong>COP</strong></td>
<td style="width: 51.4531px; height: 22px;"><strong>peso</strong></td>
<td style="width: 196.609px; height: 22px;">18745</td>
<td style="width: 183.609px; height: 22px;"><span style="font-weight: 400;">187450 </span></td>
</tr>
<tr style="height: 22px;">
<td style="width: 37.3281px; height: 22px;"><strong>JPY</strong></td>
<td style="width: 51.4531px; height: 22px;"><strong>yen</strong></td>
<td style="width: 196.609px; height: 22px;">639</td>
<td style="width: 183.609px; height: 22px;"><span style="font-weight: 400;">6408 </span></td>
</tr>
</tbody>
</table>
<h1 id="h_01FF2DRB9H7XBF5A3HJGN9F70T"><span style="font-weight: 400;"><span class="wysiwyg-font-size-large"><strong>Frequently Asked Questions</strong></span></span></h1>
<p><span style="font-weight: 400;"><span class="wysiwyg-font-size-large"><strong>Q: What about other countries?</strong></span></span></p>
<p><span style="font-weight: 400;">A: We’re always looking to improve Nitro, but we have no updates to share on pricing in other countries at this time.</span></p>
<p><span class="wysiwyg-font-size-large"><strong>Q: I’m a desktop subscriber in one of these countries, how come I don’t have the lower price?</strong></span></p>
<p><span style="font-weight: 400;">A: Go to the Subscriptions page - if you don’t see the lower price listed for your subscription, make sure you have a valid payment method and that the payment method is issued by a bank in one of the eligible countries. You should then receive a popup asking you to confirm your localized price. </span><span style="font-weight: 400;"> </span></p>
<p><span class="wysiwyg-font-size-large"><strong>Q: How can I see if I am receiving the lower price?</strong></span><span style="font-weight: 400;"><br></span><span style="font-weight: 400;">A: The desktop subscriptions settings page will show you what price you are receiving for Nitro. If it doesn’t currently show the localized price, you may still be eligible. Follow the steps in the Q above. </span></p>
<p><span class="wysiwyg-font-size-large"><strong>Q: When does the new price take effect?</strong></span></p>
<p><span style="font-weight: 400;">A: At your next billing cycle. </span></p>
<p><span style="font-weight: 400;"><span class="wysiwyg-font-size-large"><strong>Q: What tiers are eligible?</strong></span> </span></p>
<p><span style="font-weight: 400;">A: New prices apply to Nitro Classic and Standard (monthly and yearly) as well as Boosts. </span></p>
<p><span style="font-weight: 400;"><span class="wysiwyg-font-size-large"><strong>Q: Do Nitro Gifts have localized pricing?</strong></span> </span></p>
<p><span style="font-weight: 400;">A: Unfortunately, Nitro gifts will be under the same prices as USD.</span></p>
<p><span class="wysiwyg-font-size-large"><strong>Q: I still can’t pay for Nitro because [X] (e.g. you don’t accept my payment method).</strong></span></p>
<p><span style="font-weight: 400;">A: We’re trying to improve support for buying Nitro in many different countries! Any feedback from users is helpful to us.</span></p>
<p><span style="font-weight: 400;"><strong>Q: <span class="wysiwyg-font-size-large">My bank in Brazil won't process my payment in BRL. What should I do? </span></strong></span></p>
<p><span style="font-weight: 400;">A: We are aware of this issue and working on a fix with our payment providers. We apologize for any inconvenience! In the meantime, you can try switching to an alternative payment method, which may resolve the issue.</span></p>
<p><span class="wysiwyg-font-size-large"><strong>Q: I purchased a Nitro/Nitro Classic Monthly or Yearly subscription before localized pricing became available in my country. Can I get a refund?</strong></span></p>
<p>A: We are happy to issue a refund for your purchase if it falls within our <a href="https://support.discord.com/hc/en-us/articles/360012668071" target="_blank" rel="noopener noreferrer">Refund Policy</a>. If your purchase falls within the refund policy, you can reach out to our support team here to request a refund: <a href="dis.gd/billing" target="_blank" rel="noopener noreferrer">dis.gd/billing</a></p>
<p>If your purchase falls outside the refund policy, our team is unable to issue a refund. However, your subscription will automatically be updated to the new localized price upon the next renewal date. We appreciate your understanding!</p>