<p><strong><img src="https://support.discord.com/hc/article_attachments/4420158994711/Untitled.png" alt="Untitled.png"></strong></p>
<p><strong>What does this article cover?</strong></p>
<ul>
<li>
<strong>What is Ocho?</strong>
<ul>
<li><strong>How to start an Ocho game?</strong></li>
</ul>
</li>
<li><strong>How do I join Discord Games Lab?</strong></li>
<li><strong>Discord Games Lab Server FAQ</strong></li>
</ul>
<h1>WHAT IS OCHO?</h1>
<p>Ocho is an <a href="https://support.discord.com/hc/articles/4422142836759" target="_blank" rel="noopener">Activity</a> that we've developed here at Discord. It is our Crazy Eights-inspired card game that you can play with your friends! The rules are simple — on your turn, discard a card from your hand with the same suit or number as the previous card. Playing special cards allows you to skip other players, reverse the direction of play, and even swap hands with other players. The first person to discard all their cards wins!</p>
<h2>HOW TO START AN OCHO GAME?</h2>
<p>To start an Ocho game, follow these steps below!  </p>
<ul>
<li style="font-weight: 400;" aria-level="2">
<span style="font-weight: 400;">Join a voice channel</span>
<ul>
<li style="font-weight: 400;" aria-level="3"><span style="font-weight: 400;">Once joined, you should see the Activity Launcher (it looks like a rocket ship) in the voice channel controls.</span></li>
</ul>
</li>
<li style="font-weight: 400;" aria-level="2"><span style="font-weight: 400;">Click the Activity Launcher to open the Activity Shelf"</span></li>
<li style="font-weight: 400;" aria-level="2"><span style="font-weight: 400;">Then select "Ocho"</span></li>
</ul>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/4423041653143/Activity_Selector_-_No_Boost.png" alt="Activity_Selector_-_No_Boost.png" width="359" height="564"></p>
<ul>
<li class="wysiwyg-text-align-left"><span style="font-weight: 400;">Once you've authorized Ocho to access your account, you can begin playing with anyone on the server.</span></li>
</ul>
<p class="wysiwyg-text-align-center"><span style="font-weight: 400;"><img src="https://support.discord.com/hc/article_attachments/4420132683287/ochoAuth.jpg" alt="ochoAuth.jpg"></span></p>
<h3 class="wysiwyg-text-align-left"><span style="font-weight: 400;">Note: Ocho is a game for 2-5 players. However, more members can join the activity as spectators and join the queue to play in future hands.</span></h3>
<h1><span style="font-weight: 400;"><span class="notion-enable-hover" data-token-index="0" data-reactroot="">WANT TO JOIN IN ON THE SHENANIGANS?</span></span></h1>
<p><span style="font-weight: 400;">Since we’re still testing, Ocho is only available in a Limited selection of servers. However, you can play it</span> and other early Activities in the public <strong>Discord Games Lab server</strong>!</p>
<p><span style="font-weight: 400;">Since the game is still an experimental experience, we’re looking to hear feedback directly from our users so you’ll see Discord devs in there pretty frequently!</span></p>
<h3>Here's a link to the public server: <a href="https://discord.com/invite/discordgameslab">https://discord.com/invite/discordgameslab</a> </h3>
<h1><span class="notion-enable-hover" data-token-index="0" data-reactroot="">DISCORD GAMES LAB SERVER FAQ</span></h1>
<p><span class="wysiwyg-font-size-large"><strong>Q: Why is Discord adding games into voice channels?</strong></span></p>
<p>A: We started Discord because we are all about bringing people together around gaming. As Discord has grown, we've seen more and more people use Discord to come together around games. For instance, we’ve seen people use Discord to not only play <em>League</em> but also to hang out and play more casual, social games with friends like <em>Jackbox</em> and <em>Among Us</em>.</p>
<p>For more information about Activities on Discord, go <a href="https://support.discord.com/hc/articles/4422142836759" target="_blank" rel="noopener">here</a>!</p>
<p><span class="wysiwyg-font-size-large"><strong>Q: Is there an age requirement?</strong></span></p>
<p>A: There is no age requirement for Ocho</p>
<p><span class="wysiwyg-font-size-large"><strong>Q: How do I play?</strong></span></p>
<p>A: To start a game, first join one of the voice channels. Once there, you should see the Activity Launcher (it looks like a rocket ship) in the voice channel controls. Click the Activity Launcher to open the Activity Shelf, and then select "Ocho".</p>
<p><span class="wysiwyg-font-size-large"><strong>Q: Where can I report bugs and problems with the game?</strong></span></p>
<p>A: Check out our <span class="wrapper-3WhCwL mention interactive">#<span style="font-weight: 400;">feedback-and-bugs</span></span> channel in the <strong>Discord Games Lab server</strong> and make sure to follow the format to report any issues.</p>
<p><span class="wysiwyg-font-size-large"><strong>Q: Can I give feedback on Ocho?</strong></span></p>
<p>A: Absolutely, we would love to hear what you have to say about the game, etc. You can post in the <span class="wrapper-3WhCwL mention interactive">#<span style="font-weight: 400;">feedback-and-bugs </span>channel in the <strong>Discord Games Lab server.</strong></span></p>
<p><span class="wysiwyg-font-size-large"><strong>Q: How do I view/delete my Activities on Discord data?</strong></span></p>
<p>A: To enhance the gameplay experience, Discord Activities access and temporarily store the following user data once a user joins the Activity:</p>
<ul>
<li>Discord ID</li>
<li>Avatar</li>
<li>Username</li>
</ul>
<p>For Activities played in a single session, user data is stored so long as the Activity remains active, even if the user leaves the Activity. Once all users leave the Activity and it is determined the Activity has ended, the user data is deleted and no longer retained.</p>
<p>For Activities that can be played across multiple sessions (like with Chess in the Park or Checkers in the Park), the user data above is retained. You can view or delete your data from these Activities on <strong><a href="https://discordactivities.com/">this website</a></strong>.</p>
<h3>Note: Deleting your data will remove all of your progression across these Discord-developed activities.</h3>
<p><span class="wysiwyg-font-size-large"><strong>Q: My question isn't listed, what do I do?</strong></span></p>
<p>A: If you have feedback or issues, use <span class="wrapper-3WhCwL mention interactive">#<span style="font-weight: 400;">feedback-and-bugs in the Discord Games Lab server</span></span>.</p>
<p>If all is lost, please submit a ticket to our support team at <strong><a href="https://dis.gd/contact">https://dis.gd/contact</a></strong></p>
<p class="wysiwyg-text-align-center"> </p>