<p><strong><span class="wysiwyg-font-size-large">What does this article cover?</span></strong></p>
<ul>
<li>
<a href="#h_01FZBD4FX012WW6382Q64RK19B" target="_self">What is Putt Party?</a>
<ul>
<li><a href="#h_01FZBD4MXXYHF2CZ1S3GXFC3QN" target="_self">How to start a Putt Party game?</a></li>
</ul>
</li>
<li><a href="#h_01FZBD4TYXJMYNVVSTYWEXCHHF" target="_self">How do I join Discord Games Lab?</a></li>
<li><a href="#h_01FZBD57EAWMHWTB4GTXEE1HXC" target="_self">Discord Games Lab Server FAQ</a></li>
</ul>
<h1 id="h_01FZBD4FX012WW6382Q64RK19B"><span class="notion-enable-hover" data-token-index="0" data-reactroot="">WHAT IS PUTT PARTY?</span></h1>
<p><span class="notion-enable-hover" data-token-index="0" data-reactroot="">Putt Party is an Activity that we've developed here at Discord. It is our putting golf game that you can play with your friends! Play through themed courses simultaneously as you try to get your ball in the hole in the fewest amount of strokes. Scattered throughout the courses are power-ups that can be used to make your shots easier, or your opponent’s shots harder. Players who complete the course in the fewest amount of strokes are the winners!</span></p>
<h2 id="h_01FZBD4MXXYHF2CZ1S3GXFC3QN"><span class="notion-enable-hover" data-token-index="0" data-reactroot="">HOW TO START A PUTT PARTY GAME?</span></h2>
<p>To start a Putt Party game, follow these steps below!</p>
<ul>
<li>Join a voice channel
<ul>
<li>Once joined, you should see the Activity Launcher (it looks like a rocket ship) in the voice channel controls.</li>
</ul>
</li>
<li>Click the Activity Launcher to open the Activity Shelf</li>
<li>Then select "Putt Party"</li>
</ul>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/5101881425431/activities.png" alt="activities.png" width="342" height="444"></p>
<ul>
<li>Once you've authorized Putt Party to access your account, you can begin playing with anyone on the server.</li>
</ul>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/5101903388695/authorize.png" alt="authorize.png" width="315" height="647"></p>
<h3><span class="notion-enable-hover" data-token-index="0" data-reactroot="">Note: Putt Party is a game for 1-8 players. However, more members can join the activity as spectators and join the queue to play in future rounds.</span></h3>
<h2 id="h_01FZBD4TYXJMYNVVSTYWEXCHHF"><span class="notion-enable-hover" data-token-index="0" data-reactroot="">WANT TO JOIN IN ON THE SHENANIGANS</span></h2>
<p>Since we’re still testing, Putt Party is only available in a small (random) selection of servers. However, you can play Putt Party and other early Activities in the public <strong>Discord Games Lab server</strong>!</p>
<p>Since the game is still an experimental experience, we’re looking to hear feedback directly from our users so you’ll see Discord devs in there pretty frequently!</p>
<h3><strong>Here's a link to the public server: <a href="https://discord.com/invite/discordgameslab" target="_blank" rel="noopener noreferrer">https://discord.com/invite/discordgameslab</a></strong></h3>
<h2 id="h_01FZBD57EAWMHWTB4GTXEE1HXC"><strong><span class="notion-enable-hover" data-token-index="0" data-reactroot="">DISCORD GAMES LAB SERVER FAQ</span></strong></h2>
<p><strong>Q: Why is Discord adding games into voice channels?</strong></p>
<p>A: We started Discord because we are all about bringing people together around gaming. As Discord has grown, we've seen more and more people use Discord to come together around games. For instance, we’ve seen people use Discord to not only play <em>League</em> but also to hang out and play more casual, social games with friends like <em>Jackbox</em> and <em>Among Us</em>.</p>
<p><span class="wysiwyg-font-size-large"><strong>Q: Is there an age requirement?</strong></span></p>
<p>A: There is no age requirement for Putt Party.</p>
<p><span class="wysiwyg-font-size-large"><strong>Q: How do I play?</strong></span></p>
<p>A: To start a game, first join one of the voice channels. Once there, you should see the Activity Launcher (it looks like a rocket ship) in the voice channel controls. Click the Activity Launcher to open the Activity Shelf, and then select "Putt Party".'</p>
<p><span class="wysiwyg-font-size-large"><strong>Q: Where can I report bugs and problems with the game?</strong></span></p>
<p>A: Check out our #bugs-and-issues channel in the Discord Games Lab server and make sure to follow the format to report any issues.</p>
<p><span class="wysiwyg-font-size-large"><strong>Q: Can I give feedback on Putt Party?</strong></span></p>
<p>A: Absolutely, we would love to hear what you have to say about the game, etc. You can post in the #feedback-and-bugs channel in the Discord Games Lab server</p>
<p><span class="wysiwyg-font-size-large"><strong>Q: How do I view/delete my Activities on Discord data?</strong></span></p>
<p>A: To enhance the gameplay experience, Discord Activities access and temporarily store the following user data once a user joins the Activity:</p>
<ul>
<li>Discord ID</li>
<li>Avatar</li>
<li>Username</li>
</ul>
<p>For Activities played in a single session, user data is stored so long as the Activity remains active, even if the user leaves the Activity. Once all users leave the Activity and it is determined the Activity has ended, the user data is deleted and no longer retained.</p>
<p>For Activities that can be played across multiple sessions (like with Chess in the Park or Checkers in the Park), the user data above is retained. You can view or delete your data from these Activities on <strong><a href="https://discordactivities.com/" target="_blank" rel="noopener noreferrer">this website</a></strong>.</p>
<h3><em><strong>Note: Deleting your data will remove all of your progression across these Discord-developed activities.</strong></em></h3>
<p><span class="wysiwyg-font-size-large"><strong>Q: My question isn't listed, what do I do?</strong></span></p>
<p>A: If you have game feedback, bugs, or issues, please post in the #feedback-and-bugs channel in the Discord Games Lab server.</p>
<p>If all is lost, please submit a ticket to our support team at <strong><a href="https://dis.gd/contact" target="_blank" rel="noopener noreferrer">https://dis.gd/contact</a></strong></p>