<p>If Discord detects suspicious account behavior on your account, we may place your account in quarantine.</p>
<p>If your account is in quarantine, you will not be able to join new servers or initiate new direct messages. Placing accounts with suspicious behavior in quarantine helps us maintain a high-quality experience for everyone on the platform.</p>
<h1>How do I know I’ve been placed in Quarantine?</h1>
<p>You will see a red bar at the top of your Discord client that says: ‘Your account is quarantined. You can’t join new servers or start new DMs.’</p>
<h3>While you are in quarantine, you will not be able to dismiss this notice. <br><img src="https://support.discord.com/hc/article_attachments/6461366943255/Quarantine.png" alt="Quarantine.png">
</h3>
<p><span style="font-weight: 400;">In Quarantine, you </span><strong>can</strong><span style="font-weight: 400;">: </span></p>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Message your existing friends</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Send outgoing friend requests</span></li>
</ul>
<p><span style="font-weight: 400;">You </span><strong>can’t</strong><span style="font-weight: 400;">: </span></p>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Direct message newly added friends made in quarantine</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Join new servers </span></li>
</ul>
<p><span style="font-weight: 400;">When attempting to join new servers, you will see this notification: </span></p>
<p class="wysiwyg-text-align-center"><span style="font-weight: 400;"><img src="https://support.discord.com/hc/article_attachments/6461383774999/account_quarentined.png" alt="account_quarentined.png" width="436" height="280"></span></p>
<p><span style="font-weight: 400;">When attempting to message newly added friends made in quarantine, you will see this notification instead of the chatbox: </span></p>
<p class="wysiwyg-text-align-center"><span style="font-weight: 400;"><img src="https://support.discord.com/hc/article_attachments/6461419391127/quarentined.png" alt="quarentined.png" width="440" height="267"></span></p>
<h1><span style="font-weight: 400;">How You’ll Appear to Others when in Quarantine</span></h1>
<p><span style="font-weight: 400;">You will appear normally to others in all cases. </span></p>
<h2><span style="font-weight: 400;">Getting out of Quarantine </span></h2>
<p><span style="font-weight: 400;">You can appeal quarantine by submitting a ticket using one of the following methods: </span></p>
<ol>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Clicking on the ‘Appeal Quarantine’ button at the top of your Discord client</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Clicking on the ‘appeal your quarantine’ link in the Quarantine notification that appears when you try to join a new server</span></li>
<li style="font-weight: 400;" aria-level="1">
<span style="font-weight: 400;">Submit a ticket </span><a href="https://support.discord.com/hc/en-us/requests/new?ticket_form_id=360000029731&amp;tf_360055270593=__dc.ticket_form-tnsv1_appeals_other_questions__&amp;tf_1500000257462=__dc.ticket_form-tnsv1_appeal_action_on_account_or_bot1__&amp;tf_360055271193=__dc.ticket_form-tnsv1_appeal_account__" target="_blank" rel="noopener noreferrer">here</a><span style="font-weight: 400;">. </span>
</li>
</ol>