<p><span style="font-weight: 400;">Starting from June 1, 2022 3:00pm GMT to June 15, 2022 2:59pm GMT, RAID: Shadow Legends users can claim 1 month of free Discord Nitro. Learn below about how you can claim<a href="https://support.discord.com/hc/en-us/articles/115000435108" target="_blank" rel="noopener noreferrer"> Discord Nitro</a>.</span></p>
<p class="wysiwyg-text-align-center"><span style="font-weight: 400;"><img src="https://support.discord.com/hc/article_attachments/6474298596887/raid-shadow-legends-logo.png" alt="raid-shadow-legends-logo.png"></span></p>
<p><span class="wysiwyg-font-size-large wysiwyg-color-blue90"><strong>TL;DR</strong></span></p>
<p><span style="font-weight: 400;"><span class="wysiwyg-color-orange110"><strong>Offer Details:</strong></span> 1 month of free Discord Nitro</span></p>
<p><span style="font-weight: 400;"><span class="wysiwyg-color-orange110"><strong>Who is Eligible: </strong></span></span><span style="font-weight: 300;"><span style="font-weight: 400;">First-time Discord Nitro subscribers only. </span></span>If a user currently has or previously had a Nitro Classic or Server Boosting only subscription active on their account, redeeming this promotion will override that subscription.</p>
<p>We will not be able to refund any leftover subscription time from those, and the user will be forfeiting the remainder of the existing sub when activating the 1 month Nitro trial.</p>
<p><span style="font-weight: 400;">This promotion is only available in certain regions. If you receive an "Sadly something went wrong here. You won't be able to use this code." error during the claim/redemption process, you are not eligible to redeem this promotion. You can learn more at this <a href="https://support.discord.com/hc/en-us/articles/4708041338391" target="_blank" rel="noopener noreferrer">Help Center article.</a></span></p>
<p><span style="font-weight: 400;"><span class="wysiwyg-color-orange110"><strong>Requirements:</strong></span> Claim through the email associated with your RAID: Shadows Legends account by June 1, 2022 3:00pm GMT, and redeem in Discord account by June 15, 2022 2:59pm GMT.<br></span></p>
<p><span style="font-weight: 400;"><span class="wysiwyg-color-orange110"><strong>Subscription:</strong></span> After the 1 month free trial period, your Nitro subscription will convert to a monthly recurring subscription, and Discord will bill your payment method for US$9.99/month until you cancel it. You can cancel at any time in your Discord User Settings. </span></p>
<h2>What does this article cover?</h2>
<ul>
<li aria-level="1"><a href="#h_01FB7TZG19PE7P9N0HBHZBWWS1" target="_self"><strong>What is Discord Nitro?</strong></a></li>
<li aria-level="1"><a href="#h_01FCFMYZ47CSG7FD4E906AW3GS" target="_self"><strong>What is RAID: Shadow Legends?</strong></a></li>
<li aria-level="1"><strong><a href="#h_01FCFMZ4DN4Y1KKEK4CKSMSAXH" target="_self">How do I claim the Nitro Promo from my RAID account?</a>  </strong></li>
<li>
<strong><a href="#h_01FCFN1GRYWSNKT58PTCR8ZT8S" target="_self">How do I redeem the Nitro Trial on my Discord Account?</a> </strong>
<ul>
<li><a href="#h_01FCZN7DAE284PT52X250Q8VN6" target="_self"><span style="font-weight: 400;">Eligibility for Redeeming the Nitro Trial</span></a></li>
<li>
<a href="#h_01FCFN3WP4XMA0KH15C7X30TP1" target="_self"><span style="font-weight: 400;">Step by Step Redeem Instructions</span></a>
<ul>
<li><span style="font-weight: 400;"><a href="#h_01FCZN7TQYJPEDJPZ8KT5GZM8K" target="_self">What If I've Only Had a Nitro Classic or Server Boosting Subscription?</a> </span></li>
</ul>
</li>
</ul>
</li>
<li aria-level="1"><a href="#h_01FCFN0ZS87Z8XQFSYJV5EAWWQ" target="_self"><strong>How do I share my Code with a Friend?</strong></a></li>
<li aria-level="1">
<a href="#h_01FB7V0MPXX1S4TS09KPTZ1WSZ" target="_self"><strong>Frequently Asked Questions</strong></a>
<ul>
<li><a href="#h_01FCZMYZN05BHAKKQY863FS8CC" target="_self"><span style="font-weight: 400;">Promotion Details</span></a></li>
<li style="font-weight: 400;" aria-level="2"><a href="#h_01FCZMZH0A73Y0S83JS09J1R0H" target="_self"><span style="font-weight: 400;">Eligibility for the Promotion</span></a></li>
<li style="font-weight: 400;" aria-level="2"><a href="#h_01FBJJ5MXD8WM3EKKKEGBQHHGE" target="_self"><span style="font-weight: 400;">Payment Info and Subscription Questions</span></a></li>
<li style="font-weight: 400;" aria-level="2"><a href="#h_01FCZMZX80MVAKFFS5AM4SYJC2" target="_self"><span style="font-weight: 400;">Potential Errors and Other Issues</span></a></li>
</ul>
</li>
</ul>
<h1 id="h_01FB7TZG19PE7P9N0HBHZBWWS1">What is Discord Nitro?</h1>
<p><span style="font-weight: 400;">With </span><a href="https://support.discord.com/hc/en-us/articles/115000435108" target="_blank" rel="noopener noreferrer">Nitro</a><span style="font-weight: 400;">, you’ll get many awesome chat perks to enhance your Discord experience. Upload custom emojis and stickers, enjoy bigger file uploads, stand out in your favorite Discords with unique Server Profiles, and more. Check out some of these perks below: </span></p>
<ul>
<li><a href="https://support.discord.com/hc/en-us/articles/360000270351" target="_blank" rel="noopener noreferrer">Custom Discord Tag</a></li>
<li><a href="https://support.discord.com/hc/en-us/articles/360036479811" target="_blank" rel="noopener noreferrer">Global Custom emojis</a></li>
<li><a href="https://support.discord.com/hc/en-us/articles/360041721052" target="_blank" rel="noopener noreferrer">Higher Video quality</a></li>
<li><a href="https://support.discord.com/hc/en-us/articles/360028038352" target="_blank" rel="noopener noreferrer">Server Boosting</a></li>
<li><a href="https://support.discord.com/hc/en-us/articles/115000435108" target="_blank" rel="noopener noreferrer">More Nitro &amp; Nitro Classic perks</a></li>
</ul>
<h1 id="h_01FCFMYZ47CSG7FD4E906AW3GS"><span class="wysiwyg-color-orange120">What is RAID: Shadow Legends?</span></h1>
<p><span style="font-weight: 400;">RAID: Shadow Legends, developed by Plarium, is a turn-based collection RPG with an extensive story-driven single player campaign and interconnected PvP component. Collect over 400 Champions, take down your opponents, and explore 1+ million Champion builds in this dark fantasy collection MMORPG! Learn more about RAID: Shadow Legends </span><a href="https://raidshadowlegends.com/" target="_blank" rel="noopener noreferrer">here</a><span style="font-weight: 400;">.</span></p>
<p><span style="font-weight: 400;">Plarium Global Ltd. is dedicated to creating the best mobile and social experience for our community of over 435 million hardcore and casual gamers worldwide. Our diverse portfolio includes over 20 games ranging from hardcore RPGs to casual adventures, featuring acclaimed titles such as Raid: Shadow Legends, Vikings: War of Clans, Lost Island: Blast Adventure, and the Stormfall franchise. You can check out more of Plarium’s game catalog </span><a href="https://plarium.com/" target="_blank" rel="noopener noreferrer">here</a><span style="font-weight: 400;">.</span></p>
<h1 id="h_01FCFMZ4DN4Y1KKEK4CKSMSAXH">How do I claim the Nitro Promo from my RAID: Shadow Legends account?</h1>
<p><strong>1) Check Your Email Tied to your RAID: Shadow Legends account</strong></p>
<p><span style="font-weight: 400;">You must meet the requirements set by Plarium to receive this promo under your RAID: Shadow Legends account.</span></p>
<p><span style="font-weight: 400;">Once you qualify, you can claim 1 month of Discord Nitro through an email sent by the Plarium team.</span></p>
<p><span style="font-weight: 400;">Start by logging into your email that is tied to your RAID: Shadow Legends account, and then check for an email inbox for a new email from the Plarium team.</span></p>
<p><span style="font-weight: 400;">You can also search for "Nitro" in your email inbox.</span></p>
<p><strong>2) Press on the claim button or link</strong></p>
<p><span style="font-weight: 400;">Once you have found the email, press on the claim button or link within the email and you'll be automatically redirected to a browser window to redeem the promotion.</span></p>
<p><strong>The unique promotion link will look like this:</strong><span style="font-weight: 400;"> https://discord.com/billing/promotions/XXXXXXXXXXXXXXXX  </span></p>
<h1 id="h_01FCFN1GRYWSNKT58PTCR8ZT8S" class="wysiwyg-text-align-left">How do I redeem the Nitro Trial on my Discord Account?</h1>
<p><strong><span style="font-weight: 400;">Once you have claimed the promo link, you'll now need to officially redeem this promo link on your Discord account (or share this code with a friend). You must redeem this Nitro trial by June 15, 2022 2:59pm GMT</span>.</strong></p>
<h2 id="h_01FCZN7DAE284PT52X250Q8VN6">Eligibility for Redeeming the Nitro Trial</h2>
<h3><span style="font-weight: 400;">This promotion is only available in certain regions. If you receive an "Sadly something went wrong here. You won't be able to use this code." error during the claim/redemption process, you are not eligible to redeem this promotion. You can learn more at this <a href="https://support.discord.com/hc/en-us/articles/4708041338391" target="_blank" rel="noopener noreferrer">Help Center article.</a></span></h3>
<p><span style="font-weight: 400;">To redeem this promotion link to your Discord account, <strong>you must be a first time Nitro subscriber</strong>. </span></p>
<p><span style="font-weight: 400;"><span class="wysiwyg-color-blue90"><strong>HOWEVER</strong></span>, if you have activated any other Nitro trials or promotions or any gifted Nitro subscriptions at any point in time, you will not be eligible for this promotion. </span></p>
<h2 id="h_01FCFN3WP4XMA0KH15C7X30TP1">Step by Step Redeem Instructions</h2>
<p><span style="font-weight: 400;">If you're eligible and ready to redeem this Nitro subscription on your own Discord account, you can follow these steps below to redeem the promo.</span></p>
<h3>
<strong>NOTE:</strong><strong><br></strong>- Before redeeming Nitro, make sure you are logged in your own Discord account.<br>- If you accidentally redeemed the Nitro promo link on an account that is not yours, we are unable to provide you with another promo link.</h3>
<p><span class="wysiwyg-font-size-large wysiwyg-color-blue90"><strong>Step 1 - Pressing the Promo Link/Copy and Pasting into your Browser Window<br></strong></span></p>
<ul>
<li style="font-weight: 400;" aria-level="1">Start by directly pressing the promotion link or right clicking the claim button and copy and paste the link into your browser window.</li>
</ul>
<p><span style="font-weight: 400;"><span class="wysiwyg-color-red110"><strong>Note:</strong></span> If you enter this Nitro promo link into the Discord Gift Inventory or as a link within Discord chat, you will see an error when attempting to redeem the promotion. This is the incorrect method of redeeming this promo.<br></span></p>
<p><span class="wysiwyg-font-size-large wysiwyg-color-blue90"><strong>Step 2 - Logging into Discord</strong></span></p>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;"> If you're not already logged into Discord in your browser, you will then be automatically redirected to either:</span></li>
</ul>
<table style="width: 929px;">
<tbody>
<tr>
<td style="width: 371.016px;">
<p><strong>Register for a New Account</strong></p>
<p><span style="font-weight: 400;">If you don't have an account, you can directly register a new Discord account</span></p>
</td>
<td style="width: 533.016px;">
<p><strong>Login to your Account</strong></p>
<p><span style="font-weight: 400;">If you already have a Discord account, you can login to your account using your email and password or using QR code login</span></p>
</td>
</tr>
<tr>
<td style="width: 371.016px;">
<p><img src="https://support.discord.com/hc/article_attachments/4402359886999/image1.png" alt="image1.png"><strong><br></strong></p>
</td>
<td style="width: 533.016px;">
<p><img src="https://support.discord.com/hc/article_attachments/4402359887767/image4.png" alt="image4.png"><strong><br></strong></p>
</td>
</tr>
</tbody>
</table>
<p><span class="wysiwyg-font-size-large wysiwyg-color-blue90"><strong>Step 3 - Confirming the Correct Account and Payment Method</strong></span></p>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Once you have logged into your Discord account, you'll see a new message asking you to confirm that you are accepting the Nitro subscription on the correct Discord account.</span></li>
<ul>
<li style="font-weight: 400;" aria-level="2">
<span style="font-weight: 400;">You'll see a notice saying: </span><strong><em>"You are accepting this gift as _________" </em></strong>
</li>
</ul>
<li>If your Discord account does not have your payment information, you'll be asked to fill out your payment details. (Note: You will not be charged until the free trial ends and the subscription renews)</li>
<li style="font-weight: 400;" aria-level="1">
<span style="font-weight: 400;">When you've filled out all the necessary information and you're ready to redeem this promotion, press the "</span><strong>Accept Gift</strong><span style="font-weight: 400;">" button. </span>
</li>
</ul>
<h3>
<strong>Note:</strong><strong><br></strong>- If you're logged into the incorrect Discord account, press the "Wrong account" button to login to the other account.</h3>
<p><span class="wysiwyg-font-size-large wysiwyg-color-blue90"><strong>Step 4 - Subscription Now Activated</strong></span></p>
<ul>
<li style="font-weight: 400;" aria-level="1">
<span style="font-weight: 400;">After accepting the promo to your account, you'll now be automatically redirected to your </span><strong>Subscriptions</strong><span style="font-weight: 400;"> tab in your User Settings to see your newly activated Nitro subscription on your account.</span>
</li>
</ul>
<h2 id="h_01FCZN7TQYJPEDJPZ8KT5GZM8K"><span style="font-weight: 400;">What If I've Only Had a Nitro Classic or Server Boosting Subscription? </span></h2>
<p><span style="font-weight: 400;">Just to clarify - if you currently have a Nitro Classic or Server Boosting subscription or you've only had a Nitro Classic or Server Boosting subscription in the past, you will be eligible to claim this promotion and your current subscription will be replaced with the 1 month Nitro subscription. </span></p>
<h3>
<span class="wysiwyg-color-red110"><strong>HOWEVER, please note: <br></strong></span><span class="wysiwyg-color-red110" style="font-weight: 400;">- By choosing to activate this 1 month trial, you will lose any features associated with your current subscriptions, and **<strong>you will not receive a refund for any remaining value on your current subscription</strong>**. </span>
</h3>
<p><span style="font-weight: 400;">At the end of the promotion period, you'll be converted to a paying Nitro subscription at the price of $9.99 per month unless you cancel your subscription. </span></p>
<h1 id="h_01FCFN0ZS87Z8XQFSYJV5EAWWQ"><span style="font-size: 1.2em; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;">How do I share my Code with a Friend?</span></h1>
<p><span style="font-weight: 400;">If you've had a Nitro subscription previously on your Discord account and you're unable to redeem the Nitro subscription link, you can share this link with a friend to use instead.</span></p>
<p><span style="font-weight: 400;">After you claim the trial by pressing the claim button in your email, you can directly copy the promotion URL link in the new page and send it to a friend. </span><strong>We recommend sending the link in a private direct message. Make sure your friend redeems the code by June 15, 2022 2:59pm GMT.</strong></p>
<h1 id="h_01FB7V0MPXX1S4TS09KPTZ1WSZ">Frequently Asked Questions</h1>
<p>We know there's a lot of information to unpack on this promotion above, so we've also broken down this information in this FAQ section as well too.</p>
<ul>
<li><a href="#h_01FCZMYZN05BHAKKQY863FS8CC" target="_self">Promotion Details</a></li>
<li><a href="#h_01FCZMZH0A73Y0S83JS09J1R0H" target="_self">Eligibility for the Promotion </a></li>
<li><a href="#h_01FBJJ5MXD8WM3EKKKEGBQHHGE" target="_self">Payment Info and Subscription Questions</a></li>
<li>
<a href="#h_01FCZMZX80MVAKFFS5AM4SYJC2" target="_self">Potential Errors and Other Issues</a>
<ul>
<li>Already Had/Have Nitro</li>
<li>Already Redeemed</li>
<li>Something's Wrong Here</li>
</ul>
</li>
</ul>
<h2 id="h_01FCZMYZN05BHAKKQY863FS8CC">Promotion Details</h2>
<p><strong><span class="wysiwyg-color-blue80 wysiwyg-font-size-large">Q: How long does this promotion run for?</span></strong></p>
<p><strong>A:</strong><span style="font-weight: 400;"> RAID: Shadow Legends users can claim Discord Nitro promo between June 1, 2022 3:00pm GMT to June 15, 2022 2:59pm GMT.</span></p>
<p><span style="font-weight: 400;">After </span><strong>June 15, 2022 2:59pm GMT</strong><span style="font-weight: 400;">, eligible users will no longer be able to claim a trial promo link.</span></p>
<p id="h_01FBTHEAQD2388YZPRA1KP4MQM"><strong><span class="wysiwyg-color-blue80 wysiwyg-font-size-large">Q: How long does the Discord Nitro promotion link last for?</span></strong></p>
<p><strong>A:</strong><span style="font-weight: 400;"> You must redeem the Nitro promotion by June 15, 2022 2:59pm GMT.</span></p>
<p><span style="font-weight: 400;">If a code has not been redeemed to the Discord account by </span><strong>June 15, 2022 2:59pm GMT</strong><span style="font-weight: 400;">, it will expire and you will no longer be able to have 1 month of Discord Nitro.</span></p>
<h2 id="h_01FCZMZH0A73Y0S83JS09J1R0H"><span style="font-weight: 400;">Eligibility for the Promotion </span></h2>
<p><span class="wysiwyg-color-blue80 wysiwyg-font-size-large"><strong>Q: Who can claim this promotion from their email?</strong></span></p>
<p><strong>A: </strong><span style="font-weight: 400;">You must meet the requirements set by Plarium to receive this promo under your RAID: Shadow Legends account.</span></p>
<p><span style="font-weight: 400;">Once you qualify, you can claim 1 month of Discord Nitro through an email sent by the Plarium team.</span></p>
<p><span class="wysiwyg-color-blue80 wysiwyg-font-size-large"><strong>Q: Who can redeem this Nitro trial to their Discord account?</strong></span></p>
<p><span style="font-weight: 400;"><strong>A: </strong>Y</span>ou must be a first time Nitro subscriber. </p>
<ul>
<li>
<span class="wysiwyg-color-blue90"><strong>Note:</strong></span> If you have activated any other Nitro trials or promotions or any gifted Nitro subscriptions at any point in time, you will not be eligible for this promotion. </li>
</ul>
<p><span style="font-weight: 400;">This promotion is only available in certain regions. If you receive an "Sadly something went wrong here. You won't be able to use this code." error during the claim/redemption process, you are not eligible to redeem this promotion. You can learn more at this <a href="https://support.discord.com/hc/en-us/articles/4708041338391" target="_blank" rel="noopener noreferrer">Help Center article.</a></span></p>
<p><strong><span class="wysiwyg-color-blue80 wysiwyg-font-size-large">Q: What if I'm a current or previous Nitro Classic subscriber or a Server Boost subscriber? Can I also take part in this promotion? </span></strong></p>
<p><span style="font-weight: 400;"><strong>A: </strong>Yes, if you are a current or previous Nitro Classic or Server Boosting subscriber, you will be eligible to claim this promotion and your current subscription will be replaced with the 1 month Nitro subscription.</span></p>
<h3>
<span class="wysiwyg-color-red110"><strong>HOWEVER, please note: <br></strong></span><span class="wysiwyg-color-red110" style="font-weight: 400;">- By choosing to activate this 1 month trial, you will lose any features associated with your current subscriptions, and **<strong>you will not receive a refund for any remaining value on your current subscription</strong>**. </span>
</h3>
<p><span style="font-weight: 400;">At the end of the promotion period, you'll be converted to a paying Nitro subscription at the price of 9.99 per month unless you cancel your subscription.</span></p>
<h2 id="h_01FBJJ5MXD8WM3EKKKEGBQHHGE">Payment Info and Subscription Questions</h2>
<p><strong><span class="wysiwyg-color-blue80 wysiwyg-font-size-large">Q: Why do I need to submit my payment info to redeem Nitro?</span></strong></p>
<p><strong>A:</strong> Because Nitro is a subscription plan, at the end of your free 1 month trial, we will start your first billing cycle so you can continue to enjoy Nitro on Discord.</p>
<p>However, you can cancel the Nitro subscription at any time before the end of the 1 month.</p>
<p><strong><span class="wysiwyg-color-blue80 wysiwyg-font-size-large">Q: Why do I see a temporary hold/charge on my account when this is supposed to be a free promotion?</span></strong></p>
<p><strong>A:</strong> Just to clarify, this Nitro promotion is free, however, there will be a <strong>temporary hold</strong> placed on the payment method upon activating the promotion. This is to help Discord confirm the payment method works as expected and to prevent the use of fraudulent payment methods. This charge will appear in your Discord transaction history, and it may appear as a hold on your payment method.</p>
<p>We immediately reverse the temporary hold, and you’ll see that reflected in your Discord transaction history. Your bank may take longer to remove the hold from your payment method.</p>
<h3>
<strong>Note:</strong> Banks will usually remove the temporary hold from your account within a few business days.</h3>
<p>If your Discord transaction history does not show the hold released after 5 business days, please let us know at <a href="https://dis.gd/contact" target="_blank" rel="noopener noreferrer">https://dis.gd/contact</a>, and our support team will be able to investigate this issue further.</p>
<h2 id="h_01FCZMZX80MVAKFFS5AM4SYJC2">Potential Errors and Other Issues</h2>
<p><strong><span class="wysiwyg-color-blue80 wysiwyg-font-size-large">Q: What if I didn't receive an email from Plarium with the Nitro promo link, even if I'm RAID: Shadows Legends player?</span></strong></p>
<p><strong>A: </strong><span style="font-weight: 400;">In order to receive an email from Plarium with the Nitro promo link, you must be a RAID: Shadow Legends user.</span></p>
<p><span style="font-weight: 400;">Additionally, make sure that you've opted to receive marketing emails from Plarium and RAID: Shadow Legends. If you've unsubscribed, you sadly won't be able to see this offer. </span></p>
<p><span style="font-weight: 400;">If you believe you are eligible for the promotion, contact Plarium's support team: <a href="https://plarium.com/en/support/">https://plarium.com/en/support/</a></span></p>
<p><strong><span class="wysiwyg-color-blue80 wysiwyg-font-size-large">Q: I see a Sad Trombone error when I try to redeem my Nitro promo link.</span></strong></p>
<p><strong>A: </strong><span style="font-weight: 400;">Would you happen to be entering this Nitro promo link from the promotion into the Discord Gift Inventory or as a link within Discord chat? </span></p>
<p><span style="font-weight: 400;">If so, this is the incorrect method for redeeming the Nitro promo link, and you will see an error when attempting to redeem the promotion. </span></p>
<p><span style="font-weight: 400;">In order to successfully claim this promotion, try opening up an incognito browser and then copy and pasting the promotion link into your browser's address bar (also known as a location bar or URL bar). </span></p>
<p><strong><span class="wysiwyg-color-blue80 wysiwyg-font-size-large">Q: I see a "<span class="wysiwyg-underline">Oh no! It looks like you have Nitro already</span>" error when I try to redeem my Nitro promo link.</span></strong></p>
<p><strong>A:</strong> If you're seeing an "Oh no! It looks like you have Nitro already" error, that means that the Discord account you're trying to redeem this promotion on currently has a Nitro subscription so it is ineligible for this Nitro promotion.</p>
<p>Please make sure you're logged into the account that you want to redeem this promotion on. Or you can give the promotion link to a friend who hasn't had Nitro before.</p>
<p id="h_01FBTHPKVBQDXANKPFZ4QJH612"><strong><span class="wysiwyg-color-blue80 wysiwyg-font-size-large">Q: I see a "<span class="wysiwyg-underline">Sorry, looks like you’ve already had a Nitro sub!</span>" error when I try to redeem my Nitro promo link.</span></strong></p>
<p><strong>A: </strong>If you're seeing an “Sorry, looks like you’ve already had a Nitro sub” error, that means that you've previously subscribed to Nitro on your Discord account and you won't be able to redeem this 1 month perk. However, this promo link can be gifted to a friend.</p>
<p>If you have never subscribed to Nitro, please submit a ticket through our support system: <a href="https://dis.gd/contact" target="_blank" rel="noopener noreferrer">https://dis.gd/contact</a> and our support team will be able to investigate further.</p>
<p>Be sure to include your full Discord ID and email address tied to your Discord account</p>
<p><strong><span class="wysiwyg-color-blue80 wysiwyg-font-size-large">Q: I see a "<span class="wysiwyg-underline">This gift has already been redeemed</span>" error when I try to redeem my Nitro promo link.</span></strong></p>
<p><strong>A:</strong> If you are seeing a "This gift has been redeemed already" error, that means that the Nitro promo link has already been used and cannot be used again. You may need to double check if you've redeemed this promo link on another Discord account.</p>
<p>In particular, if you redeemed this promo link using your mobile device, double check the browser on your mobile device and see which Discord account you are currently logged into.</p>
<p>Unfortunately, once the promo link has been redeemed, the promo link cannot be re-enabled, and the Nitro cannot be transferred from one account to another.</p>
<p><strong><span class="wysiwyg-color-blue80 wysiwyg-font-size-large">Q: I see a "<span class="wysiwyg-underline">Wait a Second...Looks like this code didn't work.</span>" error when I try to redeem my Nitro promo link.</span></strong></p>
<p><strong>A:</strong><span style="font-weight: 400;"> If you're seeing an “Wait a Second...Looks like this code didn't work.” error, that means that the link is invalid. If you've copy and pasted this link, we recommend you double check the link you were given once more and make sure it exactly matches the link sent to your email.</span></p>
<p><span style="font-weight: 400;">If you received this link from a friend, double check with your friend on the exact link to make sure that it matches the link in their email.</span></p>
<p><span style="font-weight: 400;">Please note that our support team is unable to intervene if your friend has given an invalid link and we will not be able to provide a new link.</span></p>
<p><span style="font-weight: 400;"><strong><span class="wysiwyg-color-blue80 wysiwyg-font-size-large">Q: I see a "<span class="wysiwyg-underline">Sorry, This Payment Source Cannot Be Used for Redemption</span>" error when trying to redeem my promo link!</span></strong></span></p>
<p><span class="wysiwyg-color-black"><strong>A:</strong> If you're seeing a "Sorry, This Payment Source Cannot Be Used for Redemption" error, that means that the payment method you've selected to cover the temporary $1 hold cannot be used for that purpose. <br></span></p>
<p><span class="wysiwyg-color-black">Please keep in mind that prepaid payment methods, such as Gcash, cannot be used to cover temporary holds due to the nature of how prepaid payment methods function.</span></p>
<p><span class="wysiwyg-color-black">For more information on temporary holds, please check out <a href="https://support.discord.com/hc/en-us/articles/4402712000663" target="_blank" rel="noopener noreferrer">this article</a>!</span></p>
<p><strong><span class="wysiwyg-color-blue80 wysiwyg-font-size-large">Q: I’m having trouble with my RAID: Shadows Legends account. </span></strong></p>
<p><strong>A:</strong><span style="font-weight: 400;"> Reach out to Plarium’s support team: <a href="https://plarium.com/en/support/">https://plarium.com/en/support/</a><br></span></p>
<p> </p>