<p><span style="font-weight: 400;">We’re excited to announce that Discord is partnering with Samsung! From February 25, 2022 to August 24, 2022, Samsung customers in the UK and Ireland can claim 3 months of</span><a href="https://support.discord.com/hc/en-us/articles/115000435108" target="_blank" rel="noopener noreferrer"> Discord Nitro</a><span style="font-weight: 400;"> through Samsung Boost. </span></p>
<h1><strong>TL;DR</strong></h1>
<p><strong>Offer Details:</strong><span style="font-weight: 400;"> 3 months of free Discord Nitro through </span><a href="https://www.samsung.com/uk/boost/" target="_blank" rel="noopener noreferrer">Samsung Boost</a></p>
<p><strong>Who is Eligible to Redeem Nitro:</strong><span style="font-weight: 400;"> First-time Discord Nitro subscribers only. Existing subscribers of Discord Nitro are not eligible. (This also includes previous gifted or trial subscriptions.)</span></p>
<p><span style="font-weight: 400;">This promo is only available to customers in the United Kingdom and Ireland who have bought the following Samsung products: Samsung Galaxy S21 Family devices (S21, S21+, S21 Ultra 5G), Flip/Fold devices, and Galaxy Tab S7 devices.</span></p>
<p><strong>Requirements:</strong><span style="font-weight: 400;"> Claim the promotion link through </span><a href="https://www.samsung.com/uk/boost/" target="_blank" rel="noopener noreferrer">Samsung Boost</a><span style="font-weight: 400;"> starting February 25, 2022 (</span><strong>12:00AM GMT</strong><span style="font-weight: 400;">) to August 24, 2022 (</span><strong>12:00AM GMT</strong><span style="font-weight: 400;">), and redeem in Discord account by September 23rd, 2022 (</span><strong>12:00AM GMT</strong><span style="font-weight: 400;">).</span></p>
<p><strong>Subscription:</strong><span style="font-weight: 400;"> After the 3 month free trial period, your Nitro subscription will convert to a monthly recurring subscription, and Discord will bill your payment method for US$9.99/month until you cancel it. You can cancel at any time in your Discord User Settings. </span></p>
<h2><strong>WHAT DOES THIS ARTICLE COVER?</strong></h2>
<ul>
<li style="font-weight: 400;" aria-level="1"><a href="#h_01FWQ7EZR1XF9PN06Z8QAPVP7P" target="_self"><span style="font-weight: 400;">What is Discord Nitro?</span></a></li>
<li style="font-weight: 400;" aria-level="1"><a href="#h_01FWQ7F9PAYDD342C52GPP4RR4" target="_self"><span style="font-weight: 400;">How do I claim Discord Nitro on my Samsung device?</span></a></li>
<li style="font-weight: 400;" aria-level="1">
<a href="#h_01FWQ7H8DE3KFKN5SH9N7EDBJ6" target="_self">How do I redeem Nitro on my Discord account?</a><br>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Step by Step Redemption Instructions</span></li>
<li style="font-weight: 400;" aria-level="2"><a href="#h_01FWQ7HFFNNNDSSN7XTB4ZGG81" target="_self"><span style="font-weight: 400;">How do I share this Nitro link with a friend?</span></a></li>
</ul>
</li>
<li style="font-weight: 400;" aria-level="1">
<a href="#h_01FWQ7HS0S0F9D3WCTA0C6Y873" target="_self"><span style="font-weight: 400;">Frequently Asked Questions</span></a>
<ul>
<li style="font-weight: 400;" aria-level="2"><a href="#h_01FWQ7J1A8VD32815AFQSZ68MT" target="_self"><span style="font-weight: 400;">Promotion Details</span></a></li>
<li style="font-weight: 400;" aria-level="2"><a href="#h_01FWQ7J8F85H4WKKTBGDF3D4H8" target="_self"><span style="font-weight: 400;">Redeeming Nitro Process Questions</span></a></li>
<li style="font-weight: 400;" aria-level="2"><a href="#h_01FWQ7JF2P6B5ZD4JEVHFNGDKF" target="_self"><span style="font-weight: 400;">Payment Info and Subscription Questions</span></a></li>
<li style="font-weight: 400;" aria-level="2"><a href="#h_01FWQ7JNS77YWY66TMM6XRHVFQ" target="_self"><span style="font-weight: 400;">Potential Errors and Other Issues</span></a></li>
</ul>
</li>
</ul>
<h1 id="h_01FWQ7EZR1XF9PN06Z8QAPVP7P"><strong>WHAT IS DISCORD NITRO?</strong></h1>
<p><span style="font-weight: 400;">With Nitro, you’ll get many awesome chat perks to enhance your Discord experience! Upgrade your emoji, enjoy bigger file uploads, stand out in your favorite Discords, and more! Check out some of these perks below! </span></p>
<ul>
<li style="font-weight: 400;" aria-level="1"><a href="https://support.discord.com/hc/en-us/articles/204156688" target="_blank" rel="noopener noreferrer">GIF Avatars</a></li>
<li style="font-weight: 400;" aria-level="1"><a href="https://support.discord.com/hc/en-us/articles/360000270351" target="_blank" rel="noopener noreferrer">Custom Discord Tag</a></li>
<li style="font-weight: 400;" aria-level="1"><a href="https://support.discord.com/hc/en-us/articles/360036479811" target="_blank" rel="noopener noreferrer">Global Custom emojis</a></li>
<li style="font-weight: 400;" aria-level="1"><a href="https://support.discord.com/hc/en-us/articles/360041721052" target="_blank" rel="noopener noreferrer">Higher Video quality</a></li>
<li style="font-weight: 400;" aria-level="1"><a href="https://support.discord.com/hc/en-us/articles/360028038352" target="_blank" rel="noopener noreferrer">Server Boosting</a></li>
<li style="font-weight: 400;" aria-level="1"><a href="https://support.discord.com/hc/en-us/articles/115000435108" target="_blank" rel="noopener noreferrer">More!</a></li>
</ul>
<h1 id="h_01FWQ7F9PAYDD342C52GPP4RR4"><strong>HOW DO I CLAIM DISCORD NITRO ON MY SAMSUNG DEVICE?</strong></h1>
<p><span style="font-weight: 400;">From February 25, 2022 (</span><strong>12:00AM GMT</strong><span style="font-weight: 400;">) to August 24, 2022 (</span><strong>12:00AM GMT</strong><span style="font-weight: 400;">), go to the </span><a href="https://www.samsung.com/uk/boost/" target="_blank" rel="noopener noreferrer">Samsung Boost browser page</a><span style="font-weight: 400;"> on your eligible Samsung device and choose the Discord promotion.</span></p>
<p><span style="font-weight: 400;">Once your eligibility is verified, you will be given a unique digital link then prompted to go to Discord to create a Discord account or log into your Discord account.</span></p>
<p><span style="font-weight: 400;"><img src="https://support.discord.com/hc/article_attachments/4501452550551/samsungclaimflow.png" alt="samsungclaimflow.png"></span></p>
<h1 id="h_01FWQ7H8DE3KFKN5SH9N7EDBJ6"><strong>HOW DO I REDEEM NITRO ON MY DISCORD ACCOUNT? </strong></h1>
<p><span style="font-weight: 400;">Once you have your promotion link and you create/log into your Discord account, you'll now need to officially redeem this gift on your Discord account (or share this Nitro with a friend)! </span></p>
<h3><strong>NOTE:</strong></h3>
<h3><strong>- Before redeeming Nitro, make sure you are logged in your own Discord account.</strong></h3>
<h3><strong>- If you accidentally redeemed the Nitro promo code on an account that is not yours, we are unable to provide you with another promotion link.</strong></h3>
<p><strong>Step 1 - Claiming the Promotion</strong></p>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">You must first claim the promotion link following the steps listed in the section, “<a href="#h_01FWQ7F9PAYDD342C52GPP4RR4" target="_self">How Do I Claim Discord Nitro On My Samsung Device?</a>”</span></li>
</ul>
<p><strong>Step 2 - Create your Discord account or Log into Discord</strong></p>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;"> If you're not already logged into Discord on your Samsung device, you will then be automatically redirected to either:</span></li>
</ul>
<table style="width: 929px;">
<tbody>
<tr>
<td style="width: 371.016px;">
<p><strong>Register for a New Account</strong></p>
<p><span style="font-weight: 400;">If you don't have an account, you can directly register a new Discord account</span></p>
</td>
<td style="width: 533.016px;">
<p><strong>Login to your Account</strong></p>
<p><span style="font-weight: 400;">If you already have a Discord account, you can login to your account using your email and password or using QR code login</span></p>
</td>
</tr>
<tr>
<td style="width: 371.016px;">
<p><strong><img src="https://support.discord.com/hc/article_attachments/4415344741783/image1__4_.png" alt="image1__4_.png"></strong></p>
</td>
<td style="width: 533.016px;">
<p><strong><img src="https://support.discord.com/hc/article_attachments/4415344747415/image4__2_.png" alt="image4__2_.png"></strong></p>
</td>
</tr>
</tbody>
</table>
<p><strong>Step 3 - Confirming the Correct Account and Payment Method</strong></p>
<ul>
<li style="font-weight: 400;" aria-level="1">
<span style="font-weight: 400;">Once you have logged into your Discord account, you'll see a new message asking you to confirm that you are accepting the Nitro subscription on the correct Discord account.</span>
<ul>
<li style="font-weight: 400;" aria-level="1">
<span style="font-weight: 400;">You'll see a notice saying: </span><strong><em>"You are accepting this gift as _________" </em></strong>
</li>
</ul>
</li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">If your Discord account does not have your payment information, you'll be asked to fill out your payment details. (Note: You will not be charged until the free trial ends and the subscription renews)</span></li>
<li style="font-weight: 400;" aria-level="1">
<span style="font-weight: 400;">When you've filled out all the necessary information and you're ready to redeem this promotion, press the "</span><strong>Accept Gift</strong><span style="font-weight: 400;">" button. </span>
</li>
</ul>
<h3>
<strong>Note: </strong><strong>If you're logged into the incorrect Discord account, press the "Wrong account" button to login to the other account! </strong>
</h3>
<p><strong>Step 4 - Subscription Now Activated</strong></p>
<ul>
<li style="font-weight: 400;" aria-level="1">
<span style="font-weight: 400;">After accepting the promo to your account, you'll now be automatically redirected to your </span><strong>Subscriptions</strong><span style="font-weight: 400;"> tab in your User Settings to see your newly activated Nitro subscription on your account.</span>
</li>
</ul>
<h2 id="h_01FWQ7HFFNNNDSSN7XTB4ZGG81"><strong>HOW DO I SHARE THIS NITRO PROMO LINK WITH A FRIEND?</strong></h2>
<p><span style="font-weight: 400;">If you're unable to redeem the Nitro subscription on your own Discord account, you'll be able to share the unique digital promotion link with a friend to use instead!</span></p>
<p><span style="font-weight: 400;">You can copy-paste the promotion link and send it directly to a friend in a direct message and then they can follow the steps above to redeem through the promotion link.</span></p>
<h1 id="h_01FWQ7HS0S0F9D3WCTA0C6Y873"><strong>FREQUENTLY ASKED QUESTIONS</strong></h1>
<ul>
<li style="font-weight: 400;" aria-level="1">
<h2 id="h_01FWQ7J1A8VD32815AFQSZ68MT"><strong>PROMOTION DETAILS</strong></h2>
</li>
</ul>
<p><span class="wysiwyg-font-size-large"><strong>Q: How long does this promotion run for?</strong></span></p>
<p><span style="font-weight: 400;">A: This promotion runs from February 25, 2022 (</span><strong>12:00AM GMT</strong><span style="font-weight: 400;">) to August 24, 2022 (</span><strong>12:00AM GMT</strong><span style="font-weight: 400;">).</span></p>
<p><span class="wysiwyg-font-size-large"><strong>Q: How long does this Nitro promotion code last for?</strong></span></p>
<p><span style="font-weight: 400;">A: All Discord Nitro promotional links must be redeemed in your Discord account by September 23, 2022 (<strong>12</strong></span><strong>:00AM GMT</strong><span style="font-weight: 400;">).</span></p>
<h3><strong>Note: If a promo code has not been redeemed in your Discord account by September 23, 2022 (0:00AM PDT), the code will expire and you will no longer be able to redeem three months of Discord Nitro.</strong></h3>
<p><span class="wysiwyg-font-size-large"><strong>Q: Who can receive the Nitro promo and is this promotion available in my region?</strong></span></p>
<p><span style="font-weight: 400;">A: This offer is only available to Samsung customers in the United Kingdom and Ireland who have bought the following Samsung devices: Samsung Galaxy S21 Family devices (S21, S21+, S21 Ultra 5G), Flip/Fold devices, and Galaxy Tab S7 devices.</span></p>
<h3><strong>Note: First-time Discord Nitro subscribers where Discord Nitro is available. Existing subscribers of Discord Nitro aren't eligible, however, this promo link can be gifted to a friend! </strong></h3>
<ul>
<li style="font-weight: 400;" aria-level="1">
<h2 id="h_01FWQ7J8F85H4WKKTBGDF3D4H8"><strong>REDEEMING NITRO PROCESS QUESTIONS</strong></h2>
</li>
</ul>
<p><span class="wysiwyg-font-size-large"><strong>Q: I was gifted a Nitro subscription previously, can I redeem this Nitro subscription to my Discord account?</strong></span></p>
<p><span style="font-weight: 400;">A: Nope! Only first-time Discord Nitro subscribers where Discord Nitro is available. Existing subscribers of Discord Nitro, however, this promotion link can be gifted to a friend! </span></p>
<p><span style="font-weight: 400;">Additionally, if you have previously redeemed a 3-months of free Nitro promotion in the past through other events, you will also not be eligible to redeem the 3 months of free Nitro for this promotion.</span></p>
<p><span class="wysiwyg-font-size-large"><strong>Q: How do I share the promo link with a friend?</strong></span></p>
<p><span style="font-weight: 400;">A: You can directly copy paste the Nitro promotion link from the <a href="https://www.samsung.com/uk/boost/" target="_blank" rel="noopener noreferrer">Samsung Boost</a> page and send it to a friend!</span></p>
<ul>
<li style="font-weight: 400;" aria-level="1">
<h2 id="h_01FWQ7JF2P6B5ZD4JEVHFNGDKF"><strong>PAYMENT INFO AND SUBSCRIPTION QUESTIONS</strong></h2>
</li>
</ul>
<p><span class="wysiwyg-font-size-large"><strong>Q: Why do I need to submit my payment info to redeem Nitro?</strong></span></p>
<p><span style="font-weight: 400;">A: Because Nitro is a subscription plan, at the end of your free 3 month trial, we will start your first billing cycle so you can continue to enjoy Nitro on Discord.</span></p>
<p><span style="font-weight: 400;">However, you can cancel the Nitro subscription at any time before the end of the three months!</span></p>
<p><span class="wysiwyg-font-size-large"><strong>Q: Why do I see a hold on my account when this is supposed to be a free promotion?</strong></span></p>
<p><span style="font-weight: 400;">A: Just to clarify, this Nitro promotion is free, however, there will be a</span><a href="https://support.discord.com/hc/en-us/articles/4402712000663" target="_blank" rel="noopener noreferrer"> temporary hold</a><span style="font-weight: 400;"> placed on the payment method upon activating the promotion. This is to help Discord confirm the payment method works as expected and to prevent the use of fraudulent payment methods. This charge will appear in your Discord transaction history, and it may appear as a hold on your payment method.</span></p>
<p><span style="font-weight: 400;">We immediately reverse the temporary hold, and you’ll see that reflected in your Discord transaction history. Your bank may take longer to remove the hold from your payment method. Note: Banks will usually remove the temporary hold from your account within a few business days.</span></p>
<p><span style="font-weight: 400;">If your Discord transaction history does not show the hold released after 5 business days, please let us know at</span><a href="https://dis.gd/contact" target="_blank" rel="noopener noreferrer"> https://dis.gd/contact</a><span style="font-weight: 400;">, and our support team will be able to investigate this issue further.</span></p>
<ul>
<li style="font-weight: 400;" aria-level="1">
<h2 id="h_01FWQ7JNS77YWY66TMM6XRHVFQ"><strong>POTENTIAL ERRORS AND OTHER ISSUES</strong></h2>
</li>
</ul>
<p><span class="wysiwyg-font-size-large"><strong>Q: I see a "Sorry, looks like you’ve already had a Nitro sub" error when I try to apply my Nitro promotional link! </strong></span></p>
<p><span style="font-weight: 400;">If you're seeing an “Sorry, looks like you’ve already had a Nitro sub” error, that means that you've previously subscribed to Nitro on your Discord account and you won't be able to redeem this 3 month perk! However, this promotion link can be gifted to a friend! </span></p>
<p><span style="font-weight: 400;">If you have never subscribed to Nitro, please submit a ticket through our support system:</span><a href="https://dis.gd/contact" target="_blank" rel="noopener noreferrer"> https://dis.gd/contact</a><span style="font-weight: 400;"> and our support team will be able to investigate further. (Be sure to include your full</span><a href="https://support.discord.com/hc/en-us/articles/206346498" target="_blank" rel="noopener noreferrer"> Discord ID</a><span style="font-weight: 400;"> and email address tied to your Discord account)</span></p>
<p><span class="wysiwyg-font-size-large"><strong>Q: I see a "This gift has already been redeemed" error when I try to apply my Nitro promotion link!</strong></span></p>
<p><span style="font-weight: 400;">A: If you are seeing a "This gift has been redeemed already" error, that means that the Nitro promotion link has already been used and cannot be used again. You may need to double check if you've redeemed this promo on another Discord account.</span></p>
<p><span style="font-weight: 400;">In particular, if you redeemed this promotion using your mobile device, double check the browser on your mobile device and see which Discord account you are currently logged into. </span></p>
<p><span style="font-weight: 400;">Unfortunately, once the promotional link has been redeemed, the promo cannot be re-enabled, and the Nitro cannot be transferred from one account to another.</span></p>
<p><span class="wysiwyg-font-size-large"><strong>Q: I see a "Seems like something’s gone wrong" error when I try to apply my Nitro promo link! </strong></span></p>
<p><span style="font-weight: 400;">A: If you're seeing an “Seems like something’s gone wrong” error, that means that the link is invalid! If you've copy and pasted this promotional link, we recommend you double check the link you were given once more and make sure it exactly matches the link from the <a href="https://www.samsung.com/uk/boost/" target="_blank" rel="noopener noreferrer">Samsung Boost page</a>.</span></p>
<p><span style="font-weight: 400;">If you received this promo link from a friend, double check with your friend on the exact link to make sure that it matches the link given! Please note that our support team is unable to intervene if your friend has given an invalid link and we will not be able to provide a new promotion link.</span></p>
<p> </p>