<p>With Scheduled events, you will now be able to schedule "events" in your server ahead of time so that your community can learn about and be notified of when they're occurring and be notified when you're live.</p>
<h3>Note: Invite links to private channels for events will currently show up as invalid.</h3>
<p><strong><span class="wysiwyg-font-size-large">What does this article cover?</span></strong></p>
<ul>
<li>
<a href="#h_01FGJEN3PFDHGGKCSNS13XWZJ3" target="_self">How do I schedule an event?</a><br>
<ul>
<li><a href="#h_01FGJENH4BG20EXEM8NM2M4ZT9" target="_self">Schedule an event for a Voice Chat</a></li>
<li><a href="#h_01FGJENQGRMPEPJCTCP2KGADQV" target="_self">Schedule an event for somewhere else</a></li>
<li><a href="#h_01FGJENABM5GV97532Z2MG1N56" target="_self">Schedule an event on a Stage Channel</a></li>
</ul>
</li>
<li><a href="#h_01FGMJCZ30ZNWP8WZSBA3JNSGH" target="_self">How do I start, edit, or delete an event?</a></li>
<li><a href="#h_01FGJENYGVHWWA4NMACZ890STX" target="_self">Frequently Asked Questions</a></li>
</ul>
<h2 id="h_01FGJENH4BG20EXEM8NM2M4ZT9">Schedule an event for a Voice Chat</h2>
<p>In order to create a Voice Chat event, you <strong>must</strong> have the server-wide <strong>Manage Event</strong> permission or the Voice Chat channel's <strong>Manage Event </strong>permission <span class="wysiwyg-underline">AND</span> have the following permissions in the Voice Chat channel for the event: <strong>View, Speak, Connect</strong>.</p>
<h3>Note: Since the <strong>Manage Event </strong>permission is available both on a server and channel level, admins and users can manage events on a per-channel basis.</h3>
<p>You can adjust a Voice Chat permissions for roles and server members by pressing on the <strong>cogwheel</strong> next to the name of the channel or by right-clicking on the channel name and choosing the <strong>Edit Channel</strong> option from the dropdown menu.</p>
<p>1. Press on the down arrow next to your server's name.</p>
<p>2. Choose the Create Event option from the menu.</p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/4409506031767/Create-Event-Server-Settings-dropdown-menu.png" alt="Create-Event-Server-Settings-dropdown-menu.png" width="640" height="426"></p>
<p>3. Pick the Voice Channel option and then select the desired under Select a Channel.</p>
<p>4. Fill out all the Event Info.</p>
<p>5. Review the details of your Event then press Create Event.</p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/4409505779863/Scheduled-Events-Create-Voice-Chat-demo.gif" alt="Scheduled-Events-Create-Voice-Chat-demo.gif" width="635" height="423"></p>
<h2 id="h_01FGJENQGRMPEPJCTCP2KGADQV">Schedule an event for somewhere else</h2>
<p>If you'd like to schedule event that is held outside of a Voice Chat channel or a Stage channel, you can do so using the free-form template through the Somewhere Else option. In order to create an event that's not in a Stage Channel or a Voice Chat, you <strong>must</strong> have the server-wide <strong>Manage Event</strong> permission</p>
<p>1. Press on the down arrow next to your server's name.</p>
<p>2. Choose the Create Event option from the menu.</p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/4409506031767/Create-Event-Server-Settings-dropdown-menu.png" alt="Create-Event-Server-Settings-dropdown-menu.png" width="656" height="436"></p>
<p>3. Pick the Somewhere Else option and then input the text channel, external link, or the physical location name for the event.</p>
<p>4. Fill out all the Event Info.</p>
<p>5. Review the details of your Event then press Create Event.</p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/4409505779607/Scheduled-Event-Create-Event-Somewhere-demo.gif" alt="Scheduled-Event-Create-Event-Somewhere-demo.gif" width="651" height="434"></p>
<h1 id="h_01FGJEN3PFDHGGKCSNS13XWZJ3">How do I schedule an event?</h1>
<h2 id="h_01FGJENABM5GV97532Z2MG1N56">Schedule an event on a Stage Channel</h2>
<p>In order to create a Stage Channel event, you <strong>must</strong> have the server-wide <strong>Manage Event</strong> permission AND be a <strong>Stage mod</strong> of the Stage Channel of the event.</p>
<p>You can find Stage Channel permission by pressing on the <strong>cogwheel</strong> next to the name of the channel or by right-clicking on the channel name and choosing the <strong>Edit Channel</strong> option from the dropdown menu.</p>
<p>1. Enter your stage channel</p>
<p>2. Press the Schedule Event button</p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/4410766876311/Gate__No_Event_.png" alt="Gate__No_Event_.png"></p>
<p>3. Input the details of your event</p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/4413008030871/events_1.png" alt="events_1.png"></p>
<p>4. Confirm the details and schedule that event! </p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/4410762752279/Member_Only.png" alt="Member_Only.png"></p>
<p>You can also create an event in a Stage Channel through the drop-down menu of the Server.</p>
<p>1. Press on the downward arrow next to the server name and choose the <strong>Create Events</strong> options.</p>
<p>2. Select the <strong>Stage Channel</strong> option, make sure you choose the Stage Channel you want for your event, and press <strong>Next</strong>.</p>
<p>3. Fill out the key information of the event, press the <strong>Next</strong> button again, and then you'll see a preview of your event on the final in-app window page.</p>
<p>4. Press <strong>Create Event</strong>!</p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/4410757475351/Scheduled-Events-in-Stage-Channel-Create-from-Dropdown-menu-demo.gif" alt="Scheduled-Events-in-Stage-Channel-Create-from-Dropdown-menu-demo.gif" width="708" height="462"></p>
<h1 id="h_01FGMJCZ30ZNWP8WZSBA3JNSGH">How do I start, edit, or cancel an event?</h1>
<p>When you want to start an event, you can go to the <strong>Events</strong> option in the server's channel list, opening the in-app pop-up window, pressing the ellipses under the desired event, and selecting <strong>Start Event</strong>. This will send out a notification to all your server members who marked themselves as <strong>Interested</strong> to attend the event.</p>
<p>If your event does not start within an hour of the scheduled time, our system will automatically remove your event from the list of Scheduled Events for your Community.</p>
<p>If you would like to edit or cancel an event, you can do so by pressing on the <strong>Events</strong> section in the server's channel list then pressing on the ellipses under the event that you would like to edit or delete.</p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/4409567569559/Scheduled-Events-Start-Edit-Cancel-Event-options-demo.gif" alt="Scheduled-Events-Start-Edit-Cancel-Event-options-demo.gif"></p>
<h2 class="wysiwyg-text-align-left">How Does Link Sharing Work?</h2>
<p>There are two types of event sharing links:</p>
<ol>
<li>
<strong>Event Server Invite Links:</strong> these work similar to a server invite link, except it renders a special Event Embed in the Discord app that has event details and a button to RSVP. Users who aren’t in the server will be able to click on this invite and join the server.</li>
<li>
<strong>Direct event links:</strong> these operate similar to message links. They will directly link you to the event and will only work if you have permission to see the event. If you’re not in the the server the link will not work.</li>
</ol>
<h3>Note: Only users with Invite Permissions can generate Event Server Invites. Events in private channels cannot generate Event Server invites and will default to Direct event links.</h3>
<h1 id="h_01FGJENYGVHWWA4NMACZ890STX">Frequently asked questions</h1>
<p><span class="wysiwyg-font-size-large"><strong>Q: What happens if an event takes place in a voice channel with restricted access?</strong></span></p>
<p>A: For events in restricted voice channels, only users with the right role/permissions to that channel can potentially attend the event and see the scheduled event in the <strong>Events </strong>option of the server's channel list.</p>
<p><span class="wysiwyg-font-size-large"><strong>Q: Will this be available on all platforms?</strong></span></p>
<p>A: Our mobile platforms may take longer to rollout, but will be available across all platforms.</p>
<p><span class="wysiwyg-font-size-large"><strong>Q: What channels can I schedule events for?</strong></span></p>
<p><span style="font-weight: 400;">A: At this point in time, events can be scheduled for Private Stages, Voice Channels, and there is a free form field for any additional place (e.g. physical location, text channel, etc) that you are hosting an event. </span></p>
<p><span class="wysiwyg-font-size-large"><strong>Q: What happens when I click on the "Interested" button for an upcoming event?</strong></span></p>
<p>A: When you click "Interested" for an event, you'll be letting the event host know that you'd like to attend and you'll also receive a notification when the event is officially live! You can also retract the notification reminder by re-clicking and retracting your interest.</p>
<p><span class="wysiwyg-font-size-large"><strong>Q: What if I forget to start my own event (as an event owner/host)?<br></strong></span></p>
<p><span style="font-weight: 400;">A: If your event does not start within 8 hours of the scheduled time, our system will automatically remove your event from the list of Scheduled Events for your Community.</span></p>
<p><span class="wysiwyg-font-size-large"><strong>Q: Why should I even schedule an event?</strong></span></p>
<p>A: Events essentially provide your Community the opportunity to receive advanced notice for things happening in the server! Community members also receive a notification when the event goes live if they're "Interested" in the event, which helps ensure no one misses it.</p>
<p><span class="wysiwyg-font-size-large"><strong>Q: When do I need to schedule events by?<br></strong></span></p>
<p>A: There's no specific time limit to how far in advance an event must be created. As long as the event hasn't yet started, you'll be able to schedule one for your Community!</p>
<p><span class="wysiwyg-font-size-large"><strong>Q: How many scheduled events can a server have?<br></strong></span></p>
<p>A: At this point in time, there's a cap of 100 scheduled events that can take place in a server at one point in time.</p>
<p><span class="wysiwyg-font-size-large"><strong>Q: What permissions do I need to schedule an event?</strong></span></p>
<p>A: Events require a specific permission for creating, starting, editing, and deleting. The "<strong>Manage Event</strong>" permission can be enabled by going to <strong>Server Settings &gt; Roles &gt; Edit Role &gt; Permissions &gt; Manage Event</strong>.</p>
<p>If hosting an event in a Stage Channel, you will need to be a Stage Mod for the channel. If hosting an event in a Voice Chat channel, you can have just the channel-specific Manage Event permission or the server-wide Manage Event permission as well as the other channel-specific permissions, such as View, Speak, and Connect.</p>
<p><span class="wysiwyg-font-size-large"><strong>Q: Why can't I share an event?</strong></span></p>
<p>A: The permissions for sharing events are tied to creating invite links. If a user has permissions to invite other users to the channel, they will also have permissions to share events tied to that channel.</p>
<p><span class="wysiwyg-font-size-large"><strong>Q: When does the Event tab show up in my server?</strong></span></p>
<p><span style="font-weight: 400;">A: For Community servers, the Event tab will always show for users with the “Manage Events” permission. It does not show to anyone else unless there is an upcoming event. </span></p>