<p><span class="wysiwyg-font-size-large" style="font-weight: 400;"><strong>What does this article cover?</strong></span></p>
<ul>
<li><a href="#h_01G3C88H9TDHD1RDFJCRWR7RK0" target="_self" rel="undefined">What is Server Home?</a></li>
<li><a href="#h_01G3C892NP0R6EGAAZ3DXG8913" target="_self"><span style="font-weight: 400;">Where can I find Server Home?</span></a></li>
<li>
<a href="#h_01G3C89GG8KZ7BMHTPNCV9BF0X" target="_self"><span style="font-weight: 400;">How does content appear in Server Home?</span></a>
<ul>
<li><a href="#h_01G3C89R33Q8PX7EK6VSNB0XEA" target="_self"><span style="font-weight: 400;">Behavior</span></a></li>
</ul>
</li>
<li><a href="#h_01G3C89WKRBAS2N63JN9KANVYV" target="_self"><span style="font-weight: 400;">Can you curate content?</span></a></li>
<li><a href="#h_01G3C8A2FMG2PWW7NRWG56PH7Q" target="_self"><span style="font-weight: 400;">How do I join the beta or leave feedback?</span></a></li>
<li><a href="#h_01G3C8A9PG5RDEET1QQTXZRC7F" target="_self"><span style="font-weight: 400;">Frequently Asked Questions</span></a></li>
</ul>
<h1 id="h_01G3C88H9TDHD1RDFJCRWR7RK0">What is Server Home?</h1>
<p>We know that keeping up in a community can be difficult and overwhelming at times. Server Home is a new space at the top of a channel list where members can see a digest of interesting moments happening in the community.</p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/6176225828247/Home_Example.png" alt="Home_Example.png"></p>
<h1 id="h_01G3C892NP0R6EGAAZ3DXG8913">Where can I find Server Home?</h1>
<p>Server Home is located at the top of the channel list.</p>
<h3><em>Note: Currently it will not appear for members who can see fewer than 5 channels.</em></h3>
<p class="wysiwyg-text-align-center"><em><img src="https://support.discord.com/hc/article_attachments/6175147540247/channel_list.png" alt="channel_list.png"></em></p>
<h2 id="h_01G3C89GG8KZ7BMHTPNCV9BF0X">How does content appear in Server Home?</h2>
<p>There are two main sections for Server Home:</p>
<p><strong>1. Highlights:</strong></p>
<ul>
<li>This section is a selection of top messages ranked by recency and community engagement allowing you to quickly catch up on recent activity in the server.</li>
<li>This section will only show content in channels you have access to.</li>
<li style="list-style-type: none;"> </li>
</ul>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/6175284396183/highlights.png" alt="highlights.png"></p>
<h3><span class="notion-enable-hover" data-token-index="0" data-reactroot="">Note: if a member has muted a channel they will not see any content in Home from that channel.</span></h3>
<p><strong>2. Active Now:</strong></p>
<ul>
<li class="wysiwyg-text-align-left">This section shows content happening <em>right now</em> that you can actively jump in and participate with. Similar to Highlights, this will only show channels that you have access to.</li>
</ul>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/6175252635671/active.png" alt="active.png" width="359" height="394"></p>
<h2 id="h_01G3C89R33Q8PX7EK6VSNB0XEA"><strong>Behavior</strong></h2>
<p>By default, visiting a server will land on Home. However, if you have been to the server within 20 hours, you will continue to be taken to your last visited channel instead. This ensures Home doesn’t get in the way of anyone who’s in the middle of conversations.</p>
<h1 id="h_01G3C89WKRBAS2N63JN9KANVYV">Can you curate content?</h1>
<p>Yes! Currently, only people with the <strong><code>Manage Messages</code></strong> permission can curate content in 3 ways:</p>
<p><strong>1.</strong> <span class="notion-enable-hover" data-token-index="0" data-reactroot="">Featuring messages:</span> You can feature <span class="discussion-id-d45d8fd9-47b1-451a-9959-77a845603ac5 discussion-level-1 discussion-id-d45d8fd9-47b1-451a-9959-77a845603ac5 notion-enable-hover" data-token-index="2" data-reactroot="">a message at the top</span> of Home <span class="discussion-id-51d1c749-f09d-4584-bb5e-11249a68269c discussion-level-1 discussion-id-51d1c749-f09d-4584-bb5e-11249a68269c notion-enable-hover" data-token-index="4" data-reactroot="">for a period of time</span> for <span class="discussion-id-25098b54-30b9-471c-a58a-faca4f7d7145 discussion-level-1 discussion-id-25098b54-30b9-471c-a58a-faca4f7d7145 notion-enable-hover" data-token-index="6" data-reactroot="">any member who hasn’t seen it yet</span>. This message is not pinned so once a member goes to Home and sees the message it will no longer be featured at the top. Great for highlighting cool contributions or conversations from your members, events, questions of the day, etc. You can do this by opening the message context menu by right-clicking and selecting “Feature Message” </p>
<ul>
<li><span class="notion-enable-hover" data-token-index="0" data-reactroot="">Note: Currently you can only feature messages for either 24 hours, 3 days, or 7 days</span></li>
</ul>
<p class="wysiwyg-text-align-center"><span class="notion-enable-hover" data-token-index="0" data-reactroot=""><img src="https://support.discord.com/hc/article_attachments/6175349427479/Highlights2.png" alt="Highlights2.png" width="841" height="262"></span></p>
<p><span class="notion-enable-hover" data-token-index="0" data-reactroot=""><strong>2.</strong> <span class="discussion-id-49e61565-b12b-4055-956a-b0429c5b513f discussion-level-1 discussion-id-49e61565-b12b-4055-956a-b0429c5b513f notion-enable-hover" data-token-index="0" data-reactroot="">Removing messages:</span> If you see something you don’t want to be visible in Home, you can remove it from Home for everyone. <span class="discussion-id-de9ab4d2-3a36-47e6-8742-bfe1d0fea894 discussion-level-1 discussion-id-de9ab4d2-3a36-47e6-8742-bfe1d0fea894 notion-enable-hover" data-token-index="2" data-reactroot="">You can do this by opening the context menu on the message in Home and selecting “Remove from Home Screen.” </span>This will not delete the message in the channel where it is posted. </span></p>
<p class="wysiwyg-text-align-center"><span class="notion-enable-hover" data-token-index="0" data-reactroot=""><img src="https://support.discord.com/hc/article_attachments/6175322701079/removing_messages.png" alt="removing_messages.png"></span></p>
<p><span class="notion-enable-hover" data-token-index="0" data-reactroot=""><strong>3.</strong> Blocking channels from Home: If you have a channel that you would prefer never populate Home, you can prevent its content from ever appearing. To do this, there’s a new toggle in the channel settings called “Remove Channel from Home” </span></p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/6175372104855/remove_channel.png" alt="remove_channel.png"></p>
<h2 id="h_01G3C8A2FMG2PWW7NRWG56PH7Q">How do I join the beta or leave feedback?</h2>
<ul>
<li>For now, this feature is an experiment available to a select number of communities. Eventually, Home will be a part of every Community-enabled server.</li>
<li>If your community has Home and you want to leave feedback, you can find a survey in the <strong>Home settings context menu</strong>!</li>
</ul>
<h1 id="h_01G3C8A9PG5RDEET1QQTXZRC7F">Frequently Asked Questions</h1>
<p><span class="wysiwyg-font-size-large"><strong>Q: My server has Home. Can I remove it?</strong></span></p>
<p>A: Currently, you cannot opt out of Home. However, if you have feedback on how we could improve the experience to make it valuable for your community, please fill out the survey in the Home settings context menu.</p>
<p><span class="wysiwyg-font-size-large"><strong>Q: Can I change the location of Home?</strong></span></p>
<p>A: Currently you cannot move Home. However, if you have feedback on how this placement affects your community, please fill out the survey in the Home settings context menu!</p>
<p><span class="wysiwyg-font-size-large"><strong>Q: I don’t see Home in my Server. Why?</strong></span></p>
<p>A: Right now it’s only available to a select number of communities so it may not be available in yours yet. Additionally, if you don’t have access to at least 5 channels in the server, Home will not show.</p>
<p><span class="wysiwyg-font-size-large"><strong>Q: What if I don’t want my content to appear in Home?</strong></span></p>
<p>A: There’s currently no option to opt out of your content appearing in Home. However, only people who already have access to the channels you post your content in will be able to see your content Home. So if you post in a private channel only the members with access to that private channel would be able to see that content on Home.</p>
<p><span class="wysiwyg-font-size-large"><strong>Q: Can people outside of my server see the Home section?</strong></span></p>
<p>A: No, just like other channels only people with access to your community can see the Home section. Additionally, only members who have been granted access to at least five channels in the server will see content from Home.</p>