<p><img src="https://support.discord.com/hc/article_attachments/4414112442391/snowsgiving_bot_2021_header.png" alt="snowsgiving_bot_2021_header.png"></p>
<p>Snowsgiving Season is upon us!</p>
<p>Get your community in the holiday spirit by initiating wholesome virtual snowball fights with your friends with <strong>Snowball Bot</strong>.</p>
<p class="wysiwyg-text-align-center"><span class="wysiwyg-font-size-x-large">&gt;<a href="https://dis.gd/snowballbot" target="_blank" rel="noopener">Add Snowball Bot Now!</a>&lt;</span></p>
<p>What does this article cover?</p>
<ul>
<li><a href="#h_01FNQ8WHBQNRDX43WN43975SGZ" target="_self">What Does The Bot Do?</a></li>
<li>
<a href="#h_01FNQ8WQ2F1MWZXSF9FZTGG8H4" target="_self">Step by Step Instructions</a>
<ul>
<li><a href="#h_01FNQ8WWDNPGM2HKAJ2NGKNW3T" target="_self">How to Add the Bot to your Server</a></li>
<li><a href="#h_01FNQ8X1JEYC3F7T17Y2HQY5YV" target="_self">How to Enable/Disable the Bot in your Server</a></li>
</ul>
</li>
<li><a href="#h_01FNQ8X7XXE9BGG57QG8K3GSCT" target="_self">Command List</a></li>
<li><a href="#h_01FNQ8XCH77ZK7A0SAQT0N5T48" target="_self">Other Frequently Asked Questions</a></li>
</ul>
<h1 id="h_01FNQ8WHBQNRDX43WN43975SGZ"><span class="notion-enable-hover" data-token-index="0" data-reactroot="">What Does The Bot Do?</span></h1>
<p><span class="notion-enable-hover" data-token-index="0" data-reactroot="">Once you add our Snowball Bot to your server, you can collect snowballs and start a fight with your friends. The bot can also show a scoreboard of who’s closest to dominating the fight in your server, so stock up and let 'em fly!</span></p>
<h2 id="h_01FNQ8WQ2F1MWZXSF9FZTGG8H4"><span class="notion-enable-hover" data-token-index="0" data-reactroot="">Step By Step Instructions</span></h2>
<p><span class="notion-enable-hover" data-token-index="0" data-reactroot="">To get started on all the fun, follow these steps below on your desktop/browser client!</span></p>
<h2 id="h_01FNQ8WWDNPGM2HKAJ2NGKNW3T"><span class="notion-enable-hover" data-token-index="0" data-reactroot="">How to Add the Bot to Your Server</span></h2>
<p>In order to get Snowball Bot added to your server, simply click on the link below:</p>
<p>❄️ <a href="https://dis.gd/snowballbot" target="_blank" rel="noopener">Add Snowball Bot Now!</a> ❄️</p>
<p>You’ll need to have the “<strong>Manage Server</strong>” permission in the server want to add it to in order for the server’s name to appear as an option.</p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/4414112446615/manage_server.png" alt="manage_server.png"></p>
<p>Once you click the link above, you’ll see a screen like this below.</p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/4414442263831/bot_invite.png" alt="bot_invite.png" width="544" height="404"></p>
<p>Select the server you want to add Snowball Bot to, then grant the bot its required permissions and you’re all set!</p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/4414442272407/bot_permissions.png" alt="bot_permissions.png"></p>
<h2 id="h_01FNQ8X1JEYC3F7T17Y2HQY5YV"><span class="notion-enable-hover" data-token-index="0" data-reactroot="">How to Enable/Disable the Bot in Your Server</span></h2>
<p>Once Snowball Bot has been invited, the bot will immediately be able to chat in all channels available on a server.</p>
<p>To prevent Snowball Bot from responding in unwanted channels, <strong>Server Admins</strong> can remove the "Use Slash Commands" permission from users in a select channel or category.</p>
<p>To learn more about the "Use Slash Commands" permission, read more in our <a href="https://support.discord.com/hc/en-us/articles/1500000368501-Slash-Commands-FAQ" target="_blank" rel="noopener">Slash Commands FAQ</a>.</p>
<h1 id="h_01FNQ8X7XXE9BGG57QG8K3GSCT"><span class="notion-enable-hover" data-token-index="0" data-reactroot="">Command List</span></h1>
<p><span class="notion-enable-hover" data-token-index="0" data-reactroot="">Here’s a list of Snowball Bot slash commands to help you and your community get the party started.</span></p>
<table style="border-collapse: collapse; width: 100%; height: 88px;" border="1">
<tbody>
<tr style="height: 22px;">
<td style="width: 50%; height: 22px;">/collect</td>
<td style="width: 50%; height: 22px;">Collects a snowball.</td>
</tr>
<tr style="height: 22px;">
<td style="width: 50%; height: 22px;">/throw @user</td>
<td style="width: 50%; height: 22px;">Throw a snowball at another user in a server.</td>
</tr>
<tr style="height: 22px;">
<td style="width: 50%; height: 22px;">/leaderboard</td>
<td style="width: 50%; height: 22px;">Displays the scores of how your server members are performing.</td>
</tr>
<tr>
<td style="width: 50%;">/stats</td>
<td style="width: 50%;"><span class="notion-enable-hover" data-token-index="0" data-reactroot="">Check you or another user's stats in your server.</span></td>
</tr>
<tr style="height: 22px;">
<td style="width: 50%; height: 22px;">/help</td>
<td style="width: 50%; height: 22px;">Brings you to the Snowsgiving 2021 Help Center article.</td>
</tr>
</tbody>
</table>
<h1 id="h_01FNQ8XCH77ZK7A0SAQT0N5T48"><span class="notion-enable-hover" data-token-index="0" data-reactroot="">Other Frequently Asked Questions</span></h1>
<p><strong>Q: What determines if a throw is a hit or miss?</strong></p>
<p>A: Outcomes of the /throw command are randomly generated.</p>
<p><strong>Q: I lost all the snowballs I was collecting. What happened?</strong></p>
<p>A: Upon being hit with a snowball by another user, you will “drop” all of your snowballs! Just /collect to gather more.</p>
<p><strong>Q: How long does this event last?</strong></p>
<p>A: Snowball Bot will be active from Thursday, December 9 to Tuesday, January 4.</p>
<p><strong>Q: Why is the Leaderboard not updating on my server?</strong></p>
<p>A: Snowball Bot caches the leaderboard every minute, please wait about 5 minutes and try the command again for it to show the most up-to-date results.</p>
<p><strong>Q: Why is the bot removing messages after a period of time?</strong></p>
<p>A: The bot will automatically delete messages in approximately 15-minute intervals in order to clean up previous events!</p>
<p><strong>Q: What does “Only you can see this” mean?</strong></p>
<p>A: To prevent clutter in your channels, certain commands will be only visible to the person using the command.</p>
<p><strong>Q: I lost all the snowballs I was collecting. What happened?</strong></p>
<p><span style="font-weight: 400;">A: Upon being hit with a snowball by another user, you will “drop” all of your snowballs! Just /collect to gather more.</span></p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/4414437175191/message.png" alt="message.png" width="361" height="41"></p>
<p class="wysiwyg-text-align-left">Your command will still go through, but only you can see the message delivered from the bot.</p>
<h3 class="wysiwyg-text-align-left">Running into other technical issues with the bot? Contact us at <a href="http://dis.gd/contact">http://dis.gd/contact</a>.</h3>
<p> </p>