<p>In celebration of Snowsgiving 2021, we'll have some extra cozy, exclusive Discord merchandise designed specifically with you in mind. All proceeds from each purchase will go directly to our Charity Partner <a class="notion-link-token notion-enable-hover" href="https://twloha.com/" target="_blank" rel="noopener noreferrer" data-token-index="1" data-reactroot=""><span class="link-annotation-unknown-block-id-1554168430">To Write Love On Her Arms</span></a><a class="notion-link-token notion-enable-hover" href="https://twloha.com/" target="_blank" rel="noopener noreferrer" data-token-index="2" data-reactroot=""><span class="link-annotation-unknown-block-id-1554168430">!</span></a></p>
<p><span class="wysiwyg-font-size-large"><strong>What does this article cover?</strong></span></p>
<ul>
<li><a href="#h_01FNQ9A9981N6ADS68P1179R48" target="_self">What Will Be Available For Purchase?</a></li>
<li><a href="#h_01FNQ9B3GCWYGKGME72NXEB2MV" target="_self">How Will This Work?</a></li>
<li><a href="#h_01FNQ9B992ED1N942YRJ3V8MRH" target="_self">How to Receive Support for Your Order</a></li>
</ul>
<h1 id="h_01FNQ9A9981N6ADS68P1179R48">What Will Be Available For Purchase?</h1>
<p>We’ll have two types of bundles available for purchase.</p>
<p>For $100, you can purchase the <strong>Wintry Warmth Merch Bundle!</strong></p>
<ul>
<li>Bundle one will include a pull-over sweater, a pom beanie, and a sticker!</li>
<li>Bundle two will include a zip-up hoodie, a pom beanie, and a sticker!</li>
</ul>
<p>For $190, you can purchase a special mechanical keyboard in our <strong>Discord TKL Mechanical Keyboard Bundle.</strong></p>
<ul>
<li>The keyboards will be available in both Dark and Light mode styles.</li>
<li>This bundle will ship in early Q2, 2022, but payment will be processed as a pre-order and not when the item ships.</li>
</ul>
<p>For full listings, check out the <a href="https://discordmerch.com/password" target="_blank" rel="noopener">Snowsgiving Merch Store</a> here.</p>
<h2 id="h_01FNQ9B3GCWYGKGME72NXEB2MV">How Will This Work?</h2>
<p>This year is a bit different: we have a <a href="https://discordmerch.com/password" target="_blank" rel="noopener">Snowsgiving Merch Store</a>!</p>
<p>Rather than providing shipping info later, your order will be shipped to you after purchase.</p>
<p>Once you complete your order, you should receive a confirmation email and your donation merch bundle will ship in the order it was received. <strong>There will be no refunds on any merchandise bought through the charity store.</strong></p>
<p><strong>Quantities and sizes are currently limited.</strong> For full details on Discord merchandise and the Discord Merch Store, read more in the <a href="https://support.discord.com/hc/en-us/articles/360059570333-Discord-Merchandise-Store-FAQ" target="_blank" rel="noopener">Discord Merchandise Store FAQ</a>.</p>
<h2 id="h_01FNQ9B992ED1N942YRJ3V8MRH">How To Receive Support For Your Order</h2>
<p>To submit a return/exchange request or check your eligibility with the MetaThreads team, visit our <strong><a href="https://discord.store/pages/contact" target="_blank" rel="noopener">Contact page</a></strong> or follow these steps below.</p>
<ol>
<li>Start by contacting MetaThreads customer service department via email: <a href="mailto:contact@metathreads.com" target="_blank" rel="noopener">contact@metathreads.com</a>.
<ol>
<li>In your email, please include a receipt or proof of purchase and your order number.</li>
</ol>
</li>
<li>Once all the information has been included, the MetaThreads team will be happy to assist and provide you with details on whether an order is eligible for a return/exchange.
<ol>
<li>If so, they will provide instructions on how to return/exchange an item.</li>
</ol>
</li>
</ol>