<p><span class="wysiwyg-font-size-large"><strong>What does this article cover?</strong></span></p>
<ul>
<li><a href="#h_01FYQAQH80ND6WTH8085K6Z65S" target="_self">What is this experiment?</a></li>
<li><a href="#h_01FYQAS8QWDX3QBCR91A0DEH5Z" target="_self">How do I get access to the Watch Together experiment?</a></li>
<li><a href="#h_01FYQASEY39WKSXGF9V88PZEBC" target="_self">How to use the new feature</a></li>
<li><a href="#h_01FYQASM185QY5SCGV8Q40YD3H" target="_self">Playback</a></li>
<li><a href="#hdkrt-how-to-use-the-new-feature-and-other-fa-qs" target="_self">FAQ</a></li>
</ul>
<h1 id="h_01FYQAQH80ND6WTH8085K6Z65S">What is this experiment?</h1>
<p>Some users on desktop may begin to see an experiment that includes an Activity called "Watch Together."</p>
<p>After joining a voice channel, a new icon may appear in the voice channel menu for users in servers that have been added to the experiment. This launches an Activity where users can watch YouTube videos together and create a shared video queue.</p>
<h1 id="h_01FYQAS8QWDX3QBCR91A0DEH5Z">How do I get access to the Watch Together experiment?</h1>
<p>This Activity is part of an experiment, so some users may not have access to it.</p>
<p>For users who do see it, you may see the experiment in some servers, but not all.</p>
<p>If your server has access to the experiment, but you still don’t see the Activity Launcher when you’re in a voice channel, you may not have the “Use Activity” permission. (Check with your server admins!)</p>
<h1 id="h_01FYQASEY39WKSXGF9V88PZEBC">How to use the new feature</h1>
<p>In a voice channel (if you have permission to use Activities) click the Launcher to start an Activity and then select “Watch Together.”</p>
<p>You can paste a link into the search bar, or search directly (make sure to hit ‘enter’ to start the search).</p>
<p>Selecting a video will start playback (if it’s your first one) or add it to the queue (if a video is already playing). To return to the queue, close out of search.</p>
<p><span class="wysiwyg-font-size-large"><strong>What does it mean to be the Controller or have the Remote?</strong></span></p>
<p>Only one user is the Controller. By default, this is <strong>the user who launched the Activity</strong> or - if the Controller leaves the Activity - <strong>the user who has been in the Activity the longest</strong>.</p>
<p>The Controller can <strong>pause, scrub, skip videos, reorder videos, and delete videos</strong> from the queue, and these actions apply to every user currently in Watch Together: for example, if the Controller pauses, the video will be paused for the entire group.</p>
<p><span class="wysiwyg-font-size-large"><strong>Can I share the Remote?</strong></span></p>
<p>Yes! For a more democratic viewing experience, the Controller also has the option to share the Remote with the rest of the Viewers.</p>
<p>In this mode, all Viewers can do the same actions as the Controller, and these actions apply to every user currently in Watch Together.</p>
<p><span class="wysiwyg-font-size-large"><strong>If I change the volume, does it change everyone else's volume?</strong></span></p>
<p><strong>Volume changes are</strong> <strong>always local</strong>, even for the Controller, so if any user adjusts the volume or mutes the YouTube player, only their own audio is affected.</p>
<h1 id="h_01FYQASM185QY5SCGV8Q40YD3H">Playback</h1>
<p>Playback of videos is limited to 180 minutes if watching with a group or 30 minutes if watching alone.</p>
<p>When the max playback limit is reached, playback will end. This will start a 10-minute cool-down, after which you can continue watching.</p>
<p>This same timer applies no matter what server or voice chat you are in.</p>
<p><strong>If I join a session that is approaching its 180-minute limit, will my session end at the same time?</strong></p>
<p>No; each user has their own playback timer, so sessions don’t approach a playback limit, users do! If everyone else has been watching for hours before you join, they’ll hit their max before you do.</p>
<p><strong>If I’m watching alone and I reach my 30-minute limit, can I join a group session and continue watching?</strong></p>
<p>No, once your personal limit has been reached you will need to wait for your individual cool-down before rejoining any group sessions or starting a new session.</p>
<h1 id="hdkrt-how-to-use-the-new-feature-and-other-fa-qs">FAQs</h1>
<p><span class="wysiwyg-font-size-large"><strong>If I pause the video, does it pause for everyone else?</strong></span></p>
<p>When the remote is not shared, only the Controller can pause the video. When the remote is shared, anyone can pause the video.</p>
<p><span class="wysiwyg-font-size-large"><strong>What happens if the Controller leaves the Activity or reaches their max playback limit?</strong></span></p>
<p>There is always a Controller in every active Watch Together session. If the Controller leaves the activity or enters the cooldown period, the role of Controller will default to the Viewer who has been in the activity the longest (the next user who joined after the former Controller).</p>
<p>The Controller can also choose to share the Remote with the rest of the Viewers.</p>
<p><span class="wysiwyg-font-size-large"><strong>As the Controller, can I prevent certain Viewers from adding more videos?</strong></span></p>
<p>The Controller cannot prevent videos from being added to the queue, but they can remove videos after they are added.</p>
<p><span class="wysiwyg-font-size-large"><strong>Can I hide the Activity Launcher or remove the activity from my server?</strong></span></p>
<p>If you have the admin permission in your server, you can hide the Activity Launcher for certain roles. To do this, go to <strong>Server Settings &gt; Roles &gt; Permissions &gt; Voice Channel Permissions</strong> and toggle off the "Use Activities" permission.</p>
<p>You can also hide the Activity Launcher for a channel category or specific voice channel by right-clicking and going to Voice Channel Permissions.</p>
<p><span class="wysiwyg-font-size-large"><strong>My server has the Watch Together experiment, but I don’t see it my voice channel.</strong></span></p>
<p>Server admins may have turned off the <strong>"Use Activity"</strong> permission for certain roles or at either the channel level or category level.</p>
<p><span class="wysiwyg-font-size-large"><strong>Why did my playback skip past the beginning of the video!</strong></span></p>
<p>When users join a session, they will all be added to the same <em>timestamp</em>, which is where the group is synced.</p>
<p>If individual users had buffering, ads, or other local-only breaks before joining the group, this may occasionally cause some users to miss parts of the video others have already watched, if the Controller started the video before you were ready.</p>
<p>Video playback always starts as soon as the Controller is ready to watch, and the rest of the group will begin viewing starting from wherever synced playback currently is at their time of joining.</p>
<p>Some users may occasionally see ads, and if users see different ads or ad-lengths, Watch Together will add Viewers in as soon as they are individually ready to watch the video.</p>
<p><span class="wysiwyg-font-size-large"><strong>Is this available on mobile?</strong></span></p>
<p>Currently, this Activity is only available on desktop.</p>
<p><span class="wysiwyg-font-size-large"><strong>Can I change this activity to my preferred language?</strong></span></p>
<p>This Activity is currently available only in English, but you can search for videos in different languages within the YouTube player.</p>