<p><span class="wysiwyg-font-size-large"><strong>What does this article cover?</strong></span></p>
<ul>
<li>
<a href="#h_01FB7GSDX29HY45M5SCMK2YBYK" target="_self">What is Word Snacks?</a>
<ul>
<li><a href="#h_01FB7GSKBBHYRXYHD50401W5Q5" target="_self">How to start a Word Snacks game?</a></li>
</ul>
</li>
<li><a href="#h_01FB7GSR87M40ZD855F127KA3E" target="_self">How do I join Discord Games Lab?</a></li>
<li><a href="#h_01F4ZHYENSF3VFJR8BEMF8ZPC2" target="_self">Discord Games Lab Server FAQ</a></li>
</ul>
<h1 id="h_01FB7GSDX29HY45M5SCMK2YBYK">What is Word Snacks?</h1>
<p><span style="font-weight: 400;">Word Snacks is an <a href="https://support.discord.com/hc/articles/4422142836759" target="_blank" rel="noopener">Activity</a> that we've developed in-house and is available on our official, public Discord Games Lab server. Word Snacks is a multiplayer word search game, where you and your friends try to make as many words as possible from a few letters. The more words you can spell before your opponents, the higher your score!<br><br></span></p>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/4409234925463/word_snack_example.png" alt="word_snack_example.png"></p>
<h1 id="h_01FB7GSKBBHYRXYHD50401W5Q5">How to start a Word Snacks game?</h1>
<p>To start a Word Snacks Game, follow these steps below!  </p>
<ul>
<li style="list-style-type: none;">
<ul>
<li>Join a voice channel
<ul>
<li><span style="font-weight: 400;">Once joined, you should see the Activity Launcher (it looks like a rocket ship) in the voice channel controls.</span></li>
</ul>
</li>
<li><span style="font-weight: 400;">Click the Activity Launcher to open the Activity Shelf</span></li>
<li>Then select "Word Snacks" in the following menu </li>
</ul>
</li>
</ul>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/4550836440599/Untitled.png" alt="Untitled.png" width="452" height="710"></p>
<ul>
<li style="list-style-type: none;">
<ul>
<li>Once you've authorized Word Snacks to access your account, you can begin playing with anyone on the Discord Games Lab server.</li>
</ul>
</li>
</ul>
<p class="wysiwyg-text-align-center"><img src="https://support.discord.com/hc/article_attachments/4409245661463/word_snacks_perm.png" alt="word_snacks_perm.png" width="444" height="723"></p>
<h3>Note: When playing with more than 20 people you may experience some technical issues. For the best experience, we recommend games with up to 8 players.</h3>
<h1 id="h_01FB7GSR87M40ZD855F127KA3E">How do I join Discord Games Lab?</h1>
<p><strong>To join the server, <a href="https://discord.gg/discordgameslab" target="_blank" rel="noopener">press on this link here!</a></strong></p>
<p>Since the game is still an experimental experience, we’re looking to hear feedback directly from our users so you’ll see Discord devs in there pretty frequently!</p>
<h2 id="h_01F4ZHYENSF3VFJR8BEMF8ZPC2">Discord Games Lab Server FAQ</h2>
<p><span class="wysiwyg-font-size-large"><strong>Q: Why is Discord adding games into voice channels?</strong></span></p>
<p>A: We started Discord because we are all about bringing people together around gaming. As Discord has grown, we've seen more and more people use Discord to come together around games. For instance, we’ve seen people use Discord to not only play <em>League</em> but also to hang out and play more casual, social games with friends like <em>Jackbox</em> and <em>Among Us</em>.</p>
<p>For more information about Activities on Discord, go <a href="https://support.discord.com/hc/articles/4422142836759" target="_blank" rel="noopener">here</a>!</p>
<p><span class="wysiwyg-font-size-large"><strong>Q: Is there an age requirement?</strong></span></p>
<p>A: There is no age requirement for Word Snacks. However, you must be at least 18 years old to play Poker Night.</p>
<p><span class="wysiwyg-font-size-large"><strong>Q: How do I play?</strong></span></p>
<p><span style="font-weight: 400;">A: To start a game, first join one of the Word Snacks</span><span style="font-weight: 400;"> voice channels. Once there, you should see a button below the voice-connected area that has a rocket ship – this is the Activity Launcher. Click this to open the Activity Shelf, and then select </span><span style="font-weight: 400;">"Word Snacks.”</span></p>
<p><span class="wysiwyg-font-size-large"><strong>Q: Where can I report bugs and problems with the game?</strong></span></p>
<p>A: Check out our <span class="wrapper-3WhCwL mention interactive">#<span style="font-weight: 400;">feedback-and-bugs</span></span> channel in the <strong>Discord Games Lab server</strong> and make sure to follow the format to report any issues.</p>
<p><span class="wysiwyg-font-size-large"><strong>Q: Can I give feedback on Word Snacks?</strong></span></p>
<p>A: Absolutely, we would love to hear what you have to say about the game, etc. You can post in the <span class="wrapper-3WhCwL mention interactive">#<span style="font-weight: 400;">feedback-and-bugs </span>channel in the <strong>Discord Games Lab server.</strong></span></p>
<p><span class="wysiwyg-font-size-large"><strong>Q: What data is accessed by Discord in Word Snacks? Is any of this data retained? </strong></span></p>
<p><span style="font-weight: 400;">To enhance the gameplay experience, Word Snacks accesses and temporarily stores the following user data once a user joins the Activity:</span></p>
<ul>
<li><span style="font-weight: 400;">Discord ID</span></li>
<li><span style="font-weight: 400;">Avatar</span></li>
<li><span style="font-weight: 400;">Username</span></li>
</ul>
<p><span style="font-weight: 400;">User data is stored so long as the Activity remains active, even if the user leaves the activity. </span></p>
<p><span style="font-weight: 400;">Once all users leave the Activity and it is determined the Activity has ended, the user data is deleted and no longer retained by Word Snacks.</span></p>
<p><span class="wysiwyg-font-size-large"><strong>Q: My question isn't listed, what do I do?</strong></span></p>
<p>A: If you have feedback or issues, use <span class="wrapper-3WhCwL mention interactive">#<span style="font-weight: 400;">feedback-and-bugs in the Discord Games Lab server</span></span>.</p>
<p>If all is lost, please submit a ticket to our support team at <a class="ql-link" href="https://dis.gd/contact" target="_blank" rel="noopener noreferrer" data-slab-linktype="text">https://dis.gd/contact</a></p>
<p> </p>