<p>As of today,<strong> December 3rd, 2021</strong>, we became aware of an issue where some guilds are unable to connect to voice.</p>
<p>Our engineering team is working to resolve this as soon as possible. We greatly appreciate your patience!</p>
<h4>- For updates on this issue, please check out our status page here: <a href="https://discordstatus.com" target="_self">https://dis.gd/status</a>
</h4>