<h3>⚠️We are no longer granting refunds for game licenses</h3>
<p>As we continue to keep Discord the best place for friends and communities to connect over gaming, we want to make sure we are investing in areas that help our users the most.</p>
<p>After December 1, 2021, Discord will no longer offer the ability to purchase a license to sell PC games on Discord. After March 10, 2022, Discord will be sunsetting store channel functionality.</p>
<p>This allows us to increase our focus on bringing even more features, improvements, and game-related experiences that users will love.</p>
<h1>Frequently Asked Questions</h1>
<p><span class="wysiwyg-font-size-large"><strong>Q: Why can't I apply for a license?</strong></span></p>
<p>A: After December 1, 2021, we are no longer accepting new applications to sell games on discord.</p>
<p><span class="wysiwyg-font-size-large"><strong>Q: I have a store channel in my server. How long will I be able to continue using it and selling my game?</strong></span></p>
<p>A: Store channels and the ability to sell game SKUs on Discord will be removed on March 10, 2022.</p>
<p><span class="wysiwyg-font-size-large"><strong>Q: What about the users who already own my game?</strong></span></p>
<p>A: Users who have already purchased SKUs can continue to access them after March 10, 2022.</p>
<p><span class="wysiwyg-font-size-large"><strong>Q: I already paid for a license but did not get reviewed or approved yet. Can I get a refund?</strong></span></p>
<p>A: We are no longer granting refunds for this.</p>
<p><span class="wysiwyg-font-size-large"><strong>Q: When will I get my payments?</strong></span></p>
<p>A: All payments will be made by 30 days after the last transaction. Transactions are still enabled until March 10, 2022, so final payouts will be completed by April 1, 2022.</p>