<p>Below are the minimum system and OS specifications for Discord. Due to potential programming changes, the minimum system requirements may change over time.</p>
<h1>Desktop</h1>
<p>Windows 7 and up</p>
<p>MacOS 10.11 and up (El Capitan)</p>
<h1>Mobile</h1>
<p>iOS 10.0 and up</p>
<h3>Note: The oldest devices supported by iOS 10 are listed <a href="https://support.apple.com/en-us/HT209547" target="_blank" rel="noopener">here</a>! </h3>
<p>Android 5 and up</p>
<h3>Note: Discord only supports devices that ship with Google Play Services by default. This means some devices, including Amazon Kindles, are not supported. </h3>
<h1>Browser</h1>
<p>Google Chrome, Firefox 80+, Opera, Microsoft Edge 17+ (including Chromium Edge 79+ on Windows and macOS), Safari 11+ (available on macOS 10.13 High Sierra and up)</p>
<h3>Note: Older browsers may lack functionality with newer features, and voice chat for Firefox is only supported by versions 80 and up!</h3>