<p><span style="font-weight: 400;">Discord is a place where people come to hang out with friends, find belonging, and build communities. We want people to enjoy our platform, but never at the expense of others. We also know that the ability to have a safe and positive experience can be affected by things that happen outside of Discord.</span></p>
<p><span style="font-weight: 400;">Some types of </span><strong>off-platform behaviors</strong><span style="font-weight: 400;"> can reasonably create a safety risk - or even immediate and severe harm - for people who use Discord. When we talk about off-platform behaviors, we’re referring to any behaviors taking place outside of Discord, either in other digital spaces or in a physical community. If we become aware of specific off-platform, high-harm behaviors with credible evidence committed by a person with a Discord account, </span><strong>we will take the off-platform harmful behavior into consideration</strong><span style="font-weight: 400;"> when assessing whether that account has violated a specific Community Guideline. Our Trust &amp; Safety team may launch an investigation of an account, including reviewing the user’s activity and posts, based on this off-platform behavior.</span></p>
<p><span style="font-weight: 400;">We are taking this step to ensure the safety of everyone on Discord and in the communities they live in. We are applying this off-platform behavior consideration </span><strong>only</strong><span style="font-weight: 400;"> if we become aware of highest-harm threats, including using Discord for organizing, promoting, or supporting violent extremism; making threats of violence; and sexualizing children in any way.</span></p>
<p><span style="font-weight: 400;">Harmful off-platform behaviors may include:</span></p>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Recruiting or participating in activities within a known violent group</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Explicit and/or credible threats of violence toward a person, group of people, organization, event, or location</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Links to content or content posted that depicts minors in a pornographic, sexually suggestive, or violent manner. This also applies to inappropriate contact with minors (also known as “grooming”) made on other platforms or in a physical space. </span></li>
</ul>
<p><span style="font-weight: 400;">Credible evidence may include:</span></p>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Public content posted on another platform that can be confidently attributed to a Discord user</span></li>
</ul>
<h3><span style="font-weight: 400;">Note: Content altered with the intention to frame a user will not be considered, and false reporting may result in action by Trust &amp; Safety.</span></h3>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Law enforcement actions or requests</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Legal requests</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Press coverage of the behavior by a reputable journalistic source</span></li>
</ul>
<p><span style="font-weight: 400;">When considering reported incidents under this policy, we will assess the account with </span><a href="http://restorativejustice.org/restorative-justice/about-restorative-justice/tutorial-intro-to-restorative-justice/lesson-1-what-is-restorative-justice/#sthash.10RfzmHH.dpbs"><strong>restorative justice principles</strong></a><span style="font-weight: 400;"> in mind. We may decline to take action on the account if: the off-platform behavior occurred in the distant past; the person has gone through a credible rehabilitation process, or they received justice-oriented punishment in the past (such as required time at a correctional facility); </span><strong>and</strong><span style="font-weight: 400;"> the investigation and assessment shows there is no evidence of the behavior taking place on Discord. We also may remove an account from suspension based on an appeal.</span></p>
<p><span style="font-weight: 400;">We are committed to making Discord a safe place where people can find community and belonging. We believe this policy will help us gather a more comprehensive accounting of a user’s behavior and potential for harm when we investigate violations of our Community Guidelines, and take action if warranted to protect our community. </span></p>
<p><span style="font-weight: 400;">If you would like to report off-platform behavior or any other violations of our rules, please use our </span><a href="https://support.discord.com/hc/en-us/requests/new?ticket_form_id=360000029731"><span style="font-weight: 400;">reporting form</span></a><span style="font-weight: 400;">.</span></p>