<p class="wysiwyg-text-align-center"><span style="font-weight: 400;"><img src="https://support.discord.com/hc/article_attachments/4470228055831/unnamed.png" alt="unnamed.png" width="951" height="380"></span></p>
<p><span style="font-weight: 400;">The update to our </span><a href="https://discord.com/guidelines"><span style="font-weight: 400;">Community Guidelines</span></a><span style="font-weight: 400;"> announced today introduces a provision disallowing forms of misinformation on our platform. This is an important step in the development of our rules governing user content and behaviors. </span></p>
<p> </p>
<p><span style="font-weight: 400;">The new guideline states that users </span><strong>may not share false or misleading information on Discord that is likely to cause physical or societal harm </strong><span style="font-weight: 400;">— including content that could result in damage to physical infrastructure, injury to others, the obstruction of participation in civic processes, or that could endanger the public health.</span><span style="font-weight: 400;"><br></span><span style="font-weight: 400;"><br></span><span style="font-weight: 400;">We would like to dive a bit deeper into the rule against health misinformation. Ensuring the accuracy of online health information has never been as important as during the COVID-19 pandemic. It is our hope that this new rule will be an effective countermeasure against dangerous medical-related falsehoods — both during the pandemic and after its conclusion.</span></p>
<h1><span style="font-weight: 400;">Overview of the Policy</span></h1>
<p><span style="font-weight: 400;">The early days of COVID-19 demonstrated our collective need for rigorous medical science from trustworthy sources. The personal health choices made during this time had the potential to impact communities and the world. False or misleading health information continues today to have potential to cause harm: It can prompt individuals to make unsafe choices; it can obscure important information about diseases; and it can lead to undermining of public health protocols. </span></p>
<p> </p>
<p><span style="font-weight: 400;">We do not allow individuals on Discord to </span><strong>post, promote, or organize communities around false or misleading health information that is likely to result in harm</strong><span style="font-weight: 400;">. This includes:</span></p>
<p> </p>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">anti-vaccination content; </span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">medically unsupported and dangerous cures for disease; </span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">content that distorts information about a disease; and,</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">any content that could hinder the resolution of a public health emergency.</span></li>
</ul>
<p> </p>
<p><span style="font-weight: 400;">We consider health information “false or misleading” if it directly and unequivocally contradicts the most recent consensus reached by the medical community. Our standard for actioning </span><em><span style="font-weight: 400;">requires</span></em><span style="font-weight: 400;"> that the content be likely to cause some form of harm. A non-exhaustive list of potential harms includes: heightening risk of exposure to a transmissible disease; causing undue strain on public health systems; and inciting panic or social unrest with conspiratorial health claims.</span></p>
<p> </p>
<p><span style="font-weight: 400;">Discord users also may not post or promote content that </span><strong>attempts to sway opinion through the use of sensationalized, alarmist, or hyperbolic language</strong><span style="font-weight: 400;">, or any content that </span><strong>repeats widely-debunked health claims, unsubstantiated rumors, or conspiratorial narratives.</strong></p>
<h1><span style="font-weight: 400;">Criteria for Actioning and Exceptions</span></h1>
<p><span style="font-weight: 400;">We will take action against individuals, small groups, and servers that post, promote, or organize around content that makes false or misleading claims about any of the following:</span></p>
<p> </p>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">the safety, side effects, or efficacy of vaccines;</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">the ingredients, development, or approval of vaccines;</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">alternative, unapproved treatments for disease (including claims that promote harmful forms of self-medication, as well as claims advocating vaccine refusal or alternatives);</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">the existence or prevalence of a disease;</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">the transmission or symptoms of a disease;</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">health guidance, advisories, or mandates (including false claims about preventative measures and actions that could hinder the resolution of a public health emergency);</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">the availability or eligibility for health services; and,</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">content that implies a health conspiracy by malicious forces (including claims that could cause social unrest or prompt the destruction of critical infrastructure).</span></li>
</ul>
<p> </p>
<p><span style="font-weight: 400;">This policy is </span><em><span style="font-weight: 400;">not</span></em><span style="font-weight: 400;"> intended to be punitive of polarizing or controversial viewpoints. We allow the sharing of </span><strong>personal health experiences</strong><span style="font-weight: 400;">; </span><strong>opinions and commentary</strong><span style="font-weight: 400;"> (so long as such views are based in fact and will not lead to harm); </span><strong>good-faith discussions</strong><span style="font-weight: 400;"> about medical science and research; content intended to </span><strong>condemn or debunk</strong><span style="font-weight: 400;"> health misinformation; and </span><strong>satire and humor</strong><span style="font-weight: 400;"> that obviously and deliberately intends to mock false or misleading health claims.</span></p>
<h1><span style="font-weight: 400;">Enforcing This Policy</span></h1>
<p><span style="font-weight: 400;">We determine the severity of a violation by weighing four main factors: the </span><strong>gravity of the harm likely to result</strong><span style="font-weight: 400;"> from the content; the poster’s </span><strong>intent to convince</strong><span style="font-weight: 400;"> others that the false or misleading information is true; the poster’s </span><strong>apparent intent to deceive</strong><span style="font-weight: 400;"> others into believing the misinformation; and whether the poster or group has had </span><strong>repeated violations of this policy</strong><span style="font-weight: 400;">.</span></p>
<p> </p>
<p><span style="font-weight: 400;">We may take any number of enforcement actions in response to violations of this policy — including warning an account, server, or entire moderator team; temporarily suspending an account; removing harmful content; and permanently suspending an account or server. </span></p>
<h1><span style="font-weight: 400;">Looking Ahead</span></h1>
<p><span style="font-weight: 400;">Digital misinformation is harmful because it hinders people’s ability to come to well-reasoned conclusions — and it does so at a rate faster than what is possible with in-person dialogue. Seeing the rise of incomplete, incorrect, or misleading online health information during the COVID-19 pandemic has been particularly concerning. We want to continue to ensure that this content does not spread on our platform even after the world rebuilds from the coronavirus.</span></p>
<p> </p>
<p><span style="font-weight: 400;">We encourage users to </span><a href="https://support.discord.com/hc/en-us/articles/360000291932-How-to-Properly-Report-Issues-to-Trust-Safety"><span style="font-weight: 400;">report harmful misinformation</span></a><span style="font-weight: 400;"> to our Trust &amp; Safety team. The full list of content and behaviors not allowed on Discord can be found in our </span><a href="https://discord.com/guidelines"><span style="font-weight: 400;">Community Guidelines</span></a><span style="font-weight: 400;">. </span></p>
<p><br><span style="font-weight: 400;">Our </span><a href="https://discord.com/safety"><span style="font-weight: 400;">Safety Center</span></a><span style="font-weight: 400;"> and </span><a href="https://discord.com/category/safety"><span style="font-weight: 400;">Policy &amp; Safety Blog</span></a><span style="font-weight: 400;"> are also great resources if you would like to read more about our approach to content moderation. Please check back on our blog in the coming months for additional posts about our efforts to combat the spread of misinformation. We are excited to share even more updates about our work in this important and timely area.</span></p>