<p><span style="font-weight: 400;">Our </span><a href="https://discord.com/guidelines"><span style="font-weight: 400;">Community Guidelines</span></a><span style="font-weight: 400;"> define what is and isn't allowed on Discord, and help ensure that everyone has a positive experience here. We want everyone to find belonging on Discord, but never at the expense of others. Below you’ll find a summary of the key updates, but please do read the full guidelines, as they actually govern your use of Discord. The changes go into effect on </span><strong>March 28, 2022</strong><span style="font-weight: 400;">.</span></p>
<p><span style="font-weight: 400;">Our communities have evolved so much in the last year and a half. As the Internet and our societies face new problems, so does Discord. We're adding three new guidelines to cover evolving platform issues:</span></p>
<ul>
<li style="font-weight: 400;" aria-level="1">
<strong>Misinformation.</strong><span style="font-weight: 400;"> Content that is false or misleading and may lead to significant risk of physical or societal harm may not be shared on Discord. Examples of harm that we consider include damaging physical infrastructure, injury to others, preventing participation in civic processes, and endangering public health. </span>
</li>
<li style="font-weight: 400;" aria-level="1">
<strong>Malicious impersonation.</strong><span style="font-weight: 400;"> Do not coordinate or participate in malicious impersonation of an individual or an organization. (Satire and parody are okay!)</span>
</li>
<li style="font-weight: 400;" aria-level="1">
<strong>Spam and platform manipulation.</strong><span style="font-weight: 400;"> With more users comes more spam. Do not use Discord to spam, manipulate engagement, or disrupt other users’ experiences, including coordinated behaviors to influence or disrupt conversations using bots, fake accounts, multiple accounts, or other automation. </span>
</li>
</ul>
<p><span style="font-weight: 400;">We’ve also updated some of our existing guidelines to better support our communities:</span></p>
<ul>
<li style="font-weight: 400;" aria-level="1">
<strong>Age-restricted. </strong><span style="font-weight: 400;">We will stop using the term “NSFW (Not Safe For Work)” as it is confusing, overloaded with different meanings, and not easy to translate for Discord users around the world. We will instead refer to content that requires a verified age of 18 or older as “age-restricted.”</span>
</li>
<li style="font-weight: 400;" aria-level="1">
<strong>Hate speech.</strong><span style="font-weight: 400;"> We are adding caste, gender identity, age, and serious illness as protected attributes to our hate speech policy.</span>
</li>
<li style="font-weight: 400;" aria-level="1">
<strong>Off-platform behaviors.</strong><span style="font-weight: 400;"> We will now consider relevant off-platform behaviors when making policy and enforcement assessments. This includes membership or association with a hate group, illegal activities, and hateful, sexual or other types of violent acts.</span>
</li>
<li style="font-weight: 400;" aria-level="1">
<strong>Excessive violence and gore. </strong><span style="font-weight: 400;">We clarified what we consider excessive violence and gore. We do not allow </span><em><span style="font-weight: 400;">real</span></em><span style="font-weight: 400;"> media depicting gore, excessive violence, or animal harm (including bestiality), especially with the intention to harass or shock others. There are some exceptions for educational, news, or artistic purposes.</span>
</li>
<li style="font-weight: 400;" aria-level="1">
<strong>Malicious reporting. </strong><span style="font-weight: 400;">Our support teams are taking a stronger line against false, malicious, or spammy reports. If you are found to be reporting in bad faith, we may take action against your account.</span>
</li>
</ul>