<p><span style="font-weight: 400;">In 2020, we received the following number of access requests (requests to know):</span></p>
<p><span style="font-weight: 400;">Received: 685,621</span></p>
<p><span style="font-weight: 400;">Completed: 670,794</span></p>
<p><span style="font-weight: 400;">Incomplete: 14,827</span></p>
<p><span style="font-weight: 400;">Average time to resolution: 10 days</span></p>
<p><span style="font-weight: 400;">In 2020, we received the following number of requests to delete:</span></p>
<p><span style="font-weight: 400;">Received: 14,023,161</span></p>
<p><span style="font-weight: 400;">Completed: 11,728,696</span></p>
<p><span style="font-weight: 400;">Incomplete: 2,294,465</span></p>
<p><span style="font-weight: 400;">Average time to resolution: 16 days</span></p>
<p><span style="font-weight: 400;">Requests may be “incomplete” for a variety of reasons, including if we were unable to verify a user’s account, the user provided an invalid or no email address, or the request was pending and completed in the following calendar year.</span></p>
<p><span style="font-weight: 400;">As described in our </span><a href="https://discord.com/privacy" target="_blank" rel="noopener">Privacy Policy</a><span style="font-weight: 400;">, Discord does not sell your personal information to third parties.</span></p>