<p>We want to help connect people to the things and places that they love and we want to make sure we do this in a safe manner. To help ensure that communities and people are safer, we've created guidelines to help servers understand what is and isn't allowed if you choose to make your community open to everyone. Having the ability to reach more people on Discord is a big privilege which means that there is some additional responsibility for each server owner and their moderation team.</p>
<p><strong>1. Abide by the Community Guidelines and Terms of Service.</strong> This means that issues reported to your server should be addressed by your moderators and admins. Your moderator team should know when to escalate issues to Trust &amp; Safety. Servers that violate <strong><a href="https://discord.com/guidelines" target="_blank" rel="noopener">Discord's Community Guidelines</a></strong> and <strong><a href="https://discord.com/terms" target="_blank" rel="noopener">Terms of Service</a></strong> will be subject to further action from our Trust &amp; Safety Team.</p>
<ul>
<li>We want Discord to be a safe, positive, and inclusive experience. Our Trust &amp; Safety team will investigate spaces that are reported to us or that we proactively identify as likely in violation of our policies, and Trust &amp; Safety team members may temporarily join these spaces to investigate potential violations.</li>
<li>We may remove an affiliated server or account from one or more means of discovery if the server or account recently violated our Community Guidelines and received an enforcement action.</li>
</ul>
<p><strong>2. Foster a healthy and positive environment.</strong> People should feel welcome in your server and its affiliated spaces. Create environments where people want to spend time with each other, share interests, participate in community events, and build friendships. Examples include:</p>
<ul>
<li>No content or behavior meant to <strong>single-out, bully, or harass users and/or other communities. This includes off-platform spaces as well.</strong>
</li>
<li>No discussions about <strong>controlled substances or drugs</strong>. This may get you reported to law enforcement.</li>
<li>No servers dedicated to use of regulated goods, such as alcohol.</li>
<li>Do not cultivate general toxic behavior or other derogatory content.</li>
</ul>
<p><strong>3. Do not host graphic or sexual content.</strong> Graphic violence and sexual content are not allowed in public spaces. Servers opting into any publicly viewable feature should be appropriate for audiences of all ages 13+.</p>
<p><strong>4. Have a server name and description that accurately describes the server that is free of profanity.</strong> Help potential members understand why they want to join the server, conversations, and activities taking place.</p>
<p><strong>5. Respect people's intellectual property and other rights.</strong> Only incorporate content that you own or have a license to use. Do not invade anyone's privacy, libel them, or otherwise violate their rights.</p>
<p><strong>6. Have a moderator team.</strong> Moderators can help ensure nothing rule-breaking is happening in your server and its public spaces and can find meaningful ways for your members to engage. Build a moderator team that members of your community can trust and turn to for help. Find out moderator best practices through our <a href="https://discord.com/moderation" target="_blank" rel="noopener">Discord Moderator Academy</a>.</p>
<p><strong>We may consider off-platform behavior when assessing an account or server for violation of Discovery guidelines.</strong> If you see a server, account, or content violating the below Discovery Guidelines, please report this through our app or this reporting form.</p>