<p>We are required to strictly enforce our age limit for legal reasons and because of this, we will need to confirm your age if you intend to appeal. <br><br>If you are over the minimum age required for your country and have been locked out of the app due to an underage report, you can appeal by following the instructions below! </p>
<h2>What do we need to unlock the account? </h2>
<p><span class="wysiwyg-font-size-large"><strong>Step 1: <br></strong></span>Take a <strong>photo of yourself</strong> that includes yourself holding the following items:</p>
<ol>
<li>A <span class="wysiwyg-color-blue"><strong>photo ID</strong></span> that contains your date of birth</li>
<li>A piece of paper that shows your <span class="wysiwyg-color-blue"><strong>full Discord Tag</strong> </span><em>(including your username and the last 4 digits following your username - ex: Wumpus#1234)</em>
</li>
</ol>
<p><span class="wysiwyg-font-size-large"><strong>Step 2: </strong></span></p>
<p>Once you have taken the photo, submit a request to the Trust &amp; Safety team here: <a class="anchor-3Z-8Bb anchorUnderlineOnHover-2ESHQB" tabindex="0" title="https://dis.gd/request" href="https://dis.gd/request" target="_blank" rel="noreferrer noopener">https://dis.gd/request</a> and select <strong>"Update my age information"</strong> under the <strong><em>Report Type</em></strong> option.</p>
<h3>
<strong>Note:</strong> <br>- All of the required information needs to be visible and readable in ONE photo.<br>- You must send the photo with the email address associated with your Discord account</h3>
<h3><span class="wysiwyg-color-orange"><strong>The information you provide will only be used to verify your age and will not be used for any other purpose. </strong></span></h3>