<p><span style="font-weight: 400;">We collect certain information as you use Discord. Our </span><a href="https://discord.com/privacy"><span style="font-weight: 400;">Privacy Policy</span></a><span style="font-weight: 400;"> describes the information we collect, how we use and share it, and how you can control your information. This page describes how long we hold on to different types of information and why.</span></p>
<p><span style="font-weight: 400;">As mentioned in our Privacy Policy, we require the information that enables us to create your account, provide our services, meet our commitments to our users, and satisfy our legal requirements. The rest is optional. </span></p>
<p><span style="font-weight: 400;">We retain personal information for as long as it is needed for the purposes for which we collected it. In general, this means that we retain your personal data for as long as you have an active Discord account. Some information you can delete directly from the services. We may also retain information for a certain period of time for specific purposes as described below. </span></p>
<p><span style="font-weight: 400;">As described in our Privacy Policy, you can limit Discord from collecting some types of information used for specific purposes. </span></p>
<h2><span style="font-weight: 400;">Information you can delete directly from the services</span></h2>
<p><span style="font-weight: 400;">You may edit or erase content that you post within Discord. For example:</span></p>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">You can edit or delete any message you have sent or content you have posted if you still have access to the space where you posted it.</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">You can edit or delete a Discord server if you have the permissions needed to do so.</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">You can edit or delete a channel from a Discord server if you have the permissions needed to do so.</span></li>
</ul>
<p><span style="font-weight: 400;">Once you delete content, it will no longer be available to other users (though it may take some time to clear cached uploads). Deleted content will also be deleted from Discord’s systems, but we may retain content longer if we have a legal obligation to preserve it as described below.  Public posts may also be retained for 180 days to two years for use by Discord as described in our Privacy Policy (for example, to help us train models that proactively detect content that violates our policies). </span></p>
<h2><span style="font-weight: 400;">Information retained until your account is deleted</span></h2>
<p><span style="font-weight: 400;">We keep some data for the life of your Discord account. This includes information about how you use Discord, which helps us understand how users interact with our services, what features or products users may want, or how to improve our services. This also includes information like your username, email, and phone number. Some of that information may be kept for longer periods for specific purposes, as described below. You can </span><a href="https://support.discord.com/hc/en-us/articles/212500837-How-do-I-permanently-delete-my-account-"><span style="font-weight: 400;">delete your account at any time</span></a><span style="font-weight: 400;">, and if your account is inactive for two years, we’ll delete it for you. For more on our deletion processes, see the “What happens when you delete your account” section below.</span></p>
<h2><span style="font-weight: 400;">Retention periods for specific purposes</span></h2>
<p><span style="font-weight: 400;">Business and legal requirements may mean that we need to retain certain information for set periods of time, some of which may extend beyond the deletion of your account. For each type of information, we set these data retention periods based on the reason for its collection:</span></p>
<ul>
<li style="font-weight: 400;" aria-level="1">
<strong>Age verification</strong><span style="font-weight: 400;">. If you submit an ID for an age verification appeal, we will delete it within sixty days after the age appeal ticket is closed. </span>
</li>
<li style="font-weight: 400;" aria-level="1">
<strong>Backups</strong><span style="font-weight: 400;">. Our database backups are stored for 30-45 days upon which they are deleted.</span>
</li>
<li style="font-weight: 400;" aria-level="1">
<strong>Compliance with our legal obligations</strong><span style="font-weight: 400;">. We may need to retain certain information for longer periods to comply with legal requirements. For example, when you purchase something through Discord, we need to retain information related to that transaction for  specific periods for tax and accounting purposes. </span>
</li>
<li style="font-weight: 400;" aria-level="1">
<strong>To meet our safety and security commitments</strong><span style="font-weight: 400;">. We retain certain information (including email addresses and phone numbers) for 180 days for trust and safety purposes. This information helps us keep Discord secure, prevent fraud, or prevent bad actors from creating new accounts or otherwise engaging in behavior that violates our policies. </span>
</li>
<li style="font-weight: 400;" aria-level="1">
<strong>To exercise or defend legal claims. </strong><span style="font-weight: 400;">When you contact Discord directly (such as for customer support inquiries and requests to access your information), we retain related information for five years from the closure of your request in case of a dispute or to exercise or defend our legal rights.</span>
</li>
<li style="font-weight: 400;" aria-level="1">
<strong>Continuity of our service</strong><span style="font-weight: 400;">: If you delete your account, we continue to retain and display the content you shared with other users, but that content is no longer tied to your account. We do this in order to ensure that other users continue to have access to the content shared with them. If you want to delete specific content, please do so before you delete your account. You can delete specific content as described in the “Information you can delete directly from the services” section above, or if you need help deleting content, you can write in to </span><a href="mailto:privacy@discord.com"><span style="font-weight: 400;">privacy@discord.com</span><span style="font-weight: 400;">.</span></a>
</li>
</ul>
<h2><span style="font-weight: 400;">What happens when you delete your account</span></h2>
<p><span style="font-weight: 400;">When you delete your account, we will typically first put your account on hold for 15 to 30 days so that it can be recovered in case it was deleted unintentionally. Once that period expires, we begin the process of deleting identifying information and anonymizing or aggregating other information. Most of this happens quickly (unless the information is subject to a longer retention period as described above), but it can take up to 45 days to delete identifying information from backups. We retain aggregated and anonymized information, which is information that no longer enables us to identify you and is no longer tied to you as an individual. </span></p>
<h2><span style="font-weight: 400;">Your rights</span></h2>
<p><span style="font-weight: 400;">As provided in our </span><a href="https://discord.com/privacy"><span style="font-weight: 400;">Privacy Policy</span></a><span style="font-weight: 400;">, all our users have control over their information and can directly edit or delete information from their account and limit what data we process. If you are located in the European Union, the GDPR grants you the following specific rights that you can exercise through the Discord app directly or by contacting us:</span></p>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Right of access to your personal data</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Right to rectify your personal data if they are incorrect</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Right to erase your personal data</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Right to limit the processing of your personal data</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Right to the portability of your personal data</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Right to object to the processing of your personal data</span></li>
</ul>
<p><span style="font-weight: 400;">If you have any questions about data retention or our deletion practices, or if you wish to exercise control over your information, please reach out to </span><a href="mailto:privacy@discord.com"><span style="font-weight: 400;">privacy@discord.com</span></a><span style="font-weight: 400;">.</span></p>