<h1><span style="font-weight: 400;">HOW TO IDENTIFY USERS: </span></h1>
<p><span style="font-weight: 400;">To ensure Discord’s prompt compliance with the legal process, the user information provided needs to uniquely identify a Discord account. We can locate users in our system by user identification number, username, and email. The user identification number is the most preferred. </span></p>
<p><span style="font-weight: 400;">Failure to include requisite information will result in Discord’s inability to comply with the legal process. </span><span style="font-weight: 400;">IP addresses, usernames (without the discriminator), and server nicknames can be helpful to support any of the above, however, they are insufficient to uniquely identify an account as they can be shared by multiple Discord accounts. </span></p>
<p><strong>HOW TO FIND USER ID:</strong></p>
<p><span style="font-weight: 400;">Each Discord user is assigned a 17 or 18 digit user identification number (UID). UID’s are unique to each user and cannot be changed. </span></p>
<p><strong>OBTAINING THE USER ID: DESKTOP APP</strong></p>
<p><span style="font-weight: 400;">1. Enable Developer Mode</span></p>
<p><span style="font-weight: 400;">You'll find Developer Mode in User Settings &gt; Advanced.</span></p>
<p><img src="https://support.discord.com/hc/article_attachments/4407571588503/1.png" alt="1.png"></p>
<p><span style="font-weight: 400;">2. Right-click user and select ‘Copy ID’ </span></p>
<p><span style="font-weight: 400;">This will copy the 17 or 18 digit UID to your clipboard.<img src="https://support.discord.com/hc/article_attachments/4407564270487/2.png" alt="2.png"></span></p>
<h1><strong>OBTAINING THE USER ID: MOBILE APP</strong></h1>
<p><span style="font-weight: 400;">1. Enable Developer Mode </span></p>
<p><span style="font-weight: 400;">For Android users, go to User Settings &gt; App Settings &gt; Behavior and turn on Developer Mode. For iOS you’ll head to User Settings &gt; Appearance &gt; Advanced and turn on Developer Mode.</span></p>
<p><img src="https://support.discord.com/hc/article_attachments/4407564287511/Screenshot_106.png" alt="Screenshot_106.png"><br><span style="font-weight: 400;">2. Copy ID from user’s profile</span></p>
<p><span style="font-weight: 400;">For iOS and Android users go to a user's Profile &gt; Select three dots on the top-right &gt; Select ‘'Copy ID' from the drop down menu. </span></p>
<p><img src="https://support.discord.com/hc/article_attachments/4407571619735/2And_.jpg" alt="2And_.jpg"><img src="https://support.discord.com/hc/article_attachments/4407564291351/2App_.jpg" alt="2App_.jpg" width="335" height="365"></p>
<h1><strong>HOW TO FIND USERNAMES AND DISCRIMINATORS:</strong></h1>
<p><span style="font-weight: 400;">Each Discord user has a unique case-sensitive username which includes a four-digit discriminator (UserName#1234). Usernames, including discriminators, can be changed by users. Discord also changes usernames once an account is deleted. Provide the username if the UID is unavailable. </span></p>
<h2><span style="font-weight: 400;">OBTAINING THE USERNAME: DESKTOP APP</span></h2>
<p><span style="font-weight: 400;">1. Right-click and select ‘View Profile’ or ‘Profile’</span></p>
<p><span style="font-weight: 400;">The profile will show the user’s username, including the discriminator, as depicted below</span></p>
<p><img src="https://support.discord.com/hc/article_attachments/4407571632535/Screenshot_107.png" alt="Screenshot_107.png"></p>
<p><span style="font-weight: 400;">2. Highlight username and select ‘Copy’</span></p>
<h3>
<em><span style="font-weight: 400;">Server, channel, and message ID numbers should only be provided when prompted or if no user identification can be found. Instructions on how to find such ID numbers can be found </span></em><a href="https://support.discord.com/hc/en-us/articles/206346498-Where-can-I-find-my-User-Server-Message-ID-"><em><span style="font-weight: 400;">here</span></em></a><em><span style="font-weight: 400;">. </span></em>
</h3>