<p><span style="font-weight: 400;">Since the beginning of Discord, we’ve intentionally pursued a business model that doesn’t rely on our users’ data and these updates are no different. Below you’ll find a summary of the key updates to the </span><a href="https://discord.com/privacy"><span style="font-weight: 400;">Privacy Policy</span></a><span style="font-weight: 400;">, but please do read the full policy, as it actually governs your use of Discord. The changes go into effect on </span><strong>March 28, 2022</strong><span style="font-weight: 400;">.</span></p>
<p><span style="font-weight: 400;">Here’s what’s new:</span></p>
<ul>
<li style="font-weight: 400;" aria-level="1">
<strong>Improved readability.</strong><span style="font-weight: 400;"> Like the Terms, we’ve made this easier to understand and used plain language where we can.</span>
</li>
<li style="font-weight: 400;" aria-level="1">
<strong>Leveled up.</strong><span style="font-weight: 400;"> We've also made updates to reflect changes in the law and our growing international presence. For example, we’ve clarified for European users who the “data controller” is for your personal data and how we transfer that data internationally. </span>
</li>
<li style="font-weight: 400;" aria-level="1">
<strong>Clarified how we use your information. </strong><span style="font-weight: 400;">We’ve added more detail on the information we collect and how we use and share it, including with our service providers like Google, Stripe, and PayPal, and with advertising platforms when we promote Discord on other sites.</span>
</li>
<li style="font-weight: 400;" aria-level="1">
<strong>More detail on user controls</strong><span style="font-weight: 400;">. We’ve also added more information on how you can control your privacy on Discord, including how you can manage your content and restrict our processing of your data.</span>
</li>
<li style="font-weight: 400;" aria-level="1">
<strong>Updated how we describe our services.</strong> <span style="font-weight: 400;">As Discord has evolved, it’s become clear that not all spaces on Discord are the same. While many communities keep their invite-link closely guarded, other servers, like those in the Server Discovery section, are open to anyone on (or sometimes off) Discord. When you post in those public communities, you expect that content to be widely available, and we may use that content to help us improve our services and make Discord safer. At the same time, the majority of servers remain accessible only with a private invite link, and the messages you send in these private communities (and DMs) are kept private unless content raises Trust &amp; Safety concerns. We want everyone to understand the difference between posting in public and private spaces and make sure you choose the appropriate space, features, and settings for you and your content.</span>
</li>
</ul>