<p>Discord Hubs for Students allow students to verify their Discord account with their official student email, and unlock access to an exclusive hub for students at their school. Within the hub, they can connect with other verified students, discover servers for study groups or classes, and share their own servers for fellow students to join. If you are a student, parent, teacher, or school administrator with questions about Student Hubs, please check out our FAQ section.</p>
<h1>Note to All Hub Members</h1>
<p>Please be mindful that:</p>
<ul>
<li>Hubs are not affiliated with or managed by a school or school staff.</li>
<li>Servers in a Hub are student-run but may include non-students.</li>
</ul>
<h2>Note to Server Owners and Moderators of Servers in a Hub</h2>
<p>Server owners and moderators are responsible and accountable for their server's affiliation in a Student Hub. We empower and equip our communities to have the tools to help them properly ensure that these spaces are not engaging in any violations and are kept safe and welcoming. Student Hubs have some different features and servers must follow additional requirements as described below.</p>
<h2>Student Hub Guidelines</h2>
<p><strong>1. Abide by the Community Guidelines and Terms of Service.</strong> This means that issues reported to your server should be addressed by your moderators and admins. Your moderator team should know when to escalate issues to Trust &amp; Safety. Servers that violate <strong><a href="https://discord.com/guidelines" target="_blank" rel="noopener">Discord's Community Guidelines</a></strong> and <strong><a href="https://discord.com/terms" target="_blank" rel="noopener">Terms of Service</a></strong> will be subject to further action from our Trust &amp; Safety Team.</p>
<ul>
<li>We want Discord to be a safe, positive, and inclusive experience. Our Trust &amp; Safety team will investigate Student Hubs that are reported to us or that we proactively identify as likely in violation of our policies, and Trust &amp; Safety team members may temporarily join a Student Hub to investigate potential violations.</li>
<li>We may remove an affiliated server or account from the Student Hub if the server or account recently violated our Community Guidelines and received an enforcement action.</li>
</ul>
<p><strong>2. Foster a healthy and positive environment.</strong> People should feel welcome in your Student Hub and affiliated-server. Create environments where people want to spend time with each other, share interests, participate in community events, and build friendships. Examples include:</p>
<ul>
<li>No content or behavior meant to single out<strong>, bully, or harass other students</strong>, faculty, or server members.</li>
<li>No discussions about <strong>controlled substances or drugs</strong>. This may get you reported to law enforcement.</li>
<li>No servers dedicated to using regulated goods, such as alcohol.</li>
<li>Do not cultivate general toxic behavior or other derogatory content.</li>
</ul>
<p><strong>3. Ensure academic honesty.</strong> No content or behavior promoting, facilitating, or conducting academic dishonesty, including cheating and plagiarism. Study groups and class discussions are allowed and highly recommended!</p>
<p><strong>4. Do not host graphic or sexual content.</strong> Graphic violence and sexual content is not allowed in Student Hubs. Servers linked to Student Hubs should be appropriate for audiences of all ages 13+ and cannot include age-gated servers.</p>
<p><strong>5. Have a server name and description that accurately describes the server that is free of profanity.</strong> Help potential members understand why they want to join the server you listed in your Student Hub.</p>
<p><strong>6. Respect people's intellectual property and other rights.</strong> Only incorporate content that you own or have a license to use. Do not invade anyone's privacy, libel them, or otherwise violate their rights.</p>
<p>7. <strong>Have a moderator team.</strong> Moderators can help ensure nothing rule-breaking is happening in your Student Hub-affiliated server and can find meaningful ways for your members to engage. Build a moderator team that members of your community can trust and turn to for help. Find out moderator best practices through our Discord Moderator Academy.</p>
<p><strong>We may consider off-platform behavior when assessing an account or server for violation of the Student Hub guidelines.</strong> If you see a server, account, or content violating the below Student Hub Guidelines, please report this through our app or this reporting form.</p>
<h2>Enforcement</h2>
<p>If you or your affiliated-Server violate any of the above guidelines, we may take any of the following enforcement actions:</p>
<ul>
<li>Temporarily banning your server from the Student Hub until abides by the above guidelines.</li>
<li>Removing your server from the Student Hub permanently.</li>
<li>Temporarily banning your account from the Student Hub.</li>
<li>Removing your account and school email from being able to participate in the Student Hub.</li>
<li>Temporarily banning your account from Discord.</li>
</ul>
<p>If your server or account is violating our Community Guidelines, you will receive additional enforcement actions, which include:</p>
<ul>
<li>Removing violative content.</li>
<li>Warning an account/server.</li>
<li>Temporarily banning your account.</li>
<li>Permanently banning your account.</li>
<li>Temporarily banning a server.</li>
<li>Permanently banning your server.</li>
</ul>