<p><span style="font-weight: 400;">Ah, the Terms of Service: everyone’s favorite thing to read. Below you’ll find a summary of the key updates, but please do read the full </span><a href="https://discord.com/terms"><span style="font-weight: 400;">Terms of Service</span></a><span style="font-weight: 400;">, as they are what actually govern your use of Discord. The terms may look new, because we’ve really tried to make it all easier to understand, but much of the substance remains unchanged. The new terms go into effect on </span><strong>March 28, 2022</strong><span style="font-weight: 400;">.</span></p>
<p><span style="font-weight: 400;">Here’s what’s been updated:</span></p>
<ul>
<li style="font-weight: 400;" aria-level="1">
<strong>Improved readability.</strong><span style="font-weight: 400;"> We cut down on “legalese” and use clearer language and clear examples. We want you to understand exactly what we do and don’t do (and what you can and can’t do).</span>
</li>
<li style="font-weight: 400;" aria-level="1">
<strong>Leveled up.</strong><span style="font-weight: 400;"> We've also updated our Terms of Service to reflect changes in the law and our growing international presence. </span>
</li>
<li style="font-weight: 400;" aria-level="1">
<strong>Improved organization</strong><span style="font-weight: 400;">. Where it makes sense, we’ve separated out some specialized terms into new policies (like our </span><a href="https://support.discord.com/hc/articles/4410339349655"><span style="font-weight: 400;">Copyright &amp; IP Policy</span></a><span style="font-weight: 400;"> and </span><a href="https://support.discord.com/hc/articles/4410339366295"><span style="font-weight: 400;">Paid Services Terms</span></a><span style="font-weight: 400;">) so they’re easier to find when you need them. </span>
</li>
<li style="font-weight: 400;" aria-level="1">
<strong>Clarified how our policies relate to local laws</strong><span style="font-weight: 400;">. Last, we've clarified throughout that our Terms are not intended to win out over any local laws that cannot be waived or overridden, and we've made clearer how to resolve disputes based on where you reside.</span>
</li>
</ul>